<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>51069_login_gacha_img02_chara_all_04.png</key>
			<dict>
				<key>width</key>
				<integer>643</integer>
				<key>height</key>
				<integer>530</integer>
				<key>originalWidth</key>
				<integer>643</integer>
				<key>originalHeight</key>
				<integer>530</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51069_login_gacha_img02_chara_all_02_01.png</key>
			<dict>
				<key>width</key>
				<integer>576</integer>
				<key>height</key>
				<integer>760</integer>
				<key>originalWidth</key>
				<integer>576</integer>
				<key>originalHeight</key>
				<integer>760</integer>
				<key>x</key>
				<integer>645</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51069_login_gacha_img02_chara_all_01.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>889</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>889</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>762</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51069_login_gacha_img02_all_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1223</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>51069_login_gacha_img022.png</string>
			<key>realTextureFileName</key>
			<string>51069_login_gacha_img022.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>