<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dummy_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-198,12}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{399,27}</string>
                <key>textureRect</key>
                <string>{{1,487},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_skill_bg02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{1024,482}</string>
                <key>spriteSourceSize</key>
                <string>{1024,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_skill_tittle01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,39}</string>
                <key>spriteSourceSize</key>
                <string>{361,39}</string>
                <key>textureRect</key>
                <string>{{1029,455},{325,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_skill_tittle02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,64}</string>
                <key>spriteSourceSize</key>
                <string>{378,64}</string>
                <key>textureRect</key>
                <string>{{1029,387},{378,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_skill_tittle04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,21}</string>
                <key>spriteSize</key>
                <string>{254,174}</string>
                <key>spriteSourceSize</key>
                <string>{352,270}</string>
                <key>textureRect</key>
                <string>{{1029,209},{254,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_skill_tittle04_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{288,204}</string>
                <key>spriteSourceSize</key>
                <string>{352,270}</string>
                <key>textureRect</key>
                <string>{{1029,1},{288,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ef_skill_010.png</string>
            <key>size</key>
            <string>{1408,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dac251a7b229292644a2a8b67f8842c7:baa580648f6770c5800bcde3d3c19ff0:6e22ceb5c02b155be1528706362dc5d3$</string>
            <key>textureFileName</key>
            <string>ef_skill_010.png</string>
        </dict>
    </dict>
</plist>
