<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1502_spoilt_bento_song_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,384}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{1,399},{512,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1502_spoilt_bento_song_item_dango.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{478,408}</string>
                <key>spriteSourceSize</key>
                <string>{600,500}</string>
                <key>textureRect</key>
                <string>{{1,787},{478,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1502_spoilt_bento_song_item_omu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-12}</string>
                <key>spriteSize</key>
                <string>{566,394}</string>
                <key>spriteSourceSize</key>
                <string>{600,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{566,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1502_spoilt_bento_song_item_syake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-27}</string>
                <key>spriteSize</key>
                <string>{516,332}</string>
                <key>spriteSourceSize</key>
                <string>{600,500}</string>
                <key>textureRect</key>
                <string>{{483,933},{516,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1502_spoilt_bento_song_item_takuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{372,274}</string>
                <key>spriteSourceSize</key>
                <string>{600,500}</string>
                <key>textureRect</key>
                <string>{{571,367},{372,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1502_spoilt_bento_song_item_tamago.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-9}</string>
                <key>spriteSize</key>
                <string>{404,362}</string>
                <key>spriteSourceSize</key>
                <string>{600,500}</string>
                <key>textureRect</key>
                <string>{{571,1},{404,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1502_spoilt_bento_song_item_text01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,21}</string>
                <key>spriteSourceSize</key>
                <string>{160,39}</string>
                <key>textureRect</key>
                <string>{{227,1225},{156,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1502_spoilt_bento_song_item_text02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{168,22}</string>
                <key>spriteSourceSize</key>
                <string>{170,38}</string>
                <key>textureRect</key>
                <string>{{227,1199},{168,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1502_spoilt_bento_song_item_text03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{194,27}</string>
                <key>spriteSourceSize</key>
                <string>{198,37}</string>
                <key>textureRect</key>
                <string>{{1,1232},{194,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1502_spoilt_bento_song_item_text04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,21}</string>
                <key>spriteSourceSize</key>
                <string>{100,37}</string>
                <key>textureRect</key>
                <string>{{823,673},{84,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1502_spoilt_bento_song_item_text05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{96,24}</string>
                <key>spriteSourceSize</key>
                <string>{158,36}</string>
                <key>textureRect</key>
                <string>{{823,645},{96,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1502_spoilt_bento_song_item_text06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{222,29}</string>
                <key>spriteSourceSize</key>
                <string>{236,39}</string>
                <key>textureRect</key>
                <string>{{1,1199},{222,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1502_spoilt_bento_song_item_ume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-26}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{600,500}</string>
                <key>textureRect</key>
                <string>{{517,645},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2.png</string>
            <key>size</key>
            <string>{1000,1266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05c30b311a6c29e3ab226819bb42e76d:227dbf9c80fc2cbf77f4f1d613714f39:623324867643c00c9de7ce2df641103a$</string>
            <key>textureFileName</key>
            <string>2.png</string>
        </dict>
    </dict>
</plist>
