<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magia_lvup_success.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,51}</string>
                <key>spriteSourceSize</key>
                <string>{159,51}</string>
                <key>textureRect</key>
                <string>{{1,261},{159,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>web_ef_magia_lvup0.png</string>
            <key>size</key>
            <string>{258,313}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b95ff8f30052a47d57eb6a0c7a721487:29858b64397ac97ef61397f499735f40:1e740937fc8e387cb74ec688f62edd7b$</string>
            <key>textureFileName</key>
            <string>web_ef_magia_lvup0.png</string>
        </dict>
    </dict>
</plist>
