<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qus_chara_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,180}</string>
                <key>spriteSourceSize</key>
                <string>{342,180}</string>
                <key>textureRect</key>
                <string>{{1,275},{342,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qus_doppel_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,104}</string>
                <key>spriteSourceSize</key>
                <string>{300,104}</string>
                <key>textureRect</key>
                <string>{{1,457},{300,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qus_doppel_base_none.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,104}</string>
                <key>spriteSourceSize</key>
                <string>{300,104}</string>
                <key>textureRect</key>
                <string>{{1,563},{300,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qus_doppel_base_notrelease.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,104}</string>
                <key>spriteSourceSize</key>
                <string>{300,104}</string>
                <key>textureRect</key>
                <string>{{512,112},{300,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qus_enemy_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,160}</string>
                <key>spriteSourceSize</key>
                <string>{390,160}</string>
                <key>textureRect</key>
                <string>{{1,113},{390,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qus_ex_ability_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,104}</string>
                <key>spriteSourceSize</key>
                <string>{300,104}</string>
                <key>textureRect</key>
                <string>{{393,218},{300,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qus_magia_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,104}</string>
                <key>spriteSourceSize</key>
                <string>{300,104}</string>
                <key>textureRect</key>
                <string>{{345,324},{300,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qus_memoria_notrelease.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,104}</string>
                <key>spriteSourceSize</key>
                <string>{300,104}</string>
                <key>textureRect</key>
                <string>{{345,430},{300,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qus_skill_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,104}</string>
                <key>spriteSourceSize</key>
                <string>{300,104}</string>
                <key>textureRect</key>
                <string>{{303,536},{300,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qus_skill_detail_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,109}</string>
                <key>spriteSourceSize</key>
                <string>{400,109}</string>
                <key>textureRect</key>
                <string>{{512,1},{400,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qus_skill_none.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,104}</string>
                <key>spriteSourceSize</key>
                <string>{300,104}</string>
                <key>textureRect</key>
                <string>{{605,551},{300,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_command_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,109}</string>
                <key>spriteSourceSize</key>
                <string>{120,109}</string>
                <key>textureRect</key>
                <string>{{647,329},{120,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_command_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,109}</string>
                <key>spriteSourceSize</key>
                <string>{114,109}</string>
                <key>textureRect</key>
                <string>{{695,218},{114,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_command_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,109}</string>
                <key>spriteSourceSize</key>
                <string>{108,109}</string>
                <key>textureRect</key>
                <string>{{814,112},{108,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_command_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,109}</string>
                <key>spriteSourceSize</key>
                <string>{108,109}</string>
                <key>textureRect</key>
                <string>{{647,440},{108,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_command_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,109}</string>
                <key>spriteSourceSize</key>
                <string>{108,109}</string>
                <key>textureRect</key>
                <string>{{647,440},{108,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_command_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{769,334},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_command_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,109}</string>
                <key>spriteSourceSize</key>
                <string>{109,109}</string>
                <key>textureRect</key>
                <string>{{811,223},{109,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_command_tx_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,52}</string>
                <key>spriteSourceSize</key>
                <string>{102,52}</string>
                <key>textureRect</key>
                <string>{{708,657},{102,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_command_tx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,53}</string>
                <key>spriteSourceSize</key>
                <string>{101,53}</string>
                <key>textureRect</key>
                <string>{{812,657},{101,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_name_bg_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,49}</string>
                <key>spriteSourceSize</key>
                <string>{240,49}</string>
                <key>textureRect</key>
                <string>{{303,642},{240,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_name_bg_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,49}</string>
                <key>spriteSourceSize</key>
                <string>{241,49}</string>
                <key>textureRect</key>
                <string>{{1,669},{241,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_skill_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,27}</string>
                <key>spriteSourceSize</key>
                <string>{161,27}</string>
                <key>textureRect</key>
                <string>{{545,657},{161,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_skill_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,110}</string>
                <key>spriteSourceSize</key>
                <string>{509,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{509,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_skill_icon01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,82}</string>
                <key>spriteSourceSize</key>
                <string>{81,82}</string>
                <key>textureRect</key>
                <string>{{757,444},{81,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_skill_icon02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{393,113},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_support_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,20}</string>
                <key>spriteSourceSize</key>
                <string>{75,20}</string>
                <key>textureRect</key>
                <string>{{757,528},{75,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>quest_image1.png</string>
            <key>size</key>
            <string>{923,719}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8aba652ade585eda0d5d81d25030c82b:ca208ecc78aa748fe455197d570661f6:83bc041b574097ce78b47c4d481c64ff$</string>
            <key>textureFileName</key>
            <string>quest_image1.png</string>
        </dict>
    </dict>
</plist>
