<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_quest_15025_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,750}</string>
                <key>spriteSourceSize</key>
                <string>{2048,750}</string>
                <key>textureRect</key>
                <string>{{0,0},{2048,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_quest_15025_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,540}</string>
                <key>spriteSourceSize</key>
                <string>{2048,540}</string>
                <key>textureRect</key>
                <string>{{0,1498},{2048,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_quest_15025_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{2048,748}</string>
                <key>spriteSourceSize</key>
                <string>{2048,750}</string>
                <key>textureRect</key>
                <string>{{0,750},{2048,748}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg_quest_15025.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56a3e8491bdf586e4f4f7fd5b0dbce00:96c303c83ae4c86a018d5af5ea0d14a6:69303a88a47a44ece1905ec31b8275f7$</string>
            <key>textureFileName</key>
            <string>bg_quest_15025.png</string>
        </dict>
    </dict>
</plist>
