<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_quest_19091_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,750}</string>
                <key>spriteSourceSize</key>
                <string>{2048,750}</string>
                <key>textureRect</key>
                <string>{{0,0},{2048,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_quest_19091_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,540}</string>
                <key>spriteSourceSize</key>
                <string>{2048,540}</string>
                <key>textureRect</key>
                <string>{{0,754},{2048,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_quest_19091_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-124}</string>
                <key>spriteSize</key>
                <string>{2048,502}</string>
                <key>spriteSourceSize</key>
                <string>{2048,750}</string>
                <key>textureRect</key>
                <string>{{0,1298},{2048,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg_quest_19091.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e344f26a99804328bcad4d7c519a74ee:9ff45d9ddb1b76f2bf3c8d41b4bb7750:2c0d346be744a3916ff2add418d03d5c$</string>
            <key>textureFileName</key>
            <string>bg_quest_19091.png</string>
        </dict>
    </dict>
</plist>
