<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_quest_11045_effect_mist_01.png</key>
			<dict>
				<key>width</key>
				<integer>1028</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>1028</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_corps_giraffe.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>166</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_corps_elephant_s.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>156</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>114</integer>
				<key>y</key>
				<integer>166</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_corps_chicken.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_corps_bambi_s.png</key>
			<dict>
				<key>width</key>
				<integer>1252</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1252</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>272</integer>
				<key>y</key>
				<integer>166</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_flag_01.png</key>
			<dict>
				<key>width</key>
				<integer>1720</integer>
				<key>height</key>
				<integer>476</integer>
				<key>originalWidth</key>
				<integer>1720</integer>
				<key>originalHeight</key>
				<integer>476</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>936</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_pink_head_01.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>490</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_pink_nose_01.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>146</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_pink_leg_front01_01.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>146</integer>
				<key>y</key>
				<integer>382</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_pink_stomach_01.png</key>
			<dict>
				<key>width</key>
				<integer>178</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>178</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>624</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_pink_leg_front02_01.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>52</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>216</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_pink_leg_back01_01.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>762</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_pink_leg_back02_01.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>180</integer>
				<key>y</key>
				<integer>624</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_green_head_01.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>1030</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_green_nose_01.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>106</integer>
				<key>y</key>
				<integer>762</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_green_leg_front01_01.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>208</integer>
				<key>y</key>
				<integer>382</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_green_stomach_01.png</key>
			<dict>
				<key>width</key>
				<integer>178</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>178</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>1256</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_green_leg_front02_01.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>52</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>180</integer>
				<key>y</key>
				<integer>738</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_green_leg_back01_01.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1414</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_green_leg_back02_01.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>1436</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_corps_alpaca_01.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>144</integer>
				<key>x</key>
				<integer>1502</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_corps_alpaca_02.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>156</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>106</integer>
				<key>y</key>
				<integer>1414</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_corps_alpaca_03.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>176</integer>
				<key>y</key>
				<integer>824</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_corps_alpaca_04.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>188</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1576</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_corps_alpaca_05.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>1672</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_corps_alpaca_06.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>264</integer>
				<key>y</key>
				<integer>1414</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_mist_03_gam_l.png</key>
			<dict>
				<key>width</key>
				<integer>1032</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>1032</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>332</integer>
				<key>y</key>
				<integer>1414</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_flag_02.png</key>
			<dict>
				<key>width</key>
				<integer>1368</integer>
				<key>height</key>
				<integer>324</integer>
				<key>originalWidth</key>
				<integer>1368</integer>
				<key>originalHeight</key>
				<integer>324</integer>
				<key>x</key>
				<integer>190</integer>
				<key>y</key>
				<integer>1536</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_pink_head_02.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>104</integer>
				<key>x</key>
				<integer>1526</integer>
				<key>y</key>
				<integer>146</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_pink_nose_02.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>56</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>1742</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_pink_leg_front01_02.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>66</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_pink_stomach_02.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>1526</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_pink_leg_front02_02.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>226</integer>
				<key>y</key>
				<integer>464</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_pink_leg_back01_02.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>1800</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_pink_leg_back02_02.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>56</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>50</integer>
				<key>y</key>
				<integer>1770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_green_head_02.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>104</integer>
				<key>x</key>
				<integer>1708</integer>
				<key>y</key>
				<integer>134</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_green_nose_02.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>56</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>1770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_green_leg_front01_02.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>66</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1838</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_green_stomach_02.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>1890</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_green_leg_front02_02.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>226</integer>
				<key>y</key>
				<integer>534</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_green_leg_back01_02.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>1526</integer>
				<key>y</key>
				<integer>366</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_elephant_green_leg_back02_02.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>56</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1906</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_cloud_01.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>58</integer>
				<key>y</key>
				<integer>1868</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_cloud_02.png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>1024</integer>
				<key>originalWidth</key>
				<integer>138</integer>
				<key>originalHeight</key>
				<integer>1024</integer>
				<key>x</key>
				<integer>1890</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_11045_effect_cloud_03.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>1024</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>1024</integer>
				<key>x</key>
				<integer>1722</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_quest_11045_effect0.png</string>
			<key>realTextureFileName</key>
			<string>bg_quest_11045_effect0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>