<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_quest_14081_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,750}</string>
                <key>spriteSourceSize</key>
                <string>{2048,750}</string>
                <key>textureRect</key>
                <string>{{0,0},{2048,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_quest_14081_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,540}</string>
                <key>spriteSourceSize</key>
                <string>{2048,540}</string>
                <key>textureRect</key>
                <string>{{0,1500},{2048,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_quest_14081_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,750}</string>
                <key>spriteSourceSize</key>
                <string>{2048,750}</string>
                <key>textureRect</key>
                <string>{{0,750},{2048,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg_quest_14081.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cc37c9484c58230f31ee7cbfa6ce402:acd2971f79f2f311d766d0114e2846e7:deb9d1f1d58f6d5b918f8fae15f6389a$</string>
            <key>textureFileName</key>
            <string>bg_quest_14081.png</string>
        </dict>
    </dict>
</plist>
