<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_quest_qbg_46400_n.png</key>
			<dict>
				<key>width</key>
				<integer>1957</integer>
				<key>height</key>
				<integer>1603</integer>
				<key>originalWidth</key>
				<integer>1957</integer>
				<key>originalHeight</key>
				<integer>1603</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>n_h_01_02.png</key>
			<dict>
				<key>width</key>
				<integer>326</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>326</integer>
				<key>originalHeight</key>
				<integer>187</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1605</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>n_h_01_01.png</key>
			<dict>
				<key>width</key>
				<integer>326</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>326</integer>
				<key>originalHeight</key>
				<integer>187</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1794</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>n_g_01_02.png</key>
			<dict>
				<key>width</key>
				<integer>307</integer>
				<key>height</key>
				<integer>233</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>233</integer>
				<key>x</key>
				<integer>328</integer>
				<key>y</key>
				<integer>1605</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>n_g_01_01.png</key>
			<dict>
				<key>width</key>
				<integer>307</integer>
				<key>height</key>
				<integer>233</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>233</integer>
				<key>x</key>
				<integer>637</integer>
				<key>y</key>
				<integer>1605</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>n_f_03_02.png</key>
			<dict>
				<key>width</key>
				<integer>524</integer>
				<key>height</key>
				<integer>270</integer>
				<key>originalWidth</key>
				<integer>524</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>946</integer>
				<key>y</key>
				<integer>1605</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>n_f_03_01.png</key>
			<dict>
				<key>width</key>
				<integer>524</integer>
				<key>height</key>
				<integer>270</integer>
				<key>originalWidth</key>
				<integer>524</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>1472</integer>
				<key>y</key>
				<integer>1605</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>n_f_01_02.png</key>
			<dict>
				<key>width</key>
				<integer>792</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>792</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1983</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>n_f_01_01.png</key>
			<dict>
				<key>width</key>
				<integer>792</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>792</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>2015</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>n_e_01_02.png</key>
			<dict>
				<key>width</key>
				<integer>662</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>662</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>328</integer>
				<key>y</key>
				<integer>1877</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>n_e_01_01.png</key>
			<dict>
				<key>width</key>
				<integer>662</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>662</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>992</integer>
				<key>y</key>
				<integer>1877</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_29_01.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>1959</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_28_01.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>1959</integer>
				<key>y</key>
				<integer>34</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_27_01.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>52</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>1959</integer>
				<key>y</key>
				<integer>78</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_11_02.png</key>
			<dict>
				<key>width</key>
				<integer>208</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>208</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>1656</integer>
				<key>y</key>
				<integer>1877</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_26_01.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>1959</integer>
				<key>y</key>
				<integer>115</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_25_01.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>82</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>1959</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_24_01.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>92</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>794</integer>
				<key>y</key>
				<integer>1972</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_23_01.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>126</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>1866</integer>
				<key>y</key>
				<integer>1877</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_22_01.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>1996</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_21_01.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>42</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>1959</integer>
				<key>y</key>
				<integer>222</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_20_01.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>1959</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_18_01.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>66</integer>
				<key>x</key>
				<integer>1959</integer>
				<key>y</key>
				<integer>309</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_17_01.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>888</integer>
				<key>y</key>
				<integer>1972</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_32_03.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>1959</integer>
				<key>y</key>
				<integer>377</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_32_01.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>1959</integer>
				<key>y</key>
				<integer>439</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_31_01.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>1959</integer>
				<key>y</key>
				<integer>501</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_31_03.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>1959</integer>
				<key>y</key>
				<integer>563</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_30_02.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>1959</integer>
				<key>y</key>
				<integer>625</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_30_01.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>1959</integer>
				<key>y</key>
				<integer>687</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_41_01.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>184</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>984</integer>
				<key>y</key>
				<integer>1972</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_40_01.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>162</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>1170</integer>
				<key>y</key>
				<integer>1972</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_39_01.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>1959</integer>
				<key>y</key>
				<integer>749</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_38_01.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>59</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>1959</integer>
				<key>y</key>
				<integer>802</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_37_01.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>1959</integer>
				<key>y</key>
				<integer>852</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_36_01.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>1866</integer>
				<key>y</key>
				<integer>1962</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_09_01.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>2006</integer>
				<key>y</key>
				<integer>31</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_08_01.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>2003</integer>
				<key>y</key>
				<integer>222</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_07_01.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>1959</integer>
				<key>y</key>
				<integer>917</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_06_01.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>82</integer>
				<key>originalHeight</key>
				<integer>61</integer>
				<key>x</key>
				<integer>1959</integer>
				<key>y</key>
				<integer>966</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_06_02.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>82</integer>
				<key>originalHeight</key>
				<integer>61</integer>
				<key>x</key>
				<integer>1959</integer>
				<key>y</key>
				<integer>1029</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>46400_SF_17_02.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>1334</integer>
				<key>y</key>
				<integer>1972</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_quest_46400_effect0.png</string>
			<key>realTextureFileName</key>
			<string>bg_quest_46400_effect0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>