<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_46211_n_moya.png</key>
			<dict>
				<key>width</key>
				<integer>902</integer>
				<key>height</key>
				<integer>440</integer>
				<key>originalWidth</key>
				<integer>902</integer>
				<key>originalHeight</key>
				<integer>440</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_n_hikari.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>904</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_maru_01.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>126</integer>
				<key>originalHeight</key>
				<integer>126</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>442</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_maru_02.png</key>
			<dict>
				<key>width</key>
				<integer>264</integer>
				<key>height</key>
				<integer>264</integer>
				<key>originalWidth</key>
				<integer>264</integer>
				<key>originalHeight</key>
				<integer>264</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>570</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_maru_03.png</key>
			<dict>
				<key>width</key>
				<integer>238</integer>
				<key>height</key>
				<integer>238</integer>
				<key>originalWidth</key>
				<integer>238</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>266</integer>
				<key>y</key>
				<integer>442</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_maru_04.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>836</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_maru_05.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>184</integer>
				<key>originalWidth</key>
				<integer>184</integer>
				<key>originalHeight</key>
				<integer>184</integer>
				<key>x</key>
				<integer>266</integer>
				<key>y</key>
				<integer>682</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_maru_06.png</key>
			<dict>
				<key>width</key>
				<integer>210</integer>
				<key>height</key>
				<integer>210</integer>
				<key>originalWidth</key>
				<integer>210</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>506</integer>
				<key>y</key>
				<integer>442</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_maru_07.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>452</integer>
				<key>y</key>
				<integer>682</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_maru_08.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>162</integer>
				<key>originalHeight</key>
				<integer>162</integer>
				<key>x</key>
				<integer>718</integer>
				<key>y</key>
				<integer>442</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_g_m13.png</key>
			<dict>
				<key>width</key>
				<integer>306</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>306</integer>
				<key>originalHeight</key>
				<integer>151</integer>
				<key>x</key>
				<integer>704</integer>
				<key>y</key>
				<integer>654</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_g_m14.png</key>
			<dict>
				<key>width</key>
				<integer>306</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>306</integer>
				<key>originalHeight</key>
				<integer>151</integer>
				<key>x</key>
				<integer>704</integer>
				<key>y</key>
				<integer>807</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_g_m15.png</key>
			<dict>
				<key>width</key>
				<integer>306</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>306</integer>
				<key>originalHeight</key>
				<integer>151</integer>
				<key>x</key>
				<integer>904</integer>
				<key>y</key>
				<integer>74</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_g_m10.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>904</integer>
				<key>y</key>
				<integer>227</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_g_m11.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>168</integer>
				<key>y</key>
				<integer>868</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_g_m12.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>904</integer>
				<key>y</key>
				<integer>346</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_g_m07.png</key>
			<dict>
				<key>width</key>
				<integer>341</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>341</integer>
				<key>originalHeight</key>
				<integer>91</integer>
				<key>x</key>
				<integer>1055</integer>
				<key>y</key>
				<integer>227</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_g_m08.png</key>
			<dict>
				<key>width</key>
				<integer>341</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>341</integer>
				<key>originalHeight</key>
				<integer>91</integer>
				<key>x</key>
				<integer>1212</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_g_m09.png</key>
			<dict>
				<key>width</key>
				<integer>341</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>341</integer>
				<key>originalHeight</key>
				<integer>91</integer>
				<key>x</key>
				<integer>1212</integer>
				<key>y</key>
				<integer>93</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_g_m04.png</key>
			<dict>
				<key>width</key>
				<integer>234</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>234</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>882</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_g_m05.png</key>
			<dict>
				<key>width</key>
				<integer>234</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>234</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>1555</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_g_m06.png</key>
			<dict>
				<key>width</key>
				<integer>234</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>234</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>1118</integer>
				<key>y</key>
				<integer>320</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_g_m01.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>118</integer>
				<key>originalHeight</key>
				<integer>208</integer>
				<key>x</key>
				<integer>1118</integer>
				<key>y</key>
				<integer>476</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_g_m02.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>118</integer>
				<key>originalHeight</key>
				<integer>208</integer>
				<key>x</key>
				<integer>1398</integer>
				<key>y</key>
				<integer>186</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_46211_g_m03.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>118</integer>
				<key>originalHeight</key>
				<integer>208</integer>
				<key>x</key>
				<integer>1518</integer>
				<key>y</key>
				<integer>186</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_0014_reflection_02.png</key>
			<dict>
				<key>width</key>
				<integer>1044</integer>
				<key>height</key>
				<integer>300</integer>
				<key>originalWidth</key>
				<integer>1044</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1004</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_0014_reflection_01.png</key>
			<dict>
				<key>width</key>
				<integer>1044</integer>
				<key>height</key>
				<integer>300</integer>
				<key>originalWidth</key>
				<integer>1044</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1306</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_0014_reflection_00.png</key>
			<dict>
				<key>width</key>
				<integer>1044</integer>
				<key>height</key>
				<integer>300</integer>
				<key>originalWidth</key>
				<integer>1044</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1608</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_quest_46211_effect0.png</string>
			<key>realTextureFileName</key>
			<string>bg_quest_46211_effect0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>