<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ef_14081_n_f_01_b.png</key>
			<dict>
				<key>width</key>
				<integer>941</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>941</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ef_14081_n_f_01_a.png</key>
			<dict>
				<key>width</key>
				<integer>941</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>941</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ef_14081_n_f_03.png</key>
			<dict>
				<key>width</key>
				<integer>947</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>947</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ef_14081_n_f_02.png</key>
			<dict>
				<key>width</key>
				<integer>941</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>941</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>543</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ef_14081_f_f_01_a.png</key>
			<dict>
				<key>width</key>
				<integer>934</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>934</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>594</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ef_14081_f_f_01_b.png</key>
			<dict>
				<key>width</key>
				<integer>934</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>934</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>731</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_quest_14081_effect0.png</string>
			<key>realTextureFileName</key>
			<string>bg_quest_14081_effect0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>