<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_quest_12024_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,750}</string>
                <key>spriteSourceSize</key>
                <string>{2048,750}</string>
                <key>textureRect</key>
                <string>{{0,0},{2048,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_quest_12024_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,540}</string>
                <key>spriteSourceSize</key>
                <string>{2048,540}</string>
                <key>textureRect</key>
                <string>{{0,750},{2048,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_quest_12024_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-193}</string>
                <key>spriteSize</key>
                <string>{2048,356}</string>
                <key>spriteSourceSize</key>
                <string>{2048,750}</string>
                <key>textureRect</key>
                <string>{{0,1290},{2048,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg_quest_12024.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bce91a08e5f818bc9fcc5be2fceda9e6:256a7d30abf9eac836fcf97d8af1284f:f46c1276b7a148f673a24a9f8484abbc$</string>
            <key>textureFileName</key>
            <string>bg_quest_12024.png</string>
        </dict>
    </dict>
</plist>
