<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dl_btn_download.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,64}</string>
                <key>spriteSourceSize</key>
                <string>{326,64}</string>
                <key>textureRect</key>
                <string>{{1,319},{326,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dl_btn_download_push.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,64}</string>
                <key>spriteSourceSize</key>
                <string>{326,64}</string>
                <key>textureRect</key>
                <string>{{331,319},{326,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dl_checkbox_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{777,113},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dl_checkbox_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{777,157},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dl_download_movie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,202}</string>
                <key>spriteSourceSize</key>
                <string>{430,202}</string>
                <key>textureRect</key>
                <string>{{1,113},{430,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dl_download_voice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,202}</string>
                <key>spriteSourceSize</key>
                <string>{338,202}</string>
                <key>textureRect</key>
                <string>{{435,113},{338,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dl_loading_bar01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{830,108}</string>
                <key>spriteSourceSize</key>
                <string>{830,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{830,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dl_loading_bar02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{766,14}</string>
                <key>spriteSourceSize</key>
                <string>{766,14}</string>
                <key>textureRect</key>
                <string>{{1,387},{766,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>data_download0.png</string>
            <key>size</key>
            <string>{832,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7aa17978e370e00ec3ab0b9a7e4a1038:c0c2c170903a908db5c5f82ce7fdd295:f1099e025fa9834d2a5c84b30a759741$</string>
            <key>textureFileName</key>
            <string>data_download0.png</string>
        </dict>
    </dict>
</plist>
