<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1805,141},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,184}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1734,296},{184,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kirakira_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,55}</string>
                <key>spriteSourceSize</key>
                <string>{85,55}</string>
                <key>textureRect</key>
                <string>{{767,557},{85,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_010_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,128}</string>
                <key>spriteSourceSize</key>
                <string>{547,128}</string>
                <key>textureRect</key>
                <string>{{767,632},{547,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_020_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,59}</string>
                <key>spriteSourceSize</key>
                <string>{491,59}</string>
                <key>textureRect</key>
                <string>{{1318,749},{491,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_030_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,59}</string>
                <key>spriteSourceSize</key>
                <string>{544,59}</string>
                <key>textureRect</key>
                <string>{{1,760},{544,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_040_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,59}</string>
                <key>spriteSourceSize</key>
                <string>{460,59}</string>
                <key>textureRect</key>
                <string>{{549,764},{460,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_050_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,151}</string>
                <key>spriteSourceSize</key>
                <string>{696,151}</string>
                <key>textureRect</key>
                <string>{{1105,141},{696,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_050_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,108}</string>
                <key>spriteSourceSize</key>
                <string>{625,108}</string>
                <key>textureRect</key>
                <string>{{1105,296},{625,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_050_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,108}</string>
                <key>spriteSourceSize</key>
                <string>{625,108}</string>
                <key>textureRect</key>
                <string>{{1105,408},{625,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_050_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,108}</string>
                <key>spriteSourceSize</key>
                <string>{625,108}</string>
                <key>textureRect</key>
                <string>{{1105,520},{625,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_060_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,113}</string>
                <key>spriteSourceSize</key>
                <string>{424,113}</string>
                <key>textureRect</key>
                <string>{{1318,632},{424,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,114}</string>
                <key>spriteSourceSize</key>
                <string>{105,114}</string>
                <key>textureRect</key>
                <string>{{1734,484},{103,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prologue_win_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,108}</string>
                <key>spriteSize</key>
                <string>{1100,552}</string>
                <key>spriteSourceSize</key>
                <string>{1100,768}</string>
                <key>textureRect</key>
                <string>{{1,1},{1100,552}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prologue_window01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{763,136}</string>
                <key>spriteSourceSize</key>
                <string>{763,136}</string>
                <key>textureRect</key>
                <string>{{1105,1},{763,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prologue_window02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{762,199}</string>
                <key>spriteSourceSize</key>
                <string>{762,199}</string>
                <key>textureRect</key>
                <string>{{1,557},{762,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>prologue100.png</string>
            <key>size</key>
            <string>{1919,824}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98decefad20e8091bd8eea8a53514e49:ba93c0542fa06ce377df48827678654d:704fecf31f861173237e4e8e66f0f448$</string>
            <key>textureFileName</key>
            <string>prologue100.png</string>
        </dict>
    </dict>
</plist>
