<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{769,720},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1871,119},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,184}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1606,626},{184,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{838,557},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{635,1005},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efef_pl2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1525,775},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kirakira_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,55}</string>
                <key>spriteSourceSize</key>
                <string>{85,55}</string>
                <key>textureRect</key>
                <string>{{784,1080},{85,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_010_chara01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,255}</string>
                <key>spriteSourceSize</key>
                <string>{157,255}</string>
                <key>textureRect</key>
                <string>{{1353,827},{157,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_010_chara02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,254}</string>
                <key>spriteSourceSize</key>
                <string>{191,254}</string>
                <key>textureRect</key>
                <string>{{1794,359},{191,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_010_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,109}</string>
                <key>spriteSourceSize</key>
                <string>{213,109}</string>
                <key>textureRect</key>
                <string>{{1749,995},{213,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_010_disk01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,135}</string>
                <key>spriteSourceSize</key>
                <string>{126,135}</string>
                <key>textureRect</key>
                <string>{{1805,204},{126,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_010_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,331}</string>
                <key>spriteSourceSize</key>
                <string>{331,331}</string>
                <key>textureRect</key>
                <string>{{1018,827},{331,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_010_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,177}</string>
                <key>spriteSourceSize</key>
                <string>{383,177}</string>
                <key>textureRect</key>
                <string>{{1525,814},{383,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_010_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{589,151}</string>
                <key>spriteSourceSize</key>
                <string>{589,151}</string>
                <key>textureRect</key>
                <string>{{1105,359},{589,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_020_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,99}</string>
                <key>spriteSourceSize</key>
                <string>{79,99}</string>
                <key>textureRect</key>
                <string>{{1698,359},{79,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_020_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,60}</string>
                <key>spriteSourceSize</key>
                <string>{392,60}</string>
                <key>textureRect</key>
                <string>{{1353,1086},{392,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_030_text01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{833,159}</string>
                <key>spriteSourceSize</key>
                <string>{833,159}</string>
                <key>textureRect</key>
                <string>{{1,557},{833,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_030_text02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,48}</string>
                <key>spriteSourceSize</key>
                <string>{429,48}</string>
                <key>textureRect</key>
                <string>{{1092,775},{429,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_040_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,145}</string>
                <key>spriteSourceSize</key>
                <string>{510,145}</string>
                <key>textureRect</key>
                <string>{{1092,626},{510,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_050_circle01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,265}</string>
                <key>spriteSourceSize</key>
                <string>{230,265}</string>
                <key>textureRect</key>
                <string>{{784,811},{230,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_050_circle02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{190,191}</string>
                <key>spriteSourceSize</key>
                <string>{230,265}</string>
                <key>textureRect</key>
                <string>{{1794,617},{190,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_050_text01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,151}</string>
                <key>spriteSourceSize</key>
                <string>{696,151}</string>
                <key>textureRect</key>
                <string>{{1105,204},{696,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_050_text02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{764,141}</string>
                <key>spriteSourceSize</key>
                <string>{900,151}</string>
                <key>textureRect</key>
                <string>{{1,720},{764,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_050_textbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,108}</string>
                <key>spriteSourceSize</key>
                <string>{625,108}</string>
                <key>textureRect</key>
                <string>{{1105,514},{625,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_060_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,115}</string>
                <key>spriteSourceSize</key>
                <string>{630,115}</string>
                <key>textureRect</key>
                <string>{{1,1005},{630,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_070_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{575,25}</string>
                <key>spriteSourceSize</key>
                <string>{575,25}</string>
                <key>textureRect</key>
                <string>{{1,1124},{575,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,114}</string>
                <key>spriteSourceSize</key>
                <string>{105,114}</string>
                <key>textureRect</key>
                <string>{{1871,1},{103,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,87}</string>
                <key>spriteSourceSize</key>
                <string>{81,89}</string>
                <key>textureRect</key>
                <string>{{1514,995},{79,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prologue_win_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,108}</string>
                <key>spriteSize</key>
                <string>{1100,552}</string>
                <key>spriteSourceSize</key>
                <string>{1100,768}</string>
                <key>textureRect</key>
                <string>{{1,1},{1100,552}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prologue_window01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{763,136}</string>
                <key>spriteSourceSize</key>
                <string>{763,136}</string>
                <key>textureRect</key>
                <string>{{1,865},{763,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prologue_window02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{762,199}</string>
                <key>spriteSourceSize</key>
                <string>{762,199}</string>
                <key>textureRect</key>
                <string>{{1105,1},{762,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>prologue300.png</string>
            <key>size</key>
            <string>{1986,1159}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccffdf49ff302b0a2626622a9c9c9849:d5bc29355965be2b0420e104ead6dc04:a6b98fa87e9f0b375cdea4c8e1f35278$</string>
            <key>textureFileName</key>
            <string>prologue300.png</string>
        </dict>
    </dict>
</plist>
