<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1029,557},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1830,766},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,184}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1729,498},{184,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1576,686},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efef_pl2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1871,1},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kirakira_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,55}</string>
                <key>spriteSourceSize</key>
                <string>{85,55}</string>
                <key>textureRect</key>
                <string>{{1349,865},{85,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_010_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{712,150}</string>
                <key>spriteSourceSize</key>
                <string>{720,150}</string>
                <key>textureRect</key>
                <string>{{1105,344},{712,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_020_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{543,59}</string>
                <key>spriteSourceSize</key>
                <string>{543,59}</string>
                <key>textureRect</key>
                <string>{{1029,677},{543,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_030_icon01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1029,865},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_030_icon02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1109,865},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_030_icon03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1189,865},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_030_icon04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1269,865},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_030_icon05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1496,740},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_030_icon06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1830,686},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_030_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,59}</string>
                <key>spriteSourceSize</key>
                <string>{384,59}</string>
                <key>textureRect</key>
                <string>{{1029,802},{384,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_030_yaji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{76,52}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1642,613},{76,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_040_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{609,60}</string>
                <key>spriteSourceSize</key>
                <string>{609,60}</string>
                <key>textureRect</key>
                <string>{{1029,613},{609,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_050_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,58}</string>
                <key>spriteSourceSize</key>
                <string>{463,58}</string>
                <key>textureRect</key>
                <string>{{1029,740},{463,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_060_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,111}</string>
                <key>spriteSourceSize</key>
                <string>{620,111}</string>
                <key>textureRect</key>
                <string>{{1105,498},{620,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,114}</string>
                <key>spriteSourceSize</key>
                <string>{105,114}</string>
                <key>textureRect</key>
                <string>{{1438,820},{103,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prologue_win_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,108}</string>
                <key>spriteSize</key>
                <string>{1100,552}</string>
                <key>spriteSourceSize</key>
                <string>{1100,768}</string>
                <key>textureRect</key>
                <string>{{1,1},{1100,552}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prologue_win_bg02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{1024,400}</string>
                <key>spriteSourceSize</key>
                <string>{1024,412}</string>
                <key>textureRect</key>
                <string>{{1,557},{1024,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prologue_window01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{763,136}</string>
                <key>spriteSourceSize</key>
                <string>{763,136}</string>
                <key>textureRect</key>
                <string>{{1105,204},{763,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prologue_window02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{762,199}</string>
                <key>spriteSourceSize</key>
                <string>{762,199}</string>
                <key>textureRect</key>
                <string>{{1105,1},{762,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>prologue200.png</string>
            <key>size</key>
            <string>{1914,958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1b55c92a1cb89c15fe3cea6c0ef0931:97048acc37924d5ae27f321517ac45d4:77269408f79503d81b3680708c9f8010$</string>
            <key>textureFileName</key>
            <string>prologue200.png</string>
        </dict>
    </dict>
</plist>
