<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dt_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,183}</string>
                <key>spriteSourceSize</key>
                <string>{590,183}</string>
                <key>textureRect</key>
                <string>{{1,253},{590,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{791,248}</string>
                <key>spriteSourceSize</key>
                <string>{791,248}</string>
                <key>textureRect</key>
                <string>{{1,1},{791,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qb_doppel_tutorial0.png.png</string>
            <key>size</key>
            <string>{793,437}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58f92a88368bf22b660d41c50ce82f2c:0c5b102a637e3b9e9f4affc9ad0e1dbb:5fd476b2240ec59041aef124f65d7ee3$</string>
            <key>textureFileName</key>
            <string>qb_doppel_tutorial0.png.png</string>
        </dict>
    </dict>
</plist>
