<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>accele_mark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,95}</string>
                <key>spriteSourceSize</key>
                <string>{98,95}</string>
                <key>textureRect</key>
                <string>{{252,436},{98,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accele_tx01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,41}</string>
                <key>spriteSourceSize</key>
                <string>{311,41}</string>
                <key>textureRect</key>
                <string>{{1,170},{311,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accele_tx02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,82}</string>
                <key>spriteSourceSize</key>
                <string>{286,82}</string>
                <key>textureRect</key>
                <string>{{1,350},{286,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accele_tx03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,63}</string>
                <key>spriteSourceSize</key>
                <string>{222,63}</string>
                <key>textureRect</key>
                <string>{{1,577},{222,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58.5,53.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{120,110}</string>
                <key>textureRect</key>
                <string>{{455,56},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast_mark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,118}</string>
                <key>spriteSourceSize</key>
                <string>{113,118}</string>
                <key>textureRect</key>
                <string>{{227,659},{113,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast_tx01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,41}</string>
                <key>spriteSourceSize</key>
                <string>{311,41}</string>
                <key>textureRect</key>
                <string>{{1,215},{311,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast_tx02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,80}</string>
                <key>spriteSourceSize</key>
                <string>{210,80}</string>
                <key>textureRect</key>
                <string>{{215,1415},{210,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast_tx03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,63}</string>
                <key>spriteSourceSize</key>
                <string>{222,63}</string>
                <key>textureRect</key>
                <string>{{1,644},{222,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chara_damageup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,58}</string>
                <key>spriteSourceSize</key>
                <string>{450,58}</string>
                <key>textureRect</key>
                <string>{{1,56},{450,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chara_damageup_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{496,51}</string>
                <key>spriteSourceSize</key>
                <string>{496,51}</string>
                <key>textureRect</key>
                <string>{{1,1},{496,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_mark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{235,535},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_tx01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,41}</string>
                <key>spriteSourceSize</key>
                <string>{311,41}</string>
                <key>textureRect</key>
                <string>{{1,260},{311,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_tx02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,90}</string>
                <key>spriteSourceSize</key>
                <string>{247,90}</string>
                <key>textureRect</key>
                <string>{{1,436},{247,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_tx03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,63}</string>
                <key>spriteSourceSize</key>
                <string>{222,63}</string>
                <key>textureRect</key>
                <string>{{1,711},{222,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charra_tx01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,41}</string>
                <key>spriteSourceSize</key>
                <string>{311,41}</string>
                <key>textureRect</key>
                <string>{{1,305},{311,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_accele_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,490}</string>
                <key>spriteSourceSize</key>
                <string>{132,490}</string>
                <key>textureRect</key>
                <string>{{366,118},{132,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_accele_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,215}</string>
                <key>spriteSourceSize</key>
                <string>{214,215}</string>
                <key>textureRect</key>
                <string>{{1,997},{214,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_accele_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,163}</string>
                <key>spriteSourceSize</key>
                <string>{162,163}</string>
                <key>textureRect</key>
                <string>{{1,1499},{162,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_blast_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,490}</string>
                <key>spriteSourceSize</key>
                <string>{132,490}</string>
                <key>textureRect</key>
                <string>{{359,612},{132,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_blast_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,215}</string>
                <key>spriteSourceSize</key>
                <string>{215,215}</string>
                <key>textureRect</key>
                <string>{{1,778},{215,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_blast_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,163}</string>
                <key>spriteSourceSize</key>
                <string>{162,163}</string>
                <key>textureRect</key>
                <string>{{167,1499},{162,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_charge_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,411}</string>
                <key>spriteSourceSize</key>
                <string>{132,411}</string>
                <key>textureRect</key>
                <string>{{220,781},{132,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_charge_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,163}</string>
                <key>spriteSourceSize</key>
                <string>{162,163}</string>
                <key>textureRect</key>
                <string>{{333,1499},{162,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_charge_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,215}</string>
                <key>spriteSourceSize</key>
                <string>{214,215}</string>
                <key>textureRect</key>
                <string>{{219,1196},{214,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11.5,11.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{462,56},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini_20300_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63.5,68.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{130,140}</string>
                <key>textureRect</key>
                <string>{{469,56},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_cg_ef_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,204}</string>
                <key>spriteSourceSize</key>
                <string>{210,204}</string>
                <key>textureRect</key>
                <string>{{1,1216},{210,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_chara_dummy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63.5,78}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{130,159}</string>
                <key>textureRect</key>
                <string>{{476,56},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_damageup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,43}</string>
                <key>spriteSourceSize</key>
                <string>{230,43}</string>
                <key>textureRect</key>
                <string>{{1,530},{230,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_damegeup_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,48}</string>
                <key>spriteSourceSize</key>
                <string>{361,48}</string>
                <key>textureRect</key>
                <string>{{1,118},{361,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_rrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,56}</string>
                <key>spriteSourceSize</key>
                <string>{69,56}</string>
                <key>textureRect</key>
                <string>{{291,350},{69,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_command_tx_02_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,33}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{93,69}</string>
                <key>textureRect</key>
                <string>{{483,56},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qb_ef_sp_combo0.png</string>
            <key>size</key>
            <string>{499,1663}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7627ca627f540a9b4d17f9387cca7ccd:a0b0484721892d7d48f5e7d1ff66ec32:77bed04812d7398c4013636f9dda40f8$</string>
            <key>textureFileName</key>
            <string>qb_ef_sp_combo0.png</string>
        </dict>
    </dict>
</plist>
