<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tips_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{792,356}</string>
                <key>spriteSourceSize</key>
                <string>{792,356}</string>
                <key>textureRect</key>
                <string>{{1029,1},{792,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tips.png</string>
            <key>size</key>
            <string>{1822,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c9971f56186b0521c7cd803f72a164e:91a2423041ef86e5815e9ae782432bbc:ea4aaab0bca5727fcea7912a6b6b86e7$</string>
            <key>textureFileName</key>
            <string>tips.png</string>
        </dict>
    </dict>
</plist>
