<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qb_auto_settings_img01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{738,53}</string>
                <key>spriteSourceSize</key>
                <string>{738,53}</string>
                <key>textureRect</key>
                <string>{{1,1},{738,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_auto_settings_img02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{738,53}</string>
                <key>spriteSourceSize</key>
                <string>{738,53}</string>
                <key>textureRect</key>
                <string>{{1,56},{738,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_auto_settings_img03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{738,49}</string>
                <key>spriteSourceSize</key>
                <string>{738,53}</string>
                <key>textureRect</key>
                <string>{{1,111},{738,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_auto_settings_img04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{741,1},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_auto_settings_img05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,21}</string>
                <key>spriteSourceSize</key>
                <string>{27,21}</string>
                <key>textureRect</key>
                <string>{{741,43},{27,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qb_auto_settings0.png</string>
            <key>size</key>
            <string>{782,161}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa6ec3f9b55bcb4cbaf9d1da12dedd8a:3e8f1bf782dcc02b33a2cef4b5484a23:53cc06d5fc62b9727566cf1e99b0d832$</string>
            <key>textureFileName</key>
            <string>qb_auto_settings0.png</string>
        </dict>
    </dict>
</plist>
