<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>da_b_nm00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{411,232},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_b_nm01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{23,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{485,48},{23,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_b_nm02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{446,232},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_b_nm03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{411,278},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_b_nm04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{411,48},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_b_nm05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{446,278},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_b_nm06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{411,324},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_b_nm07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{448,48},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_b_nm08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{446,324},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_b_nm09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{411,370},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_mp_nm00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{446,370},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_mp_nm01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{23,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{485,94},{23,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_mp_nm02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{332,687},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_mp_nm03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{367,687},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_mp_nm04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{411,94},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_mp_nm05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{402,687},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_mp_nm06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{437,687},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_mp_nm07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{448,94},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_mp_nm08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{472,687},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_mp_nm09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{299,407},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_nm00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{334,407},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_nm01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{23,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{485,140},{23,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_nm02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{369,407},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_nm03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{299,453},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_nm04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{411,140},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_nm05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{299,499},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_nm06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{334,453},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_nm07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{448,140},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_nm08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{334,499},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da_nm09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{369,453},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_blue_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,136}</string>
                <key>spriteSourceSize</key>
                <string>{294,136}</string>
                <key>textureRect</key>
                <string>{{1,407},{294,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_red_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,136}</string>
                <key>spriteSourceSize</key>
                <string>{294,136}</string>
                <key>textureRect</key>
                <string>{{205,547},{294,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kai_nm00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{369,499},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kai_nm01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{23,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{485,186},{23,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kai_nm02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{404,416},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kai_nm03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{439,416},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kai_nm04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{411,186},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kai_nm05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{474,416},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kai_nm06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{404,462},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kai_nm07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{448,186},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kai_nm08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{439,462},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kai_nm09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{474,462},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_cg_ef_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{406,402}</string>
                <key>spriteSourceSize</key>
                <string>{416,416}</string>
                <key>textureRect</key>
                <string>{{1,1},{406,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,547},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_mark_effect01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{97,43}</string>
                <key>spriteSourceSize</key>
                <string>{141,43}</string>
                <key>textureRect</key>
                <string>{{411,1},{97,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_mark_effect02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,43}</string>
                <key>spriteSourceSize</key>
                <string>{141,43}</string>
                <key>textureRect</key>
                <string>{{205,687},{123,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qb_number0.png</string>
            <key>size</key>
            <string>{509,748}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8e2118dbffe7b761ff6d52ee1a965bd:b66b937cc3d72d577c421845f4d460c4:0ca8d8874427efbf7b248c9d8069dbac$</string>
            <key>textureFileName</key>
            <string>qb_number0.png</string>
        </dict>
    </dict>
</plist>
