<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{1,165},{25,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,30}</string>
                <key>spriteSourceSize</key>
                <string>{21,30}</string>
                <key>textureRect</key>
                <string>{{146,168},{21,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{30,165},{25,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{1,95},{25,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{59,168},{25,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{30,95},{25,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{88,168},{25,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{117,168},{25,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{1,130},{25,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{30,130},{25,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakening_font_ATK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,30}</string>
                <key>spriteSourceSize</key>
                <string>{55,30}</string>
                <key>textureRect</key>
                <string>{{70,59},{55,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakening_font_Accele.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,32}</string>
                <key>spriteSourceSize</key>
                <string>{81,32}</string>
                <key>textureRect</key>
                <string>{{135,42},{81,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakening_font_Blast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,32}</string>
                <key>spriteSourceSize</key>
                <string>{65,32}</string>
                <key>textureRect</key>
                <string>{{1,59},{65,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakening_font_Charge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,37}</string>
                <key>spriteSourceSize</key>
                <string>{87,37}</string>
                <key>textureRect</key>
                <string>{{135,1},{87,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakening_font_DEF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,30}</string>
                <key>spriteSourceSize</key>
                <string>{52,30}</string>
                <key>textureRect</key>
                <string>{{129,78},{52,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakening_font_HP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,30}</string>
                <key>spriteSourceSize</key>
                <string>{42,30}</string>
                <key>textureRect</key>
                <string>{{70,93},{42,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakening_font_limitbreak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,37}</string>
                <key>spriteSourceSize</key>
                <string>{153,37}</string>
                <key>textureRect</key>
                <string>{{59,127},{153,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakening_font_percent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,30}</string>
                <key>spriteSourceSize</key>
                <string>{31,30}</string>
                <key>textureRect</key>
                <string>{{185,78},{31,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakening_font_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{171,168},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>param_up_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,54}</string>
                <key>spriteSourceSize</key>
                <string>{130,54}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>web_ef_awakening0.png</string>
            <key>size</key>
            <string>{223,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f90c18921815ccd87c38428ccb57ad12:a5526c20cfe98af8c836130c74524da0:a8425f0d770109c4d9981acf89c634fb$</string>
            <key>textureFileName</key>
            <string>web_ef_awakening0.png</string>
        </dict>
    </dict>
</plist>
