<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_bg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1200,1200}</string>
                <key>textureRect</key>
                <string>{{1,1},{1200,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_bg_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,434}</string>
                <key>spriteSourceSize</key>
                <string>{100,434}</string>
                <key>textureRect</key>
                <string>{{1753,765},{100,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_majic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,544}</string>
                <key>spriteSourceSize</key>
                <string>{544,544}</string>
                <key>textureRect</key>
                <string>{{1205,291},{544,544}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_tx_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{102,107}</string>
                <key>spriteSourceSize</key>
                <string>{120,137}</string>
                <key>textureRect</key>
                <string>{{1205,1067},{102,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_tx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,3}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{120,137}</string>
                <key>textureRect</key>
                <string>{{1311,1057},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_tx_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,117}</string>
                <key>spriteSourceSize</key>
                <string>{120,137}</string>
                <key>textureRect</key>
                <string>{{1205,946},{90,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_tx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{108,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,137}</string>
                <key>textureRect</key>
                <string>{{1753,646},{108,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_tx_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{118,107}</string>
                <key>spriteSourceSize</key>
                <string>{120,137}</string>
                <key>textureRect</key>
                <string>{{1753,291},{118,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_tx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,5}</string>
                <key>spriteSize</key>
                <string>{72,111}</string>
                <key>spriteSourceSize</key>
                <string>{120,137}</string>
                <key>textureRect</key>
                <string>{{1869,402},{72,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_tx_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{112,129}</string>
                <key>spriteSourceSize</key>
                <string>{120,137}</string>
                <key>textureRect</key>
                <string>{{1753,402},{112,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_tx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{112,107}</string>
                <key>spriteSourceSize</key>
                <string>{120,137}</string>
                <key>textureRect</key>
                <string>{{1753,535},{112,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_tx_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{736,286}</string>
                <key>spriteSourceSize</key>
                <string>{752,300}</string>
                <key>textureRect</key>
                <string>{{1205,1},{736,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_tx_bg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{84,85}</string>
                <key>spriteSourceSize</key>
                <string>{106,109}</string>
                <key>textureRect</key>
                <string>{{1857,856},{84,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_tx_bg_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{106,103}</string>
                <key>spriteSourceSize</key>
                <string>{106,109}</string>
                <key>textureRect</key>
                <string>{{1574,839},{106,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_tx_bg_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{98,107}</string>
                <key>spriteSourceSize</key>
                <string>{106,109}</string>
                <key>textureRect</key>
                <string>{{1299,946},{98,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_tx_bg_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{84,83}</string>
                <key>spriteSourceSize</key>
                <string>{106,109}</string>
                <key>textureRect</key>
                <string>{{1857,945},{84,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_tx_bg_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{84,87}</string>
                <key>spriteSourceSize</key>
                <string>{106,109}</string>
                <key>textureRect</key>
                <string>{{1857,765},{84,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_wave_tx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{365,49}</string>
                <key>spriteSourceSize</key>
                <string>{383,51}</string>
                <key>textureRect</key>
                <string>{{1205,839},{365,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ef_boss000.png</string>
            <key>size</key>
            <string>{1942,1202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:539280a3e69abbe4cf94448adce6265c:698d15beb5b89954eaec3a090e37fae8:bd8e3689ce47603bee0f7acbfb733563$</string>
            <key>textureFileName</key>
            <string>ef_boss000.png</string>
        </dict>
    </dict>
</plist>
