<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>12013_ground_light_01.png</key>
			<dict>
				<key>width</key>
				<integer>712</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>321</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>38</real>
				<key>offsetY</key>
				<real>24.5</real>
			</dict>
			<key>12013_ground_light_00.png</key>
			<dict>
				<key>width</key>
				<integer>857</integer>
				<key>height</key>
				<integer>240</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>321</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>226</integer>
				<key>offsetX</key>
				<real>83.5</real>
				<key>offsetY</key>
				<real>22.5</real>
			</dict>
			<key>12013_glass_plate.png</key>
			<dict>
				<key>width</key>
				<integer>494</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>494</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>468</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>12013_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>859</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>12013_cloud_bg.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>594</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>594</integer>
				<key>x</key>
				<integer>1885</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_map_120130.png</string>
			<key>realTextureFileName</key>
			<string>bg_map_120130.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>