<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>11013_light01.png</key>
			<dict>
				<key>width</key>
				<integer>292</integer>
				<key>height</key>
				<integer>291</integer>
				<key>originalWidth</key>
				<integer>293</integer>
				<key>originalHeight</key>
				<integer>293</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>11013_haguruma_02.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>293</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>11013_haguruma_01.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>138</integer>
				<key>originalHeight</key>
				<integer>138</integer>
				<key>x</key>
				<integer>294</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>11013_bg_light.png</key>
			<dict>
				<key>width</key>
				<integer>552</integer>
				<key>height</key>
				<integer>348</integer>
				<key>originalWidth</key>
				<integer>600</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>294</integer>
				<key>y</key>
				<integer>110</integer>
				<key>offsetX</key>
				<real>-24</real>
				<key>offsetY</key>
				<real>-51</real>
			</dict>
			<key>11013_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1200</integer>
				<key>height</key>
				<integer>756</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>460</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-72</real>
			</dict>
			<key>11013_moon_2.png</key>
			<dict>
				<key>width</key>
				<integer>219</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>219</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>848</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>11013_kumo_r_04.png</key>
			<dict>
				<key>width</key>
				<integer>802</integer>
				<key>height</key>
				<integer>295</integer>
				<key>originalWidth</key>
				<integer>950</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1069</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>74</real>
				<key>offsetY</key>
				<real>20.5</real>
			</dict>
			<key>11013_kumo_l_04.png</key>
			<dict>
				<key>width</key>
				<integer>950</integer>
				<key>height</key>
				<integer>308</integer>
				<key>originalWidth</key>
				<integer>950</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1218</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>22</real>
			</dict>
			<key>11013_kumo_l_03.png</key>
			<dict>
				<key>width</key>
				<integer>800</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1528</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>11013_kumo_r_03.png</key>
			<dict>
				<key>width</key>
				<integer>786</integer>
				<key>height</key>
				<integer>308</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1202</integer>
				<key>y</key>
				<integer>297</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>46</real>
			</dict>
			<key>11013_moon.png</key>
			<dict>
				<key>width</key>
				<integer>219</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>219</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>848</integer>
				<key>y</key>
				<integer>222</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>11013_kumo_r_02.png</key>
			<dict>
				<key>width</key>
				<integer>950</integer>
				<key>height</key>
				<integer>376</integer>
				<key>originalWidth</key>
				<integer>950</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>952</integer>
				<key>y</key>
				<integer>1218</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>11013_kumo_l_02.png</key>
			<dict>
				<key>width</key>
				<integer>947</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>950</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>802</integer>
				<key>y</key>
				<integer>1596</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>11013_kumo_l_01.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1202</integer>
				<key>y</key>
				<integer>607</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_map_110130.png</string>
			<key>realTextureFileName</key>
			<string>bg_map_110130.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>