<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>11012_light01.png</key>
			<dict>
				<key>width</key>
				<integer>292</integer>
				<key>height</key>
				<integer>291</integer>
				<key>originalWidth</key>
				<integer>293</integer>
				<key>originalHeight</key>
				<integer>293</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>11012_hikari_1.png</key>
			<dict>
				<key>width</key>
				<integer>222</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>293</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>11012_haguruma_02.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>294</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>11012_haguruma_01.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>138</integer>
				<key>originalHeight</key>
				<integer>138</integer>
				<key>x</key>
				<integer>294</integer>
				<key>y</key>
				<integer>35</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-13.5</real>
			</dict>
			<key>11012_haguruma_light_01.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>138</integer>
				<key>originalHeight</key>
				<integer>138</integer>
				<key>x</key>
				<integer>294</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-13.5</real>
			</dict>
			<key>11012_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1200</integer>
				<key>height</key>
				<integer>756</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>413</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-72</real>
			</dict>
			<key>11012_kumo_r_04.png</key>
			<dict>
				<key>width</key>
				<integer>804</integer>
				<key>height</key>
				<integer>295</integer>
				<key>originalWidth</key>
				<integer>950</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>758</integer>
				<key>offsetX</key>
				<real>73</real>
				<key>offsetY</key>
				<real>20.5</real>
			</dict>
			<key>11012_kumo_l_04.png</key>
			<dict>
				<key>width</key>
				<integer>950</integer>
				<key>height</key>
				<integer>308</integer>
				<key>originalWidth</key>
				<integer>950</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1055</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>23</real>
			</dict>
			<key>11012_kumo_l_03.png</key>
			<dict>
				<key>width</key>
				<integer>799</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1365</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>11012_kumo_r_03.png</key>
			<dict>
				<key>width</key>
				<integer>785</integer>
				<key>height</key>
				<integer>308</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>952</integer>
				<key>y</key>
				<integer>758</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>46</real>
			</dict>
			<key>11012_kumo_r_02.png</key>
			<dict>
				<key>width</key>
				<integer>950</integer>
				<key>height</key>
				<integer>202</integer>
				<key>originalWidth</key>
				<integer>950</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1747</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-35</real>
			</dict>
			<key>11012_kumo_l_02.png</key>
			<dict>
				<key>width</key>
				<integer>949</integer>
				<key>height</key>
				<integer>211</integer>
				<key>originalWidth</key>
				<integer>950</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>952</integer>
				<key>y</key>
				<integer>1068</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-38.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_map_110120.png</string>
			<key>realTextureFileName</key>
			<string>bg_map_110120.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>