<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>12012_light_00.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>599</integer>
				<key>originalWidth</key>
				<integer>1034</integer>
				<key>originalHeight</key>
				<integer>607</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>12012_guide_plate_reflection_00.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>56</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>601</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>12012_glass_plate_light.png</key>
			<dict>
				<key>width</key>
				<integer>260</integer>
				<key>height</key>
				<integer>275</integer>
				<key>originalWidth</key>
				<integer>260</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>58</integer>
				<key>y</key>
				<integer>601</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>12012_glass_plate.png</key>
			<dict>
				<key>width</key>
				<integer>494</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>494</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>601</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>12012_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>767</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>895</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>12012_cloud_02.png</key>
			<dict>
				<key>width</key>
				<integer>1206</integer>
				<key>height</key>
				<integer>339</integer>
				<key>originalWidth</key>
				<integer>1400</integer>
				<key>originalHeight</key>
				<integer>594</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1664</integer>
				<key>offsetX</key>
				<real>-97</real>
				<key>offsetY</key>
				<real>38.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_map_120120.png</string>
			<key>realTextureFileName</key>
			<string>bg_map_120120.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>