<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>14013_light03.png</key>
			<dict>
				<key>width</key>
				<integer>497</integer>
				<key>height</key>
				<integer>233</integer>
				<key>originalWidth</key>
				<integer>497</integer>
				<key>originalHeight</key>
				<integer>233</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>14013_light01.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>235</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>14013_light02.png</key>
			<dict>
				<key>width</key>
				<integer>436</integer>
				<key>height</key>
				<integer>381</integer>
				<key>originalWidth</key>
				<integer>436</integer>
				<key>originalHeight</key>
				<integer>381</integer>
				<key>x</key>
				<integer>499</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>14013_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1200</integer>
				<key>height</key>
				<integer>900</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>383</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>14013_kumo_r_04.png</key>
			<dict>
				<key>width</key>
				<integer>950</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>950</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1285</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>14013_kumo_l_04.png</key>
			<dict>
				<key>width</key>
				<integer>950</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>950</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>952</integer>
				<key>y</key>
				<integer>1285</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>14013_kumo_l_03.png</key>
			<dict>
				<key>width</key>
				<integer>800</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1202</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>14013_kumo_r_03.png</key>
			<dict>
				<key>width</key>
				<integer>800</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1202</integer>
				<key>y</key>
				<integer>402</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>14013_kumo_01.png</key>
			<dict>
				<key>width</key>
				<integer>750</integer>
				<key>height</key>
				<integer>236</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>236</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1687</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_map_140130.png</string>
			<key>realTextureFileName</key>
			<string>bg_map_140130.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>