<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>12012_cloud_01.png</key>
			<dict>
				<key>width</key>
				<integer>1686</integer>
				<key>height</key>
				<integer>427</integer>
				<key>originalWidth</key>
				<integer>1686</integer>
				<key>originalHeight</key>
				<integer>594</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>19.5</real>
			</dict>
			<key>12012_cloud_00.png</key>
			<dict>
				<key>width</key>
				<integer>1900</integer>
				<key>height</key>
				<integer>372</integer>
				<key>originalWidth</key>
				<integer>1900</integer>
				<key>originalHeight</key>
				<integer>594</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>429</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>42</real>
			</dict>
			<key>12012_cloud_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1905</integer>
				<key>height</key>
				<integer>594</integer>
				<key>originalWidth</key>
				<integer>1905</integer>
				<key>originalHeight</key>
				<integer>594</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>803</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_map_120121.png</string>
			<key>realTextureFileName</key>
			<string>bg_map_120121.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>