<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magia_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magia_b_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1,165},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magia_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1,329},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_button_magia0.png</string>
            <key>size</key>
            <string>{132,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81718a0844ac43f0f71f54c632f854e7:8e9b41f7f541c717ba2aa87aae0bd0b4:c090d0462be67fa97cb3e3887d2ae8e3$</string>
            <key>textureFileName</key>
            <string>ui_button_magia0.png</string>
        </dict>
    </dict>
</plist>
