<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ch_charo_01_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78.5,78.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{2000,772},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ch_charo_02_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78.5,78.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{2000,779},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ch_charo_03_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78.5,78.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{2000,786},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ch_cutin_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,114}</string>
                <key>spriteSourceSize</key>
                <string>{441,114}</string>
                <key>textureRect</key>
                <string>{{1149,258},{441,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ch_cutin_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,141}</string>
                <key>spriteSourceSize</key>
                <string>{134,141}</string>
                <key>textureRect</key>
                <string>{{1518,1090},{134,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ch_cutin_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,48}</string>
                <key>spriteSourceSize</key>
                <string>{339,48}</string>
                <key>textureRect</key>
                <string>{{923,1123},{339,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ch_cutin_03_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,151}</string>
                <key>spriteSourceSize</key>
                <string>{441,151}</string>
                <key>textureRect</key>
                <string>{{1149,103},{441,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ch_cutin_03_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,150}</string>
                <key>spriteSourceSize</key>
                <string>{149,150}</string>
                <key>textureRect</key>
                <string>{{1854,103},{149,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ch_cutin_03_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,47}</string>
                <key>spriteSourceSize</key>
                <string>{339,47}</string>
                <key>textureRect</key>
                <string>{{923,1175},{339,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ch_cutin_04_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,137}</string>
                <key>spriteSourceSize</key>
                <string>{401,137}</string>
                <key>textureRect</key>
                <string>{{1055,668},{401,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ch_cutin_04_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,150}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{1313,809},{156,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ch_cutin_04_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,47}</string>
                <key>spriteSourceSize</key>
                <string>{339,47}</string>
                <key>textureRect</key>
                <string>{{1594,363},{339,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ch_cutin_05_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,48}</string>
                <key>spriteSourceSize</key>
                <string>{335,48}</string>
                <key>textureRect</key>
                <string>{{939,1226},{335,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ch_fx_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,304}</string>
                <key>spriteSourceSize</key>
                <string>{302,304}</string>
                <key>textureRect</key>
                <string>{{501,538},{302,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cm_ef_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,428}</string>
                <key>spriteSourceSize</key>
                <string>{116,428}</string>
                <key>textureRect</key>
                <string>{{1760,772},{116,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cm_ef_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,439}</string>
                <key>spriteSourceSize</key>
                <string>{117,439}</string>
                <key>textureRect</key>
                <string>{{1639,646},{117,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cm_ef_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,436}</string>
                <key>spriteSourceSize</key>
                <string>{116,436}</string>
                <key>textureRect</key>
                <string>{{1880,772},{116,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cm_ef_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,440}</string>
                <key>spriteSourceSize</key>
                <string>{117,440}</string>
                <key>textureRect</key>
                <string>{{1518,646},{117,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cm_ui_cutin01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,194}</string>
                <key>spriteSourceSize</key>
                <string>{198,194}</string>
                <key>textureRect</key>
                <string>{{1316,963},{198,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cm_ui_cutin03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,98}</string>
                <key>spriteSourceSize</key>
                <string>{824,98}</string>
                <key>textureRect</key>
                <string>{{533,1},{824,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cm_ui_tittle_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,98}</string>
                <key>spriteSourceSize</key>
                <string>{622,98}</string>
                <key>textureRect</key>
                <string>{{1361,1},{512,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>connect_im_tx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,60}</string>
                <key>spriteSourceSize</key>
                <string>{355,60}</string>
                <key>textureRect</key>
                <string>{{419,1235},{319,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_battle_b_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{474,1032},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_bt_command01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,153}</string>
                <key>spriteSourceSize</key>
                <string>{396,153}</string>
                <key>textureRect</key>
                <string>{{913,809},{396,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_bt_command10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,174}</string>
                <key>spriteSourceSize</key>
                <string>{408,174}</string>
                <key>textureRect</key>
                <string>{{501,846},{408,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_bt_command02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,153}</string>
                <key>spriteSourceSize</key>
                <string>{389,153}</string>
                <key>textureRect</key>
                <string>{{923,966},{389,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_bt_command03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,154}</string>
                <key>spriteSourceSize</key>
                <string>{418,154}</string>
                <key>textureRect</key>
                <string>{{501,1024},{418,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_bt_command04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{469,172}</string>
                <key>spriteSourceSize</key>
                <string>{469,172}</string>
                <key>textureRect</key>
                <string>{{1,1032},{469,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_bt_command05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,132}</string>
                <key>textureRect</key>
                <string>{{533,272},{468,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_bt_command06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,126}</string>
                <key>spriteSourceSize</key>
                <string>{460,126}</string>
                <key>textureRect</key>
                <string>{{533,408},{460,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_bt_command07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,124}</string>
                <key>spriteSourceSize</key>
                <string>{460,124}</string>
                <key>textureRect</key>
                <string>{{1055,376},{460,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_bt_command08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1594,103},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_bt_command09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,160}</string>
                <key>spriteSourceSize</key>
                <string>{420,160}</string>
                <key>textureRect</key>
                <string>{{1055,504},{420,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_bt_command_tx01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,35}</string>
                <key>spriteSourceSize</key>
                <string>{140,35}</string>
                <key>textureRect</key>
                <string>{{1005,272},{140,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_bt_command_tx02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,35}</string>
                <key>spriteSourceSize</key>
                <string>{146,35}</string>
                <key>textureRect</key>
                <string>{{1854,257},{146,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_bt_command_tx03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,45}</string>
                <key>spriteSourceSize</key>
                <string>{196,45}</string>
                <key>textureRect</key>
                <string>{{1470,1235},{196,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_bt_command_tx04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,46}</string>
                <key>spriteSourceSize</key>
                <string>{191,46}</string>
                <key>textureRect</key>
                <string>{{1808,469},{191,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_bt_command_tx05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,42}</string>
                <key>spriteSourceSize</key>
                <string>{245,42}</string>
                <key>textureRect</key>
                <string>{{1479,600},{245,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_connect_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,238}</string>
                <key>spriteSourceSize</key>
                <string>{244,238}</string>
                <key>textureRect</key>
                <string>{{807,538},{244,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_wave_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{496,495}</string>
                <key>spriteSourceSize</key>
                <string>{496,495}</string>
                <key>textureRect</key>
                <string>{{1,533},{496,495}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_wave_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,220}</string>
                <key>spriteSourceSize</key>
                <string>{225,220}</string>
                <key>textureRect</key>
                <string>{{1778,548},{225,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_wave_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{807,780},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_wave_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,130}</string>
                <key>spriteSourceSize</key>
                <string>{285,130}</string>
                <key>textureRect</key>
                <string>{{1519,414},{285,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_wave_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,528}</string>
                <key>spriteSourceSize</key>
                <string>{528,528}</string>
                <key>textureRect</key>
                <string>{{1,1},{528,528}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>final_wave_tx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,59}</string>
                <key>spriteSourceSize</key>
                <string>{414,59}</string>
                <key>textureRect</key>
                <string>{{1,1208},{414,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plate_damage_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,56}</string>
                <key>spriteSourceSize</key>
                <string>{188,56}</string>
                <key>textureRect</key>
                <string>{{1278,1224},{188,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plate_first_mp_bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,48}</string>
                <key>spriteSourceSize</key>
                <string>{295,48}</string>
                <key>textureRect</key>
                <string>{{1479,548},{295,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plate_magia_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,51}</string>
                <key>spriteSourceSize</key>
                <string>{187,51}</string>
                <key>textureRect</key>
                <string>{{1808,414},{187,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest_start04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,49}</string>
                <key>spriteSourceSize</key>
                <string>{423,49}</string>
                <key>textureRect</key>
                <string>{{474,1182},{423,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_cmd_disc01_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52.5,52.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{2000,793},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_cmd_disc02_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52.5,52.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{2000,800},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_cmd_disc03_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52.5,52.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{2000,807},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave_item0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,165}</string>
                <key>spriteSourceSize</key>
                <string>{612,165}</string>
                <key>textureRect</key>
                <string>{{533,103},{612,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave_item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,59}</string>
                <key>spriteSourceSize</key>
                <string>{199,59}</string>
                <key>textureRect</key>
                <string>{{1266,1161},{199,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave_item2b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,59}</string>
                <key>spriteSourceSize</key>
                <string>{36,59}</string>
                <key>textureRect</key>
                <string>{{1469,1161},{36,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave_item3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,60}</string>
                <key>spriteSourceSize</key>
                <string>{193,60}</string>
                <key>textureRect</key>
                <string>{{742,1235},{193,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ef_battle000.png</string>
            <key>size</key>
            <string>{2004,1296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76518af33eff1e00836905574aefb82a:236f8136e7d3cf0be371181f8af38fe5:f044355eefb9c33e0e32793ea3958a13$</string>
            <key>textureFileName</key>
            <string>ef_battle000.png</string>
        </dict>
    </dict>
</plist>
