<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qb_continue_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,108}</string>
                <key>spriteSourceSize</key>
                <string>{304,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{304,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_continue_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,70}</string>
                <key>spriteSourceSize</key>
                <string>{202,70}</string>
                <key>textureRect</key>
                <string>{{1,113},{202,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_continue_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,70}</string>
                <key>spriteSourceSize</key>
                <string>{202,70}</string>
                <key>textureRect</key>
                <string>{{207,113},{202,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_continue_02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,70}</string>
                <key>spriteSourceSize</key>
                <string>{202,70}</string>
                <key>textureRect</key>
                <string>{{309,1},{202,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_continue_03_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,70}</string>
                <key>spriteSourceSize</key>
                <string>{202,70}</string>
                <key>textureRect</key>
                <string>{{413,75},{202,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_continue_03_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,70}</string>
                <key>spriteSourceSize</key>
                <string>{202,70}</string>
                <key>textureRect</key>
                <string>{{515,1},{202,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_continue_03_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,70}</string>
                <key>spriteSourceSize</key>
                <string>{202,70}</string>
                <key>textureRect</key>
                <string>{{413,149},{202,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_continue_04_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,70}</string>
                <key>spriteSourceSize</key>
                <string>{202,70}</string>
                <key>textureRect</key>
                <string>{{721,1},{202,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_continue_04_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,70}</string>
                <key>spriteSourceSize</key>
                <string>{202,70}</string>
                <key>textureRect</key>
                <string>{{619,75},{202,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_continue_04_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,70}</string>
                <key>spriteSourceSize</key>
                <string>{202,70}</string>
                <key>textureRect</key>
                <string>{{619,149},{202,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qb_continue.png</string>
            <key>size</key>
            <string>{924,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8dfc318bb4a32bd58b99da4ecb1fa59:247210cabfdace8464f4dcd33faf541b:f3ce8cd379ce9dfa4a250b1303446e95$</string>
            <key>textureFileName</key>
            <string>qb_continue.png</string>
        </dict>
    </dict>
</plist>
