<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qb_cg_ef_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1,296},{202,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_cg_ef_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{204,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1,84},{204,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_cg_mk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{1,580},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_cg_mk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{86,106}</string>
                <key>textureRect</key>
                <string>{{121,595},{86,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_cg_tx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{242,79}</string>
                <key>spriteSourceSize</key>
                <string>{244,79}</string>
                <key>textureRect</key>
                <string>{{1,1},{242,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_cg_tx_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,29}</string>
                <key>spriteSourceSize</key>
                <string>{188,29}</string>
                <key>textureRect</key>
                <string>{{1,500},{188,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_charge_nm00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,58}</string>
                <key>spriteSourceSize</key>
                <string>{52,58}</string>
                <key>textureRect</key>
                <string>{{209,84},{46,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_charge_nm01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{36,58}</string>
                <key>spriteSourceSize</key>
                <string>{52,58}</string>
                <key>textureRect</key>
                <string>{{211,580},{36,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_charge_nm02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,58}</string>
                <key>spriteSourceSize</key>
                <string>{52,58}</string>
                <key>textureRect</key>
                <string>{{209,146},{46,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_charge_nm03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,58}</string>
                <key>spriteSourceSize</key>
                <string>{52,58}</string>
                <key>textureRect</key>
                <string>{{209,208},{46,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_charge_nm04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,58}</string>
                <key>spriteSourceSize</key>
                <string>{52,58}</string>
                <key>textureRect</key>
                <string>{{193,518},{50,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_charge_nm05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,58}</string>
                <key>spriteSourceSize</key>
                <string>{52,58}</string>
                <key>textureRect</key>
                <string>{{209,270},{46,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_charge_nm06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,58}</string>
                <key>spriteSourceSize</key>
                <string>{52,58}</string>
                <key>textureRect</key>
                <string>{{207,332},{46,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_charge_nm07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,58}</string>
                <key>spriteSourceSize</key>
                <string>{52,58}</string>
                <key>textureRect</key>
                <string>{{207,394},{46,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_charge_nm08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,58}</string>
                <key>spriteSourceSize</key>
                <string>{52,58}</string>
                <key>textureRect</key>
                <string>{{207,456},{46,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_charge_nm09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,58}</string>
                <key>spriteSourceSize</key>
                <string>{52,58}</string>
                <key>textureRect</key>
                <string>{{121,533},{46,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_charge_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1,533},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ef_qb_charge0.png</string>
            <key>size</key>
            <string>{256,702}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f10eb4f40fb8c5fdb59a0f5228c51412:9ceb95b5bb21145bc277e81a0d8605eb:75c26c4f51b47dc81170d02496a13fd8$</string>
            <key>textureFileName</key>
            <string>ef_qb_charge0.png</string>
        </dict>
    </dict>
</plist>
