<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magicsqbase_preview.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,234}</string>
                <key>spriteSourceSize</key>
                <string>{568,234}</string>
                <key>textureRect</key>
                <string>{{1,1},{568,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magicsqunit_preview.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,56}</string>
                <key>spriteSourceSize</key>
                <string>{172,56}</string>
                <key>textureRect</key>
                <string>{{649,1},{172,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini_unknown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,176}</string>
                <key>spriteSourceSize</key>
                <string>{68,176}</string>
                <key>textureRect</key>
                <string>{{573,1},{68,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>preview_dark_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{721,61},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>preview_fire_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{795,61},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>preview_light_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{573,181},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>preview_timber_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{645,61},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>preview_void_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{649,170},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>preview_water_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{725,155},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag_leader.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,29}</string>
                <key>spriteSourceSize</key>
                <string>{72,29}</string>
                <key>textureRect</key>
                <string>{{645,137},{72,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag_support.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,16}</string>
                <key>spriteSourceSize</key>
                <string>{78,16}</string>
                <key>textureRect</key>
                <string>{{721,135},{78,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>magicsq_preview.png</string>
            <key>size</key>
            <string>{866,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06e7cbb7f75dd8b663c0c9631da97d3e:8f9ca4ddc8b2209667f0a3e7a4f4cd3e:0ad920f94b3788329f034cdc8a12730d$</string>
            <key>textureFileName</key>
            <string>magicsq_preview.png</string>
        </dict>
    </dict>
</plist>
