<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef_adv_03_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1014,758}</string>
                <key>spriteSourceSize</key>
                <string>{1014,758}</string>
                <key>textureRect</key>
                <string>{{1,763},{1014,758}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_adv_03_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1002,758}</string>
                <key>spriteSourceSize</key>
                <string>{1002,758}</string>
                <key>textureRect</key>
                <string>{{1022,1},{1002,758}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_adv_03_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1014,758}</string>
                <key>spriteSourceSize</key>
                <string>{1014,758}</string>
                <key>textureRect</key>
                <string>{{1019,763},{1014,758}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_adv_03_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1017,758}</string>
                <key>spriteSourceSize</key>
                <string>{1017,758}</string>
                <key>textureRect</key>
                <string>{{1,1},{1017,758}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_adv_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{696,1602},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_over_tx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{691,133}</string>
                <key>spriteSourceSize</key>
                <string>{691,133}</string>
                <key>textureRect</key>
                <string>{{1,1525},{691,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lose_tx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-1}</string>
                <key>spriteSize</key>
                <string>{242,73}</string>
                <key>spriteSourceSize</key>
                <string>{310,115}</string>
                <key>textureRect</key>
                <string>{{696,1525},{242,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_over0.png</string>
            <key>size</key>
            <string>{2034,1659}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ef8bbd6543680c1eb84eb92d6d86d3d:8431858fd72f3ff6443af867666b9037:8d54407555c25116fa7d94cbd6d7919c$</string>
            <key>textureFileName</key>
            <string>game_over0.png</string>
        </dict>
    </dict>
</plist>
