<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_b01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,133}</string>
                <key>spriteSourceSize</key>
                <string>{116,133}</string>
                <key>textureRect</key>
                <string>{{155,1},{116,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_b02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,156}</string>
                <key>spriteSourceSize</key>
                <string>{150,156}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_disk_bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,133}</string>
                <key>spriteSourceSize</key>
                <string>{116,133}</string>
                <key>textureRect</key>
                <string>{{275,1},{116,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_button_disk0.png</string>
            <key>size</key>
            <string>{392,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f026ebaef3014fcfad0a97ac2a22f414:0a40aaefd9bdb492e0a91324ab26dc1d:c1b9d28c6a2657c2ff17b5f0648d4261$</string>
            <key>textureFileName</key>
            <string>ui_button_disk0.png</string>
        </dict>
    </dict>
</plist>
