<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,68}</string>
                <key>spriteSourceSize</key>
                <string>{53,68}</string>
                <key>textureRect</key>
                <string>{{669,66},{53,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>command_disk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58.5,58.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{262,211},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_qb_ct_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{419,66},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_cd_ef_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{208,206}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1,1},{208,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_cd_ef_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{202,206}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{213,1},{202,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_cd_mk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{86,72}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{579,176},{86,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_cd_mk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{86,106}</string>
                <key>textureRect</key>
                <string>{{579,66},{86,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_cg_tx_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{257,32}</string>
                <key>spriteSourceSize</key>
                <string>{261,38}</string>
                <key>textureRect</key>
                <string>{{1,211},{257,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_ct_tx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{268,61}</string>
                <key>spriteSourceSize</key>
                <string>{300,79}</string>
                <key>textureRect</key>
                <string>{{419,1},{268,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ef_qb_connect0.png</string>
            <key>size</key>
            <string>{723,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc46e3b9fbbdf3fa7dd0090beb105bac:172514bac09dc4f025ceba226fc1ffe0:1315ade9af9c8bacdc3268cf5570967d$</string>
            <key>textureFileName</key>
            <string>ef_qb_connect0.png</string>
        </dict>
    </dict>
</plist>
