<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BgEffect0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{512,368}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BgEffect0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,384}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{1,373},{512,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BgEffect0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,384}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{907,382},{512,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BgEffect0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,384}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{1423,384},{512,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BgEffect0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,384}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{1,761},{512,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BgEffect0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,384}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{517,770},{512,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BgEffect0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,384}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{1033,772},{512,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BgEffect0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,384}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{1,1149},{512,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BgEffect0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,384}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{517,1158},{512,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BgEffect0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,384}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{1033,1160},{512,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BgEffect0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,384}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{517,378},{386,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoria0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{510,397}</string>
                <key>spriteSourceSize</key>
                <string>{512,397}</string>
                <key>textureRect</key>
                <string>{{1,1537},{510,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoria0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{508,373}</string>
                <key>spriteSourceSize</key>
                <string>{512,397}</string>
                <key>textureRect</key>
                <string>{{517,1},{508,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoria0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,397}</string>
                <key>spriteSourceSize</key>
                <string>{512,397}</string>
                <key>textureRect</key>
                <string>{{515,1546},{512,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoria0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,397}</string>
                <key>spriteSourceSize</key>
                <string>{512,397}</string>
                <key>textureRect</key>
                <string>{{1031,1548},{512,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoria0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{496,379}</string>
                <key>spriteSourceSize</key>
                <string>{512,397}</string>
                <key>textureRect</key>
                <string>{{1537,1},{496,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoria0011a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{504,377}</string>
                <key>spriteSourceSize</key>
                <string>{512,397}</string>
                <key>textureRect</key>
                <string>{{1029,1},{504,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoria0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,1}</string>
                <key>spriteSize</key>
                <string>{472,387}</string>
                <key>spriteSourceSize</key>
                <string>{512,397}</string>
                <key>textureRect</key>
                <string>{{1549,772},{472,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gacha1.png</string>
            <key>size</key>
            <string>{2034,1946}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f6705a27a52e7003c1a58e76f4cc66c:effd49b4a492dc0ea3ec616c130e392f:29cd8d2201c529a1d91e2350919a8e3a$</string>
            <key>textureFileName</key>
            <string>gacha1.png</string>
        </dict>
    </dict>
</plist>
