<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_Effect0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1447,378},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DG_Effect0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,290}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1535,1178},{300,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DG_Effect0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{238,242}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1535,1472},{238,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DG_Effect0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1751,378},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DG_Txt00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-1}</string>
                <key>spriteSize</key>
                <string>{502,74}</string>
                <key>spriteSourceSize</key>
                <string>{648,80}</string>
                <key>textureRect</key>
                <string>{{1291,1802},{502,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DG_Txt01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{610,80}</string>
                <key>spriteSourceSize</key>
                <string>{648,80}</string>
                <key>textureRect</key>
                <string>{{1291,1718},{610,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>New0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,46}</string>
                <key>spriteSourceSize</key>
                <string>{114,46}</string>
                <key>textureRect</key>
                <string>{{1751,574},{114,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>New0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,46}</string>
                <key>spriteSourceSize</key>
                <string>{114,46}</string>
                <key>textureRect</key>
                <string>{{1751,624},{114,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>New0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,46}</string>
                <key>spriteSourceSize</key>
                <string>{114,46}</string>
                <key>textureRect</key>
                <string>{{1839,1178},{114,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>New0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,46}</string>
                <key>spriteSourceSize</key>
                <string>{114,46}</string>
                <key>textureRect</key>
                <string>{{1839,1228},{114,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>New0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,46}</string>
                <key>spriteSourceSize</key>
                <string>{114,46}</string>
                <key>textureRect</key>
                <string>{{1839,1278},{114,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>New0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,46}</string>
                <key>spriteSourceSize</key>
                <string>{114,46}</string>
                <key>textureRect</key>
                <string>{{1839,1328},{114,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>New0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,46}</string>
                <key>spriteSourceSize</key>
                <string>{114,46}</string>
                <key>textureRect</key>
                <string>{{1839,1378},{114,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>New0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,46}</string>
                <key>spriteSourceSize</key>
                <string>{114,46}</string>
                <key>textureRect</key>
                <string>{{1839,1428},{114,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TouchScreenBase00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{513,70}</string>
                <key>spriteSourceSize</key>
                <string>{515,70}</string>
                <key>textureRect</key>
                <string>{{1291,1880},{513,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TouchScreenBase01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{300,62}</string>
                <key>spriteSourceSize</key>
                <string>{340,62}</string>
                <key>textureRect</key>
                <string>{{1291,1954},{300,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atri00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62.5,62.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1989},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,192}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{1031,1577},{256,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,192}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{1031,1773},{256,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardEffect03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,90}</string>
                <key>spriteSourceSize</key>
                <string>{420,90}</string>
                <key>textureRect</key>
                <string>{{1447,682},{420,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardEffect04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,589}</string>
                <key>spriteSourceSize</key>
                <string>{420,589}</string>
                <key>textureRect</key>
                <string>{{1,1},{420,589}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardEffect05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,589}</string>
                <key>spriteSourceSize</key>
                <string>{420,589}</string>
                <key>textureRect</key>
                <string>{{1,594},{420,589}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_xxxxx_c_01_170123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-324.5,493.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{652,990}</string>
                <key>textureRect</key>
                <string>{{1,1996},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chara_1001_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-118.5,118.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,2003},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dammy_Live2D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-265,322.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{533,648}</string>
                <key>textureRect</key>
                <string>{{1,2010},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gacha_b_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2.5,2.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{8,1989},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoria0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{510,397}</string>
                <key>spriteSourceSize</key>
                <string>{512,397}</string>
                <key>textureRect</key>
                <string>{{1,1588},{510,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoria0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,395}</string>
                <key>spriteSourceSize</key>
                <string>{512,397}</string>
                <key>textureRect</key>
                <string>{{517,1186},{504,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoria0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{510,395}</string>
                <key>spriteSourceSize</key>
                <string>{512,397}</string>
                <key>textureRect</key>
                <string>{{425,1},{510,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoria0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{508,383}</string>
                <key>spriteSourceSize</key>
                <string>{512,397}</string>
                <key>textureRect</key>
                <string>{{425,799},{508,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoria0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{508,395}</string>
                <key>spriteSourceSize</key>
                <string>{512,397}</string>
                <key>textureRect</key>
                <string>{{425,400},{508,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoria0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,397}</string>
                <key>spriteSourceSize</key>
                <string>{512,397}</string>
                <key>textureRect</key>
                <string>{{1,1187},{512,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoria0013a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{506,393}</string>
                <key>spriteSourceSize</key>
                <string>{512,397}</string>
                <key>textureRect</key>
                <string>{{937,400},{506,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoria0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{498,393}</string>
                <key>spriteSourceSize</key>
                <string>{512,397}</string>
                <key>textureRect</key>
                <string>{{939,1},{498,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoria0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{504,379}</string>
                <key>spriteSourceSize</key>
                <string>{512,397}</string>
                <key>textureRect</key>
                <string>{{937,797},{504,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoria0016a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{506,393}</string>
                <key>spriteSourceSize</key>
                <string>{512,397}</string>
                <key>textureRect</key>
                <string>{{1025,1180},{506,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoria0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{498,377}</string>
                <key>spriteSourceSize</key>
                <string>{512,397}</string>
                <key>textureRect</key>
                <string>{{1445,797},{498,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoria0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{512,395}</string>
                <key>spriteSourceSize</key>
                <string>{512,397}</string>
                <key>textureRect</key>
                <string>{{515,1588},{512,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoria0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{502,373}</string>
                <key>spriteSourceSize</key>
                <string>{512,397}</string>
                <key>textureRect</key>
                <string>{{1441,1},{502,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gahca0.png</string>
            <key>size</key>
            <string>{1954,2017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30a455f69a318671d9c6974d2077ae9e:ab89a00c3e25a884d1992e7c999d85e6:1d69144de1ae301179f4f53b71988d05$</string>
            <key>textureFileName</key>
            <string>gahca0.png</string>
        </dict>
    </dict>
</plist>
