<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>51068_trueend_book03.png</key>
			<dict>
				<key>width</key>
				<integer>616</integer>
				<key>height</key>
				<integer>692</integer>
				<key>originalWidth</key>
				<integer>616</integer>
				<key>originalHeight</key>
				<integer>692</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_book02.png</key>
			<dict>
				<key>width</key>
				<integer>616</integer>
				<key>height</key>
				<integer>656</integer>
				<key>originalWidth</key>
				<integer>616</integer>
				<key>originalHeight</key>
				<integer>656</integer>
				<key>x</key>
				<integer>618</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_book01.png</key>
			<dict>
				<key>width</key>
				<integer>612</integer>
				<key>height</key>
				<integer>584</integer>
				<key>originalWidth</key>
				<integer>612</integer>
				<key>originalHeight</key>
				<integer>584</integer>
				<key>x</key>
				<integer>1236</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_bg_06.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_bg_04.png</key>
			<dict>
				<key>width</key>
				<integer>692</integer>
				<key>height</key>
				<integer>672</integer>
				<key>originalWidth</key>
				<integer>692</integer>
				<key>originalHeight</key>
				<integer>672</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>658</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_hude05.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>344</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>344</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1464</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_hude04.png</key>
			<dict>
				<key>width</key>
				<integer>632</integer>
				<key>height</key>
				<integer>316</integer>
				<key>originalWidth</key>
				<integer>632</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>1332</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_hude02.png</key>
			<dict>
				<key>width</key>
				<integer>372</integer>
				<key>height</key>
				<integer>398</integer>
				<key>originalWidth</key>
				<integer>372</integer>
				<key>originalHeight</key>
				<integer>398</integer>
				<key>x</key>
				<integer>1660</integer>
				<key>y</key>
				<integer>1332</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_booktexture.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>1650</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>51068_trueend1.png</string>
			<key>realTextureFileName</key>
			<string>51068_trueend1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>