<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>51069_login_gacha_img02_bg_nagisa.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51069_login_gacha_img02_fg_arina.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51069_login_gacha_img02_chara_arina.png</key>
			<dict>
				<key>width</key>
				<integer>1164</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1164</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51069_login_gacha_img02_chara_homura.png</key>
			<dict>
				<key>width</key>
				<integer>1044</integer>
				<key>height</key>
				<integer>790</integer>
				<key>originalWidth</key>
				<integer>1044</integer>
				<key>originalHeight</key>
				<integer>790</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>772</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51069_login_gacha_img02_bg_homura.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1564</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51069_login_gacha_img02_chara_all_05.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>330</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>1564</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51069_login_gacha_img02_chara_all_03_01.png</key>
			<dict>
				<key>width</key>
				<integer>362</integer>
				<key>height</key>
				<integer>440</integer>
				<key>originalWidth</key>
				<integer>362</integer>
				<key>originalHeight</key>
				<integer>440</integer>
				<key>x</key>
				<integer>1680</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51069_login_gacha_img02_chara_all_03_02.png</key>
			<dict>
				<key>width</key>
				<integer>452</integer>
				<key>height</key>
				<integer>495</integer>
				<key>originalWidth</key>
				<integer>452</integer>
				<key>originalHeight</key>
				<integer>495</integer>
				<key>x</key>
				<integer>1046</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51069_login_gacha_img02_chara_all_02_02.png</key>
			<dict>
				<key>width</key>
				<integer>320</integer>
				<key>height</key>
				<integer>709</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>709</integer>
				<key>x</key>
				<integer>1680</integer>
				<key>y</key>
				<integer>442</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>51069_login_gacha_img021.png</string>
			<key>realTextureFileName</key>
			<string>51069_login_gacha_img021.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>