<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>51068_trueend_all_black.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_all_niji.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>34</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_text_decoration01.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>41</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>68</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_text_decoration04.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>34</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_text_decoration03.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>46</integer>
				<key>y</key>
				<integer>47</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_text_decoration02.png</key>
			<dict>
				<key>width</key>
				<integer>207</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>207</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>102</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_text01.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>111</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_text02.png</key>
			<dict>
				<key>width</key>
				<integer>258</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>258</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>209</integer>
				<key>y</key>
				<integer>89</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_ef_06.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_ef_04.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>109</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_ef_05.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>327</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_ef_02.png</key>
			<dict>
				<key>width</key>
				<integer>581</integer>
				<key>height</key>
				<integer>581</integer>
				<key>originalWidth</key>
				<integer>581</integer>
				<key>originalHeight</key>
				<integer>581</integer>
				<key>x</key>
				<integer>218</integer>
				<key>y</key>
				<integer>180</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_ef_03.png</key>
			<dict>
				<key>width</key>
				<integer>356</integer>
				<key>height</key>
				<integer>356</integer>
				<key>originalWidth</key>
				<integer>356</integer>
				<key>originalHeight</key>
				<integer>356</integer>
				<key>x</key>
				<integer>801</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_ef_07.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>763</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_ef_08.png</key>
			<dict>
				<key>width</key>
				<integer>257</integer>
				<key>height</key>
				<integer>257</integer>
				<key>originalWidth</key>
				<integer>257</integer>
				<key>originalHeight</key>
				<integer>257</integer>
				<key>x</key>
				<integer>222</integer>
				<key>y</key>
				<integer>763</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_leaf_right.png</key>
			<dict>
				<key>width</key>
				<integer>499</integer>
				<key>height</key>
				<integer>374</integer>
				<key>originalWidth</key>
				<integer>499</integer>
				<key>originalHeight</key>
				<integer>374</integer>
				<key>x</key>
				<integer>801</integer>
				<key>y</key>
				<integer>358</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_leaf_left.png</key>
			<dict>
				<key>width</key>
				<integer>692</integer>
				<key>height</key>
				<integer>396</integer>
				<key>originalWidth</key>
				<integer>692</integer>
				<key>originalHeight</key>
				<integer>396</integer>
				<key>x</key>
				<integer>1302</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_bg_light.png</key>
			<dict>
				<key>width</key>
				<integer>392</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>392</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1302</integer>
				<key>y</key>
				<integer>398</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_bg_line.png</key>
			<dict>
				<key>width</key>
				<integer>505</integer>
				<key>height</key>
				<integer>304</integer>
				<key>originalWidth</key>
				<integer>505</integer>
				<key>originalHeight</key>
				<integer>304</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1022</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_ichimatsu_right.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1328</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_ichimatsu_left.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>122</integer>
				<key>y</key>
				<integer>1328</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_all_pattern.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>507</integer>
				<key>y</key>
				<integer>763</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_book05.png</key>
			<dict>
				<key>width</key>
				<integer>908</integer>
				<key>height</key>
				<integer>632</integer>
				<key>originalWidth</key>
				<integer>908</integer>
				<key>originalHeight</key>
				<integer>632</integer>
				<key>x</key>
				<integer>244</integer>
				<key>y</key>
				<integer>1328</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_book04.png</key>
			<dict>
				<key>width</key>
				<integer>860</integer>
				<key>height</key>
				<integer>700</integer>
				<key>originalWidth</key>
				<integer>860</integer>
				<key>originalHeight</key>
				<integer>700</integer>
				<key>x</key>
				<integer>1154</integer>
				<key>y</key>
				<integer>784</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_bg_05.png</key>
			<dict>
				<key>width</key>
				<integer>408</integer>
				<key>height</key>
				<integer>332</integer>
				<key>originalWidth</key>
				<integer>408</integer>
				<key>originalHeight</key>
				<integer>332</integer>
				<key>x</key>
				<integer>1154</integer>
				<key>y</key>
				<integer>1486</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51068_trueend_hude03.png</key>
			<dict>
				<key>width</key>
				<integer>840</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>840</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>1154</integer>
				<key>y</key>
				<integer>1820</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>51068_trueend0.png</string>
			<key>realTextureFileName</key>
			<string>51068_trueend0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>