<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>51074_badend_common_rubble_02_blur_02.png</key>
			<dict>
				<key>width</key>
				<integer>1216</integer>
				<key>height</key>
				<integer>780</integer>
				<key>originalWidth</key>
				<integer>1216</integer>
				<key>originalHeight</key>
				<integer>780</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_badend_common_rubble_01_blur_01.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>1416</integer>
				<key>originalWidth</key>
				<integer>328</integer>
				<key>originalHeight</key>
				<integer>1416</integer>
				<key>x</key>
				<integer>1218</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_badend_common_rubble_02_fix.png</key>
			<dict>
				<key>width</key>
				<integer>1180</integer>
				<key>height</key>
				<integer>744</integer>
				<key>originalWidth</key>
				<integer>1180</integer>
				<key>originalHeight</key>
				<integer>744</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>782</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_badend_common_rubble_04_blur_01.png</key>
			<dict>
				<key>width</key>
				<integer>284</integer>
				<key>height</key>
				<integer>712</integer>
				<key>originalWidth</key>
				<integer>284</integer>
				<key>originalHeight</key>
				<integer>712</integer>
				<key>x</key>
				<integer>1548</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_badend_common_rubble_04_blur_02.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>728</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>728</integer>
				<key>x</key>
				<integer>1548</integer>
				<key>y</key>
				<integer>714</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>51074_badend2.png</string>
			<key>realTextureFileName</key>
			<string>51074_badend2.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>