<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>51074_badend_triangle_big_03.png</key>
			<dict>
				<key>width</key>
				<integer>1416</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>1416</integer>
				<key>originalHeight</key>
				<integer>176</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_badend_common_ef_star_01.png</key>
			<dict>
				<key>width</key>
				<integer>1152</integer>
				<key>height</key>
				<integer>1152</integer>
				<key>originalWidth</key>
				<integer>1152</integer>
				<key>originalHeight</key>
				<integer>1152</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>178</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_badend_common_rubble_01_blur_02.png</key>
			<dict>
				<key>width</key>
				<integer>344</integer>
				<key>height</key>
				<integer>1432</integer>
				<key>originalWidth</key>
				<integer>344</integer>
				<key>originalHeight</key>
				<integer>1432</integer>
				<key>x</key>
				<integer>1154</integer>
				<key>y</key>
				<integer>178</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_badend_common_rubble_01_fix.png</key>
			<dict>
				<key>width</key>
				<integer>320</integer>
				<key>height</key>
				<integer>1408</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>1408</integer>
				<key>x</key>
				<integer>1500</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_badend_common_rubble_03_fix.png</key>
			<dict>
				<key>width</key>
				<integer>1000</integer>
				<key>height</key>
				<integer>288</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>288</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1332</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_badend_common_rubble_03_blur_01.png</key>
			<dict>
				<key>width</key>
				<integer>1008</integer>
				<key>height</key>
				<integer>296</integer>
				<key>originalWidth</key>
				<integer>1008</integer>
				<key>originalHeight</key>
				<integer>296</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1622</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>51074_badend1.png</string>
			<key>realTextureFileName</key>
			<string>51074_badend1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>