<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>51074_trueend_bk.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_frame_white_01.png</key>
			<dict>
				<key>width</key>
				<integer>692</integer>
				<key>height</key>
				<integer>284</integer>
				<key>originalWidth</key>
				<integer>692</integer>
				<key>originalHeight</key>
				<integer>284</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>34</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_title_true.png</key>
			<dict>
				<key>width</key>
				<integer>560</integer>
				<key>height</key>
				<integer>236</integer>
				<key>originalWidth</key>
				<integer>560</integer>
				<key>originalHeight</key>
				<integer>236</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>320</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_title_end.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>364</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>558</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_title_flame_01.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>680</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_title_flame_02.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>694</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_title_flame_03.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>814</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_title_flame_04.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>694</integer>
				<key>y</key>
				<integer>134</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_ef_star_01.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>240</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>562</integer>
				<key>y</key>
				<integer>320</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_ef_ring_wh_01.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>226</integer>
				<key>y</key>
				<integer>680</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_title_triangle_01.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>408</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>732</integer>
				<key>y</key>
				<integer>268</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_title_triangle_02.png</key>
			<dict>
				<key>width</key>
				<integer>316</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>316</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>380</integer>
				<key>y</key>
				<integer>562</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_title_triangle_03.png</key>
			<dict>
				<key>width</key>
				<integer>440</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>440</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>380</integer>
				<key>y</key>
				<integer>776</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_ef_circle_01.png</key>
			<dict>
				<key>width</key>
				<integer>336</integer>
				<key>height</key>
				<integer>336</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>336</integer>
				<key>x</key>
				<integer>920</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_ef_ring_bk_01.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>500</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>854</integer>
				<key>y</key>
				<integer>338</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_ef_ring_red_01.png</key>
			<dict>
				<key>width</key>
				<integer>460</integer>
				<key>height</key>
				<integer>460</integer>
				<key>originalWidth</key>
				<integer>460</integer>
				<key>originalHeight</key>
				<integer>460</integer>
				<key>x</key>
				<integer>1356</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_common_ef_line_01.png</key>
			<dict>
				<key>width</key>
				<integer>540</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>822</integer>
				<key>y</key>
				<integer>840</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_common_ef_ring_02_01.png</key>
			<dict>
				<key>width</key>
				<integer>440</integer>
				<key>height</key>
				<integer>440</integer>
				<key>originalWidth</key>
				<integer>440</integer>
				<key>originalHeight</key>
				<integer>440</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_common_ef_ring_01_03.png</key>
			<dict>
				<key>width</key>
				<integer>272</integer>
				<key>height</key>
				<integer>548</integer>
				<key>originalWidth</key>
				<integer>272</integer>
				<key>originalHeight</key>
				<integer>548</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1440</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_common_ef_ring_01_02.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>452</integer>
				<key>originalWidth</key>
				<integer>184</integer>
				<key>originalHeight</key>
				<integer>452</integer>
				<key>x</key>
				<integer>442</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_common_ef_ring_01_01.png</key>
			<dict>
				<key>width</key>
				<integer>468</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>468</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>628</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_red.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>34</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_common_blue.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>68</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_common_rubble_03_blur_02.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>312</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>312</integer>
				<key>x</key>
				<integer>628</integer>
				<key>y</key>
				<integer>1140</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_common_rubble_03_fix.png</key>
			<dict>
				<key>width</key>
				<integer>1000</integer>
				<key>height</key>
				<integer>288</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>288</integer>
				<key>x</key>
				<integer>274</integer>
				<key>y</key>
				<integer>1454</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_common_rubble_03_blur_01.png</key>
			<dict>
				<key>width</key>
				<integer>1008</integer>
				<key>height</key>
				<integer>296</integer>
				<key>originalWidth</key>
				<integer>1008</integer>
				<key>originalHeight</key>
				<integer>296</integer>
				<key>x</key>
				<integer>274</integer>
				<key>y</key>
				<integer>1744</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_common_rubble_04_blur_fix.png</key>
			<dict>
				<key>width</key>
				<integer>284</integer>
				<key>height</key>
				<integer>712</integer>
				<key>originalWidth</key>
				<integer>284</integer>
				<key>originalHeight</key>
				<integer>712</integer>
				<key>x</key>
				<integer>1654</integer>
				<key>y</key>
				<integer>462</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_common_rubble_04_blur_01.png</key>
			<dict>
				<key>width</key>
				<integer>284</integer>
				<key>height</key>
				<integer>712</integer>
				<key>originalWidth</key>
				<integer>284</integer>
				<key>originalHeight</key>
				<integer>712</integer>
				<key>x</key>
				<integer>1654</integer>
				<key>y</key>
				<integer>1176</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>51074_trueend_all_white.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>51074_trueend0.png</string>
			<key>realTextureFileName</key>
			<string>51074_trueend0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>