<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1049_cut13_cannon02.png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>1177</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>1177</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1049_cut13_bg02.png</key>
			<dict>
				<key>width</key>
				<integer>1200</integer>
				<key>height</key>
				<integer>654</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>654</integer>
				<key>x</key>
				<integer>166</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1049_cut13_bg01.png</key>
			<dict>
				<key>width</key>
				<integer>1230</integer>
				<key>height</key>
				<integer>518</integer>
				<key>originalWidth</key>
				<integer>1230</integer>
				<key>originalHeight</key>
				<integer>518</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1179</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1049_cut12_chara.png</key>
			<dict>
				<key>width</key>
				<integer>415</integer>
				<key>height</key>
				<integer>317</integer>
				<key>originalWidth</key>
				<integer>415</integer>
				<key>originalHeight</key>
				<integer>317</integer>
				<key>x</key>
				<integer>1232</integer>
				<key>y</key>
				<integer>1179</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1049_cut12_ef.png</key>
			<dict>
				<key>width</key>
				<integer>376</integer>
				<key>height</key>
				<integer>376</integer>
				<key>originalWidth</key>
				<integer>376</integer>
				<key>originalHeight</key>
				<integer>376</integer>
				<key>x</key>
				<integer>1649</integer>
				<key>y</key>
				<integer>1179</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1049_cut03_ef03.png</key>
			<dict>
				<key>width</key>
				<integer>491</integer>
				<key>height</key>
				<integer>283</integer>
				<key>originalWidth</key>
				<integer>491</integer>
				<key>originalHeight</key>
				<integer>283</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1699</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1049_cut03_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>461</integer>
				<key>height</key>
				<integer>333</integer>
				<key>originalWidth</key>
				<integer>461</integer>
				<key>originalHeight</key>
				<integer>333</integer>
				<key>x</key>
				<integer>493</integer>
				<key>y</key>
				<integer>1699</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1049_cut02_circle05.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>206</integer>
				<key>originalWidth</key>
				<integer>206</integer>
				<key>originalHeight</key>
				<integer>206</integer>
				<key>x</key>
				<integer>956</integer>
				<key>y</key>
				<integer>1699</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1049_cut02_circle04.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>1164</integer>
				<key>y</key>
				<integer>1699</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1049_cut02_circle03.png</key>
			<dict>
				<key>width</key>
				<integer>284</integer>
				<key>height</key>
				<integer>284</integer>
				<key>originalWidth</key>
				<integer>284</integer>
				<key>originalHeight</key>
				<integer>284</integer>
				<key>x</key>
				<integer>1291</integer>
				<key>y</key>
				<integer>1699</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1049_cut02_circle02.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>162</integer>
				<key>originalHeight</key>
				<integer>162</integer>
				<key>x</key>
				<integer>1577</integer>
				<key>y</key>
				<integer>1699</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1049_cut02_circle01.png</key>
			<dict>
				<key>width</key>
				<integer>216</integer>
				<key>height</key>
				<integer>216</integer>
				<key>originalWidth</key>
				<integer>216</integer>
				<key>originalHeight</key>
				<integer>216</integer>
				<key>x</key>
				<integer>1741</integer>
				<key>y</key>
				<integer>1699</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10494.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10494.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>