<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1014_cut07_tx02.png</key>
			<dict>
				<key>width</key>
				<integer>804</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>804</integer>
				<key>originalHeight</key>
				<integer>61</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut07_hana04.png</key>
			<dict>
				<key>width</key>
				<integer>352</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>352</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>806</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut07_hana03.png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>218</integer>
				<key>originalWidth</key>
				<integer>138</integer>
				<key>originalHeight</key>
				<integer>218</integer>
				<key>x</key>
				<integer>1160</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut07_hana02.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>1300</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut07_hana01.png</key>
			<dict>
				<key>width</key>
				<integer>229</integer>
				<key>height</key>
				<integer>267</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>267</integer>
				<key>x</key>
				<integer>1406</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut07_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>306</integer>
				<key>height</key>
				<integer>309</integer>
				<key>originalWidth</key>
				<integer>306</integer>
				<key>originalHeight</key>
				<integer>309</integer>
				<key>x</key>
				<integer>1637</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut07_ribo01.png</key>
			<dict>
				<key>width</key>
				<integer>527</integer>
				<key>height</key>
				<integer>257</integer>
				<key>originalWidth</key>
				<integer>527</integer>
				<key>originalHeight</key>
				<integer>257</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>311</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut07_ribo03.png</key>
			<dict>
				<key>width</key>
				<integer>517</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>517</integer>
				<key>originalHeight</key>
				<integer>196</integer>
				<key>x</key>
				<integer>529</integer>
				<key>y</key>
				<integer>311</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut07_ribo02.png</key>
			<dict>
				<key>width</key>
				<integer>481</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>481</integer>
				<key>originalHeight</key>
				<integer>131</integer>
				<key>x</key>
				<integer>1048</integer>
				<key>y</key>
				<integer>311</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut07_chara10.png</key>
			<dict>
				<key>width</key>
				<integer>376</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>376</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1531</integer>
				<key>y</key>
				<integer>311</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut07_chara09.png</key>
			<dict>
				<key>width</key>
				<integer>376</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>376</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>825</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut07_chara08.png</key>
			<dict>
				<key>width</key>
				<integer>376</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>376</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>378</integer>
				<key>y</key>
				<integer>825</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut07_chara07.png</key>
			<dict>
				<key>width</key>
				<integer>376</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>376</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>756</integer>
				<key>y</key>
				<integer>825</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut07_chara06.png</key>
			<dict>
				<key>width</key>
				<integer>376</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>376</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1134</integer>
				<key>y</key>
				<integer>825</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut07_chara05.png</key>
			<dict>
				<key>width</key>
				<integer>376</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>376</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1512</integer>
				<key>y</key>
				<integer>825</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut07_chara04.png</key>
			<dict>
				<key>width</key>
				<integer>376</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>376</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1339</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut07_chara03.png</key>
			<dict>
				<key>width</key>
				<integer>376</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>376</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>378</integer>
				<key>y</key>
				<integer>1339</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut07_chara02.png</key>
			<dict>
				<key>width</key>
				<integer>376</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>376</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>756</integer>
				<key>y</key>
				<integer>1339</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut07_chara01.png</key>
			<dict>
				<key>width</key>
				<integer>376</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>376</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1134</integer>
				<key>y</key>
				<integer>1339</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut07_ribo04.png</key>
			<dict>
				<key>width</key>
				<integer>521</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>521</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>1512</integer>
				<key>y</key>
				<integer>1339</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut06_choco07.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>123</integer>
				<key>originalHeight</key>
				<integer>105</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1853</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut06_choco05.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>125</integer>
				<key>y</key>
				<integer>1853</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut06_choco04.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>135</integer>
				<key>originalHeight</key>
				<integer>113</integer>
				<key>x</key>
				<integer>212</integer>
				<key>y</key>
				<integer>1853</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut06_choco02.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>142</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>349</integer>
				<key>y</key>
				<integer>1853</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut06_choco03.png</key>
			<dict>
				<key>width</key>
				<integer>195</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>493</integer>
				<key>y</key>
				<integer>1853</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1014_cut05_tx.png</key>
			<dict>
				<key>width</key>
				<integer>899</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>899</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>690</integer>
				<key>y</key>
				<integer>1853</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10141.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10141.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>