<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1062_logo_01_fix.png</key>
			<dict>
				<key>width</key>
				<integer>472</integer>
				<key>height</key>
				<integer>358</integer>
				<key>originalWidth</key>
				<integer>472</integer>
				<key>originalHeight</key>
				<integer>358</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1062_chara_main.png</key>
			<dict>
				<key>width</key>
				<integer>780</integer>
				<key>height</key>
				<integer>696</integer>
				<key>originalWidth</key>
				<integer>780</integer>
				<key>originalHeight</key>
				<integer>696</integer>
				<key>x</key>
				<integer>474</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1062_scale.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>296</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>296</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>698</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1062_chara_yellow.png</key>
			<dict>
				<key>width</key>
				<integer>748</integer>
				<key>height</key>
				<integer>736</integer>
				<key>originalWidth</key>
				<integer>748</integer>
				<key>originalHeight</key>
				<integer>736</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>698</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1062_note_03_blue.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>1776</integer>
				<key>y</key>
				<integer>698</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1062_note_03_green.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>1846</integer>
				<key>y</key>
				<integer>698</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1062_note_02_green.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>1916</integer>
				<key>y</key>
				<integer>698</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1062_note_02_yellow.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1436</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1062_note_01_red.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>136</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>1436</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1062_note_01_green.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>136</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>1436</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1062_note_01_orange.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>136</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>378</integer>
				<key>y</key>
				<integer>1436</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1062_logo_circle.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>480</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>480</integer>
				<key>x</key>
				<integer>516</integer>
				<key>y</key>
				<integer>1436</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10621.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10621.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>