<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1067_cut06_02_mitama.png</key>
			<dict>
				<key>width</key>
				<integer>689</integer>
				<key>height</key>
				<integer>728</integer>
				<key>originalWidth</key>
				<integer>689</integer>
				<key>originalHeight</key>
				<integer>728</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut06_01_karin.png</key>
			<dict>
				<key>width</key>
				<integer>664</integer>
				<key>height</key>
				<integer>696</integer>
				<key>originalWidth</key>
				<integer>664</integer>
				<key>originalHeight</key>
				<integer>696</integer>
				<key>x</key>
				<integer>691</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut04_ef03.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1357</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut04_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>730</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut11_bg02.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>979</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>979</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>730</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut10_ball.png</key>
			<dict>
				<key>width</key>
				<integer>287</integer>
				<key>height</key>
				<integer>266</integer>
				<key>originalWidth</key>
				<integer>287</integer>
				<key>originalHeight</key>
				<integer>266</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1711</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut10_text_02.png</key>
			<dict>
				<key>width</key>
				<integer>738</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>738</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>289</integer>
				<key>y</key>
				<integer>1711</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut10_text_name.png</key>
			<dict>
				<key>width</key>
				<integer>783</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>783</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>1029</integer>
				<key>y</key>
				<integer>1711</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut10_hishi01.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>1814</integer>
				<key>y</key>
				<integer>1711</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut09_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>948</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>948</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1979</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut06_01_karin_tx.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>328</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>950</integer>
				<key>y</key>
				<integer>1979</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10671.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10671.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>