<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1019_cut07_chara02.png</key>
			<dict>
				<key>width</key>
				<integer>895</integer>
				<key>height</key>
				<integer>721</integer>
				<key>originalWidth</key>
				<integer>895</integer>
				<key>originalHeight</key>
				<integer>721</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1019_cut08_blueline.png</key>
			<dict>
				<key>width</key>
				<integer>1200</integer>
				<key>height</key>
				<integer>312</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>312</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>722</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1019_cut07_pinkline.png</key>
			<dict>
				<key>width</key>
				<integer>1200</integer>
				<key>height</key>
				<integer>312</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>312</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1035</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1019_cut06_tx05.png</key>
			<dict>
				<key>width</key>
				<integer>1023</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>1023</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1348</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>13</real>
			</dict>
			<key>adv_eve_1019_cut06_tx04.png</key>
			<dict>
				<key>width</key>
				<integer>1016</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>1016</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>1024</integer>
				<key>y</key>
				<integer>1348</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1019_cut06_tx03.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1019_cut06_tx02.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1595</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>adv_eve_1019_cut06_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>1020</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>1025</integer>
				<key>y</key>
				<integer>1450</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1019_cut05_chara01_02.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>376</integer>
				<key>originalWidth</key>
				<integer>171</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1025</integer>
				<key>y</key>
				<integer>1586</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>adv_eve_1019_cut05_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1172</integer>
				<key>y</key>
				<integer>1586</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1019_cut04_chara03.png</key>
			<dict>
				<key>width</key>
				<integer>171</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>171</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1685</integer>
				<key>y</key>
				<integer>1586</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1019_cut04_chara02.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>171</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1857</integer>
				<key>y</key>
				<integer>1586</integer>
				<key>offsetX</key>
				<real>-20</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1019_cut03_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>803</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>803</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1698</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1019_cut02_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>606</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>606</integer>
				<key>originalHeight</key>
				<integer>113</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1805</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10192.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10192.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>