<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1045_cut07_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1045_cut05_bg04.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1045_cut05_bg03.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1045_cut05_bg02.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1045_cut05_bg01.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1028</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1045_cut04_text02.png</key>
			<dict>
				<key>width</key>
				<integer>540</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>151</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1156</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1045_cut04_line02.png</key>
			<dict>
				<key>width</key>
				<integer>608</integer>
				<key>height</key>
				<integer>251</integer>
				<key>originalWidth</key>
				<integer>608</integer>
				<key>originalHeight</key>
				<integer>251</integer>
				<key>x</key>
				<integer>542</integer>
				<key>y</key>
				<integer>1156</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1045_cut04_text01.png</key>
			<dict>
				<key>width</key>
				<integer>604</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>604</integer>
				<key>originalHeight</key>
				<integer>187</integer>
				<key>x</key>
				<integer>1152</integer>
				<key>y</key>
				<integer>1156</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1045_cut04_line01.png</key>
			<dict>
				<key>width</key>
				<integer>690</integer>
				<key>height</key>
				<integer>272</integer>
				<key>originalWidth</key>
				<integer>690</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1409</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1045_cut04_icon.png</key>
			<dict>
				<key>width</key>
				<integer>368</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>368</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>692</integer>
				<key>y</key>
				<integer>1409</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1045_cut04_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1062</integer>
				<key>y</key>
				<integer>1409</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1045_cut03_card02.png</key>
			<dict>
				<key>width</key>
				<integer>395</integer>
				<key>height</key>
				<integer>324</integer>
				<key>originalWidth</key>
				<integer>395</integer>
				<key>originalHeight</key>
				<integer>324</integer>
				<key>x</key>
				<integer>1576</integer>
				<key>y</key>
				<integer>1409</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1045_cut01_kirakira06.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>137</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1795</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1045_cut01_kirakira05.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>137</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>139</integer>
				<key>y</key>
				<integer>1795</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1045_cut01_kirakira04.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>137</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>278</integer>
				<key>y</key>
				<integer>1795</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1045_cut01_kirakira03.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>137</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>417</integer>
				<key>y</key>
				<integer>1795</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1045_cut01_kirakira02.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>137</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>556</integer>
				<key>y</key>
				<integer>1795</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1045_cut01_tona01.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>695</integer>
				<key>y</key>
				<integer>1795</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1045_cut01_tona02.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>775</integer>
				<key>y</key>
				<integer>1795</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1045_cut01_tona03.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>59</integer>
				<key>originalHeight</key>
				<integer>73</integer>
				<key>x</key>
				<integer>855</integer>
				<key>y</key>
				<integer>1795</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1045_cut01_tona.png</key>
			<dict>
				<key>width</key>
				<integer>361</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>361</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>916</integer>
				<key>y</key>
				<integer>1795</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10453.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10453.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>