<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1056_cut04_ef.png</key>
			<dict>
				<key>width</key>
				<integer>1200</integer>
				<key>height</key>
				<integer>865</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>865</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1056_cut10_chara.png</key>
			<dict>
				<key>width</key>
				<integer>397</integer>
				<key>height</key>
				<integer>1189</integer>
				<key>originalWidth</key>
				<integer>397</integer>
				<key>originalHeight</key>
				<integer>1189</integer>
				<key>x</key>
				<integer>1202</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1056_cut07_bg13.png</key>
			<dict>
				<key>width</key>
				<integer>788</integer>
				<key>height</key>
				<integer>722</integer>
				<key>originalWidth</key>
				<integer>788</integer>
				<key>originalHeight</key>
				<integer>722</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>867</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1056_cut07_bg09.png</key>
			<dict>
				<key>width</key>
				<integer>564</integer>
				<key>height</key>
				<integer>724</integer>
				<key>originalWidth</key>
				<integer>564</integer>
				<key>originalHeight</key>
				<integer>724</integer>
				<key>x</key>
				<integer>790</integer>
				<key>y</key>
				<integer>1191</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1056_cut07_bg07.png</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
				<key>height</key>
				<integer>745</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>745</integer>
				<key>x</key>
				<integer>1601</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1056_cut07_bg06.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>745</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>745</integer>
				<key>x</key>
				<integer>1356</integer>
				<key>y</key>
				<integer>1191</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1056_cut05_ef02.png</key>
			<dict>
				<key>width</key>
				<integer>349</integer>
				<key>height</key>
				<integer>353</integer>
				<key>originalWidth</key>
				<integer>349</integer>
				<key>originalHeight</key>
				<integer>353</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1591</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10561.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10561.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>