<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1010_bk.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_wh.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>101</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_ef10.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_12_logo.png</key>
			<dict>
				<key>width</key>
				<integer>387</integer>
				<key>height</key>
				<integer>396</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>412</integer>
				<key>x</key>
				<integer>235</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>1010_cut_12_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>742</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>742</integer>
				<key>x</key>
				<integer>623</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_10_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>713</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>713</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>743</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_07_name_01.png</key>
			<dict>
				<key>width</key>
				<integer>550</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>550</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>714</integer>
				<key>y</key>
				<integer>743</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_09_name_01.png</key>
			<dict>
				<key>width</key>
				<integer>525</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>525</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>1265</integer>
				<key>y</key>
				<integer>743</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_07_name_line.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>2</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>2</integer>
				<key>x</key>
				<integer>1791</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_07_name_02.png</key>
			<dict>
				<key>width</key>
				<integer>824</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>824</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>714</integer>
				<key>y</key>
				<integer>822</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_09_name_02.png</key>
			<dict>
				<key>width</key>
				<integer>697</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>697</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>851</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_07_name_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>280</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>280</integer>
				<key>x</key>
				<integer>698</integer>
				<key>y</key>
				<integer>907</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_07_chara01.png</key>
			<dict>
				<key>width</key>
				<integer>463</integer>
				<key>height</key>
				<integer>803</integer>
				<key>originalWidth</key>
				<integer>557</integer>
				<key>originalHeight</key>
				<integer>907</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>935</integer>
				<key>offsetX</key>
				<real>-47</real>
				<key>offsetY</key>
				<real>-52</real>
			</dict>
			<key>1010_cut_08_chara01.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>809</integer>
				<key>originalWidth</key>
				<integer>557</integer>
				<key>originalHeight</key>
				<integer>907</integer>
				<key>x</key>
				<integer>464</integer>
				<key>y</key>
				<integer>1188</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>-49</real>
			</dict>
			<key>1010_cut_07_chara0_bg01.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>293</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1723</integer>
				<key>y</key>
				<integer>822</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_08_name_01.png</key>
			<dict>
				<key>width</key>
				<integer>571</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>571</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>815</integer>
				<key>y</key>
				<integer>1188</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_08_name_02.png</key>
			<dict>
				<key>width</key>
				<integer>843</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>843</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>815</integer>
				<key>y</key>
				<integer>1268</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_c01_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>1659</integer>
				<key>y</key>
				<integer>1207</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_tree03.png</key>
			<dict>
				<key>width</key>
				<integer>627</integer>
				<key>height</key>
				<integer>265</integer>
				<key>originalWidth</key>
				<integer>627</integer>
				<key>originalHeight</key>
				<integer>265</integer>
				<key>x</key>
				<integer>815</integer>
				<key>y</key>
				<integer>1396</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_c09_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>329</integer>
				<key>height</key>
				<integer>329</integer>
				<key>originalWidth</key>
				<integer>329</integer>
				<key>originalHeight</key>
				<integer>329</integer>
				<key>x</key>
				<integer>1443</integer>
				<key>y</key>
				<integer>1400</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_06_tx.png</key>
			<dict>
				<key>width</key>
				<integer>630</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>630</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>815</integer>
				<key>y</key>
				<integer>1730</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_05_tx.png</key>
			<dict>
				<key>width</key>
				<integer>504</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>504</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>1446</integer>
				<key>y</key>
				<integer>1730</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_04_tx.png</key>
			<dict>
				<key>width</key>
				<integer>344</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>344</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1739</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_03_yuki.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>258</integer>
				<key>originalWidth</key>
				<integer>113</integer>
				<key>originalHeight</key>
				<integer>258</integer>
				<key>x</key>
				<integer>345</integer>
				<key>y</key>
				<integer>1739</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_02_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>970</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>970</integer>
				<key>originalHeight</key>
				<integer>111</integer>
				<key>x</key>
				<integer>815</integer>
				<key>y</key>
				<integer>1866</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10100.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10100.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>