<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adv_eve_trueend_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_trueend_ef03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{218,1817},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_trueend_ef_kirakira.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{1,773},{1024,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_trueend_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,248}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1029,305},{248,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_trueend_logo_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,300}</string>
                <key>spriteSourceSize</key>
                <string>{240,300}</string>
                <key>textureRect</key>
                <string>{{1029,1},{240,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_trueend_title01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,13}</string>
                <key>spriteSize</key>
                <string>{19,22}</string>
                <key>spriteSourceSize</key>
                <string>{103,62}</string>
                <key>textureRect</key>
                <string>{{149,1887},{19,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_trueend_title02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,5}</string>
                <key>spriteSize</key>
                <string>{144,54}</string>
                <key>spriteSourceSize</key>
                <string>{202,70}</string>
                <key>textureRect</key>
                <string>{{1,1887},{144,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_trueend_title03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,1}</string>
                <key>spriteSize</key>
                <string>{213,66}</string>
                <key>spriteSourceSize</key>
                <string>{267,70}</string>
                <key>textureRect</key>
                <string>{{1,1817},{213,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_trueend_tutuji01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{397,390}</string>
                <key>spriteSourceSize</key>
                <string>{433,390}</string>
                <key>textureRect</key>
                <string>{{475,1545},{397,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_trueend_tutuji02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-81}</string>
                <key>spriteSize</key>
                <string>{470,268}</string>
                <key>spriteSourceSize</key>
                <string>{488,430}</string>
                <key>textureRect</key>
                <string>{{1,1545},{470,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_trueend_tutuji03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-17}</string>
                <key>spriteSize</key>
                <string>{350,396}</string>
                <key>spriteSourceSize</key>
                <string>{380,430}</string>
                <key>textureRect</key>
                <string>{{876,1545},{350,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_eve_trueend0.png</string>
            <key>size</key>
            <string>{1278,1942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17dd496d662ed97ced0e3eaa96f7a2ed:35f92b0737803ee2e2fed745333cac9e:ac2d57b0af3a580ae9da8ee18104330c$</string>
            <key>textureFileName</key>
            <string>adv_eve_trueend0.png</string>
        </dict>
    </dict>
</plist>
