<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1064_cut14_bg01.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut13_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>425</integer>
				<key>height</key>
				<integer>488</integer>
				<key>originalWidth</key>
				<integer>425</integer>
				<key>originalHeight</key>
				<integer>488</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut13_chara.png</key>
			<dict>
				<key>width</key>
				<integer>849</integer>
				<key>height</key>
				<integer>974</integer>
				<key>originalWidth</key>
				<integer>849</integer>
				<key>originalHeight</key>
				<integer>974</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut13_bg01.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>851</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut11_tx.png</key>
			<dict>
				<key>width</key>
				<integer>639</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>639</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1746</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut10_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>742</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>742</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>641</integer>
				<key>y</key>
				<integer>1746</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut08_text_02.png</key>
			<dict>
				<key>width</key>
				<integer>417</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>417</integer>
				<key>originalHeight</key>
				<integer>91</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1878</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut08_text_01.png</key>
			<dict>
				<key>width</key>
				<integer>497</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>497</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>419</integer>
				<key>y</key>
				<integer>1878</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut08_text_03.png</key>
			<dict>
				<key>width</key>
				<integer>519</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>519</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>918</integer>
				<key>y</key>
				<integer>1878</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10641.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10641.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>