<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1067_cut10_chara02.png</key>
			<dict>
				<key>width</key>
				<integer>927</integer>
				<key>height</key>
				<integer>1015</integer>
				<key>originalWidth</key>
				<integer>927</integer>
				<key>originalHeight</key>
				<integer>1015</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut05_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>1354</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>1354</integer>
				<key>x</key>
				<integer>929</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut08_mokuita.png</key>
			<dict>
				<key>width</key>
				<integer>366</integer>
				<key>height</key>
				<integer>262</integer>
				<key>originalWidth</key>
				<integer>366</integer>
				<key>originalHeight</key>
				<integer>262</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1356</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut06_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>368</integer>
				<key>y</key>
				<integer>1356</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut05_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>394</integer>
				<key>originalHeight</key>
				<integer>149</integer>
				<key>x</key>
				<integer>626</integer>
				<key>y</key>
				<integer>1356</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut05_fish03.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>243</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>243</integer>
				<key>x</key>
				<integer>1022</integer>
				<key>y</key>
				<integer>1356</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut05_fish02.png</key>
			<dict>
				<key>width</key>
				<integer>301</integer>
				<key>height</key>
				<integer>203</integer>
				<key>originalWidth</key>
				<integer>301</integer>
				<key>originalHeight</key>
				<integer>203</integer>
				<key>x</key>
				<integer>1174</integer>
				<key>y</key>
				<integer>1356</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut05_fish01.png</key>
			<dict>
				<key>width</key>
				<integer>437</integer>
				<key>height</key>
				<integer>434</integer>
				<key>originalWidth</key>
				<integer>437</integer>
				<key>originalHeight</key>
				<integer>434</integer>
				<key>x</key>
				<integer>1477</integer>
				<key>y</key>
				<integer>1356</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut04_tx.png</key>
			<dict>
				<key>width</key>
				<integer>502</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>502</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1792</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut02_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>533</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>533</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>504</integer>
				<key>y</key>
				<integer>1792</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut01_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>189</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1861</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10673.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10673.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>