<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adv_eve_badend_bg02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_badend_bk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1864,389},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_badend_ef01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,384}</string>
                <key>spriteSourceSize</key>
                <string>{201,384}</string>
                <key>textureRect</key>
                <string>{{1271,341},{201,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_badend_ef02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,384}</string>
                <key>spriteSourceSize</key>
                <string>{190,384}</string>
                <key>textureRect</key>
                <string>{{1729,1},{190,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_badend_ef03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{238,384}</string>
                <key>spriteSourceSize</key>
                <string>{242,384}</string>
                <key>textureRect</key>
                <string>{{1029,341},{238,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_badend_ef04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{173,258}</string>
                <key>spriteSourceSize</key>
                <string>{173,384}</string>
                <key>textureRect</key>
                <string>{{1636,601},{173,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_badend_ef05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{156,270}</string>
                <key>spriteSourceSize</key>
                <string>{176,384}</string>
                <key>textureRect</key>
                <string>{{1476,601},{156,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_badend_ef06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{200,384}</string>
                <key>spriteSourceSize</key>
                <string>{204,384}</string>
                <key>textureRect</key>
                <string>{{1525,1},{200,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_badend_kage01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,24}</string>
                <key>spriteSize</key>
                <string>{492,336}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{1029,1},{492,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_badend_kage02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,-88}</string>
                <key>spriteSize</key>
                <string>{312,208}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{1476,389},{312,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_badend_niji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1792,480},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_badend_tx01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15.5,28.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{34,60}</string>
                <key>textureRect</key>
                <string>{{1636,863},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_badend_tx02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,23}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{29,49}</string>
                <key>textureRect</key>
                <string>{{1029,750},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_badend_tx03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,49}</string>
                <key>spriteSourceSize</key>
                <string>{42,49}</string>
                <key>textureRect</key>
                <string>{{1792,427},{42,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_badend_tx04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,50}</string>
                <key>spriteSourceSize</key>
                <string>{24,50}</string>
                <key>textureRect</key>
                <string>{{166,773},{24,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_badend_tx05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{25,28}</string>
                <key>textureRect</key>
                <string>{{194,773},{25,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_badend_tx06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{118,773},{44,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_badend_tx07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{1,842},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_badend_tx08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{118,829},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_badend_tx09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,27}</string>
                <key>spriteSourceSize</key>
                <string>{50,35}</string>
                <key>textureRect</key>
                <string>{{1476,341},{44,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_badend_tx10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,34}</string>
                <key>spriteSourceSize</key>
                <string>{70,34}</string>
                <key>textureRect</key>
                <string>{{1792,389},{68,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_badend_tx11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{113,65}</string>
                <key>spriteSourceSize</key>
                <string>{125,73}</string>
                <key>textureRect</key>
                <string>{{1,773},{113,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_eve_badend_tx12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{113,17}</string>
                <key>spriteSourceSize</key>
                <string>{113,57}</string>
                <key>textureRect</key>
                <string>{{1029,729},{113,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_eve_trueend0.png</string>
            <key>size</key>
            <string>{1920,872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:363a558b28e397a003cfaca2dbe6cf91:ad00a2cf186251a47543003f5a0dd9e1:ac2d57b0af3a580ae9da8ee18104330c$</string>
            <key>textureFileName</key>
            <string>adv_eve_trueend0.png</string>
        </dict>
    </dict>
</plist>
