<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1053_cut15_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1053_cut14_chara02.png</key>
			<dict>
				<key>width</key>
				<integer>641</integer>
				<key>height</key>
				<integer>646</integer>
				<key>originalWidth</key>
				<integer>641</integer>
				<key>originalHeight</key>
				<integer>646</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1053_cut14_chara01.png</key>
			<dict>
				<key>width</key>
				<integer>529</integer>
				<key>height</key>
				<integer>655</integer>
				<key>originalWidth</key>
				<integer>529</integer>
				<key>originalHeight</key>
				<integer>655</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1053_cut13_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>531</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1053_cut08_title01.png</key>
			<dict>
				<key>width</key>
				<integer>233</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>181</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1540</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1053_cut05_cut03.png</key>
			<dict>
				<key>width</key>
				<integer>581</integer>
				<key>height</key>
				<integer>435</integer>
				<key>originalWidth</key>
				<integer>581</integer>
				<key>originalHeight</key>
				<integer>435</integer>
				<key>x</key>
				<integer>235</integer>
				<key>y</key>
				<integer>1540</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1053_cut05_cut02.png</key>
			<dict>
				<key>width</key>
				<integer>562</integer>
				<key>height</key>
				<integer>449</integer>
				<key>originalWidth</key>
				<integer>562</integer>
				<key>originalHeight</key>
				<integer>449</integer>
				<key>x</key>
				<integer>818</integer>
				<key>y</key>
				<integer>1540</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10534.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10534.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>