<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1038_cut02_bg02.png</key>
			<dict>
				<key>width</key>
				<integer>867</integer>
				<key>height</key>
				<integer>867</integer>
				<key>originalWidth</key>
				<integer>867</integer>
				<key>originalHeight</key>
				<integer>867</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1038_cut01_tamanegi.png</key>
			<dict>
				<key>width</key>
				<integer>664</integer>
				<key>height</key>
				<integer>528</integer>
				<key>originalWidth</key>
				<integer>664</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>869</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1038_cut01_ninjin.png</key>
			<dict>
				<key>width</key>
				<integer>731</integer>
				<key>height</key>
				<integer>470</integer>
				<key>originalWidth</key>
				<integer>731</integer>
				<key>originalHeight</key>
				<integer>470</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>869</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1038_cut01_jaga.png</key>
			<dict>
				<key>width</key>
				<integer>837</integer>
				<key>height</key>
				<integer>304</integer>
				<key>originalWidth</key>
				<integer>837</integer>
				<key>originalHeight</key>
				<integer>304</integer>
				<key>x</key>
				<integer>733</integer>
				<key>y</key>
				<integer>869</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1038_cut01_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1341</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10385.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10385.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>