<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1108_c06_chara02.png</key>
			<dict>
				<key>width</key>
				<integer>788</integer>
				<key>height</key>
				<integer>630</integer>
				<key>originalWidth</key>
				<integer>797</integer>
				<key>originalHeight</key>
				<integer>630</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1108_c07_chara03.png</key>
			<dict>
				<key>width</key>
				<integer>862</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>862</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>789</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1108_c05_bg01.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>631</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1108_c04_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>883</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>883</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>513</integer>
				<key>y</key>
				<integer>769</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1108_c04_bg01.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>1652</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1108_c03_bg01.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1397</integer>
				<key>y</key>
				<integer>769</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1108_c03_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>868</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>868</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>513</integer>
				<key>y</key>
				<integer>848</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1108_c03_bg02.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>513</integer>
				<key>y</key>
				<integer>917</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1108_c01_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>917</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1108_c01_chara03.png</key>
			<dict>
				<key>width</key>
				<integer>675</integer>
				<key>height</key>
				<integer>702</integer>
				<key>originalWidth</key>
				<integer>675</integer>
				<key>originalHeight</key>
				<integer>702</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>1154</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1108_c01_chara02.png</key>
			<dict>
				<key>width</key>
				<integer>367</integer>
				<key>height</key>
				<integer>577</integer>
				<key>originalWidth</key>
				<integer>367</integer>
				<key>originalHeight</key>
				<integer>577</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1016</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1108_c01_chara01.png</key>
			<dict>
				<key>width</key>
				<integer>410</integer>
				<key>height</key>
				<integer>611</integer>
				<key>originalWidth</key>
				<integer>410</integer>
				<key>originalHeight</key>
				<integer>611</integer>
				<key>x</key>
				<integer>368</integer>
				<key>y</key>
				<integer>1302</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1108_c01_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>884</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>884</integer>
				<key>originalHeight</key>
				<integer>77</integer>
				<key>x</key>
				<integer>779</integer>
				<key>y</key>
				<integer>1857</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10081.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10081.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>