<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1067_cut11_bg01.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut10_hishi02.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>337</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>337</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut10_text_bg01.png</key>
			<dict>
				<key>width</key>
				<integer>956</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>956</integer>
				<key>originalHeight</key>
				<integer>158</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut10_ef03.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>600</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>958</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut10_ef02.png</key>
			<dict>
				<key>width</key>
				<integer>258</integer>
				<key>height</key>
				<integer>280</integer>
				<key>originalWidth</key>
				<integer>258</integer>
				<key>originalHeight</key>
				<integer>280</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1372</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut10_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>311</integer>
				<key>height</key>
				<integer>431</integer>
				<key>originalWidth</key>
				<integer>311</integer>
				<key>originalHeight</key>
				<integer>431</integer>
				<key>x</key>
				<integer>260</integer>
				<key>y</key>
				<integer>1372</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut08_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>844</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>844</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>573</integer>
				<key>y</key>
				<integer>1372</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut08_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>289</integer>
				<key>height</key>
				<integer>461</integer>
				<key>originalWidth</key>
				<integer>289</integer>
				<key>originalHeight</key>
				<integer>461</integer>
				<key>x</key>
				<integer>1419</integer>
				<key>y</key>
				<integer>1372</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut06_05_kyouko_tx.png</key>
			<dict>
				<key>width</key>
				<integer>756</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>756</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1835</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut06_text_bg.png</key>
			<dict>
				<key>width</key>
				<integer>503</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>503</integer>
				<key>originalHeight</key>
				<integer>105</integer>
				<key>x</key>
				<integer>758</integer>
				<key>y</key>
				<integer>1835</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut06_04_ui_text.png</key>
			<dict>
				<key>width</key>
				<integer>523</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>523</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>1263</integer>
				<key>y</key>
				<integer>1835</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut06_03_kanagi_tx.png</key>
			<dict>
				<key>width</key>
				<integer>646</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>646</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1942</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1067_cut06_02_mitama_tx.png</key>
			<dict>
				<key>width</key>
				<integer>505</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>505</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>648</integer>
				<key>y</key>
				<integer>1942</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10672.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10672.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>