<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1033_cut05_chara02.png</key>
			<dict>
				<key>width</key>
				<integer>245</integer>
				<key>height</key>
				<integer>457</integer>
				<key>originalWidth</key>
				<integer>245</integer>
				<key>originalHeight</key>
				<integer>457</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut05_chara03.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>454</integer>
				<key>originalWidth</key>
				<integer>174</integer>
				<key>originalHeight</key>
				<integer>454</integer>
				<key>x</key>
				<integer>247</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut05_chara04.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>452</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>452</integer>
				<key>x</key>
				<integer>423</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut05_chara05.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>453</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>453</integer>
				<key>x</key>
				<integer>615</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut05_hibana01.png</key>
			<dict>
				<key>width</key>
				<integer>173</integer>
				<key>height</key>
				<integer>437</integer>
				<key>originalWidth</key>
				<integer>173</integer>
				<key>originalHeight</key>
				<integer>437</integer>
				<key>x</key>
				<integer>873</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut05_hibana02.png</key>
			<dict>
				<key>width</key>
				<integer>236</integer>
				<key>height</key>
				<integer>462</integer>
				<key>originalWidth</key>
				<integer>236</integer>
				<key>originalHeight</key>
				<integer>462</integer>
				<key>x</key>
				<integer>1048</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut05_kami.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>464</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut05_maku01.png</key>
			<dict>
				<key>width</key>
				<integer>484</integer>
				<key>height</key>
				<integer>559</integer>
				<key>originalWidth</key>
				<integer>484</integer>
				<key>originalHeight</key>
				<integer>559</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>464</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut05_uwasa.png</key>
			<dict>
				<key>width</key>
				<integer>464</integer>
				<key>height</key>
				<integer>584</integer>
				<key>originalWidth</key>
				<integer>464</integer>
				<key>originalHeight</key>
				<integer>584</integer>
				<key>x</key>
				<integer>1512</integer>
				<key>y</key>
				<integer>464</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut06_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1234</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut06_img03.png</key>
			<dict>
				<key>width</key>
				<integer>388</integer>
				<key>height</key>
				<integer>379</integer>
				<key>originalWidth</key>
				<integer>388</integer>
				<key>originalHeight</key>
				<integer>379</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>1234</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut06_img04.png</key>
			<dict>
				<key>width</key>
				<integer>318</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>904</integer>
				<key>y</key>
				<integer>1234</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut06_img05.png</key>
			<dict>
				<key>width</key>
				<integer>370</integer>
				<key>height</key>
				<integer>350</integer>
				<key>originalWidth</key>
				<integer>370</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>1224</integer>
				<key>y</key>
				<integer>1234</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut06_img06.png</key>
			<dict>
				<key>width</key>
				<integer>370</integer>
				<key>height</key>
				<integer>376</integer>
				<key>originalWidth</key>
				<integer>370</integer>
				<key>originalHeight</key>
				<integer>376</integer>
				<key>x</key>
				<integer>1596</integer>
				<key>y</key>
				<integer>1234</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut06_img08.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>325</integer>
				<key>originalWidth</key>
				<integer>293</integer>
				<key>originalHeight</key>
				<integer>325</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1620</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut06_img09.png</key>
			<dict>
				<key>width</key>
				<integer>362</integer>
				<key>height</key>
				<integer>373</integer>
				<key>originalWidth</key>
				<integer>362</integer>
				<key>originalHeight</key>
				<integer>373</integer>
				<key>x</key>
				<integer>295</integer>
				<key>y</key>
				<integer>1620</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut06_tx02.png</key>
			<dict>
				<key>width</key>
				<integer>776</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>776</integer>
				<key>originalHeight</key>
				<integer>57</integer>
				<key>x</key>
				<integer>659</integer>
				<key>y</key>
				<integer>1620</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut08_mine_text.png</key>
			<dict>
				<key>width</key>
				<integer>593</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>593</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1995</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_niji.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>595</integer>
				<key>y</key>
				<integer>1995</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_wt.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>629</integer>
				<key>y</key>
				<integer>1995</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10332.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10332.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>