<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1030_cut09_bg.png</key>
			<dict>
				<key>width</key>
				<integer>738</integer>
				<key>height</key>
				<integer>844</integer>
				<key>originalWidth</key>
				<integer>738</integer>
				<key>originalHeight</key>
				<integer>844</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1030_cut08_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>740</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1030_cut07_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1254</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1030_cut07_ribon.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>298</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>846</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1030_cut06_book04.png</key>
			<dict>
				<key>width</key>
				<integer>411</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>411</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>846</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1030_cut06_book03.png</key>
			<dict>
				<key>width</key>
				<integer>830</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>830</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>713</integer>
				<key>y</key>
				<integer>846</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1030_cut06_book02.png</key>
			<dict>
				<key>width</key>
				<integer>469</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>469</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1545</integer>
				<key>y</key>
				<integer>846</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1030_cut06_book01.png</key>
			<dict>
				<key>width</key>
				<integer>561</integer>
				<key>height</key>
				<integer>335</integer>
				<key>originalWidth</key>
				<integer>561</integer>
				<key>originalHeight</key>
				<integer>335</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1616</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1030_cut05_tx03.png</key>
			<dict>
				<key>width</key>
				<integer>501</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>501</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>563</integer>
				<key>y</key>
				<integer>1616</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1030_cut05_tx02.png</key>
			<dict>
				<key>width</key>
				<integer>847</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>847</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1953</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1030_cut05_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>571</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>571</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>849</integer>
				<key>y</key>
				<integer>1953</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10302.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10302.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>