<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1046_cut10_zouni.png</key>
			<dict>
				<key>width</key>
				<integer>689</integer>
				<key>height</key>
				<integer>402</integer>
				<key>originalWidth</key>
				<integer>689</integer>
				<key>originalHeight</key>
				<integer>402</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut10_bg02.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>691</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut10_bg01.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1205</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut09_bg01.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut08_text02.png</key>
			<dict>
				<key>width</key>
				<integer>602</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>602</integer>
				<key>originalHeight</key>
				<integer>142</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut08_text01.png</key>
			<dict>
				<key>width</key>
				<integer>645</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>645</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1174</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut07_text02.png</key>
			<dict>
				<key>width</key>
				<integer>714</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>714</integer>
				<key>originalHeight</key>
				<integer>151</integer>
				<key>x</key>
				<integer>647</integer>
				<key>y</key>
				<integer>1174</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut07_text01.png</key>
			<dict>
				<key>width</key>
				<integer>816</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>816</integer>
				<key>originalHeight</key>
				<integer>162</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1327</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut07_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>818</integer>
				<key>y</key>
				<integer>1327</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut08_bg04.png</key>
			<dict>
				<key>width</key>
				<integer>307</integer>
				<key>height</key>
				<integer>199</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1332</integer>
				<key>y</key>
				<integer>1327</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut08_bg03.png</key>
			<dict>
				<key>width</key>
				<integer>253</integer>
				<key>height</key>
				<integer>188</integer>
				<key>originalWidth</key>
				<integer>253</integer>
				<key>originalHeight</key>
				<integer>188</integer>
				<key>x</key>
				<integer>1641</integer>
				<key>y</key>
				<integer>1327</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut08_bg02.png</key>
			<dict>
				<key>width</key>
				<integer>267</integer>
				<key>height</key>
				<integer>202</integer>
				<key>originalWidth</key>
				<integer>267</integer>
				<key>originalHeight</key>
				<integer>202</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1713</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut08_bg01.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>216</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>216</integer>
				<key>x</key>
				<integer>269</integer>
				<key>y</key>
				<integer>1713</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut01_text.png</key>
			<dict>
				<key>width</key>
				<integer>407</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>407</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>561</integer>
				<key>y</key>
				<integer>1713</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10462.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10462.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>