<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1062_chara_blue.png</key>
			<dict>
				<key>width</key>
				<integer>560</integer>
				<key>height</key>
				<integer>936</integer>
				<key>originalWidth</key>
				<integer>560</integer>
				<key>originalHeight</key>
				<integer>936</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1062_chara_pink.png</key>
			<dict>
				<key>width</key>
				<integer>588</integer>
				<key>height</key>
				<integer>896</integer>
				<key>originalWidth</key>
				<integer>588</integer>
				<key>originalHeight</key>
				<integer>896</integer>
				<key>x</key>
				<integer>562</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1062_circle_green.png</key>
			<dict>
				<key>width</key>
				<integer>696</integer>
				<key>height</key>
				<integer>696</integer>
				<key>originalWidth</key>
				<integer>696</integer>
				<key>originalHeight</key>
				<integer>696</integer>
				<key>x</key>
				<integer>1152</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1062_circle_white.png</key>
			<dict>
				<key>width</key>
				<integer>696</integer>
				<key>height</key>
				<integer>696</integer>
				<key>originalWidth</key>
				<integer>696</integer>
				<key>originalHeight</key>
				<integer>696</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>938</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10622.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10622.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>