<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1027_bk.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1027_wt.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>34</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1027_niji.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>68</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1027_cut13_logo.png</key>
			<dict>
				<key>width</key>
				<integer>600</integer>
				<key>height</key>
				<integer>296</integer>
				<key>originalWidth</key>
				<integer>600</integer>
				<key>originalHeight</key>
				<integer>296</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1027_cut13_logo02.png</key>
			<dict>
				<key>width</key>
				<integer>600</integer>
				<key>height</key>
				<integer>296</integer>
				<key>originalWidth</key>
				<integer>600</integer>
				<key>originalHeight</key>
				<integer>296</integer>
				<key>x</key>
				<integer>704</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1027_cut13_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>298</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1027_cut13_tx.png</key>
			<dict>
				<key>width</key>
				<integer>602</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>602</integer>
				<key>originalHeight</key>
				<integer>82</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>298</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1027_cut13_hane.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1068</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1027_cut13_kami01.png</key>
			<dict>
				<key>width</key>
				<integer>650</integer>
				<key>height</key>
				<integer>331</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>331</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>1068</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1027_cut13_kami02.png</key>
			<dict>
				<key>width</key>
				<integer>257</integer>
				<key>height</key>
				<integer>231</integer>
				<key>originalWidth</key>
				<integer>257</integer>
				<key>originalHeight</key>
				<integer>231</integer>
				<key>x</key>
				<integer>1678</integer>
				<key>y</key>
				<integer>1068</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1027_cut13_kami03.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>156</integer>
				<key>originalHeight</key>
				<integer>159</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1838</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1027_cut12_tx.png</key>
			<dict>
				<key>width</key>
				<integer>559</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>559</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>158</integer>
				<key>y</key>
				<integer>1838</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1027_cut10_tx.png</key>
			<dict>
				<key>width</key>
				<integer>949</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>949</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>719</integer>
				<key>y</key>
				<integer>1838</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1027_cut09_himo05.png</key>
			<dict>
				<key>width</key>
				<integer>815</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>815</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1999</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1027_cut09_himo04.png</key>
			<dict>
				<key>width</key>
				<integer>1220</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>1220</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>817</integer>
				<key>y</key>
				<integer>1999</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10270.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10270.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>