<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1036_bk.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_wt.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>34</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_niji.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>68</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut17_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut17_logo_ef.png</key>
			<dict>
				<key>width</key>
				<integer>194</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>194</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>616</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut17_logo01.png</key>
			<dict>
				<key>width</key>
				<integer>349</integer>
				<key>height</key>
				<integer>302</integer>
				<key>originalWidth</key>
				<integer>387</integer>
				<key>originalHeight</key>
				<integer>308</integer>
				<key>x</key>
				<integer>812</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>adv_eve_1036_cut17_chara.png</key>
			<dict>
				<key>width</key>
				<integer>705</integer>
				<key>height</key>
				<integer>725</integer>
				<key>originalWidth</key>
				<integer>705</integer>
				<key>originalHeight</key>
				<integer>725</integer>
				<key>x</key>
				<integer>1163</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut16_tx02.png</key>
			<dict>
				<key>width</key>
				<integer>345</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>345</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>616</integer>
				<key>y</key>
				<integer>304</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut16_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>391</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>391</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>616</integer>
				<key>y</key>
				<integer>355</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut16_bg02.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>1200</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>1200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>398</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut16_bg01.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>727</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut15_bg02.png</key>
			<dict>
				<key>width</key>
				<integer>379</integer>
				<key>height</key>
				<integer>373</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>374</integer>
				<key>x</key>
				<integer>1540</integer>
				<key>y</key>
				<integer>727</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>adv_eve_1036_cut13_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>790</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>790</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>1113</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut13_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>438</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>438</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>1175</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut12_tx.png</key>
			<dict>
				<key>width</key>
				<integer>387</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>387</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>1540</integer>
				<key>y</key>
				<integer>1175</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut01_ef02.png</key>
			<dict>
				<key>width</key>
				<integer>313</integer>
				<key>height</key>
				<integer>293</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>1540</integer>
				<key>y</key>
				<integer>1279</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>adv_eve_1036_cut11_tx.png</key>
			<dict>
				<key>width</key>
				<integer>416</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>416</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>1540</integer>
				<key>y</key>
				<integer>1574</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut01_ef03.png</key>
			<dict>
				<key>width</key>
				<integer>310</integer>
				<key>height</key>
				<integer>360</integer>
				<key>originalWidth</key>
				<integer>310</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1600</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut01_ef04.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>312</integer>
				<key>y</key>
				<integer>1615</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>adv_eve_1036_cut07_ph01.png</key>
			<dict>
				<key>width</key>
				<integer>317</integer>
				<key>height</key>
				<integer>290</integer>
				<key>originalWidth</key>
				<integer>317</integer>
				<key>originalHeight</key>
				<integer>290</integer>
				<key>x</key>
				<integer>1338</integer>
				<key>y</key>
				<integer>1682</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut07_ph03.png</key>
			<dict>
				<key>width</key>
				<integer>306</integer>
				<key>height</key>
				<integer>266</integer>
				<key>originalWidth</key>
				<integer>306</integer>
				<key>originalHeight</key>
				<integer>266</integer>
				<key>x</key>
				<integer>1657</integer>
				<key>y</key>
				<integer>1682</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut07_ph02.png</key>
			<dict>
				<key>width</key>
				<integer>279</integer>
				<key>height</key>
				<integer>240</integer>
				<key>originalWidth</key>
				<integer>279</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>312</integer>
				<key>y</key>
				<integer>1716</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut07_ph04.png</key>
			<dict>
				<key>width</key>
				<integer>335</integer>
				<key>height</key>
				<integer>257</integer>
				<key>originalWidth</key>
				<integer>335</integer>
				<key>originalHeight</key>
				<integer>257</integer>
				<key>x</key>
				<integer>593</integer>
				<key>y</key>
				<integer>1716</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut07_ph05.png</key>
			<dict>
				<key>width</key>
				<integer>356</integer>
				<key>height</key>
				<integer>248</integer>
				<key>originalWidth</key>
				<integer>356</integer>
				<key>originalHeight</key>
				<integer>248</integer>
				<key>x</key>
				<integer>930</integer>
				<key>y</key>
				<integer>1716</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut06_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>309</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>309</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>1657</integer>
				<key>y</key>
				<integer>1950</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut06_ef05.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>1968</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut06_ef04.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>1968</integer>
				<key>y</key>
				<integer>102</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>adv_eve_1036_cut06_ef02.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>1968</integer>
				<key>y</key>
				<integer>211</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>adv_eve_1036_cut06_ef03.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>86</integer>
				<key>x</key>
				<integer>312</integer>
				<key>y</key>
				<integer>1958</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>adv_eve_1036_cut06_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>57</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>1968</integer>
				<key>y</key>
				<integer>394</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>adv_eve_1036_cut05_tx03.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>251</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1962</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut04_tx03.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>206</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>930</integer>
				<key>y</key>
				<integer>1966</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut04_tx02.png</key>
			<dict>
				<key>width</key>
				<integer>503</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>503</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>1138</integer>
				<key>y</key>
				<integer>1974</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1036_cut01_tx.png</key>
			<dict>
				<key>width</key>
				<integer>393</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>393</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>432</integer>
				<key>y</key>
				<integer>1975</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10360.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10360.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>