<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1015_cut10_01.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1015_cut09_ef03.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>513</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1015_cut09_ef02.png</key>
			<dict>
				<key>width</key>
				<integer>483</integer>
				<key>height</key>
				<integer>406</integer>
				<key>originalWidth</key>
				<integer>483</integer>
				<key>originalHeight</key>
				<integer>416</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>adv_eve_1015_cut09_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1510</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1015_cut08_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>385</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1015_cut07_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>790</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>790</integer>
				<key>originalHeight</key>
				<integer>134</integer>
				<key>x</key>
				<integer>513</integer>
				<key>y</key>
				<integer>407</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1015_cut07_chrar.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1510</integer>
				<key>y</key>
				<integer>385</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1015_cut06_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1015_cut05_tx02.png</key>
			<dict>
				<key>width</key>
				<integer>635</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>635</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>1025</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1015_cut05_03.png</key>
			<dict>
				<key>width</key>
				<integer>700</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>224</integer>
				<key>x</key>
				<integer>1025</integer>
				<key>y</key>
				<integer>836</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1015_cut05_02.png</key>
			<dict>
				<key>width</key>
				<integer>700</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>224</integer>
				<key>x</key>
				<integer>1025</integer>
				<key>y</key>
				<integer>1061</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1015_cut05_01.png</key>
			<dict>
				<key>width</key>
				<integer>700</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>224</integer>
				<key>x</key>
				<integer>1025</integer>
				<key>y</key>
				<integer>1286</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1015_cut04_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>433</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>433</integer>
				<key>x</key>
				<integer>1025</integer>
				<key>y</key>
				<integer>1511</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1015_cut03_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>433</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>433</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1539</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1015_cut02_tx.png</key>
			<dict>
				<key>width</key>
				<integer>660</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>660</integer>
				<key>originalHeight</key>
				<integer>66</integer>
				<key>x</key>
				<integer>513</integer>
				<key>y</key>
				<integer>1945</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1015_cut01_tarito.png</key>
			<dict>
				<key>width</key>
				<integer>449</integer>
				<key>height</key>
				<integer>401</integer>
				<key>originalWidth</key>
				<integer>449</integer>
				<key>originalHeight</key>
				<integer>401</integer>
				<key>x</key>
				<integer>1538</integer>
				<key>y</key>
				<integer>1511</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1015_cut01_tx.png</key>
			<dict>
				<key>width</key>
				<integer>527</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>527</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>1174</integer>
				<key>y</key>
				<integer>1945</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10151.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10151.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>