<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1005_cut13_bg01.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1005_cut12_bg.png</key>
			<dict>
				<key>width</key>
				<integer>560</integer>
				<key>height</key>
				<integer>696</integer>
				<key>originalWidth</key>
				<integer>560</integer>
				<key>originalHeight</key>
				<integer>696</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1005_cut11_chara.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1005_cut11_bg01.png</key>
			<dict>
				<key>width</key>
				<integer>522</integer>
				<key>height</key>
				<integer>612</integer>
				<key>originalWidth</key>
				<integer>522</integer>
				<key>originalHeight</key>
				<integer>612</integer>
				<key>x</key>
				<integer>617</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1005_cut10_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>780</integer>
				<key>height</key>
				<integer>326</integer>
				<key>originalWidth</key>
				<integer>780</integer>
				<key>originalHeight</key>
				<integer>326</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1540</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1005_cut10_chara02.png</key>
			<dict>
				<key>width</key>
				<integer>699</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>699</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>1141</integer>
				<key>y</key>
				<integer>698</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10052.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10052.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>