<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1019_cut06_chara01.png</key>
			<dict>
				<key>width</key>
				<integer>517</integer>
				<key>height</key>
				<integer>593</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>adv_eve_1019_cut06_chara03.png</key>
			<dict>
				<key>width</key>
				<integer>684</integer>
				<key>height</key>
				<integer>585</integer>
				<key>originalWidth</key>
				<integer>708</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>518</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>adv_eve_1019_cut06_chara02.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>586</integer>
				<key>originalWidth</key>
				<integer>413</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>1203</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>adv_eve_1019_cut05_chara03.png</key>
			<dict>
				<key>width</key>
				<integer>340</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>1598</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1019_cut05_chara02.png</key>
			<dict>
				<key>width</key>
				<integer>260</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>518</integer>
				<key>y</key>
				<integer>586</integer>
				<key>offsetX</key>
				<real>-41</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1019_cut05_chara01.png</key>
			<dict>
				<key>width</key>
				<integer>242</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>779</integer>
				<key>y</key>
				<integer>586</integer>
				<key>offsetX</key>
				<real>-79</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1019_cut04_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1022</integer>
				<key>y</key>
				<integer>587</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1019_cut02_ef02.png</key>
			<dict>
				<key>width</key>
				<integer>649</integer>
				<key>height</key>
				<integer>589</integer>
				<key>originalWidth</key>
				<integer>649</integer>
				<key>originalHeight</key>
				<integer>589</integer>
				<key>x</key>
				<integer>1022</integer>
				<key>y</key>
				<integer>972</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1019_cut03_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>594</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1019_cut02_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>979</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1019_cut01_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1364</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10193.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10193.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>