<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1065_cut11_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>1400</integer>
				<key>height</key>
				<integer>1329</integer>
				<key>originalWidth</key>
				<integer>1400</integer>
				<key>originalHeight</key>
				<integer>1329</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1065_cut08_chara02.png</key>
			<dict>
				<key>width</key>
				<integer>692</integer>
				<key>height</key>
				<integer>715</integer>
				<key>originalWidth</key>
				<integer>692</integer>
				<key>originalHeight</key>
				<integer>715</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1065_cut07_chara03.png</key>
			<dict>
				<key>width</key>
				<integer>458</integer>
				<key>height</key>
				<integer>647</integer>
				<key>originalWidth</key>
				<integer>458</integer>
				<key>originalHeight</key>
				<integer>647</integer>
				<key>x</key>
				<integer>694</integer>
				<key>y</key>
				<integer>1331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1065_cut07_chara02.png</key>
			<dict>
				<key>width</key>
				<integer>315</integer>
				<key>height</key>
				<integer>588</integer>
				<key>originalWidth</key>
				<integer>315</integer>
				<key>originalHeight</key>
				<integer>588</integer>
				<key>x</key>
				<integer>1154</integer>
				<key>y</key>
				<integer>1331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1065_cut07_chara01.png</key>
			<dict>
				<key>width</key>
				<integer>495</integer>
				<key>height</key>
				<integer>594</integer>
				<key>originalWidth</key>
				<integer>495</integer>
				<key>originalHeight</key>
				<integer>594</integer>
				<key>x</key>
				<integer>1471</integer>
				<key>y</key>
				<integer>1331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10656.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10656.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>