<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1045_bl.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1045_wt.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>34</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1045_niji.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>68</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut16_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut07_chrara01.png</key>
			<dict>
				<key>width</key>
				<integer>786</integer>
				<key>height</key>
				<integer>824</integer>
				<key>originalWidth</key>
				<integer>786</integer>
				<key>originalHeight</key>
				<integer>824</integer>
				<key>x</key>
				<integer>616</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut16_logo.png</key>
			<dict>
				<key>width</key>
				<integer>330</integer>
				<key>height</key>
				<integer>336</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>336</integer>
				<key>x</key>
				<integer>1404</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut15_text02.png</key>
			<dict>
				<key>width</key>
				<integer>602</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>602</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>826</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut15_text01.png</key>
			<dict>
				<key>width</key>
				<integer>751</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>751</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>604</integer>
				<key>y</key>
				<integer>826</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut15_ef.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1357</integer>
				<key>y</key>
				<integer>826</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut15_chrara.png</key>
			<dict>
				<key>width</key>
				<integer>694</integer>
				<key>height</key>
				<integer>638</integer>
				<key>originalWidth</key>
				<integer>694</integer>
				<key>originalHeight</key>
				<integer>638</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1212</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut15_bg02.png</key>
			<dict>
				<key>width</key>
				<integer>267</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>267</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>696</integer>
				<key>y</key>
				<integer>1212</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut15_bg.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>965</integer>
				<key>y</key>
				<integer>1212</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut14_tx.png</key>
			<dict>
				<key>width</key>
				<integer>613</integer>
				<key>height</key>
				<integer>203</integer>
				<key>originalWidth</key>
				<integer>613</integer>
				<key>originalHeight</key>
				<integer>203</integer>
				<key>x</key>
				<integer>1213</integer>
				<key>y</key>
				<integer>1212</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut11_text01.png</key>
			<dict>
				<key>width</key>
				<integer>942</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>942</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1852</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut10_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>913</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>913</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>944</integer>
				<key>y</key>
				<integer>1852</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut09_tx02.png</key>
			<dict>
				<key>width</key>
				<integer>235</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>235</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1938</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut09_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>414</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>414</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>237</integer>
				<key>y</key>
				<integer>1938</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1046_cut06_text01.png</key>
			<dict>
				<key>width</key>
				<integer>659</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>659</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>653</integer>
				<key>y</key>
				<integer>1938</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10460.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10460.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>