<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1060_cut08_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>550</integer>
				<key>height</key>
				<integer>742</integer>
				<key>originalWidth</key>
				<integer>550</integer>
				<key>originalHeight</key>
				<integer>742</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1060_cut09_chara02.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>210</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>552</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1060_cut09_chara01.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>274</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>274</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>744</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1060_cut08_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>856</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>856</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>744</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1060_cut08_ef02.png</key>
			<dict>
				<key>width</key>
				<integer>479</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>479</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1020</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1060_cut08_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>481</integer>
				<key>y</key>
				<integer>1020</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1060_cut07_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>582</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>582</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1790</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1060_cut06_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>698</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>698</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>584</integer>
				<key>y</key>
				<integer>1790</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10604.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10604.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>