<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1021_cut10_img.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>518</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>518</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1021_cut09_letter01.png</key>
			<dict>
				<key>width</key>
				<integer>495</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1025</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1021_cut08_sen02.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1521</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1021_cut08_saya.png</key>
			<dict>
				<key>width</key>
				<integer>449</integer>
				<key>height</key>
				<integer>545</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>545</integer>
				<key>x</key>
				<integer>1025</integer>
				<key>y</key>
				<integer>385</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1021_cut08_sana.png</key>
			<dict>
				<key>width</key>
				<integer>390</integer>
				<key>height</key>
				<integer>473</integer>
				<key>originalWidth</key>
				<integer>390</integer>
				<key>originalHeight</key>
				<integer>473</integer>
				<key>x</key>
				<integer>1475</integer>
				<key>y</key>
				<integer>385</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1021_cut08_jimen02.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>519</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1021_cut07_yasai01.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>237</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>237</integer>
				<key>x</key>
				<integer>513</integer>
				<key>y</key>
				<integer>519</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1021_cut07_chara04.png</key>
			<dict>
				<key>width</key>
				<integer>563</integer>
				<key>height</key>
				<integer>646</integer>
				<key>originalWidth</key>
				<integer>563</integer>
				<key>originalHeight</key>
				<integer>646</integer>
				<key>x</key>
				<integer>1475</integer>
				<key>y</key>
				<integer>859</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1021_cut07_chara03.png</key>
			<dict>
				<key>width</key>
				<integer>567</integer>
				<key>height</key>
				<integer>639</integer>
				<key>originalWidth</key>
				<integer>567</integer>
				<key>originalHeight</key>
				<integer>639</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>904</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1021_cut07_chara02.png</key>
			<dict>
				<key>width</key>
				<integer>379</integer>
				<key>height</key>
				<integer>404</integer>
				<key>originalWidth</key>
				<integer>379</integer>
				<key>originalHeight</key>
				<integer>404</integer>
				<key>x</key>
				<integer>568</integer>
				<key>y</key>
				<integer>757</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1021_cut07_chara01.png</key>
			<dict>
				<key>width</key>
				<integer>353</integer>
				<key>height</key>
				<integer>408</integer>
				<key>originalWidth</key>
				<integer>353</integer>
				<key>originalHeight</key>
				<integer>411</integer>
				<key>x</key>
				<integer>948</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>adv_eve_1021_cut07_bg02.png</key>
			<dict>
				<key>width</key>
				<integer>664</integer>
				<key>height</key>
				<integer>664</integer>
				<key>originalWidth</key>
				<integer>664</integer>
				<key>originalHeight</key>
				<integer>664</integer>
				<key>x</key>
				<integer>568</integer>
				<key>y</key>
				<integer>1340</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1021_cut06_tx02.png</key>
			<dict>
				<key>width</key>
				<integer>234</integer>
				<key>height</key>
				<integer>231</integer>
				<key>originalWidth</key>
				<integer>234</integer>
				<key>originalHeight</key>
				<integer>231</integer>
				<key>x</key>
				<integer>1233</integer>
				<key>y</key>
				<integer>1340</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1021_cut06_tx04.png</key>
			<dict>
				<key>width</key>
				<integer>198</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>187</integer>
				<key>x</key>
				<integer>1468</integer>
				<key>y</key>
				<integer>1506</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1021_cut06_tx03.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>134</integer>
				<key>x</key>
				<integer>1667</integer>
				<key>y</key>
				<integer>1506</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1021_cut08_sen01.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1544</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1021_cut05_qb_ball.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>185</integer>
				<key>originalWidth</key>
				<integer>202</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1233</integer>
				<key>y</key>
				<integer>1572</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>adv_eve_1021_cut05_chara05.png</key>
			<dict>
				<key>width</key>
				<integer>450</integer>
				<key>height</key>
				<integer>341</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>341</integer>
				<key>x</key>
				<integer>1436</integer>
				<key>y</key>
				<integer>1694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10211.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10211.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>