<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1032_bk.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_wt.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>34</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_niji.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>68</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_cut14_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_cut14_logo_ef.png</key>
			<dict>
				<key>width</key>
				<integer>221</integer>
				<key>height</key>
				<integer>183</integer>
				<key>originalWidth</key>
				<integer>221</integer>
				<key>originalHeight</key>
				<integer>183</integer>
				<key>x</key>
				<integer>1128</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_cut14_logo.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>364</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>364</integer>
				<key>x</key>
				<integer>1351</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_cut14_ef02.png</key>
			<dict>
				<key>width</key>
				<integer>316</integer>
				<key>height</key>
				<integer>305</integer>
				<key>originalWidth</key>
				<integer>316</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_cut08_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>318</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_cut13_title_02.png</key>
			<dict>
				<key>width</key>
				<integer>373</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>373</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>832</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_cut13_title_01.png</key>
			<dict>
				<key>width</key>
				<integer>277</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>1207</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_cut13_title_ef03.png</key>
			<dict>
				<key>width</key>
				<integer>396</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>396</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>1486</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_cut13_title_ef02.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>174</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1156</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_cut13_title_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>255</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>255</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>176</integer>
				<key>y</key>
				<integer>1156</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_cut13_title_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>146</integer>
				<key>x</key>
				<integer>433</integer>
				<key>y</key>
				<integer>1156</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_cut13_ef05.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>156</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>1459</integer>
				<key>y</key>
				<integer>1156</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_cut13_ef06.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>163</integer>
				<key>x</key>
				<integer>1617</integer>
				<key>y</key>
				<integer>1156</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_cut13_ef02.png</key>
			<dict>
				<key>width</key>
				<integer>247</integer>
				<key>height</key>
				<integer>261</integer>
				<key>originalWidth</key>
				<integer>247</integer>
				<key>originalHeight</key>
				<integer>261</integer>
				<key>x</key>
				<integer>1785</integer>
				<key>y</key>
				<integer>1156</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_cut13_ef04.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>209</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>209</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1419</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_cut13_line02.png</key>
			<dict>
				<key>width</key>
				<integer>1266</integer>
				<key>height</key>
				<integer>221</integer>
				<key>originalWidth</key>
				<integer>1266</integer>
				<key>originalHeight</key>
				<integer>221</integer>
				<key>x</key>
				<integer>207</integer>
				<key>y</key>
				<integer>1419</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_cut13_line01.png</key>
			<dict>
				<key>width</key>
				<integer>1269</integer>
				<key>height</key>
				<integer>195</integer>
				<key>originalWidth</key>
				<integer>1269</integer>
				<key>originalHeight</key>
				<integer>195</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_cut11_text.png</key>
			<dict>
				<key>width</key>
				<integer>961</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>961</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1839</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_cut10_text.png</key>
			<dict>
				<key>width</key>
				<integer>659</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>659</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>963</integer>
				<key>y</key>
				<integer>1839</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_cut07_text.png</key>
			<dict>
				<key>width</key>
				<integer>341</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>341</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1953</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_cut06_text.png</key>
			<dict>
				<key>width</key>
				<integer>391</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>391</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>343</integer>
				<key>y</key>
				<integer>1953</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1032_cut05_text.png</key>
			<dict>
				<key>width</key>
				<integer>295</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>295</integer>
				<key>originalHeight</key>
				<integer>82</integer>
				<key>x</key>
				<integer>736</integer>
				<key>y</key>
				<integer>1953</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10320.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10320.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>