<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1069_cut13_ef.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1069_cut16_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>1019</integer>
				<key>height</key>
				<integer>883</integer>
				<key>originalWidth</key>
				<integer>1019</integer>
				<key>originalHeight</key>
				<integer>883</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1069_cut16_bg01.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>885</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1069_cut14_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>685</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>685</integer>
				<key>originalHeight</key>
				<integer>105</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1655</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1069_cut13_tx.png</key>
			<dict>
				<key>width</key>
				<integer>757</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>757</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>687</integer>
				<key>y</key>
				<integer>1655</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1069_cut11_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>912</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>912</integer>
				<key>originalHeight</key>
				<integer>109</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1765</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1069_cut10_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>303</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>303</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1876</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1069_cut09_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>560</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>560</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>305</integer>
				<key>y</key>
				<integer>1876</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1069_cut06_tx.png</key>
			<dict>
				<key>width</key>
				<integer>352</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>352</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1938</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1069_cut03_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>661</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>661</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>354</integer>
				<key>y</key>
				<integer>1938</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10691.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10691.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>