<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1033_cut03_kumo01.png</key>
			<dict>
				<key>width</key>
				<integer>942</integer>
				<key>height</key>
				<integer>394</integer>
				<key>originalWidth</key>
				<integer>942</integer>
				<key>originalHeight</key>
				<integer>394</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut03_kumo02.png</key>
			<dict>
				<key>width</key>
				<integer>639</integer>
				<key>height</key>
				<integer>305</integer>
				<key>originalWidth</key>
				<integer>639</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>944</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut03_kumo03.png</key>
			<dict>
				<key>width</key>
				<integer>857</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>857</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>396</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut03_kumo04.png</key>
			<dict>
				<key>width</key>
				<integer>859</integer>
				<key>height</key>
				<integer>464</integer>
				<key>originalWidth</key>
				<integer>859</integer>
				<key>originalHeight</key>
				<integer>464</integer>
				<key>x</key>
				<integer>859</integer>
				<key>y</key>
				<integer>396</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut03_kumo05.png</key>
			<dict>
				<key>width</key>
				<integer>578</integer>
				<key>height</key>
				<integer>493</integer>
				<key>originalWidth</key>
				<integer>578</integer>
				<key>originalHeight</key>
				<integer>493</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>862</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut03_kumo06.png</key>
			<dict>
				<key>width</key>
				<integer>554</integer>
				<key>height</key>
				<integer>345</integer>
				<key>originalWidth</key>
				<integer>554</integer>
				<key>originalHeight</key>
				<integer>345</integer>
				<key>x</key>
				<integer>580</integer>
				<key>y</key>
				<integer>862</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut03_kumo07.png</key>
			<dict>
				<key>width</key>
				<integer>676</integer>
				<key>height</key>
				<integer>329</integer>
				<key>originalWidth</key>
				<integer>676</integer>
				<key>originalHeight</key>
				<integer>329</integer>
				<key>x</key>
				<integer>1136</integer>
				<key>y</key>
				<integer>862</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut03_kumo08.png</key>
			<dict>
				<key>width</key>
				<integer>526</integer>
				<key>height</key>
				<integer>459</integer>
				<key>originalWidth</key>
				<integer>526</integer>
				<key>originalHeight</key>
				<integer>459</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1357</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut03_kumo09.png</key>
			<dict>
				<key>width</key>
				<integer>638</integer>
				<key>height</key>
				<integer>431</integer>
				<key>originalWidth</key>
				<integer>638</integer>
				<key>originalHeight</key>
				<integer>431</integer>
				<key>x</key>
				<integer>528</integer>
				<key>y</key>
				<integer>1357</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut05_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1168</integer>
				<key>y</key>
				<integer>1357</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut05_chara01.png</key>
			<dict>
				<key>width</key>
				<integer>263</integer>
				<key>height</key>
				<integer>461</integer>
				<key>originalWidth</key>
				<integer>263</integer>
				<key>originalHeight</key>
				<integer>461</integer>
				<key>x</key>
				<integer>1682</integer>
				<key>y</key>
				<integer>1357</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut06_img01.png</key>
			<dict>
				<key>width</key>
				<integer>267</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>267</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1820</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut06_img02.png</key>
			<dict>
				<key>width</key>
				<integer>289</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>289</integer>
				<key>originalHeight</key>
				<integer>222</integer>
				<key>x</key>
				<integer>269</integer>
				<key>y</key>
				<integer>1820</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut06_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>758</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>758</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>560</integer>
				<key>y</key>
				<integer>1820</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10331.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10331.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>