<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_06_potu01.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>364</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_06_potu02.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>364</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>366</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_06_potu03.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>364</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>732</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_06_potu04.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>364</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1098</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_06_potu05.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>364</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1464</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_06_potu06.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>364</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>514</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_06_potu07.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>364</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>366</integer>
				<key>y</key>
				<integer>514</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_06_potu08.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>364</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1028</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_06_potu09.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>364</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>732</integer>
				<key>y</key>
				<integer>514</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_06_potu10.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>364</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>366</integer>
				<key>y</key>
				<integer>1028</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_06_potu11.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>364</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1098</integer>
				<key>y</key>
				<integer>514</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_06_potu12.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>364</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>732</integer>
				<key>y</key>
				<integer>1028</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ef_adv_06_barrier_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1464</integer>
				<key>y</key>
				<integer>514</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>damy_usa.png</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1542</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ef_adv_06_barrier_00.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1098</integer>
				<key>y</key>
				<integer>1028</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ef_adv_06_barrier_01.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1830</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ef_adv_06_kuro_b.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>500</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>402</integer>
				<key>y</key>
				<integer>1542</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ef_adv_06_1.png</key>
			<dict>
				<key>width</key>
				<integer>1014</integer>
				<key>height</key>
				<integer>758</integer>
				<key>originalWidth</key>
				<integer>1014</integer>
				<key>originalHeight</key>
				<integer>758</integer>
				<key>x</key>
				<integer>2344</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ef_adv_060.png</string>
			<key>realTextureFileName</key>
			<string>ef_adv_060.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>