<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ef_adv_black.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>10</integer>
				<key>originalHeight</key>
				<integer>10</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ef_adv_03_3.png</key>
			<dict>
				<key>width</key>
				<integer>1014</integer>
				<key>height</key>
				<integer>758</integer>
				<key>originalWidth</key>
				<integer>1014</integer>
				<key>originalHeight</key>
				<integer>758</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>12</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ef_adv_03_2.png</key>
			<dict>
				<key>width</key>
				<integer>1014</integer>
				<key>height</key>
				<integer>758</integer>
				<key>originalWidth</key>
				<integer>1014</integer>
				<key>originalHeight</key>
				<integer>758</integer>
				<key>x</key>
				<integer>1016</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ef_adv_03_1.png</key>
			<dict>
				<key>width</key>
				<integer>1014</integer>
				<key>height</key>
				<integer>758</integer>
				<key>originalWidth</key>
				<integer>1014</integer>
				<key>originalHeight</key>
				<integer>758</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>772</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ef_adv_03_0.png</key>
			<dict>
				<key>width</key>
				<integer>1014</integer>
				<key>height</key>
				<integer>758</integer>
				<key>originalWidth</key>
				<integer>1014</integer>
				<key>originalHeight</key>
				<integer>758</integer>
				<key>x</key>
				<integer>1016</integer>
				<key>y</key>
				<integer>760</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ef_adv_030.png</string>
			<key>realTextureFileName</key>
			<string>ef_adv_030.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>