<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{576,1366},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_hana.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1856,884},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_start01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{383,342}</string>
                <key>spriteSourceSize</key>
                <string>{395,396}</string>
                <key>textureRect</key>
                <string>{{741,905},{383,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_start03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1680,1039},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hane_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{134,62}</string>
                <key>spriteSourceSize</key>
                <string>{158,70}</string>
                <key>textureRect</key>
                <string>{{1,1661},{134,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hane_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{208,142}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1424,1529},{208,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hane_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{98,198}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1820,1547},{98,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iroha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{236,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,358}</string>
                <key>textureRect</key>
                <string>{{1671,1243},{236,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kumo_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{539,132}</string>
                <key>spriteSourceSize</key>
                <string>{539,140}</string>
                <key>textureRect</key>
                <string>{{1128,1238},{539,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kumo_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{647,151}</string>
                <key>spriteSourceSize</key>
                <string>{647,151}</string>
                <key>textureRect</key>
                <string>{{1205,884},{647,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kumo_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{436,213}</string>
                <key>spriteSourceSize</key>
                <string>{438,219}</string>
                <key>textureRect</key>
                <string>{{576,1518},{436,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kumo_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,151}</string>
                <key>spriteSourceSize</key>
                <string>{494,151}</string>
                <key>textureRect</key>
                <string>{{1102,1374},{494,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kumo_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{180,127}</string>
                <key>spriteSourceSize</key>
                <string>{180,133}</string>
                <key>textureRect</key>
                <string>{{1636,1547},{180,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kumo_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{404,169}</string>
                <key>spriteSourceSize</key>
                <string>{406,169}</string>
                <key>textureRect</key>
                <string>{{1016,1529},{404,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kumo_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{548,195}</string>
                <key>spriteSourceSize</key>
                <string>{548,197}</string>
                <key>textureRect</key>
                <string>{{1128,1039},{548,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kumo_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{357,263}</string>
                <key>spriteSourceSize</key>
                <string>{357,265}</string>
                <key>textureRect</key>
                <string>{{741,1251},{357,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kumo_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{571,291}</string>
                <key>spriteSourceSize</key>
                <string>{575,295}</string>
                <key>textureRect</key>
                <string>{{1,1366},{571,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kumo_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,9}</string>
                <key>spriteSize</key>
                <string>{731,422}</string>
                <key>spriteSourceSize</key>
                <string>{771,440}</string>
                <key>textureRect</key>
                <string>{{1205,458},{731,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,7}</string>
                <key>spriteSize</key>
                <string>{702,453}</string>
                <key>spriteSourceSize</key>
                <string>{768,467}</string>
                <key>textureRect</key>
                <string>{{1205,1},{702,453}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,5}</string>
                <key>spriteSize</key>
                <string>{736,457}</string>
                <key>spriteSourceSize</key>
                <string>{768,467}</string>
                <key>textureRect</key>
                <string>{{1,905},{736,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>web_00010.png</string>
            <key>size</key>
            <string>{1957,1746}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:236a78ab917c05daaf5e7c75318afe1e:e110d7e2938e0b0c0cdf6c8638148a54:6b0f00dec038f68d22196c61dce80480$</string>
            <key>textureFileName</key>
            <string>web_00010.png</string>
        </dict>
    </dict>
</plist>
