<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qb_menu_top_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,77}</string>
                <key>spriteSourceSize</key>
                <string>{61,77}</string>
                <key>textureRect</key>
                <string>{{611,359},{61,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_menu_top_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,73}</string>
                <key>spriteSourceSize</key>
                <string>{54,73}</string>
                <key>textureRect</key>
                <string>{{1223,436},{54,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_menu_top_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,73}</string>
                <key>spriteSourceSize</key>
                <string>{62,73}</string>
                <key>textureRect</key>
                <string>{{1202,359},{62,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_menu_top_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,74}</string>
                <key>spriteSourceSize</key>
                <string>{48,74}</string>
                <key>textureRect</key>
                <string>{{676,359},{48,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_menu_top_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{76,68}</string>
                <key>textureRect</key>
                <string>{{595,441},{76,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_menu_top_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,73}</string>
                <key>spriteSourceSize</key>
                <string>{69,73}</string>
                <key>textureRect</key>
                <string>{{1150,436},{69,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_menu_top_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{1,489},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_menu_top_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,27}</string>
                <key>spriteSourceSize</key>
                <string>{132,27}</string>
                <key>textureRect</key>
                <string>{{313,456},{132,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_menu_top_09_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,73}</string>
                <key>spriteSourceSize</key>
                <string>{154,73}</string>
                <key>textureRect</key>
                <string>{{676,437},{154,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_menu_top_09_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,73}</string>
                <key>spriteSourceSize</key>
                <string>{154,73}</string>
                <key>textureRect</key>
                <string>{{728,359},{154,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_menu_top_09_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,73}</string>
                <key>spriteSourceSize</key>
                <string>{154,73}</string>
                <key>textureRect</key>
                <string>{{834,436},{154,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_menu_top_10_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,73}</string>
                <key>spriteSourceSize</key>
                <string>{154,73}</string>
                <key>textureRect</key>
                <string>{{886,359},{154,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_menu_top_10_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,73}</string>
                <key>spriteSourceSize</key>
                <string>{154,73}</string>
                <key>textureRect</key>
                <string>{{992,436},{154,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_menu_top_10_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,73}</string>
                <key>spriteSourceSize</key>
                <string>{154,73}</string>
                <key>textureRect</key>
                <string>{{1044,359},{154,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_menu_top_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,70}</string>
                <key>spriteSourceSize</key>
                <string>{69,70}</string>
                <key>textureRect</key>
                <string>{{449,441},{69,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_menu_top_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{313,359},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_menu_top_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,484}</string>
                <key>spriteSourceSize</key>
                <string>{308,484}</string>
                <key>textureRect</key>
                <string>{{1,1},{308,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_menu_top_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{466,354}</string>
                <key>spriteSourceSize</key>
                <string>{466,354}</string>
                <key>textureRect</key>
                <string>{{313,1},{466,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_menu_top_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,78}</string>
                <key>spriteSourceSize</key>
                <string>{197,78}</string>
                <key>textureRect</key>
                <string>{{410,359},{197,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_menu_top_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,70}</string>
                <key>spriteSourceSize</key>
                <string>{69,70}</string>
                <key>textureRect</key>
                <string>{{522,441},{69,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_menu_top_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{466,354}</string>
                <key>spriteSourceSize</key>
                <string>{466,354}</string>
                <key>textureRect</key>
                <string>{{783,1},{466,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qb_menu_top0.png</string>
            <key>size</key>
            <string>{1278,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1836b2d7cf82ba6f520998a09bee23ac:97d66b7ff2f537562acf6dca593e0264:1c1c4cfb3446e0d8c80beeee3a7f5f6d$</string>
            <key>textureFileName</key>
            <string>qb_menu_top0.png</string>
        </dict>
    </dict>
</plist>
