<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adv_black.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1809,172},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_choice_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{666,136}</string>
                <key>spriteSourceSize</key>
                <string>{666,136}</string>
                <key>textureRect</key>
                <string>{{1,974},{666,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_choice_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{666,136}</string>
                <key>spriteSourceSize</key>
                <string>{666,136}</string>
                <key>textureRect</key>
                <string>{{1,1114},{666,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_fade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,100}</string>
                <key>spriteSourceSize</key>
                <string>{128,100}</string>
                <key>textureRect</key>
                <string>{{1809,1},{128,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_log_ce.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{761,191}</string>
                <key>spriteSourceSize</key>
                <string>{761,191}</string>
                <key>textureRect</key>
                <string>{{849,814},{761,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_log_etc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{844,203}</string>
                <key>spriteSourceSize</key>
                <string>{844,203}</string>
                <key>textureRect</key>
                <string>{{961,1},{844,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_log_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{762,153}</string>
                <key>spriteSourceSize</key>
                <string>{762,153}</string>
                <key>textureRect</key>
                <string>{{1,817},{762,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_log_na.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{794,72}</string>
                <key>spriteSourceSize</key>
                <string>{794,72}</string>
                <key>textureRect</key>
                <string>{{671,1149},{794,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adv_white.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1916,177},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_adv_think.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,192}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{1697,410},{256,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_ui_auto_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,63}</string>
                <key>spriteSourceSize</key>
                <string>{54,63}</string>
                <key>textureRect</key>
                <string>{{1941,1},{54,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_ui_auto_b_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,63}</string>
                <key>spriteSourceSize</key>
                <string>{54,63}</string>
                <key>textureRect</key>
                <string>{{1941,68},{54,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_ui_close_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,46}</string>
                <key>textureRect</key>
                <string>{{1867,153},{45,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_ui_fukidashi_01_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{844,198}</string>
                <key>spriteSourceSize</key>
                <string>{844,198}</string>
                <key>textureRect</key>
                <string>{{961,208},{844,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_ui_fukidashi_01_l02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{844,198}</string>
                <key>spriteSourceSize</key>
                <string>{844,198}</string>
                <key>textureRect</key>
                <string>{{1,211},{844,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_ui_fukidashi_01_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{844,198}</string>
                <key>spriteSourceSize</key>
                <string>{844,198}</string>
                <key>textureRect</key>
                <string>{{849,410},{844,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_ui_fukidashi_01_r02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{844,198}</string>
                <key>spriteSourceSize</key>
                <string>{844,198}</string>
                <key>textureRect</key>
                <string>{{1,413},{844,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_ui_fukidashi_02_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{956,206}</string>
                <key>spriteSourceSize</key>
                <string>{956,206}</string>
                <key>textureRect</key>
                <string>{{1,1},{956,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_ui_fukidashi_03_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{844,198}</string>
                <key>spriteSourceSize</key>
                <string>{844,198}</string>
                <key>textureRect</key>
                <string>{{849,612},{844,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_ui_fukidashi_03_r02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{844,198}</string>
                <key>spriteSourceSize</key>
                <string>{844,198}</string>
                <key>textureRect</key>
                <string>{{1,615},{844,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_ui_fukidashi_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,44}</string>
                <key>spriteSourceSize</key>
                <string>{54,44}</string>
                <key>textureRect</key>
                <string>{{1867,105},{52,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_ui_log_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,63}</string>
                <key>spriteSourceSize</key>
                <string>{54,63}</string>
                <key>textureRect</key>
                <string>{{1809,105},{54,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_ui_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{666,136}</string>
                <key>spriteSourceSize</key>
                <string>{666,136}</string>
                <key>textureRect</key>
                <string>{{671,1009},{666,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_ui_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{666,136}</string>
                <key>spriteSourceSize</key>
                <string>{666,136}</string>
                <key>textureRect</key>
                <string>{{1341,1009},{666,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_ui_skip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,38}</string>
                <key>spriteSourceSize</key>
                <string>{84,38}</string>
                <key>textureRect</key>
                <string>{{1923,135},{84,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>story_ui_sprites00.png</string>
            <key>size</key>
            <string>{2008,1251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b10cab23798c16d21779cd2245f43b5e:ca822d7db30c8a2aad1eb7ae57f6e9af:6e850e8f26590b7d8f4e10003db7830e$</string>
            <key>textureFileName</key>
            <string>story_ui_sprites00.png</string>
        </dict>
    </dict>
</plist>
