<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>evt_raid_anime_mini_10_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_mini_10_parts00.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>423</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>10</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_mini_10_parts01.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>423</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>134</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_mini_10_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>423</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_mini_10_parts02.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>423</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>382</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_mini_10_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>227</integer>
				<key>originalHeight</key>
				<integer>141</integer>
				<key>x</key>
				<integer>425</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_mini_10_parts04.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>242</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>242</integer>
				<key>x</key>
				<integer>425</integer>
				<key>y</key>
				<integer>143</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_mini_10_parts05.png</key>
			<dict>
				<key>width</key>
				<integer>701</integer>
				<key>height</key>
				<integer>474</integer>
				<key>originalWidth</key>
				<integer>701</integer>
				<key>originalHeight</key>
				<integer>474</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>506</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_mini_10_parts06.png</key>
			<dict>
				<key>width</key>
				<integer>701</integer>
				<key>height</key>
				<integer>474</integer>
				<key>originalWidth</key>
				<integer>701</integer>
				<key>originalHeight</key>
				<integer>474</integer>
				<key>x</key>
				<integer>654</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_mini_10_parts07.png</key>
			<dict>
				<key>width</key>
				<integer>701</integer>
				<key>height</key>
				<integer>474</integer>
				<key>originalWidth</key>
				<integer>701</integer>
				<key>originalHeight</key>
				<integer>474</integer>
				<key>x</key>
				<integer>703</integer>
				<key>y</key>
				<integer>476</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_mini_10_parts08.png</key>
			<dict>
				<key>width</key>
				<integer>701</integer>
				<key>height</key>
				<integer>474</integer>
				<key>originalWidth</key>
				<integer>701</integer>
				<key>originalHeight</key>
				<integer>474</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>982</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_mini_10_parts09.png</key>
			<dict>
				<key>width</key>
				<integer>701</integer>
				<key>height</key>
				<integer>474</integer>
				<key>originalWidth</key>
				<integer>701</integer>
				<key>originalHeight</key>
				<integer>474</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_mini_10_parts10.png</key>
			<dict>
				<key>width</key>
				<integer>401</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>401</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>1357</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_mini_10_parts10b.png</key>
			<dict>
				<key>width</key>
				<integer>401</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>401</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>1357</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_mini_10_parts11.png</key>
			<dict>
				<key>width</key>
				<integer>401</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>401</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>1357</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_mini_10_parts12.png</key>
			<dict>
				<key>width</key>
				<integer>546</integer>
				<key>height</key>
				<integer>326</integer>
				<key>originalWidth</key>
				<integer>546</integer>
				<key>originalHeight</key>
				<integer>326</integer>
				<key>x</key>
				<integer>703</integer>
				<key>y</key>
				<integer>952</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_mini_10_parts13.png</key>
			<dict>
				<key>width</key>
				<integer>546</integer>
				<key>height</key>
				<integer>326</integer>
				<key>originalWidth</key>
				<integer>546</integer>
				<key>originalHeight</key>
				<integer>326</integer>
				<key>x</key>
				<integer>1406</integer>
				<key>y</key>
				<integer>381</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_mini_10_parts14.png</key>
			<dict>
				<key>width</key>
				<integer>513</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>513</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>703</integer>
				<key>y</key>
				<integer>1280</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_mini_10_parts15a.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>369</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>369</integer>
				<key>x</key>
				<integer>1406</integer>
				<key>y</key>
				<integer>709</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_mini_10_parts15b.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>369</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>369</integer>
				<key>x</key>
				<integer>703</integer>
				<key>y</key>
				<integer>1666</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_mini_10_parts15c.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>369</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>369</integer>
				<key>x</key>
				<integer>1251</integer>
				<key>y</key>
				<integer>1080</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>evt_raid_anime_mini_100.png</string>
			<key>realTextureFileName</key>
			<string>evt_raid_anime_mini_100.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>