<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TouchScreenBase00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,69}</string>
                <key>spriteSourceSize</key>
                <string>{381,69}</string>
                <key>textureRect</key>
                <string>{{1,1},{381,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TouchScreenBase01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,51}</string>
                <key>spriteSourceSize</key>
                <string>{300,51}</string>
                <key>textureRect</key>
                <string>{{1,74},{272,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_touchscreen0.png</string>
            <key>size</key>
            <string>{383,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d86129eb56951502566b3096b57ff02:f639a11c73ed95a98b120df4184825a3:5916a5d41d91e0d70038ee8a56ac9303$</string>
            <key>textureFileName</key>
            <string>ui_touchscreen0.png</string>
        </dict>
    </dict>
</plist>
