<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>301100_d_r_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>301100_d_r_parts_txt08.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>2</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>301100_d_r_parts_txt08a.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>87</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>301100_d_r_parts_txt07.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>301100_d_r_parts_txt07a.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>93</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>301100_d_r_parts_txt06.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>41</integer>
				<key>y</key>
				<integer>93</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>301100_d_r_parts_txt06a.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>128</integer>
				<key>y</key>
				<integer>84</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>23</real>
			</dict>
			<key>301100_d_r_parts_txt05.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>128</integer>
				<key>y</key>
				<integer>132</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301100_d_r_parts_txt05a.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>234</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>301100_d_r_parts_txt04.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>215</integer>
				<key>y</key>
				<integer>83</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301100_d_r_parts_txt04a.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>184</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>18</real>
			</dict>
			<key>301100_d_r_parts_txt03.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>309</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>301100_d_r_parts_txt03a.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>287</integer>
				<key>y</key>
				<integer>77</integer>
				<key>offsetX</key>
				<real>-16.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>301100_d_r_parts_txt02.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>393</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>301100_d_r_parts_txt02a.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>210</integer>
				<key>y</key>
				<integer>175</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>301100_d_r_parts_txt01.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>287</integer>
				<key>y</key>
				<integer>154</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>301100_d_r_parts_txt01a.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>374</integer>
				<key>y</key>
				<integer>83</integer>
				<key>offsetX</key>
				<real>-16.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>301100_d_r_parts12.png</key>
			<dict>
				<key>width</key>
				<integer>219</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>337</integer>
				<key>originalHeight</key>
				<integer>498</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>-30</real>
				<key>offsetY</key>
				<real>92</real>
			</dict>
			<key>301100_d_r_parts00.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>314</integer>
				<key>originalHeight</key>
				<integer>442</integer>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>245</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>-86.5</real>
			</dict>
			<key>301100_d_r_parts01.png</key>
			<dict>
				<key>width</key>
				<integer>235</integer>
				<key>height</key>
				<integer>249</integer>
				<key>originalWidth</key>
				<integer>314</integer>
				<key>originalHeight</key>
				<integer>442</integer>
				<key>x</key>
				<integer>468</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>10.5</real>
				<key>offsetY</key>
				<real>73.5</real>
			</dict>
			<key>301100_d_r_parts02.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>50.5</real>
			</dict>
			<key>301100_d_r_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>67</integer>
				<key>y</key>
				<integer>184</integer>
				<key>offsetX</key>
				<real>14</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>301100_d_r_parts03b.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>184</integer>
				<key>offsetX</key>
				<real>21</real>
				<key>offsetY</key>
				<real>-36.5</real>
			</dict>
			<key>301100_d_r_parts03c.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>337</integer>
				<key>y</key>
				<integer>77</integer>
				<key>offsetX</key>
				<real>31.5</real>
				<key>offsetY</key>
				<real>-62.5</real>
			</dict>
			<key>301100_d_r_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>92</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>301100_d_r_parts04b.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>118</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-44.5</real>
			</dict>
			<key>301100_d_r_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>425</integer>
				<key>y</key>
				<integer>83</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-76</real>
			</dict>
			<key>301100_d_r_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>146</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>-20</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>301100_d_r_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>92</integer>
				<key>y</key>
				<integer>416</integer>
				<key>offsetX</key>
				<real>-27</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>301100_d_r_parts05c.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>117</integer>
				<key>y</key>
				<integer>423</integer>
				<key>offsetX</key>
				<real>-25.5</real>
				<key>offsetY</key>
				<real>-80.5</real>
			</dict>
			<key>301100_d_r_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>374</integer>
				<key>y</key>
				<integer>173</integer>
				<key>offsetX</key>
				<real>-33.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301100_d_r_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>337</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>-41</real>
				<key>offsetY</key>
				<real>-29</real>
			</dict>
			<key>301100_d_r_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>177</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>-39.5</real>
				<key>offsetY</key>
				<real>-54.5</real>
			</dict>
			<key>301100_d_r_parts07a.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>402</integer>
				<key>y</key>
				<integer>173</integer>
				<key>offsetX</key>
				<real>-27.5</real>
				<key>offsetY</key>
				<real>34</real>
			</dict>
			<key>301100_d_r_parts07b.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>425</integer>
				<key>y</key>
				<integer>126</integer>
				<key>offsetX</key>
				<real>-43</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>301100_d_r_parts07c.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>141</integer>
				<key>y</key>
				<integer>423</integer>
				<key>offsetX</key>
				<real>-40</real>
				<key>offsetY</key>
				<real>-21.5</real>
			</dict>
			<key>301100_d_r_parts08.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>349</integer>
				<key>originalWidth</key>
				<integer>354</integer>
				<key>originalHeight</key>
				<integer>599</integer>
				<key>x</key>
				<integer>704</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-51</real>
				<key>offsetY</key>
				<real>-89</real>
			</dict>
			<key>301100_d_r_parts09.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>277</integer>
				<key>originalWidth</key>
				<integer>354</integer>
				<key>originalHeight</key>
				<integer>599</integer>
				<key>x</key>
				<integer>793</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>28</real>
				<key>offsetY</key>
				<real>123</real>
			</dict>
			<key>301100_d_r_parts10.png</key>
			<dict>
				<key>width</key>
				<integer>575</integer>
				<key>height</key>
				<integer>587</integer>
				<key>originalWidth</key>
				<integer>761</integer>
				<key>originalHeight</key>
				<integer>683</integer>
				<key>x</key>
				<integer>166</integer>
				<key>y</key>
				<integer>427</integer>
				<key>offsetX</key>
				<real>49</real>
				<key>offsetY</key>
				<real>19</real>
			</dict>
			<key>301100_d_r_parts11.png</key>
			<dict>
				<key>width</key>
				<integer>657</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>761</integer>
				<key>originalHeight</key>
				<integer>683</integer>
				<key>x</key>
				<integer>1024</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>20</real>
				<key>offsetY</key>
				<real>-247</real>
			</dict>
			<key>301100_d_r_parts13.png</key>
			<dict>
				<key>width</key>
				<integer>260</integer>
				<key>height</key>
				<integer>340</integer>
				<key>originalWidth</key>
				<integer>337</integer>
				<key>originalHeight</key>
				<integer>498</integer>
				<key>x</key>
				<integer>793</integer>
				<key>y</key>
				<integer>278</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>56</real>
			</dict>
			<key>301100_d_r_parts14.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>184</integer>
				<key>originalWidth</key>
				<integer>337</integer>
				<key>originalHeight</key>
				<integer>498</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>481</integer>
				<key>offsetX</key>
				<real>37</real>
				<key>offsetY</key>
				<real>-134</real>
			</dict>
			<key>301100_d_r_parts15.png</key>
			<dict>
				<key>width</key>
				<integer>337</integer>
				<key>height</key>
				<integer>407</integer>
				<key>originalWidth</key>
				<integer>394</integer>
				<key>originalHeight</key>
				<integer>474</integer>
				<key>x</key>
				<integer>1054</integer>
				<key>y</key>
				<integer>132</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>301100_d_r_parts20.png</key>
			<dict>
				<key>width</key>
				<integer>231</integer>
				<key>height</key>
				<integer>240</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>742</integer>
				<key>y</key>
				<integer>619</integer>
				<key>offsetX</key>
				<real>104.5</real>
				<key>offsetY</key>
				<real>40</real>
			</dict>
			<key>301100_d_r_parts21a.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>436</integer>
				<key>y</key>
				<integer>250</integer>
				<key>offsetX</key>
				<real>182</real>
				<key>offsetY</key>
				<real>-30.5</real>
			</dict>
			<key>301100_d_r_parts21b.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>666</integer>
				<key>offsetX</key>
				<real>296.5</real>
				<key>offsetY</key>
				<real>-44</real>
			</dict>
			<key>301100_d_r_parts22.png</key>
			<dict>
				<key>width</key>
				<integer>231</integer>
				<key>height</key>
				<integer>234</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>1392</integer>
				<key>y</key>
				<integer>132</integer>
				<key>offsetX</key>
				<real>-69.5</real>
				<key>offsetY</key>
				<real>43</real>
			</dict>
			<key>301100_d_r_parts23a.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>436</integer>
				<key>y</key>
				<integer>330</integer>
				<key>offsetX</key>
				<real>-120.5</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>301100_d_r_parts23b.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>705</integer>
				<key>offsetX</key>
				<real>-250.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>301100_d_r_parts24.png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>236</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>974</integer>
				<key>y</key>
				<integer>619</integer>
				<key>offsetX</key>
				<real>-85.5</real>
				<key>offsetY</key>
				<real>32</real>
			</dict>
			<key>301100_d_r_parts25a.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>70</integer>
				<key>y</key>
				<integer>666</integer>
				<key>offsetX</key>
				<real>-217</real>
				<key>offsetY</key>
				<real>91.5</real>
			</dict>
			<key>301100_d_r_parts25b.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>-114.5</real>
				<key>offsetY</key>
				<real>50.5</real>
			</dict>
			<key>301100_d_r_parts26a.png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>868</integer>
				<key>offsetX</key>
				<real>-154.5</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>301100_d_r_parts26b.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>92</integer>
				<key>y</key>
				<integer>704</integer>
				<key>offsetX</key>
				<real>-244.5</real>
				<key>offsetY</key>
				<real>-90</real>
			</dict>
			<key>301100_d_r_parts27a.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>979</integer>
				<key>offsetX</key>
				<real>-289</real>
				<key>offsetY</key>
				<real>57.5</real>
			</dict>
			<key>301100_d_r_parts27b.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>1054</integer>
				<key>y</key>
				<integer>540</integer>
				<key>offsetX</key>
				<real>-163</real>
				<key>offsetY</key>
				<real>38.5</real>
			</dict>
			<key>301100_d_r_parts28.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>1682</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-130</real>
				<key>offsetY</key>
				<real>-67.5</real>
			</dict>
			<key>301100_d_r_parts29.png</key>
			<dict>
				<key>width</key>
				<integer>194</integer>
				<key>height</key>
				<integer>235</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>1392</integer>
				<key>y</key>
				<integer>367</integer>
				<key>offsetX</key>
				<real>-92</real>
				<key>offsetY</key>
				<real>16.5</real>
			</dict>
			<key>301100_d_r_parts30.png</key>
			<dict>
				<key>width</key>
				<integer>199</integer>
				<key>height</key>
				<integer>239</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>1789</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>116.5</real>
				<key>offsetY</key>
				<real>33.5</real>
			</dict>
			<key>301100_d_r_parts31a.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>742</integer>
				<key>y</key>
				<integer>860</integer>
				<key>offsetX</key>
				<real>134.5</real>
				<key>offsetY</key>
				<real>-70</real>
			</dict>
			<key>301100_d_r_parts31b.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>627</integer>
				<key>y</key>
				<integer>250</integer>
				<key>offsetX</key>
				<real>201</real>
				<key>offsetY</key>
				<real>-131.5</real>
			</dict>
			<key>301100_d_r_parts32a.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>350</integer>
				<key>offsetX</key>
				<real>292</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>301100_d_r_parts32b.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>874</integer>
				<key>y</key>
				<integer>860</integer>
				<key>offsetX</key>
				<real>188</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>301100_d_r_parts33.png</key>
			<dict>
				<key>width</key>
				<integer>163</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>1176</integer>
				<key>y</key>
				<integer>616</integer>
				<key>offsetX</key>
				<real>209.5</real>
				<key>offsetY</key>
				<real>-87.5</real>
			</dict>
			<key>301100_d_r_parts34.png</key>
			<dict>
				<key>width</key>
				<integer>271</integer>
				<key>height</key>
				<integer>264</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>1587</integer>
				<key>y</key>
				<integer>367</integer>
				<key>offsetX</key>
				<real>94.5</real>
				<key>offsetY</key>
				<real>25</real>
			</dict>
			<key>301100_d_r_parts50.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>244</integer>
				<key>originalHeight</key>
				<integer>446</integer>
				<key>x</key>
				<integer>1035</integer>
				<key>y</key>
				<integer>856</integer>
				<key>offsetX</key>
				<real>21</real>
				<key>offsetY</key>
				<real>123</real>
			</dict>
			<key>301100_d_r_parts51.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>244</integer>
				<key>originalHeight</key>
				<integer>446</integer>
				<key>x</key>
				<integer>874</integer>
				<key>y</key>
				<integer>939</integer>
				<key>offsetX</key>
				<real>-16.5</real>
				<key>offsetY</key>
				<real>55</real>
			</dict>
			<key>301100_d_r_parts52.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>244</integer>
				<key>originalHeight</key>
				<integer>446</integer>
				<key>x</key>
				<integer>1624</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>28.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>301100_d_r_parts53.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>244</integer>
				<key>originalHeight</key>
				<integer>446</integer>
				<key>x</key>
				<integer>727</integer>
				<key>y</key>
				<integer>350</integer>
				<key>offsetX</key>
				<real>21.5</real>
				<key>offsetY</key>
				<real>-81</real>
			</dict>
			<key>301100_d_r_parts54.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>244</integer>
				<key>originalHeight</key>
				<integer>446</integer>
				<key>x</key>
				<integer>1686</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>-20.5</real>
				<key>offsetY</key>
				<real>64</real>
			</dict>
			<key>301100_d_r_parts55.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>244</integer>
				<key>originalHeight</key>
				<integer>446</integer>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>387</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>143.5</real>
			</dict>
			<key>301100_d_r_parts56.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>244</integer>
				<key>originalHeight</key>
				<integer>446</integer>
				<key>x</key>
				<integer>1340</integer>
				<key>y</key>
				<integer>603</integer>
				<key>offsetX</key>
				<real>19</real>
				<key>offsetY</key>
				<real>132.5</real>
			</dict>
			<key>301100_d_r_parts57.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>244</integer>
				<key>originalHeight</key>
				<integer>446</integer>
				<key>x</key>
				<integer>1190</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>-28.5</real>
				<key>offsetY</key>
				<real>-13</real>
			</dict>
			<key>301100_d_r_parts67.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>742</integer>
				<key>y</key>
				<integer>407</integer>
				<key>offsetX</key>
				<real>19</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301100_d_r_parts58.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>244</integer>
				<key>originalHeight</key>
				<integer>446</integer>
				<key>x</key>
				<integer>1989</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-17</real>
				<key>offsetY</key>
				<real>-63</real>
			</dict>
			<key>301100_d_r_parts59.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>244</integer>
				<key>originalHeight</key>
				<integer>446</integer>
				<key>x</key>
				<integer>742</integer>
				<key>y</key>
				<integer>969</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>-101.5</real>
			</dict>
			<key>301100_d_r_parts69.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>1778</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>26</real>
				<key>offsetY</key>
				<real>-40.5</real>
			</dict>
			<key>301100_d_r_parts68.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>1816</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>301100_d_r_parts61.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>244</integer>
				<key>originalHeight</key>
				<integer>446</integer>
				<key>x</key>
				<integer>1241</integer>
				<key>y</key>
				<integer>540</integer>
				<key>offsetX</key>
				<real>-29</real>
				<key>offsetY</key>
				<real>-97.5</real>
			</dict>
			<key>301100_d_r_parts70.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>1469</integer>
				<key>y</key>
				<integer>603</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>-37.5</real>
			</dict>
			<key>301100_d_r_parts62.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>178</integer>
				<key>originalWidth</key>
				<integer>244</integer>
				<key>originalHeight</key>
				<integer>446</integer>
				<key>x</key>
				<integer>1864</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>-23</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>301100_d_r_parts63.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>244</integer>
				<key>originalHeight</key>
				<integer>446</integer>
				<key>x</key>
				<integer>1686</integer>
				<key>y</key>
				<integer>287</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>56.5</real>
			</dict>
			<key>301100_d_r_parts64.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>244</integer>
				<key>originalHeight</key>
				<integer>446</integer>
				<key>x</key>
				<integer>1024</integer>
				<key>y</key>
				<integer>132</integer>
				<key>offsetX</key>
				<real>101</real>
				<key>offsetY</key>
				<real>105</real>
			</dict>
			<key>301100_d_r_parts65.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>186</integer>
				<key>originalWidth</key>
				<integer>244</integer>
				<key>originalHeight</key>
				<integer>446</integer>
				<key>x</key>
				<integer>1342</integer>
				<key>y</key>
				<integer>724</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>116</real>
			</dict>
			<key>301100_d_r_parts66.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>244</integer>
				<key>originalHeight</key>
				<integer>446</integer>
				<key>x</key>
				<integer>742</integer>
				<key>y</key>
				<integer>529</integer>
				<key>offsetX</key>
				<real>-60.5</real>
				<key>offsetY</key>
				<real>113.5</real>
			</dict>
			<key>301100_d_r_parts_txt08b.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>1190</integer>
				<key>y</key>
				<integer>909</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>301100_d_r_parts_txt07b.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>982</integer>
				<key>y</key>
				<integer>939</integer>
				<key>offsetX</key>
				<real>18.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>301100_d_r_parts_txt06b.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>1919</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>301100_d_r_parts_txt05b.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>1507</integer>
				<key>y</key>
				<integer>603</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>301100_d_r_parts_txt04b.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>1262</integer>
				<key>y</key>
				<integer>909</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-13.5</real>
			</dict>
			<key>301100_d_r_parts_txt03b.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>1624</integer>
				<key>y</key>
				<integer>132</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>301100_d_r_parts_txt02b.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>1507</integer>
				<key>y</key>
				<integer>673</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>301100_d_r_parts_txt01b.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>1989</integer>
				<key>y</key>
				<integer>119</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>301100_d_r_parts_bg3.png</key>
			<dict>
				<key>width</key>
				<integer>770</integer>
				<key>height</key>
				<integer>578</integer>
				<key>originalWidth</key>
				<integer>770</integer>
				<key>originalHeight</key>
				<integer>578</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1017</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301100_d_r_parts_bg.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>86</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1596</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_301100_d_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_301100_d_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>