<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>305300mr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>305300mr_parts99a.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>503</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>505</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>305300mr_parts99b.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>500</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>505</integer>
				<key>x</key>
				<integer>109</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>305300mr_parts_name.png</key>
			<dict>
				<key>width</key>
				<integer>711</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>738</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>164</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>305300mr_parts99a_rb_b.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>164</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>305300mr_parts99b_rb_b.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>305300mr_parts99a_R_rb_b.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>236</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>305300mr_parts99b_R_rb_b.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>299</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>305300mr_parts99a_L_rb_b.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>305300mr_parts99b_L_rb_b.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>407</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>305300mr_parts99a_rb_t.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>164</integer>
				<key>y</key>
				<integer>285</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>305300mr_parts99b_rb_t.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>164</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>14.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>305300mr_parts99a_L_rb_t.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>164</integer>
				<key>y</key>
				<integer>326</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>305300mr_parts99b_L_rb_t.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>227</integer>
				<key>y</key>
				<integer>285</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>305300mr_parts99a_R_rb_t.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>155</integer>
				<key>x</key>
				<integer>453</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>305300mr_parts99b_R_rb_t.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>155</integer>
				<key>x</key>
				<integer>288</integer>
				<key>y</key>
				<integer>285</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>305300mr_parts00a.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>491</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>305300mr_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>326</integer>
				<key>y</key>
				<integer>284</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>305300mr_parts00c.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>164</integer>
				<key>y</key>
				<integer>205</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>305300mr_parts00d.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>528</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>305300mr_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>164</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>305300mr_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>213</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>305300mr_parts02e.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>363</integer>
				<key>y</key>
				<integer>284</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>305300mr_parts02f.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>227</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>305300mr_parts02i.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>164</integer>
				<key>y</key>
				<integer>475</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>21</real>
			</dict>
			<key>305300mr_parts02j.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>566</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>305300mr_parts02a_f.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>397</integer>
				<key>y</key>
				<integer>284</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>305300mr_parts02b_f.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>258</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>305300mr_parts02e_f.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>491</integer>
				<key>y</key>
				<integer>199</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>305300mr_parts02f_f.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>363</integer>
				<key>y</key>
				<integer>333</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>305300mr_parts02k_f.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>528</integer>
				<key>y</key>
				<integer>177</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>305300mr_parts02l_f.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>431</integer>
				<key>y</key>
				<integer>277</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>305300mr_parts02g.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>326</integer>
				<key>y</key>
				<integer>370</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>305300mr_parts02m.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>605</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>305300mr_parts02o.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>491</integer>
				<key>y</key>
				<integer>238</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>305300mr_parts02p.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>360</integer>
				<key>y</key>
				<integer>382</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>305300mr_parts02q.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>305300mr_parts02r.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>580</integer>
				<key>y</key>
				<integer>174</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>305300mr_parts02s.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>291</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>305300mr_parts02t.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>400</integer>
				<key>y</key>
				<integer>335</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>305300mr_parts02t_f.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>529</integer>
				<key>y</key>
				<integer>235</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>305300mr_parts02u.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>325</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>305300mr_parts02L02.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>442</integer>
				<key>y</key>
				<integer>335</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>28</real>
			</dict>
			<key>305300mr_parts02R02.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>400</integer>
				<key>y</key>
				<integer>396</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>28</real>
			</dict>
			<key>305300mr_parts02a_i.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>688</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>305300mr_parts02e_i.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>571</integer>
				<key>y</key>
				<integer>235</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>305300mr_parts02a_f_i.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>359</integer>
				<key>y</key>
				<integer>446</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>305300mr_parts02r_i.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>626</integer>
				<key>y</key>
				<integer>176</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>305300mr_parts02e_f_i.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>203</integer>
				<key>y</key>
				<integer>475</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>305300mr_parts02f_i.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>483</integer>
				<key>y</key>
				<integer>301</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>305300mr_parts01a_acup.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>500</integer>
				<key>y</key>
				<integer>301</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>45</real>
			</dict>
			<key>305300mr_parts01b_f.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>721</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>305300mr_parts01b_side.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>400</integer>
				<key>y</key>
				<integer>435</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>305300mr_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>605</integer>
				<key>y</key>
				<integer>231</integer>
				<key>offsetX</key>
				<real>15.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>305300mr_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>497</integer>
				<key>y</key>
				<integer>341</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>305300mr_parts11a.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>877</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>16</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>305300mr_parts01a_acun.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>672</integer>
				<key>y</key>
				<integer>176</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>44</real>
			</dict>
			<key>305300mr_parts11a_acun.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>766</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>37</real>
			</dict>
			<key>305300mr_parts99c.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>503</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>505</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>508</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>305300mr_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>109</integer>
				<key>y</key>
				<integer>510</integer>
				<key>offsetX</key>
				<real>-25.5</real>
				<key>offsetY</key>
				<real>-40</real>
			</dict>
			<key>305300mr_parts03b.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>109</integer>
				<key>y</key>
				<integer>604</integer>
				<key>offsetX</key>
				<real>-25</real>
				<key>offsetY</key>
				<real>-41.5</real>
			</dict>
			<key>305300mr_parts03c.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>214</integer>
				<key>y</key>
				<integer>496</integer>
				<key>offsetX</key>
				<real>-25</real>
				<key>offsetY</key>
				<real>-45</real>
			</dict>
			<key>305300mr_parts03d.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>214</integer>
				<key>y</key>
				<integer>580</integer>
				<key>offsetX</key>
				<real>-25</real>
				<key>offsetY</key>
				<real>-50</real>
			</dict>
			<key>305300mr_parts13a.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>109</integer>
				<key>y</key>
				<integer>695</integer>
				<key>offsetX</key>
				<real>-53.5</real>
				<key>offsetY</key>
				<real>-35.5</real>
			</dict>
			<key>305300mr_parts13b.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>318</integer>
				<key>y</key>
				<integer>496</integer>
				<key>offsetX</key>
				<real>-53.5</real>
				<key>offsetY</key>
				<real>-37</real>
			</dict>
			<key>305300mr_parts13c.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>148</integer>
				<key>y</key>
				<integer>695</integer>
				<key>offsetX</key>
				<real>-53</real>
				<key>offsetY</key>
				<real>-42</real>
			</dict>
			<key>305300mr_parts13d.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>455</integer>
				<key>y</key>
				<integer>374</integer>
				<key>offsetX</key>
				<real>-55</real>
				<key>offsetY</key>
				<real>-47</real>
			</dict>
			<key>305300mr_parts03e.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>357</integer>
				<key>y</key>
				<integer>491</integer>
				<key>offsetX</key>
				<real>-25</real>
				<key>offsetY</key>
				<real>-40.5</real>
			</dict>
			<key>305300mr_parts03f.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>213</integer>
				<key>y</key>
				<integer>654</integer>
				<key>offsetX</key>
				<real>-25</real>
				<key>offsetY</key>
				<real>-41.5</real>
			</dict>
			<key>305300mr_parts03_hair_dress.png</key>
			<dict>
				<key>width</key>
				<integer>178</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>109</integer>
				<key>y</key>
				<integer>782</integer>
				<key>offsetX</key>
				<real>-10</real>
				<key>offsetY</key>
				<real>55.5</real>
			</dict>
			<key>305300mr_parts13_hair_dress.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>725</integer>
				<key>y</key>
				<integer>175</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>54</real>
			</dict>
			<key>305300mr_parts03_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>575</integer>
				<key>y</key>
				<integer>334</integer>
				<key>offsetX</key>
				<real>-37.5</real>
				<key>offsetY</key>
				<real>13</real>
			</dict>
			<key>305300mr_parts03_hair_Ltwin.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>318</integer>
				<key>y</key>
				<integer>586</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>305300mr_parts13_hair_Ltwin.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>461</integer>
				<key>y</key>
				<integer>446</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>305300mr_parts13_hair_Rmo.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>677</integer>
				<key>y</key>
				<integer>222</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-34</real>
			</dict>
			<key>305300mr_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>207</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>725</integer>
				<key>y</key>
				<integer>275</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>305300mr_parts13.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>186</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>416</integer>
				<key>y</key>
				<integer>586</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>-16</real>
			</dict>
			<key>305300mr_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>877</integer>
				<key>y</key>
				<integer>103</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>23</real>
			</dict>
			<key>305300mr_parts14a.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>109</integer>
				<key>y</key>
				<integer>883</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>30.5</real>
			</dict>
			<key>305300mr_parts03_hair_bk.png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>562</integer>
				<key>y</key>
				<integer>446</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>-38.5</real>
			</dict>
			<key>305300mr_parts13_hair_bk.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>948</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>-64</real>
			</dict>
			<key>305300mr_parts04_Lsk.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>317</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>305300mr_parts14_Lsk.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>289</integer>
				<key>y</key>
				<integer>766</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>305300mr_parts04_Rsk.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>824</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>305300mr_parts14_Rsk.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>547</integer>
				<key>y</key>
				<integer>290</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>305300mr_parts04_sk.png</key>
			<dict>
				<key>width</key>
				<integer>196</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>105</integer>
				<key>x</key>
				<integer>190</integer>
				<key>y</key>
				<integer>883</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>305300mr_parts14_sk.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>105</integer>
				<key>x</key>
				<integer>702</integer>
				<key>y</key>
				<integer>456</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>305300mr_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>962</integer>
				<key>y</key>
				<integer>66</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>305300mr_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>962</integer>
				<key>y</key>
				<integer>189</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>305300mr_parts05c.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>388</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>305300mr_parts15a.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>437</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>305300mr_parts15b.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>629</integer>
				<key>y</key>
				<integer>577</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>305300mr_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>680</integer>
				<key>y</key>
				<integer>577</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>305300mr_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>487</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>305300mr_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>934</integer>
				<key>y</key>
				<integer>317</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>305300mr_parts16a.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>388</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>305300mr_parts16b.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>970</integer>
				<key>y</key>
				<integer>317</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>305300mr_parts03_hair_Rtwin.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>716</integer>
				<key>y</key>
				<integer>558</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>305300mr_parts13_hair_Rtwin.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>523</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>305300mr_parts00e.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>838</integer>
				<key>y</key>
				<integer>150</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>305300mr_parts00f.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>289</integer>
				<key>y</key>
				<integer>815</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>305300mr_parts04_sk_bk.png</key>
			<dict>
				<key>width</key>
				<integer>153</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>155</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>629</integer>
				<key>y</key>
				<integer>705</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>305300mr_parts14_sk_bk.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>155</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>797</integer>
				<key>y</key>
				<integer>558</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>305300mr_parts04_Rrb.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>425</integer>
				<key>y</key>
				<integer>899</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>305300mr_parts14_Rrb.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>596</integer>
				<key>y</key>
				<integer>794</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>305300mr_parts04_Lrb.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>135</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>797</integer>
				<key>y</key>
				<integer>648</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>305300mr_parts14_Lrb.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>126</integer>
				<key>x</key>
				<integer>668</integer>
				<key>y</key>
				<integer>794</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>305300mr_parts04_rb.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>897</integer>
				<key>y</key>
				<integer>456</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>305300mr_parts14_rb.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>492</integer>
				<key>y</key>
				<integer>925</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>305300mr_parts_bk00.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>838</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_305300_m_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_305300_m_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>