<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>210200dr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>210200dr_parts_txt23.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>210200dr_parts_txt03.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>103</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>210200dr_parts_txt05.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>210200dr_parts_txt22.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>97</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>210200dr_parts_txt21.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>226</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>210200dr_parts_txt01.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>327</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>210200dr_parts_txt20.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>226</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>210200dr_parts_txt10.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>427</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>210200dr_parts_txt07.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>126</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>210200dr_parts_txt06.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>427</integer>
				<key>y</key>
				<integer>58</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>210200dr_parts_txt02.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>226</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>210200dr_parts_txt04.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>222</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>210200dr_parts_txt00.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>333</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>210200dr_parts_ex00.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>348</integer>
				<key>originalHeight</key>
				<integer>357</integer>
				<key>x</key>
				<integer>3</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>173.5</real>
				<key>offsetY</key>
				<real>-178</real>
			</dict>
			<key>210200dr_parts_bg20a.png</key>
			<dict>
				<key>width</key>
				<integer>813</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>850</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>106</integer>
				<key>y</key>
				<integer>333</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>210200dr_parts_bg30a.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>510</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>210200dr_parts_bg30b.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>416</integer>
				<key>y</key>
				<integer>166</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>210200dr_parts_bg21a.png</key>
			<dict>
				<key>width</key>
				<integer>343</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>138</integer>
				<key>x</key>
				<integer>602</integer>
				<key>y</key>
				<integer>129</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>210200dr_parts_bg21b.png</key>
			<dict>
				<key>width</key>
				<integer>461</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>113</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>481</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>210200dr_parts_bg21c.png</key>
			<dict>
				<key>width</key>
				<integer>444</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>113</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>576</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>210200dr_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>236</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>660</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>210200dr_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>121</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>42.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>210200dr_parts04b.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>121</integer>
				<key>x</key>
				<integer>269</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>-38</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>210200dr_parts01.png</key>
			<dict>
				<key>width</key>
				<integer>519</integer>
				<key>height</key>
				<integer>980</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>813</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>-220</real>
			</dict>
			<key>210200dr_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>421</integer>
				<key>height</key>
				<integer>438</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>947</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>-183</real>
			</dict>
			<key>210200dr_parts21e.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>226</integer>
				<key>originalHeight</key>
				<integer>268</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>442</integer>
				<key>offsetX</key>
				<real>27.5</real>
				<key>offsetY</key>
				<real>90.5</real>
			</dict>
			<key>210200dr_parts21d.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>226</integer>
				<key>originalHeight</key>
				<integer>268</integer>
				<key>x</key>
				<integer>39</integer>
				<key>y</key>
				<integer>442</integer>
				<key>offsetX</key>
				<real>39</real>
				<key>offsetY</key>
				<real>48.5</real>
			</dict>
			<key>210200dr_parts21c.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>226</integer>
				<key>originalHeight</key>
				<integer>268</integer>
				<key>x</key>
				<integer>331</integer>
				<key>y</key>
				<integer>232</integer>
				<key>offsetX</key>
				<real>-66</real>
				<key>offsetY</key>
				<real>50</real>
			</dict>
			<key>210200dr_parts21b.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>226</integer>
				<key>originalHeight</key>
				<integer>268</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>302</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>210200dr_parts21a.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>226</integer>
				<key>originalHeight</key>
				<integer>268</integer>
				<key>x</key>
				<integer>331</integer>
				<key>y</key>
				<integer>270</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>-74</real>
			</dict>
			<key>210200dr_parts20a.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>433</integer>
				<key>originalWidth</key>
				<integer>568</integer>
				<key>originalHeight</key>
				<integer>596</integer>
				<key>x</key>
				<integer>521</integer>
				<key>y</key>
				<integer>481</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-27.5</real>
			</dict>
			<key>210200dr_parts20b.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>195</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>865</integer>
				<key>y</key>
				<integer>481</integer>
				<key>offsetX</key>
				<real>-16.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>210200dr_parts20c.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>202</integer>
				<key>x</key>
				<integer>222</integer>
				<key>y</key>
				<integer>660</integer>
				<key>offsetX</key>
				<real>20.5</real>
				<key>offsetY</key>
				<real>22</real>
			</dict>
			<key>210200dr_parts20e.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>209</integer>
				<key>x</key>
				<integer>1370</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-21.5</real>
			</dict>
			<key>210200dr_parts20d.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>243</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>521</integer>
				<key>y</key>
				<integer>916</integer>
				<key>offsetX</key>
				<real>-28</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>210200dr_parts20f.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>206</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>724</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>210200dr_parts30a.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>275</integer>
				<key>originalWidth</key>
				<integer>332</integer>
				<key>originalHeight</key>
				<integer>442</integer>
				<key>x</key>
				<integer>986</integer>
				<key>y</key>
				<integer>440</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>39.5</real>
			</dict>
			<key>210200dr_parts30b.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>852</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>210200dr_parts30c.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>194</integer>
				<key>x</key>
				<integer>897</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>210200dr_parts30e.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>102</integer>
				<key>originalHeight</key>
				<integer>158</integer>
				<key>x</key>
				<integer>463</integer>
				<key>y</key>
				<integer>481</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>210200dr_parts30d.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>146</integer>
				<key>originalHeight</key>
				<integer>185</integer>
				<key>x</key>
				<integer>446</integer>
				<key>y</key>
				<integer>598</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>210200dr_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>370</integer>
				<key>height</key>
				<integer>314</integer>
				<key>originalWidth</key>
				<integer>370</integer>
				<key>originalHeight</key>
				<integer>371</integer>
				<key>x</key>
				<integer>1478</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>24.5</real>
			</dict>
			<key>210200dr_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>346</integer>
				<key>originalWidth</key>
				<integer>370</integer>
				<key>originalHeight</key>
				<integer>371</integer>
				<key>x</key>
				<integer>648</integer>
				<key>y</key>
				<integer>916</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>210200dr_parts05c.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>347</integer>
				<key>originalWidth</key>
				<integer>370</integer>
				<key>originalHeight</key>
				<integer>371</integer>
				<key>x</key>
				<integer>1212</integer>
				<key>y</key>
				<integer>440</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>210200dr_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>262</integer>
				<key>height</key>
				<integer>306</integer>
				<key>originalWidth</key>
				<integer>299</integer>
				<key>originalHeight</key>
				<integer>328</integer>
				<key>x</key>
				<integer>521</integer>
				<key>y</key>
				<integer>1264</integer>
				<key>offsetX</key>
				<real>16.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>210200dr_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>312</integer>
				<key>originalWidth</key>
				<integer>299</integer>
				<key>originalHeight</key>
				<integer>328</integer>
				<key>x</key>
				<integer>1014</integer>
				<key>y</key>
				<integer>789</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>210200dr_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>295</integer>
				<key>height</key>
				<integer>303</integer>
				<key>originalWidth</key>
				<integer>299</integer>
				<key>originalHeight</key>
				<integer>328</integer>
				<key>x</key>
				<integer>1546</integer>
				<key>y</key>
				<integer>316</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>210200dr_parts_bg03.png</key>
			<dict>
				<key>width</key>
				<integer>889</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>889</integer>
				<key>originalHeight</key>
				<integer>147</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1795</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>210200dr_parts_base0a.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>602</integer>
				<key>y</key>
				<integer>238</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>210200dr_parts_bg00.png</key>
			<dict>
				<key>width</key>
				<integer>600</integer>
				<key>height</key>
				<integer>347</integer>
				<key>originalWidth</key>
				<integer>600</integer>
				<key>originalHeight</key>
				<integer>347</integer>
				<key>x</key>
				<integer>785</integer>
				<key>y</key>
				<integer>1264</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>210200dr_parts_bg00b.png</key>
			<dict>
				<key>width</key>
				<integer>600</integer>
				<key>height</key>
				<integer>347</integer>
				<key>originalWidth</key>
				<integer>600</integer>
				<key>originalHeight</key>
				<integer>347</integer>
				<key>x</key>
				<integer>1309</integer>
				<key>y</key>
				<integer>789</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>210200dr_parts_bg00c.png</key>
			<dict>
				<key>width</key>
				<integer>600</integer>
				<key>height</key>
				<integer>347</integer>
				<key>originalWidth</key>
				<integer>600</integer>
				<key>originalHeight</key>
				<integer>347</integer>
				<key>x</key>
				<integer>1387</integer>
				<key>y</key>
				<integer>1138</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>210200dr_parts44a.png</key>
			<dict>
				<key>width</key>
				<integer>600</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>600</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1387</integer>
				<key>y</key>
				<integer>1487</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_210200_d_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_210200_d_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>