<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>710900_l_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>710900_l_parts15a.png</key>
			<dict>
				<key>width</key>
				<integer>267</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>273</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>2</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>710900_l_parts14j.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>321</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>55</integer>
				<key>offsetX</key>
				<real>150.5</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>710900_l_parts14i.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>321</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>19</integer>
				<key>y</key>
				<integer>55</integer>
				<key>offsetX</key>
				<real>131</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>710900_l_parts14h.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>321</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>89</integer>
				<key>offsetX</key>
				<real>93</real>
				<key>offsetY</key>
				<real>-33.5</real>
			</dict>
			<key>710900_l_parts14g.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>321</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>120</integer>
				<key>offsetX</key>
				<real>34.5</real>
				<key>offsetY</key>
				<real>-38</real>
			</dict>
			<key>710900_l_parts14f.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>321</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>-17</real>
				<key>offsetY</key>
				<real>-23.5</real>
			</dict>
			<key>710900_l_parts14e.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>321</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>185</integer>
				<key>offsetX</key>
				<real>-54.5</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>710900_l_parts14d.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>321</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>65</integer>
				<key>y</key>
				<integer>55</integer>
				<key>offsetX</key>
				<real>-107</real>
				<key>offsetY</key>
				<real>35.5</real>
			</dict>
			<key>710900_l_parts01.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>149</integer>
				<key>y</key>
				<integer>55</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>710900_l_parts10c.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>87</integer>
				<key>y</key>
				<integer>84</integer>
				<key>offsetX</key>
				<real>-18.5</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>710900_l_parts10b.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>87</integer>
				<key>y</key>
				<integer>141</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>17.5</real>
			</dict>
			<key>710900_l_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>268</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>14.5</real>
				<key>offsetY</key>
				<real>-13</real>
			</dict>
			<key>710900_l_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>55</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>710900_l_parts02c.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>155</integer>
				<key>y</key>
				<integer>109</integer>
				<key>offsetX</key>
				<real>16.5</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>710900_l_parts10a.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>52</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>26.5</real>
				<key>offsetY</key>
				<real>36</real>
			</dict>
			<key>710900_l_parts09a.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>87</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>123</integer>
				<key>y</key>
				<integer>84</integer>
				<key>offsetX</key>
				<real>-33</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>710900_l_parts09b.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>87</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>227</integer>
				<key>y</key>
				<integer>55</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>710900_l_parts09c.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>87</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>321</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>27.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>710900_l_parts08b.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>237</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>352</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>710900_l_parts11d.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>138</integer>
				<key>originalHeight</key>
				<integer>172</integer>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>139</integer>
				<key>offsetX</key>
				<real>34.5</real>
				<key>offsetY</key>
				<real>-43</real>
			</dict>
			<key>710900_l_parts11c.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>138</integer>
				<key>originalHeight</key>
				<integer>172</integer>
				<key>x</key>
				<integer>268</integer>
				<key>y</key>
				<integer>56</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>28</real>
			</dict>
			<key>710900_l_parts11b.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>138</integer>
				<key>originalHeight</key>
				<integer>172</integer>
				<key>x</key>
				<integer>155</integer>
				<key>y</key>
				<integer>174</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>71</real>
			</dict>
			<key>710900_l_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>82</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>268</integer>
				<key>y</key>
				<integer>153</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>-12</real>
			</dict>
			<key>710900_l_parts03b.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>82</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>352</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>710900_l_parts03c.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>82</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>460</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-16.5</real>
				<key>offsetY</key>
				<real>17.5</real>
			</dict>
			<key>710900_l_parts08a.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>237</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>224</integer>
				<key>offsetX</key>
				<real>-95.5</real>
				<key>offsetY</key>
				<real>-12</real>
			</dict>
			<key>710900_l_parts11a.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>138</integer>
				<key>originalHeight</key>
				<integer>172</integer>
				<key>x</key>
				<integer>327</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>-42.5</real>
				<key>offsetY</key>
				<real>48.5</real>
			</dict>
			<key>710900_l_parts12h.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>109</integer>
				<key>offsetX</key>
				<real>112</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>710900_l_parts12g.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>184</integer>
				<key>y</key>
				<integer>224</integer>
				<key>offsetX</key>
				<real>96</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>710900_l_parts12f.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>225</integer>
				<key>y</key>
				<integer>224</integer>
				<key>offsetX</key>
				<real>76.5</real>
				<key>offsetY</key>
				<real>-24.5</real>
			</dict>
			<key>710900_l_parts12e.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>268</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>52.5</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>710900_l_parts12d.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>379</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>17.5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>710900_l_parts12c.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>316</integer>
				<key>y</key>
				<integer>212</integer>
				<key>offsetX</key>
				<real>-33</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>710900_l_parts12b.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>435</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>-88.5</real>
				<key>offsetY</key>
				<real>26</real>
			</dict>
			<key>710900_l_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>460</integer>
				<key>y</key>
				<integer>42</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>710900_l_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>203</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>710900_l_parts05c.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>265</integer>
				<key>y</key>
				<integer>231</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>710900_l_parts07f.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>243</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>460</integer>
				<key>y</key>
				<integer>69</integer>
				<key>offsetX</key>
				<real>-108.5</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>710900_l_parts12a.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>70</integer>
				<key>y</key>
				<integer>84</integer>
				<key>offsetX</key>
				<real>-118</real>
				<key>offsetY</key>
				<real>24.5</real>
			</dict>
			<key>710900_l_parts07c.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>243</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>437</integer>
				<key>y</key>
				<integer>126</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>710900_l_parts07b.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>243</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>437</integer>
				<key>y</key>
				<integer>167</integer>
				<key>offsetX</key>
				<real>10.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>710900_l_parts07e.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>243</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>395</integer>
				<key>y</key>
				<integer>210</integer>
				<key>offsetX</key>
				<real>-67</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>710900_l_parts07d.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>243</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>395</integer>
				<key>y</key>
				<integer>229</integer>
				<key>offsetX</key>
				<real>62.5</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>710900_l_parts07a.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>243</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>291</integer>
				<key>y</key>
				<integer>231</integer>
				<key>offsetX</key>
				<real>109.5</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>710900_l_parts14c.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>321</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>242</integer>
				<key>offsetX</key>
				<real>-139.5</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>710900_l_parts14b.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>321</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>41</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>-136.5</real>
				<key>offsetY</key>
				<real>-30.5</real>
			</dict>
			<key>710900_l_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>315</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>710900_l_parts04b.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>41</integer>
				<key>y</key>
				<integer>289</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>710900_l_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>86</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>710900_l_parts14a.png</key>
			<dict>
				<key>width</key>
				<integer>13</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>321</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>251</integer>
				<key>y</key>
				<integer>55</integer>
				<key>offsetX</key>
				<real>-118</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>710900_l_parts13h.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>349</integer>
				<key>offsetX</key>
				<real>129</real>
				<key>offsetY</key>
				<real>51</real>
			</dict>
			<key>710900_l_parts13g.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>31</integer>
				<key>y</key>
				<integer>316</integer>
				<key>offsetX</key>
				<real>107</real>
				<key>offsetY</key>
				<real>49</real>
			</dict>
			<key>710900_l_parts13f.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>370</integer>
				<key>offsetX</key>
				<real>71</real>
				<key>offsetY</key>
				<real>30.5</real>
			</dict>
			<key>710900_l_parts13e.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>96</integer>
				<key>y</key>
				<integer>278</integer>
				<key>offsetX</key>
				<real>23</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>710900_l_parts13d.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>424</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>-42.5</real>
			</dict>
			<key>710900_l_parts13c.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>31</integer>
				<key>y</key>
				<integer>341</integer>
				<key>offsetX</key>
				<real>-64</real>
				<key>offsetY</key>
				<real>-50</real>
			</dict>
			<key>710900_l_parts13b.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>165</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>-105.5</real>
				<key>offsetY</key>
				<real>-38.5</real>
			</dict>
			<key>710900_l_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>71</integer>
				<key>y</key>
				<integer>364</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>710900_l_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>460</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>710900_l_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>114</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>710900_l_parts13a.png</key>
			<dict>
				<key>width</key>
				<integer>12</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>74</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>-133</real>
				<key>offsetY</key>
				<real>-26.5</real>
			</dict>
			<key>710900_l_parts00.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>165</integer>
				<key>y</key>
				<integer>296</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>710900_l_parts10h.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>162</integer>
				<key>x</key>
				<integer>71</integer>
				<key>y</key>
				<integer>397</integer>
				<key>offsetX</key>
				<real>153</real>
				<key>offsetY</key>
				<real>64.5</real>
			</dict>
			<key>710900_l_parts10g.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>162</integer>
				<key>x</key>
				<integer>105</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>130</real>
				<key>offsetY</key>
				<real>58</real>
			</dict>
			<key>710900_l_parts10f.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>162</integer>
				<key>x</key>
				<integer>223</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>86</real>
				<key>offsetY</key>
				<real>55.5</real>
			</dict>
			<key>710900_l_parts10e.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>162</integer>
				<key>x</key>
				<integer>194</integer>
				<key>y</key>
				<integer>296</integer>
				<key>offsetX</key>
				<real>17</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>710900_l_parts10d.png</key>
			<dict>
				<key>width</key>
				<integer>158</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>162</integer>
				<key>x</key>
				<integer>194</integer>
				<key>y</key>
				<integer>350</integer>
				<key>offsetX</key>
				<real>-88</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>710900_l_parts11h.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>242</integer>
				<key>x</key>
				<integer>105</integer>
				<key>y</key>
				<integer>387</integer>
				<key>offsetX</key>
				<real>35.5</real>
				<key>offsetY</key>
				<real>103.5</real>
			</dict>
			<key>710900_l_parts11f.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>242</integer>
				<key>x</key>
				<integer>395</integer>
				<key>y</key>
				<integer>250</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>710900_l_parts11g.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>242</integer>
				<key>x</key>
				<integer>61</integer>
				<key>y</key>
				<integer>429</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>79</real>
			</dict>
			<key>710900_l_parts11e.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>242</integer>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<integer>421</integer>
				<key>offsetX</key>
				<real>-32.5</real>
				<key>offsetY</key>
				<real>-82.5</real>
			</dict>
			<key>710900_l_parts15b.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>273</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>194</integer>
				<key>y</key>
				<integer>470</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_710900_l0.png</string>
			<key>realTextureFileName</key>
			<string>mini_710900_l0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>