<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>700500l_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>700500l_parts07a.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>-23</real>
				<key>offsetY</key>
				<real>48</real>
			</dict>
			<key>700500l_parts07b.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>70</integer>
				<key>offsetX</key>
				<real>16</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>700500l_parts07c.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>122</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>48</real>
			</dict>
			<key>700500l_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-19.5</real>
				<key>offsetY</key>
				<real>40</real>
			</dict>
			<key>700500l_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>73</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>700500l_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>177</integer>
				<key>y</key>
				<integer>145</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>41.5</real>
			</dict>
			<key>700500l_parts05c.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>215</integer>
				<key>offsetX</key>
				<real>14.5</real>
				<key>offsetY</key>
				<real>28</real>
			</dict>
			<key>700500l_parts04b_1.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>700500l_parts04b_2.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>33</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>700500l_parts04b_3.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>64</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>700500l_parts04b_4.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>95</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-16</real>
			</dict>
			<key>700500l_parts04b_5.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>381</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>700500l_parts04b_6.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>124</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-25</real>
			</dict>
			<key>700500l_parts04b.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>194</integer>
				<key>y</key>
				<integer>215</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>700500l_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>153</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>29</integer>
				<key>y</key>
				<integer>381</integer>
				<key>offsetX</key>
				<real>35</real>
				<key>offsetY</key>
				<real>26.5</real>
			</dict>
			<key>700500l_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>227</integer>
				<key>y</key>
				<integer>215</integer>
				<key>offsetX</key>
				<real>35.5</real>
				<key>offsetY</key>
				<real>44</real>
			</dict>
			<key>700500l_parts03b.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-66.5</real>
			</dict>
			<key>700500l_parts02.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>292</integer>
				<key>originalHeight</key>
				<integer>213</integer>
				<key>x</key>
				<integer>359</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>61.5</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>700500l_parts00.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>373</integer>
				<key>y</key>
				<integer>67</integer>
				<key>offsetX</key>
				<real>27</real>
				<key>offsetY</key>
				<real>-39</real>
			</dict>
			<key>700500l_parts01.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>26</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>-40.5</real>
			</dict>
			<key>700500l_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>187</integer>
				<key>offsetX</key>
				<real>54</real>
				<key>offsetY</key>
				<real>-47</real>
			</dict>
			<key>700500l_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>452</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>39</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_700500_l0.png</string>
			<key>realTextureFileName</key>
			<string>mini_700500_l0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>