<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>640000l_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>640000l_parts07.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>3</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>640000l_parts08a1.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>107</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>640000l_parts08a2.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>198</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>640000l_parts09.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>289</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>640000l_parts10a1.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>377</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>640000l_parts11.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>238</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>431</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>640000l_parts12.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>640000l_parts13e.png</key>
			<dict>
				<key>width</key>
				<integer>276</integer>
				<key>height</key>
				<integer>278</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>740</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>640000l_parts00a.png</key>
			<dict>
				<key>width</key>
				<integer>420</integer>
				<key>height</key>
				<integer>563</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>650</integer>
				<key>x</key>
				<integer>1018</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-109</real>
				<key>offsetY</key>
				<real>27.5</real>
			</dict>
			<key>640000l_parts01.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>502</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>650</integer>
				<key>x</key>
				<integer>1440</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>640000l_parts03a1.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>1556</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>640000l_parts03a2.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>1760</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>19</real>
				<key>offsetY</key>
				<real>19.5</real>
			</dict>
			<key>640000l_parts04.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>444</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>80</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-33</real>
			</dict>
			<key>640000l_parts05.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>495</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>550</integer>
				<key>x</key>
				<integer>1921</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>640000l_parts06a1.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>225</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>107</integer>
				<key>y</key>
				<integer>101</integer>
				<key>offsetX</key>
				<real>-36</real>
				<key>offsetY</key>
				<real>47</real>
			</dict>
			<key>640000l_parts06a2.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>225</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>154</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>19</real>
			</dict>
			<key>640000l_parts02.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>308</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>1760</integer>
				<key>y</key>
				<integer>168</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>21</real>
			</dict>
			<key>640000l_parts13.png</key>
			<dict>
				<key>width</key>
				<integer>194</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>1556</integer>
				<key>y</key>
				<integer>203</integer>
				<key>offsetX</key>
				<real>57</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>640000l_parts13f.png</key>
			<dict>
				<key>width</key>
				<integer>233</integer>
				<key>height</key>
				<integer>231</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>656</integer>
				<key>y</key>
				<integer>280</integer>
				<key>offsetX</key>
				<real>47.5</real>
				<key>offsetY</key>
				<real>-29</real>
			</dict>
			<key>640000l_parts13b.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>341</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>640000l_parts13c.png</key>
			<dict>
				<key>width</key>
				<integer>196</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>107</integer>
				<key>y</key>
				<integer>315</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>640000l_parts13d.png</key>
			<dict>
				<key>width</key>
				<integer>173</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1556</integer>
				<key>y</key>
				<integer>397</integer>
				<key>offsetX</key>
				<real>-16</real>
				<key>offsetY</key>
				<real>34</real>
			</dict>
			<key>640000l_parts15.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>267</integer>
				<key>originalWidth</key>
				<integer>225</integer>
				<key>originalHeight</key>
				<integer>325</integer>
				<key>x</key>
				<integer>891</integer>
				<key>y</key>
				<integer>280</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>640000l_parts14.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>231</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>377</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>640000l_parts16a1.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>225</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>73</integer>
				<key>y</key>
				<integer>403</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>640000l_parts17.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>225</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>403</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>640000l_parts19.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>264</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>325</integer>
				<key>x</key>
				<integer>224</integer>
				<key>y</key>
				<integer>403</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>640000l_parts18a1.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>290</integer>
				<key>y</key>
				<integer>449</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-13</real>
			</dict>
			<key>640000l_parts18a2.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>342</integer>
				<key>y</key>
				<integer>449</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>640000l_parts20.png</key>
			<dict>
				<key>width</key>
				<integer>1659</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>1750</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>290</integer>
				<key>y</key>
				<integer>565</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>640000l_parts18b1.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>1951</integer>
				<key>y</key>
				<integer>497</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>640000l_parts03b1.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>185</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>1951</integer>
				<key>y</key>
				<integer>576</integer>
				<key>offsetX</key>
				<real>64</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>640000l_parts03b2.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>73</integer>
				<key>y</key>
				<integer>578</integer>
				<key>offsetX</key>
				<real>52.5</real>
				<key>offsetY</key>
				<real>19.5</real>
			</dict>
			<key>640000l_parts06b1.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>225</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>173</integer>
				<key>y</key>
				<integer>673</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>640000l_parts06b2.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>225</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>327</integer>
				<key>y</key>
				<integer>673</integer>
				<key>offsetX</key>
				<real>22.5</real>
				<key>offsetY</key>
				<real>20.5</real>
			</dict>
			<key>640000l_parts10b1.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>610</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>640000l_parts16b1.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>225</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>469</integer>
				<key>y</key>
				<integer>673</integer>
				<key>offsetX</key>
				<real>23</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>640000l_parts16b2.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>225</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>582</integer>
				<key>y</key>
				<integer>673</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>640000l_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>619</integer>
				<key>height</key>
				<integer>597</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>650</integer>
				<key>x</key>
				<integer>727</integer>
				<key>y</key>
				<integer>673</integer>
				<key>offsetX</key>
				<real>21.5</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>640000l_parts90a.png</key>
			<dict>
				<key>width</key>
				<integer>171</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1348</integer>
				<key>y</key>
				<integer>673</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>640000l_parts90b.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1521</integer>
				<key>y</key>
				<integer>673</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>640000l_parts90c.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1653</integer>
				<key>y</key>
				<integer>673</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>640000l_parts80.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>285</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>325</integer>
				<key>x</key>
				<integer>1810</integer>
				<key>y</key>
				<integer>673</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>640000l_parts81.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>554</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>554</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>687</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>640000l_parts91b.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>38</integer>
				<key>y</key>
				<integer>740</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>640000l_parts91a.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>469</integer>
				<key>y</key>
				<integer>747</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>640000l_parts91c.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>544</integer>
				<key>y</key>
				<integer>757</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>640000l_parts_bg00.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1272</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_640000_l0.png</string>
			<key>realTextureFileName</key>
			<string>mini_640000_l0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>