<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>740300l_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>740300l_parts_ef02.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>173</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740300l_parts_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>173</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>173</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>174</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740300l_parts_06.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>175</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>740300l_parts_07.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>46</integer>
				<key>y</key>
				<integer>175</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740300l_parts_05.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>9</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>72</integer>
				<key>y</key>
				<integer>175</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740300l_parts_02.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>83</integer>
				<key>y</key>
				<integer>175</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>740300l_parts_01.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>162</integer>
				<key>y</key>
				<integer>175</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>740300l_parts_03.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>59</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>349</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740300l_parts_00.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>111</integer>
				<key>x</key>
				<integer>349</integer>
				<key>y</key>
				<integer>33</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740300l_parts_04.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>242</integer>
				<key>y</key>
				<integer>172</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740300l_parts_08.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>450</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740300l_parts_08a.png</key>
			<dict>
				<key>width</key>
				<integer>274</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>274</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>250</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740300l_parts_08b.png</key>
			<dict>
				<key>width</key>
				<integer>269</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>269</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>358</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_740300_l0.png</string>
			<key>realTextureFileName</key>
			<string>mini_740300_l0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>