<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>402300dr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>402300dr_parts_txt12.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>402300dr_parts_txt11.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>84</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>402300dr_parts_txt10.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>156</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>402300dr_parts_txt09.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>88</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>402300dr_parts_txt08.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>71</integer>
				<key>y</key>
				<integer>93</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>402300dr_parts_txt07.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>167</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>402300dr_parts_txt06.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>159</integer>
				<key>y</key>
				<integer>76</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>402300dr_parts_txt05.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>159</integer>
				<key>y</key>
				<integer>161</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>402300dr_parts_txt04.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>227</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>402300dr_parts_txt03.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>299</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>402300dr_parts_txt02.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>370</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>402300dr_parts_txt01.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>242</integer>
				<key>y</key>
				<integer>79</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>402300dr_parts107.png</key>
			<dict>
				<key>width</key>
				<integer>657</integer>
				<key>height</key>
				<integer>637</integer>
				<key>originalWidth</key>
				<integer>706</integer>
				<key>originalHeight</key>
				<integer>735</integer>
				<key>x</key>
				<integer>232</integer>
				<key>y</key>
				<integer>161</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>402300dr_parts109.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>524</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>568</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>246</integer>
				<key>offsetX</key>
				<real>11.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>402300dr_parts106b2.png</key>
			<dict>
				<key>width</key>
				<integer>895</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>1043</integer>
				<key>originalHeight</key>
				<integer>578</integer>
				<key>x</key>
				<integer>457</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>32</real>
				<key>offsetY</key>
				<real>-165.5</real>
			</dict>
			<key>402300dr_parts106b.png</key>
			<dict>
				<key>width</key>
				<integer>895</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>1043</integer>
				<key>originalHeight</key>
				<integer>578</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>800</integer>
				<key>offsetX</key>
				<real>32</real>
				<key>offsetY</key>
				<real>-165.5</real>
			</dict>
			<key>402300dr_parts106a2.png</key>
			<dict>
				<key>width</key>
				<integer>895</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>1043</integer>
				<key>originalHeight</key>
				<integer>578</integer>
				<key>x</key>
				<integer>891</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>32</real>
				<key>offsetY</key>
				<real>111.5</real>
			</dict>
			<key>402300dr_parts106a.png</key>
			<dict>
				<key>width</key>
				<integer>895</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>1043</integer>
				<key>originalHeight</key>
				<integer>578</integer>
				<key>x</key>
				<integer>891</integer>
				<key>y</key>
				<integer>250</integer>
				<key>offsetX</key>
				<real>32</real>
				<key>offsetY</key>
				<real>111.5</real>
			</dict>
			<key>402300dr_parts105.png</key>
			<dict>
				<key>width</key>
				<integer>952</integer>
				<key>height</key>
				<integer>539</integer>
				<key>originalWidth</key>
				<integer>1043</integer>
				<key>originalHeight</key>
				<integer>578</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>925</integer>
				<key>offsetX</key>
				<real>24.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>402300dr_parts108.png</key>
			<dict>
				<key>width</key>
				<integer>657</integer>
				<key>height</key>
				<integer>693</integer>
				<key>originalWidth</key>
				<integer>706</integer>
				<key>originalHeight</key>
				<integer>735</integer>
				<key>x</key>
				<integer>954</integer>
				<key>y</key>
				<integer>375</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>402300dr_parts110.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>524</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>568</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1466</integer>
				<key>offsetX</key>
				<real>12</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>402300dr_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>1354</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-27</real>
				<key>offsetY</key>
				<real>-36</real>
			</dict>
			<key>402300dr_parts03b.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>1458</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-25</real>
				<key>offsetY</key>
				<real>-46</real>
			</dict>
			<key>402300dr_parts03c.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>1558</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-26</real>
				<key>offsetY</key>
				<real>-41.5</real>
			</dict>
			<key>402300dr_parts03d.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>92</integer>
				<key>y</key>
				<integer>1466</integer>
				<key>offsetX</key>
				<real>-27</real>
				<key>offsetY</key>
				<real>-57</real>
			</dict>
			<key>402300dr_parts03e.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>92</integer>
				<key>y</key>
				<integer>1528</integer>
				<key>offsetX</key>
				<real>-27</real>
				<key>offsetY</key>
				<real>-60</real>
			</dict>
			<key>402300dr_parts03_hair3.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>173</integer>
				<key>originalHeight</key>
				<integer>134</integer>
				<key>x</key>
				<integer>184</integer>
				<key>y</key>
				<integer>1466</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>402300dr_parts03_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>118</integer>
				<key>originalHeight</key>
				<integer>171</integer>
				<key>x</key>
				<integer>93</integer>
				<key>y</key>
				<integer>184</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>402300dr_parts03_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>329</integer>
				<key>originalHeight</key>
				<integer>329</integer>
				<key>x</key>
				<integer>92</integer>
				<key>y</key>
				<integer>1596</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>402300dr_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>283</integer>
				<key>y</key>
				<integer>1466</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>402300dr_parts03_hair2.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>158</integer>
				<key>x</key>
				<integer>93</integer>
				<key>y</key>
				<integer>309</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>402300dr_parts04_ex1.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>105</integer>
				<key>x</key>
				<integer>143</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>12</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>402300dr_parts04_ex2.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>97</integer>
				<key>x</key>
				<integer>303</integer>
				<key>y</key>
				<integer>79</integer>
				<key>offsetX</key>
				<real>-19.5</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>402300dr_parts04_ex2b.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>97</integer>
				<key>x</key>
				<integer>183</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>19.5</real>
			</dict>
			<key>402300dr_parts04_ex3.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>103</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>368</integer>
				<key>y</key>
				<integer>91</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>402300dr_parts04_ex3b.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>103</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>143</integer>
				<key>y</key>
				<integer>339</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>402300dr_parts103.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>92</integer>
				<key>y</key>
				<integer>1752</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>402300dr_parts102.png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>446</integer>
				<key>y</key>
				<integer>1466</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>402300dr_parts104.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>110</integer>
				<key>x</key>
				<integer>93</integer>
				<key>y</key>
				<integer>419</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>402300dr_parts00a.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>93</integer>
				<key>y</key>
				<integer>522</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>402300dr_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>129</integer>
				<key>y</key>
				<integer>522</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>402300dr_parts00c.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>165</integer>
				<key>y</key>
				<integer>522</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>402300dr_parts00d.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>93</integer>
				<key>y</key>
				<integer>598</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>402300dr_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>201</integer>
				<key>y</key>
				<integer>522</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>402300dr_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>165</integer>
				<key>y</key>
				<integer>580</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>402300dr_parts03_hair4.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>185</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>1656</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>402300dr_parts03_hair5.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>86</integer>
				<key>x</key>
				<integer>93</integer>
				<key>y</key>
				<integer>655</integer>
				<key>offsetX</key>
				<real>14</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>402300dr_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1788</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>19.5</real>
			</dict>
			<key>402300dr_parts04b.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1870</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>18.5</real>
			</dict>
			<key>402300dr_parts04_ex4.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>185</integer>
				<key>x</key>
				<integer>1788</integer>
				<key>y</key>
				<integer>129</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>402300dr_parts04_ex5.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>163</integer>
				<key>x</key>
				<integer>281</integer>
				<key>y</key>
				<integer>1644</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>402300dr_parts04_ex7.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>203</integer>
				<key>x</key>
				<integer>1946</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>402300dr_parts04_ex6.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>213</integer>
				<key>x</key>
				<integer>92</integer>
				<key>y</key>
				<integer>1879</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>402300dr_parts04_ex8.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>102</integer>
				<key>originalHeight</key>
				<integer>186</integer>
				<key>x</key>
				<integer>1613</integer>
				<key>y</key>
				<integer>375</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>402300dr_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>206</integer>
				<key>y</key>
				<integer>296</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>402300dr_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>132</integer>
				<key>y</key>
				<integer>665</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>402300dr_parts05c.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>665</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>402300dr_parts06a2.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>93</integer>
				<key>y</key>
				<integer>724</integer>
				<key>offsetX</key>
				<real>39.5</real>
				<key>offsetY</key>
				<real>-38</real>
			</dict>
			<key>402300dr_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>350</integer>
				<key>y</key>
				<integer>1644</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>402300dr_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>891</integer>
				<key>y</key>
				<integer>375</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>402300dr_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>891</integer>
				<key>y</key>
				<integer>486</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>402300dr_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>447</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>402300dr_parts06b2.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>490</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>-24</real>
				<key>offsetY</key>
				<real>-40</real>
			</dict>
			<key>402300dr_parts04_ex2c.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>97</integer>
				<key>x</key>
				<integer>1458</integer>
				<key>y</key>
				<integer>79</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>402300dr_parts111.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>452</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>954</integer>
				<key>y</key>
				<integer>1070</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-40</real>
			</dict>
			<key>402300dr_parts_bg.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>86</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1992</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>402300dr_parts_bg1.png</key>
			<dict>
				<key>width</key>
				<integer>770</integer>
				<key>height</key>
				<integer>578</integer>
				<key>originalWidth</key>
				<integer>770</integer>
				<key>originalHeight</key>
				<integer>578</integer>
				<key>x</key>
				<integer>612</integer>
				<key>y</key>
				<integer>1466</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_402300_d_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_402300_d_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>