<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>210100dr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>210100dr_parts_300c.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>852</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>-72.5</real>
				<key>offsetY</key>
				<real>-57.5</real>
			</dict>
			<key>210100dr_parts_300b2.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>852</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>151</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-99</real>
				<key>offsetY</key>
				<real>-56.5</real>
			</dict>
			<key>210100dr_parts_300a.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>852</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>98</integer>
				<key>offsetX</key>
				<real>-73</real>
				<key>offsetY</key>
				<real>-80.5</real>
			</dict>
			<key>210100dr_parts_300b1.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>852</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>147</integer>
				<key>offsetX</key>
				<real>-99.5</real>
				<key>offsetY</key>
				<real>-52</real>
			</dict>
			<key>210100dr_parts_300.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>682</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>682</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>213</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>210100dr_parts_mask00.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>99</integer>
				<key>y</key>
				<integer>147</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>210100dr_parts_d019.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>249</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>210100dr_parts_d009.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>145</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>210100dr_parts_d001.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>438</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>210100dr_parts_d012.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>295</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>210100dr_parts_d023.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>394</integer>
				<key>y</key>
				<integer>147</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>210100dr_parts_d017.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>619</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>210100dr_parts_d014.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>447</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>210100dr_parts_d003.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>394</integer>
				<key>y</key>
				<integer>297</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>210100dr_parts_d010.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>584</integer>
				<key>y</key>
				<integer>147</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>210100dr_parts_d024.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>597</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>210100dr_parts_d008.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>808</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>210100dr_parts_d016.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>390</integer>
				<key>y</key>
				<integer>448</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>210100dr_parts_d004.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>584</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>210100dr_parts_d021.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>742</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>210100dr_parts_d011.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>776</integer>
				<key>y</key>
				<integer>151</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>210100dr_parts_d020.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>390</integer>
				<key>y</key>
				<integer>593</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>210100dr_parts_d018.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>577</integer>
				<key>y</key>
				<integer>448</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>210100dr_parts_d015.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>773</integer>
				<key>y</key>
				<integer>298</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>210100dr_parts_d013.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>390</integer>
				<key>y</key>
				<integer>741</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>210100dr_parts_d002.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>766</integer>
				<key>y</key>
				<integer>446</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>210100dr_parts_d000.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>569</integer>
				<key>y</key>
				<integer>593</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>210100dr_parts_d025.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>581</integer>
				<key>y</key>
				<integer>736</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>210100dr_parts_d006.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>772</integer>
				<key>y</key>
				<integer>597</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>210100dr_parts_d022.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>772</integer>
				<key>y</key>
				<integer>747</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>210100dr_parts_d007.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>997</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>210100dr_parts_d005.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>968</integer>
				<key>y</key>
				<integer>151</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>210100dr_parts_203.png</key>
			<dict>
				<key>width</key>
				<integer>237</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1188</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>23.5</real>
			</dict>
			<key>210100dr_parts_204.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>893</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>210100dr_parts_205a.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>897</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-30.5</real>
			</dict>
			<key>210100dr_parts_205b.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>254</integer>
				<key>y</key>
				<integer>893</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-33.5</real>
			</dict>
			<key>210100dr_parts_205.png</key>
			<dict>
				<key>width</key>
				<integer>178</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>959</integer>
				<key>y</key>
				<integer>301</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>210100dr_parts_212a.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>1160</integer>
				<key>y</key>
				<integer>173</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>31</real>
			</dict>
			<key>210100dr_parts_213.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>1229</integer>
				<key>y</key>
				<integer>173</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-22.5</real>
			</dict>
			<key>210100dr_parts_212b.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>132</integer>
				<key>y</key>
				<integer>897</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>48.5</real>
			</dict>
			<key>210100dr_parts_200.png</key>
			<dict>
				<key>width</key>
				<integer>234</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>380</integer>
				<key>y</key>
				<integer>893</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>210100dr_parts_201.png</key>
			<dict>
				<key>width</key>
				<integer>225</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1427</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>210100dr_parts_206.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>773</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>850</integer>
				<key>x</key>
				<integer>1364</integer>
				<key>y</key>
				<integer>173</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>210100dr_parts_207a.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>325</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>955</integer>
				<key>y</key>
				<integer>467</integer>
				<key>offsetX</key>
				<real>-35</real>
				<key>offsetY</key>
				<real>41</real>
			</dict>
			<key>210100dr_parts_207c.png</key>
			<dict>
				<key>width</key>
				<integer>237</integer>
				<key>height</key>
				<integer>286</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>550</integer>
				<key>x</key>
				<integer>964</integer>
				<key>y</key>
				<integer>560</integer>
				<key>offsetX</key>
				<real>-83.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>210100dr_parts_210.png</key>
			<dict>
				<key>width</key>
				<integer>370</integer>
				<key>height</key>
				<integer>830</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>1100</integer>
				<key>x</key>
				<integer>1654</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>210100dr_parts_202a.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1203</integer>
				<key>y</key>
				<integer>364</integer>
				<key>offsetX</key>
				<real>-40.5</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>210100dr_parts_202c.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1203</integer>
				<key>y</key>
				<integer>531</integer>
				<key>offsetX</key>
				<real>24</real>
				<key>offsetY</key>
				<real>20</real>
			</dict>
			<key>210100dr_parts_202e.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>616</integer>
				<key>y</key>
				<integer>886</integer>
				<key>offsetX</key>
				<real>62</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>210100dr_parts_202b.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>59</integer>
				<key>offsetX</key>
				<real>26.5</real>
				<key>offsetY</key>
				<real>33.5</real>
			</dict>
			<key>210100dr_parts_202d.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>961</integer>
				<key>y</key>
				<integer>848</integer>
				<key>offsetX</key>
				<real>48</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>210100dr_parts_211.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>716</integer>
				<key>y</key>
				<integer>886</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>210100dr_parts_209.png</key>
			<dict>
				<key>width</key>
				<integer>269</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>425</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>1067</integer>
				<key>y</key>
				<integer>848</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>24</real>
			</dict>
			<key>210100dr_parts_208.png</key>
			<dict>
				<key>width</key>
				<integer>286</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1067</integer>
				<key>y</key>
				<integer>961</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>210100dr_parts_214a.png</key>
			<dict>
				<key>width</key>
				<integer>229</integer>
				<key>height</key>
				<integer>770</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>1200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1024</integer>
				<key>offsetX</key>
				<real>-29.5</real>
				<key>offsetY</key>
				<real>107</real>
			</dict>
			<key>210100dr_parts_214b.png</key>
			<dict>
				<key>width</key>
				<integer>222</integer>
				<key>height</key>
				<integer>618</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>1200</integer>
				<key>x</key>
				<integer>231</integer>
				<key>y</key>
				<integer>1024</integer>
				<key>offsetX</key>
				<real>16</real>
				<key>offsetY</key>
				<real>155</real>
			</dict>
			<key>210100dr_parts_214c.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>609</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>1200</integer>
				<key>x</key>
				<integer>455</integer>
				<key>y</key>
				<integer>1020</integer>
				<key>offsetX</key>
				<real>-16</real>
				<key>offsetY</key>
				<real>166.5</real>
			</dict>
			<key>210100dr_parts_215a.png</key>
			<dict>
				<key>width</key>
				<integer>281</integer>
				<key>height</key>
				<integer>845</integer>
				<key>originalWidth</key>
				<integer>550</integer>
				<key>originalHeight</key>
				<integer>1200</integer>
				<key>x</key>
				<integer>581</integer>
				<key>y</key>
				<integer>1020</integer>
				<key>offsetX</key>
				<real>38.5</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>210100dr_parts_215b.png</key>
			<dict>
				<key>width</key>
				<integer>163</integer>
				<key>height</key>
				<integer>627</integer>
				<key>originalWidth</key>
				<integer>550</integer>
				<key>originalHeight</key>
				<integer>1200</integer>
				<key>x</key>
				<integer>864</integer>
				<key>y</key>
				<integer>1021</integer>
				<key>offsetX</key>
				<real>36.5</real>
				<key>offsetY</key>
				<real>161.5</real>
			</dict>
			<key>210100dr_parts_215c.png</key>
			<dict>
				<key>width</key>
				<integer>167</integer>
				<key>height</key>
				<integer>656</integer>
				<key>originalWidth</key>
				<integer>550</integer>
				<key>originalHeight</key>
				<integer>1200</integer>
				<key>x</key>
				<integer>1029</integer>
				<key>y</key>
				<integer>1021</integer>
				<key>offsetX</key>
				<real>56.5</real>
				<key>offsetY</key>
				<real>119</real>
			</dict>
			<key>210100dr_parts_216.png</key>
			<dict>
				<key>width</key>
				<integer>324</integer>
				<key>height</key>
				<integer>800</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>1198</integer>
				<key>y</key>
				<integer>1004</integer>
				<key>offsetX</key>
				<real>29</real>
				<key>offsetY</key>
				<real>-69</real>
			</dict>
			<key>210100dr_parts_bg00.png</key>
			<dict>
				<key>width</key>
				<integer>471</integer>
				<key>height</key>
				<integer>689</integer>
				<key>originalWidth</key>
				<integer>471</integer>
				<key>originalHeight</key>
				<integer>689</integer>
				<key>x</key>
				<integer>1524</integer>
				<key>y</key>
				<integer>948</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_210100_d_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_210100_d_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>