<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>640500l_parts15b.png</key>
			<dict>
				<key>width</key>
				<integer>1150</integer>
				<key>height</key>
				<integer>661</integer>
				<key>originalWidth</key>
				<integer>1229</integer>
				<key>originalHeight</key>
				<integer>738</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>640500l_parts15c.png</key>
			<dict>
				<key>width</key>
				<integer>1144</integer>
				<key>height</key>
				<integer>660</integer>
				<key>originalWidth</key>
				<integer>1229</integer>
				<key>originalHeight</key>
				<integer>738</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>663</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_640500_l2.png</string>
			<key>realTextureFileName</key>
			<string>mini_640500_l2.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>