<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>650000_l_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>650000_l_parts11c.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>143</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>650000_l_parts11a.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>131</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>650000_l_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>210</integer>
				<key>height</key>
				<integer>290</integer>
				<key>originalWidth</key>
				<integer>210</integer>
				<key>originalHeight</key>
				<integer>290</integer>
				<key>x</key>
				<integer>143</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>650000_l_parts11b.png</key>
			<dict>
				<key>width</key>
				<integer>196</integer>
				<key>height</key>
				<integer>412</integer>
				<key>originalWidth</key>
				<integer>196</integer>
				<key>originalHeight</key>
				<integer>412</integer>
				<key>x</key>
				<integer>353</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>650000_l_parts20a.png</key>
			<dict>
				<key>width</key>
				<integer>1275</integer>
				<key>height</key>
				<integer>460</integer>
				<key>originalWidth</key>
				<integer>1275</integer>
				<key>originalHeight</key>
				<integer>477</integer>
				<key>x</key>
				<integer>549</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>650000_l_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>308</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>308</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>217</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>650000_l_parts11d.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>438</integer>
				<key>originalWidth</key>
				<integer>188</integer>
				<key>originalHeight</key>
				<integer>438</integer>
				<key>x</key>
				<integer>114</integer>
				<key>y</key>
				<integer>290</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>650000_l_parts20b.png</key>
			<dict>
				<key>width</key>
				<integer>1249</integer>
				<key>height</key>
				<integer>432</integer>
				<key>originalWidth</key>
				<integer>1249</integer>
				<key>originalHeight</key>
				<integer>432</integer>
				<key>x</key>
				<integer>302</integer>
				<key>y</key>
				<integer>460</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>650000_l_parts10b.png</key>
			<dict>
				<key>width</key>
				<integer>242</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>242</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1551</integer>
				<key>y</key>
				<integer>460</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>650000_l_parts10a.png</key>
			<dict>
				<key>width</key>
				<integer>254</integer>
				<key>height</key>
				<integer>393</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>393</integer>
				<key>x</key>
				<integer>1793</integer>
				<key>y</key>
				<integer>460</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>650000_l_parts00.png</key>
			<dict>
				<key>width</key>
				<integer>477</integer>
				<key>height</key>
				<integer>408</integer>
				<key>originalWidth</key>
				<integer>477</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>892</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>650000_l_parts10e.png</key>
			<dict>
				<key>width</key>
				<integer>440</integer>
				<key>height</key>
				<integer>392</integer>
				<key>originalWidth</key>
				<integer>440</integer>
				<key>originalHeight</key>
				<integer>392</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1300</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>650000_l_parts10d.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>87</integer>
				<key>originalHeight</key>
				<integer>194</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>525</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>650000_l_parts10c.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>87</integer>
				<key>originalHeight</key>
				<integer>194</integer>
				<key>x</key>
				<integer>477</integer>
				<key>y</key>
				<integer>892</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>650000_l_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>183</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>183</integer>
				<key>x</key>
				<integer>564</integer>
				<key>y</key>
				<integer>892</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>650000_l_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>274</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>274</integer>
				<key>x</key>
				<integer>477</integer>
				<key>y</key>
				<integer>1086</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>650000_l_parts02.png</key>
			<dict>
				<key>width</key>
				<integer>157</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>158</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>730</integer>
				<key>y</key>
				<integer>892</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>650000_l_parts03b.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>221</integer>
				<key>originalWidth</key>
				<integer>170</integer>
				<key>originalHeight</key>
				<integer>221</integer>
				<key>x</key>
				<integer>587</integer>
				<key>y</key>
				<integer>1081</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>650000_l_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>266</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>267</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1692</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>650000_l_parts04b.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>262</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>262</integer>
				<key>x</key>
				<integer>68</integer>
				<key>y</key>
				<integer>1692</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>650000_l_parts02c.png</key>
			<dict>
				<key>width</key>
				<integer>357</integer>
				<key>height</key>
				<integer>423</integer>
				<key>originalWidth</key>
				<integer>357</integer>
				<key>originalHeight</key>
				<integer>423</integer>
				<key>x</key>
				<integer>887</integer>
				<key>y</key>
				<integer>892</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>650000_l_parts02e.png</key>
			<dict>
				<key>width</key>
				<integer>295</integer>
				<key>height</key>
				<integer>390</integer>
				<key>originalWidth</key>
				<integer>296</integer>
				<key>originalHeight</key>
				<integer>390</integer>
				<key>x</key>
				<integer>440</integer>
				<key>y</key>
				<integer>1360</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>650000_l_parts02d.png</key>
			<dict>
				<key>width</key>
				<integer>275</integer>
				<key>height</key>
				<integer>285</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>285</integer>
				<key>x</key>
				<integer>131</integer>
				<key>y</key>
				<integer>1692</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>650000_l_parts02f.png</key>
			<dict>
				<key>width</key>
				<integer>222</integer>
				<key>height</key>
				<integer>234</integer>
				<key>originalWidth</key>
				<integer>222</integer>
				<key>originalHeight</key>
				<integer>234</integer>
				<key>x</key>
				<integer>1824</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_650000_l0.png</string>
			<key>realTextureFileName</key>
			<string>mini_650000_l0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>