<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>600000_l_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts10b.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>681</integer>
				<key>originalWidth</key>
				<integer>83</integer>
				<key>originalHeight</key>
				<integer>681</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>8</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts11b.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>882</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>882</integer>
				<key>x</key>
				<integer>83</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts11a.png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>926</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>926</integer>
				<key>x</key>
				<integer>280</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts11c.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>831</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>831</integer>
				<key>x</key>
				<integer>444</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>537</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>537</integer>
				<key>x</key>
				<integer>594</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts10a.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>801</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>801</integer>
				<key>x</key>
				<integer>940</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>768</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>768</integer>
				<key>originalHeight</key>
				<integer>181</integer>
				<key>x</key>
				<integer>1061</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>761</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>761</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>1061</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>761</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>761</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>444</integer>
				<key>y</key>
				<integer>831</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts06d.png</key>
			<dict>
				<key>width</key>
				<integer>732</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>732</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>1061</integer>
				<key>y</key>
				<integer>355</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts06e.png</key>
			<dict>
				<key>width</key>
				<integer>788</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>788</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>1061</integer>
				<key>y</key>
				<integer>544</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>376</integer>
				<key>height</key>
				<integer>372</integer>
				<key>originalWidth</key>
				<integer>376</integer>
				<key>originalHeight</key>
				<integer>372</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1005</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts01c.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>586</integer>
				<key>originalWidth</key>
				<integer>73</integer>
				<key>originalHeight</key>
				<integer>586</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1377</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>628</integer>
				<key>originalWidth</key>
				<integer>394</integer>
				<key>originalHeight</key>
				<integer>628</integer>
				<key>x</key>
				<integer>376</integer>
				<key>y</key>
				<integer>1005</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>350</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>770</integer>
				<key>y</key>
				<integer>1005</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts00a.png</key>
			<dict>
				<key>width</key>
				<integer>368</integer>
				<key>height</key>
				<integer>545</integer>
				<key>originalWidth</key>
				<integer>368</integer>
				<key>originalHeight</key>
				<integer>545</integer>
				<key>x</key>
				<integer>1205</integer>
				<key>y</key>
				<integer>708</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts02c.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>109</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>882</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>268</integer>
				<key>height</key>
				<integer>265</integer>
				<key>originalWidth</key>
				<integer>268</integer>
				<key>originalHeight</key>
				<integer>265</integer>
				<key>x</key>
				<integer>594</integer>
				<key>y</key>
				<integer>537</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>214</integer>
				<key>height</key>
				<integer>211</integer>
				<key>originalWidth</key>
				<integer>214</integer>
				<key>originalHeight</key>
				<integer>211</integer>
				<key>x</key>
				<integer>73</integer>
				<key>y</key>
				<integer>1377</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>553</integer>
				<key>originalWidth</key>
				<integer>108</integer>
				<key>originalHeight</key>
				<integer>553</integer>
				<key>x</key>
				<integer>770</integer>
				<key>y</key>
				<integer>1355</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts04b.png</key>
			<dict>
				<key>width</key>
				<integer>209</integer>
				<key>height</key>
				<integer>549</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>549</integer>
				<key>x</key>
				<integer>878</integer>
				<key>y</key>
				<integer>1355</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>216</integer>
				<key>height</key>
				<integer>552</integer>
				<key>originalWidth</key>
				<integer>216</integer>
				<key>originalHeight</key>
				<integer>552</integer>
				<key>x</key>
				<integer>1573</integer>
				<key>y</key>
				<integer>708</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts04d.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>314</integer>
				<key>originalWidth</key>
				<integer>102</integer>
				<key>originalHeight</key>
				<integer>314</integer>
				<key>x</key>
				<integer>73</integer>
				<key>y</key>
				<integer>1588</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts04e.png</key>
			<dict>
				<key>width</key>
				<integer>266</integer>
				<key>height</key>
				<integer>551</integer>
				<key>originalWidth</key>
				<integer>266</integer>
				<key>originalHeight</key>
				<integer>551</integer>
				<key>x</key>
				<integer>1087</integer>
				<key>y</key>
				<integer>1355</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>196</integer>
				<key>height</key>
				<integer>549</integer>
				<key>originalWidth</key>
				<integer>196</integer>
				<key>originalHeight</key>
				<integer>549</integer>
				<key>x</key>
				<integer>1849</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>548</integer>
				<key>originalWidth</key>
				<integer>161</integer>
				<key>originalHeight</key>
				<integer>548</integer>
				<key>x</key>
				<integer>1849</integer>
				<key>y</key>
				<integer>549</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600000_l_parts05c.png</key>
			<dict>
				<key>width</key>
				<integer>235</integer>
				<key>height</key>
				<integer>552</integer>
				<key>originalWidth</key>
				<integer>235</integer>
				<key>originalHeight</key>
				<integer>552</integer>
				<key>x</key>
				<integer>1353</integer>
				<key>y</key>
				<integer>1260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_600000_l0.png</string>
			<key>realTextureFileName</key>
			<string>mini_600000_l0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>