<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>301200dr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>301200dr_parts_txt07.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>2</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>301200dr_parts_txt06.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>117</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>301200dr_parts_txt02.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>301200dr_parts_txt05.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>103</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>301200dr_parts_txt04.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>201</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>301200dr_parts_txt03.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>310</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>301200dr_parts_txt01.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>201</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>301200dr_parts50.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>286</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>103</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>-58</real>
				<key>offsetY</key>
				<real>-42.5</real>
			</dict>
			<key>301200dr_parts51.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>286</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>219</integer>
				<key>offsetX</key>
				<real>-49</real>
				<key>offsetY</key>
				<real>-82.5</real>
			</dict>
			<key>301200dr_parts52.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>286</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>33</integer>
				<key>y</key>
				<integer>219</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>-95.5</real>
			</dict>
			<key>301200dr_parts53.png</key>
			<dict>
				<key>width</key>
				<integer>276</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>286</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>25.5</real>
			</dict>
			<key>301200dr_parts00a.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>383</integer>
				<key>originalWidth</key>
				<integer>746</integer>
				<key>originalHeight</key>
				<integer>756</integer>
				<key>x</key>
				<integer>385</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-91</real>
				<key>offsetY</key>
				<real>-52.5</real>
			</dict>
			<key>301200dr_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>353</integer>
				<key>height</key>
				<integer>484</integer>
				<key>originalWidth</key>
				<integer>746</integer>
				<key>originalHeight</key>
				<integer>756</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>408</integer>
				<key>offsetX</key>
				<real>-83.5</real>
				<key>offsetY</key>
				<real>-76</real>
			</dict>
			<key>301200dr_parts00c.png</key>
			<dict>
				<key>width</key>
				<integer>377</integer>
				<key>height</key>
				<integer>345</integer>
				<key>originalWidth</key>
				<integer>746</integer>
				<key>originalHeight</key>
				<integer>756</integer>
				<key>x</key>
				<integer>354</integer>
				<key>y</key>
				<integer>384</integer>
				<key>offsetX</key>
				<real>-99.5</real>
				<key>offsetY</key>
				<real>-71.5</real>
			</dict>
			<key>301200dr_parts00d.png</key>
			<dict>
				<key>width</key>
				<integer>357</integer>
				<key>height</key>
				<integer>329</integer>
				<key>originalWidth</key>
				<integer>597</integer>
				<key>originalHeight</key>
				<integer>605</integer>
				<key>x</key>
				<integer>746</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-69</real>
				<key>offsetY</key>
				<real>-35</real>
			</dict>
			<key>301200dr_parts00e.png</key>
			<dict>
				<key>width</key>
				<integer>311</integer>
				<key>height</key>
				<integer>329</integer>
				<key>originalWidth</key>
				<integer>597</integer>
				<key>originalHeight</key>
				<integer>605</integer>
				<key>x</key>
				<integer>746</integer>
				<key>y</key>
				<integer>330</integer>
				<key>offsetX</key>
				<real>-78</real>
				<key>offsetY</key>
				<real>-35</real>
			</dict>
			<key>301200dr_parts00f.png</key>
			<dict>
				<key>width</key>
				<integer>325</integer>
				<key>height</key>
				<integer>329</integer>
				<key>originalWidth</key>
				<integer>597</integer>
				<key>originalHeight</key>
				<integer>605</integer>
				<key>x</key>
				<integer>1104</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-71</real>
				<key>offsetY</key>
				<real>-35</real>
			</dict>
			<key>301200dr_parts00g.png</key>
			<dict>
				<key>width</key>
				<integer>330</integer>
				<key>height</key>
				<integer>341</integer>
				<key>originalWidth</key>
				<integer>597</integer>
				<key>originalHeight</key>
				<integer>605</integer>
				<key>x</key>
				<integer>1058</integer>
				<key>y</key>
				<integer>330</integer>
				<key>offsetX</key>
				<real>-79.5</real>
				<key>offsetY</key>
				<real>-32</real>
			</dict>
			<key>301200dr_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>395</integer>
				<key>height</key>
				<integer>522</integer>
				<key>originalWidth</key>
				<integer>746</integer>
				<key>originalHeight</key>
				<integer>756</integer>
				<key>x</key>
				<integer>1430</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>103.5</real>
				<key>offsetY</key>
				<real>-65</real>
			</dict>
			<key>301200dr_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>470</integer>
				<key>height</key>
				<integer>316</integer>
				<key>originalWidth</key>
				<integer>746</integer>
				<key>originalHeight</key>
				<integer>756</integer>
				<key>x</key>
				<integer>732</integer>
				<key>y</key>
				<integer>672</integer>
				<key>offsetX</key>
				<real>-89</real>
				<key>offsetY</key>
				<real>-185</real>
			</dict>
			<key>301200dr_parts01c.png</key>
			<dict>
				<key>width</key>
				<integer>359</integer>
				<key>height</key>
				<integer>327</integer>
				<key>originalWidth</key>
				<integer>746</integer>
				<key>originalHeight</key>
				<integer>756</integer>
				<key>x</key>
				<integer>1203</integer>
				<key>y</key>
				<integer>672</integer>
				<key>offsetX</key>
				<real>-140.5</real>
				<key>offsetY</key>
				<real>58.5</real>
			</dict>
			<key>301200dr_parts01h1.png</key>
			<dict>
				<key>width</key>
				<integer>208</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>746</integer>
				<key>originalHeight</key>
				<integer>756</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>893</integer>
				<key>offsetX</key>
				<real>69</real>
				<key>offsetY</key>
				<real>-86.5</real>
			</dict>
			<key>301200dr_parts01h2.png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>746</integer>
				<key>originalHeight</key>
				<integer>756</integer>
				<key>x</key>
				<integer>354</integer>
				<key>y</key>
				<integer>730</integer>
				<key>offsetX</key>
				<real>62.5</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>301200dr_parts01h3.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>746</integer>
				<key>originalHeight</key>
				<integer>756</integer>
				<key>x</key>
				<integer>556</integer>
				<key>y</key>
				<integer>730</integer>
				<key>offsetX</key>
				<real>26</real>
				<key>offsetY</key>
				<real>159</real>
			</dict>
			<key>301200dr_parts01d.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>746</integer>
				<key>originalHeight</key>
				<integer>756</integer>
				<key>x</key>
				<integer>277</integer>
				<key>y</key>
				<integer>210</integer>
				<key>offsetX</key>
				<real>112</real>
				<key>offsetY</key>
				<real>196.5</real>
			</dict>
			<key>301200dr_parts01e.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>746</integer>
				<key>originalHeight</key>
				<integer>756</integer>
				<key>x</key>
				<integer>1826</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>211</real>
				<key>offsetY</key>
				<real>186</real>
			</dict>
			<key>301200dr_parts01f.png</key>
			<dict>
				<key>width</key>
				<integer>163</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>746</integer>
				<key>originalHeight</key>
				<integer>756</integer>
				<key>x</key>
				<integer>354</integer>
				<key>y</key>
				<integer>857</integer>
				<key>offsetX</key>
				<real>25.5</real>
				<key>offsetY</key>
				<real>243.5</real>
			</dict>
			<key>301200dr_parts02.png</key>
			<dict>
				<key>width</key>
				<integer>450</integer>
				<key>height</key>
				<integer>379</integer>
				<key>originalWidth</key>
				<integer>486</integer>
				<key>originalHeight</key>
				<integer>426</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1017</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>301200dr_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>470</integer>
				<key>height</key>
				<integer>341</integer>
				<key>originalWidth</key>
				<integer>528</integer>
				<key>originalHeight</key>
				<integer>412</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1397</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>301200dr_parts04e.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>340</integer>
				<key>originalWidth</key>
				<integer>548</integer>
				<key>originalHeight</key>
				<integer>654</integer>
				<key>x</key>
				<integer>451</integer>
				<key>y</key>
				<integer>1017</integer>
				<key>offsetX</key>
				<real>38.5</real>
				<key>offsetY</key>
				<real>-16</real>
			</dict>
			<key>301200dr_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>386</integer>
				<key>originalWidth</key>
				<integer>548</integer>
				<key>originalHeight</key>
				<integer>654</integer>
				<key>x</key>
				<integer>641</integer>
				<key>y</key>
				<integer>989</integer>
				<key>offsetX</key>
				<real>145.5</real>
				<key>offsetY</key>
				<real>13</real>
			</dict>
			<key>301200dr_parts04b.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>403</integer>
				<key>originalWidth</key>
				<integer>548</integer>
				<key>originalHeight</key>
				<integer>654</integer>
				<key>x</key>
				<integer>843</integer>
				<key>y</key>
				<integer>989</integer>
				<key>offsetX</key>
				<real>137.5</real>
				<key>offsetY</key>
				<real>-48.5</real>
			</dict>
			<key>301200dr_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>194</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>548</integer>
				<key>originalHeight</key>
				<integer>654</integer>
				<key>x</key>
				<integer>471</integer>
				<key>y</key>
				<integer>1376</integer>
				<key>offsetX</key>
				<real>122</real>
				<key>offsetY</key>
				<real>-99</real>
			</dict>
			<key>301200dr_parts04d.png</key>
			<dict>
				<key>width</key>
				<integer>460</integer>
				<key>height</key>
				<integer>540</integer>
				<key>originalWidth</key>
				<integer>548</integer>
				<key>originalHeight</key>
				<integer>654</integer>
				<key>x</key>
				<integer>1023</integer>
				<key>y</key>
				<integer>1000</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>35</real>
			</dict>
			<key>301200dr_parts05.png</key>
			<dict>
				<key>width</key>
				<integer>354</integer>
				<key>height</key>
				<integer>343</integer>
				<key>originalWidth</key>
				<integer>376</integer>
				<key>originalHeight</key>
				<integer>374</integer>
				<key>x</key>
				<integer>1563</integer>
				<key>y</key>
				<integer>523</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>301200dr_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>194</integer>
				<key>height</key>
				<integer>304</integer>
				<key>originalWidth</key>
				<integer>498</integer>
				<key>originalHeight</key>
				<integer>494</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1739</integer>
				<key>offsetX</key>
				<real>-60</real>
				<key>offsetY</key>
				<real>-58</real>
			</dict>
			<key>301200dr_parts06.png</key>
			<dict>
				<key>width</key>
				<integer>431</integer>
				<key>height</key>
				<integer>415</integer>
				<key>originalWidth</key>
				<integer>498</integer>
				<key>originalHeight</key>
				<integer>494</integer>
				<key>x</key>
				<integer>1563</integer>
				<key>y</key>
				<integer>867</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>301200dr_parts19.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>216</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>239</integer>
				<key>x</key>
				<integer>195</integer>
				<key>y</key>
				<integer>1739</integer>
				<key>offsetX</key>
				<real>-33.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>301200dr_parts20.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>239</integer>
				<key>x</key>
				<integer>1826</integer>
				<key>y</key>
				<integer>143</integer>
				<key>offsetX</key>
				<real>-61.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>301200dr_parts22.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>239</integer>
				<key>x</key>
				<integer>277</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>48.5</real>
				<key>offsetY</key>
				<real>29</real>
			</dict>
			<key>301200dr_parts11.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>336</integer>
				<key>x</key>
				<integer>306</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>111</real>
			</dict>
			<key>301200dr_parts12a.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>336</integer>
				<key>x</key>
				<integer>209</integer>
				<key>y</key>
				<integer>893</integer>
				<key>offsetX</key>
				<real>-64</real>
				<key>offsetY</key>
				<real>61.5</real>
			</dict>
			<key>301200dr_parts12b.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>336</integer>
				<key>x</key>
				<integer>272</integer>
				<key>y</key>
				<integer>893</integer>
				<key>offsetX</key>
				<real>-85</real>
				<key>offsetY</key>
				<real>-21.5</real>
			</dict>
			<key>301200dr_parts12c.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>336</integer>
				<key>x</key>
				<integer>301</integer>
				<key>y</key>
				<integer>893</integer>
				<key>offsetX</key>
				<real>-63</real>
				<key>offsetY</key>
				<real>-99</real>
			</dict>
			<key>301200dr_parts13a.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>336</integer>
				<key>x</key>
				<integer>58</integer>
				<key>y</key>
				<integer>219</integer>
				<key>offsetX</key>
				<real>-25.5</real>
				<key>offsetY</key>
				<real>-34.5</real>
			</dict>
			<key>301200dr_parts13b.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>336</integer>
				<key>x</key>
				<integer>518</integer>
				<key>y</key>
				<integer>905</integer>
				<key>offsetX</key>
				<real>-38.5</real>
				<key>offsetY</key>
				<real>67</real>
			</dict>
			<key>301200dr_parts13c.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>336</integer>
				<key>x</key>
				<integer>572</integer>
				<key>y</key>
				<integer>905</integer>
				<key>offsetX</key>
				<real>-39</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>301200dr_parts13d.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>336</integer>
				<key>x</key>
				<integer>1389</integer>
				<key>y</key>
				<integer>523</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>-88</real>
			</dict>
			<key>301200dr_parts14a.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>336</integer>
				<key>x</key>
				<integer>619</integer>
				<key>y</key>
				<integer>905</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>61</real>
			</dict>
			<key>301200dr_parts14b.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>336</integer>
				<key>x</key>
				<integer>1460</integer>
				<key>y</key>
				<integer>523</integer>
				<key>offsetX</key>
				<real>45</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>301200dr_parts14c.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>336</integer>
				<key>x</key>
				<integer>368</integer>
				<key>y</key>
				<integer>188</integer>
				<key>offsetX</key>
				<real>82</real>
				<key>offsetY</key>
				<real>-70</real>
			</dict>
			<key>301200dr_parts15.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>666</integer>
				<key>y</key>
				<integer>1376</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-31.5</real>
			</dict>
			<key>301200dr_parts16.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>341</integer>
				<key>y</key>
				<integer>1739</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>24</real>
			</dict>
			<key>301200dr_parts23.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>239</integer>
				<key>x</key>
				<integer>1389</integer>
				<key>y</key>
				<integer>636</integer>
				<key>offsetX</key>
				<real>106.5</real>
				<key>offsetY</key>
				<real>38.5</real>
			</dict>
			<key>301200dr_parts10a.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>102</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>1942</integer>
				<key>y</key>
				<integer>143</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>301200dr_parts10b.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>102</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>1942</integer>
				<key>y</key>
				<integer>209</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>301200dr_parts17.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>666</integer>
				<key>y</key>
				<integer>1487</integer>
				<key>offsetX</key>
				<real>26.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>301200dr_parts18.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>341</integer>
				<key>y</key>
				<integer>1869</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>301200dr_parts07.png</key>
			<dict>
				<key>width</key>
				<integer>311</integer>
				<key>height</key>
				<integer>300</integer>
				<key>originalWidth</key>
				<integer>358</integer>
				<key>originalHeight</key>
				<integer>354</integer>
				<key>x</key>
				<integer>666</integer>
				<key>y</key>
				<integer>1662</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>301200dr_parts08.png</key>
			<dict>
				<key>width</key>
				<integer>373</integer>
				<key>height</key>
				<integer>342</integer>
				<key>originalWidth</key>
				<integer>408</integer>
				<key>originalHeight</key>
				<integer>378</integer>
				<key>x</key>
				<integer>978</integer>
				<key>y</key>
				<integer>1541</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>301200dr_parts09.png</key>
			<dict>
				<key>width</key>
				<integer>222</integer>
				<key>height</key>
				<integer>269</integer>
				<key>originalWidth</key>
				<integer>264</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1484</integer>
				<key>y</key>
				<integer>1283</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>301200dr_parts21.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>239</integer>
				<key>x</key>
				<integer>803</integer>
				<key>y</key>
				<integer>1393</integer>
				<key>offsetX</key>
				<real>-85.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>301200dr_parts24.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>239</integer>
				<key>x</key>
				<integer>1826</integer>
				<key>y</key>
				<integer>357</integer>
				<key>offsetX</key>
				<real>103</real>
				<key>offsetY</key>
				<real>27</real>
			</dict>
			<key>301200dr_parts25.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>239</integer>
				<key>x</key>
				<integer>195</integer>
				<key>y</key>
				<integer>1956</integer>
				<key>offsetX</key>
				<real>86</real>
				<key>offsetY</key>
				<real>-32</real>
			</dict>
			<key>301200dr_parts26.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>304</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1942</integer>
				<key>y</key>
				<integer>265</integer>
				<key>offsetX</key>
				<real>34</real>
				<key>offsetY</key>
				<real>89</real>
			</dict>
			<key>301200dr_parts27a.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>304</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1942</integer>
				<key>y</key>
				<integer>318</integer>
				<key>offsetX</key>
				<real>-102.5</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>301200dr_parts27b.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>304</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>461</integer>
				<key>y</key>
				<integer>1777</integer>
				<key>offsetX</key>
				<real>-62.5</real>
				<key>offsetY</key>
				<real>24.5</real>
			</dict>
			<key>301200dr_parts27c.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>304</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>553</integer>
				<key>y</key>
				<integer>1777</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>65</real>
			</dict>
			<key>301200dr_parts28a.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>304</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>937</integer>
				<key>y</key>
				<integer>1393</integer>
				<key>offsetX</key>
				<real>110</real>
				<key>offsetY</key>
				<real>-54.5</real>
			</dict>
			<key>301200dr_parts28b.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>304</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1921</integer>
				<key>y</key>
				<integer>411</integer>
				<key>offsetX</key>
				<real>71</real>
				<key>offsetY</key>
				<real>37.5</real>
			</dict>
			<key>301200dr_parts29.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>527</integer>
				<key>y</key>
				<integer>1859</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>36.5</real>
			</dict>
			<key>301200dr_parts30.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>1994</integer>
				<key>y</key>
				<integer>411</integer>
				<key>offsetX</key>
				<real>-47.5</real>
				<key>offsetY</key>
				<real>-53</real>
			</dict>
			<key>301200dr_parts31.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>1918</integer>
				<key>y</key>
				<integer>521</integer>
				<key>offsetX</key>
				<real>-26</real>
				<key>offsetY</key>
				<real>51.5</real>
			</dict>
			<key>301200dr_parts32.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>1484</integer>
				<key>y</key>
				<integer>1000</integer>
				<key>offsetX</key>
				<real>-36</real>
				<key>offsetY</key>
				<real>-38.5</real>
			</dict>
			<key>301200dr_parts33.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>1352</integer>
				<key>y</key>
				<integer>1541</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>15.5</real>
			</dict>
			<key>301200dr_parts34.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>527</integer>
				<key>y</key>
				<integer>1967</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>301200dr_parts35.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>1918</integer>
				<key>y</key>
				<integer>639</integer>
				<key>offsetX</key>
				<real>15.5</real>
				<key>offsetY</key>
				<real>-13</real>
			</dict>
			<key>301200dr_parts36.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>666</integer>
				<key>y</key>
				<integer>905</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>301200dr_parts37.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>72</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>1484</integer>
				<key>y</key>
				<integer>1114</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>301200dr_parts38.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>56</integer>
				<key>originalHeight</key>
				<integer>104</integer>
				<key>x</key>
				<integer>290</integer>
				<key>y</key>
				<integer>1956</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>301200dr_parts39a.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>284</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>1460</integer>
				<key>y</key>
				<integer>596</integer>
				<key>offsetX</key>
				<real>53.5</real>
				<key>offsetY</key>
				<real>78.5</real>
			</dict>
			<key>301200dr_parts39b.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>284</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>621</integer>
				<key>y</key>
				<integer>1963</integer>
				<key>offsetX</key>
				<real>-30.5</real>
				<key>offsetY</key>
				<real>65</real>
			</dict>
			<key>301200dr_parts39c.png</key>
			<dict>
				<key>width</key>
				<integer>13</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>284</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>368</integer>
				<key>y</key>
				<integer>267</integer>
				<key>offsetX</key>
				<real>-73.5</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>301200dr_parts40a.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>284</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>148</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>-26</real>
				<key>offsetY</key>
				<real>54.5</real>
			</dict>
			<key>301200dr_parts40b.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>284</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>705</integer>
				<key>y</key>
				<integer>1963</integer>
				<key>offsetX</key>
				<real>75.5</real>
				<key>offsetY</key>
				<real>55</real>
			</dict>
			<key>301200dr_parts40c.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>284</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>803</integer>
				<key>y</key>
				<integer>1616</integer>
				<key>offsetX</key>
				<real>14.5</real>
				<key>offsetY</key>
				<real>50</real>
			</dict>
			<key>301200dr_parts40d.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>284</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>1918</integer>
				<key>y</key>
				<integer>750</integer>
				<key>offsetX</key>
				<real>-76</real>
				<key>offsetY</key>
				<real>58</real>
			</dict>
			<key>301200dr_parts41a.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>284</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>797</integer>
				<key>y</key>
				<integer>1963</integer>
				<key>offsetX</key>
				<real>91</real>
				<key>offsetY</key>
				<real>30</real>
			</dict>
			<key>301200dr_parts41b.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>284</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>326</integer>
				<key>y</key>
				<integer>893</integer>
				<key>offsetX</key>
				<real>49.5</real>
				<key>offsetY</key>
				<real>-36</real>
			</dict>
			<key>301200dr_parts41c.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>284</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>169</integer>
				<key>y</key>
				<integer>210</integer>
				<key>offsetX</key>
				<real>20</real>
				<key>offsetY</key>
				<real>-88.5</real>
			</dict>
			<key>301200dr_parts_bg1.png</key>
			<dict>
				<key>width</key>
				<integer>324</integer>
				<key>height</key>
				<integer>431</integer>
				<key>originalWidth</key>
				<integer>324</integer>
				<key>originalHeight</key>
				<integer>431</integer>
				<key>x</key>
				<integer>1707</integer>
				<key>y</key>
				<integer>1283</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_301200_d_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_301200_d_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>