<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>101000dr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>101000dr_parts21i.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts21h.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>24</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts21j.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>47</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts21f.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>70</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts21e.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>91</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts21k.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>86</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts21c.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>21</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts21b.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>44</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts21a.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>65</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts20d.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>135</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>101000dr_parts20c.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>180</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>101000dr_parts20b.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>253</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>101000dr_parts20a.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>126</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>101000dr_parts00.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>204</integer>
				<key>originalWidth</key>
				<integer>210</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>182</integer>
				<key>y</key>
				<integer>126</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts01.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>133</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>366</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts02.png</key>
			<dict>
				<key>width</key>
				<integer>402</integer>
				<key>height</key>
				<integer>276</integer>
				<key>originalWidth</key>
				<integer>402</integer>
				<key>originalHeight</key>
				<integer>276</integer>
				<key>x</key>
				<integer>501</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts04.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>223</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts04_ex0.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>245</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts14.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>115</integer>
				<key>y</key>
				<integer>245</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts10_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>61</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>427</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts10a.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>253</integer>
				<key>y</key>
				<integer>68</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>101000dr_parts10.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>63</integer>
				<key>y</key>
				<integer>427</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts10_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>171</integer>
				<key>y</key>
				<integer>332</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts11.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>390</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts12b.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>30</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>295</integer>
				<key>y</key>
				<integer>68</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts12a.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>88</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts12_ex0.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>199</integer>
				<key>y</key>
				<integer>332</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts15.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>429</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts12_ex2.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>132</integer>
				<key>y</key>
				<integer>424</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts12.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>138</integer>
				<key>y</key>
				<integer>88</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>101000dr_parts17.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>199</integer>
				<key>y</key>
				<integer>372</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts16.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>256</integer>
				<key>y</key>
				<integer>332</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts13.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>132</integer>
				<key>y</key>
				<integer>477</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts10_hair2.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>126</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>256</integer>
				<key>y</key>
				<integer>385</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts05.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>102</integer>
				<key>originalHeight</key>
				<integer>208</integer>
				<key>x</key>
				<integer>390</integer>
				<key>y</key>
				<integer>278</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts05_ex0.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>30</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>390</integer>
				<key>y</key>
				<integer>187</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts06.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>234</integer>
				<key>originalWidth</key>
				<integer>109</integer>
				<key>originalHeight</key>
				<integer>234</integer>
				<key>x</key>
				<integer>905</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts06_ex0.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>17</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>469</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts07.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>237</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>237</integer>
				<key>x</key>
				<integer>905</integer>
				<key>y</key>
				<integer>236</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts07_ex0.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>18</integer>
				<key>originalHeight</key>
				<integer>86</integer>
				<key>x</key>
				<integer>494</integer>
				<key>y</key>
				<integer>278</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts12_ex1.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>72</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>278</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>404</integer>
				<key>height</key>
				<integer>225</integer>
				<key>originalWidth</key>
				<integer>404</integer>
				<key>originalHeight</key>
				<integer>225</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>507</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts01_ex0.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>56</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>734</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts01_ex1.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>58</integer>
				<key>y</key>
				<integer>734</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts01_ex2.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>126</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>796</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts21m.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>494</integer>
				<key>y</key>
				<integer>366</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts21l.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>588</integer>
				<key>y</key>
				<integer>278</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts21g.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>494</integer>
				<key>y</key>
				<integer>387</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts21d.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>34</integer>
				<key>y</key>
				<integer>828</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts_txt07.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>34</integer>
				<key>y</key>
				<integer>849</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>101000dr_parts_txt06.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>588</integer>
				<key>y</key>
				<integer>301</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>101000dr_parts_txt05.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>494</integer>
				<key>y</key>
				<integer>410</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>101000dr_parts_txt04.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>406</integer>
				<key>y</key>
				<integer>488</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>101000dr_parts_txt03.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>212</integer>
				<key>y</key>
				<integer>734</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts_txt02.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<integer>828</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>101000dr_parts_txt01.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>678</integer>
				<key>y</key>
				<integer>278</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>101000dr_parts_txt00.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>584</integer>
				<key>y</key>
				<integer>375</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>101000dr_parts_bg1a.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>523</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>523</integer>
				<key>x</key>
				<integer>473</integer>
				<key>y</key>
				<integer>491</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts_bg1b.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>523</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>523</integer>
				<key>x</key>
				<integer>1090</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts_bg1c.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>523</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>523</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1016</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts_bg0.png</key>
			<dict>
				<key>width</key>
				<integer>700</integer>
				<key>height</key>
				<integer>500</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1541</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101000dr_parts_bg0b.png</key>
			<dict>
				<key>width</key>
				<integer>700</integer>
				<key>height</key>
				<integer>500</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>1090</integer>
				<key>y</key>
				<integer>525</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_101000_d_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_101000_d_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>