<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>300800_m_r_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>300800_m_r_parts_ef_panti00.png</key>
			<dict>
				<key>width</key>
				<integer>387</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>387</integer>
				<key>originalHeight</key>
				<integer>198</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>300800_m_r_parts_name_3008.png</key>
			<dict>
				<key>width</key>
				<integer>711</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>738</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>203</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>300800_m_r_parts_ef_panti02.png</key>
			<dict>
				<key>width</key>
				<integer>351</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>351</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>316</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>300800_m_r_parts_ef_panti01.png</key>
			<dict>
				<key>width</key>
				<integer>371</integer>
				<key>height</key>
				<integer>193</integer>
				<key>originalWidth</key>
				<integer>371</integer>
				<key>originalHeight</key>
				<integer>193</integer>
				<key>x</key>
				<integer>389</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>300800_m_r_parts00a.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>533</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>300800_m_r_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>576</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>300800_m_r_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>44</integer>
				<key>y</key>
				<integer>533</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>300800_m_r_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>65</integer>
				<key>y</key>
				<integer>533</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>300800_m_r_parts02e.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>44</integer>
				<key>y</key>
				<integer>566</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>300800_m_r_parts02f.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>86</integer>
				<key>y</key>
				<integer>533</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>300800_m_r_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>619</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>300800_m_r_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>65</integer>
				<key>y</key>
				<integer>572</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>300800_m_r_parts03_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>107</integer>
				<key>y</key>
				<integer>533</integer>
				<key>offsetX</key>
				<real>10.5</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>300800_m_r_parts13_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>26</integer>
				<key>y</key>
				<integer>619</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>300800_m_r_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>353</integer>
				<key>y</key>
				<integer>316</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>-19.5</real>
			</dict>
			<key>300800_m_r_parts03b.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>147</integer>
				<key>y</key>
				<integer>533</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>-19.5</real>
			</dict>
			<key>300800_m_r_parts13a.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>665</integer>
				<key>offsetX</key>
				<real>-29</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>300800_m_r_parts03c.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>705</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>-22</real>
			</dict>
			<key>300800_m_r_parts03d.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>353</integer>
				<key>y</key>
				<integer>358</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>300800_m_r_parts03_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>404</integer>
				<key>y</key>
				<integer>316</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>300800_m_r_parts13_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>147</integer>
				<key>y</key>
				<integer>579</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>300800_m_r_parts04d.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>44</integer>
				<key>y</key>
				<integer>596</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>300800_m_r_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>744</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>300800_m_r_parts13.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>762</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>300800_m_r_parts03_hair2.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>65</integer>
				<key>y</key>
				<integer>618</integer>
				<key>offsetX</key>
				<real>17</real>
				<key>offsetY</key>
				<real>-32.5</real>
			</dict>
			<key>300800_m_r_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>65</integer>
				<key>y</key>
				<integer>648</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>300800_m_r_parts14a.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>353</integer>
				<key>y</key>
				<integer>410</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>300800_m_r_parts04b.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>113</integer>
				<key>x</key>
				<integer>121</integer>
				<key>y</key>
				<integer>671</integer>
				<key>offsetX</key>
				<real>-20</real>
				<key>offsetY</key>
				<real>-28</real>
			</dict>
			<key>300800_m_r_parts14b.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>195</integer>
				<key>y</key>
				<integer>533</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-28.5</real>
			</dict>
			<key>300800_m_r_parts04b2.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>113</integer>
				<key>x</key>
				<integer>247</integer>
				<key>y</key>
				<integer>533</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>300800_m_r_parts03_hair3.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>288</integer>
				<key>y</key>
				<integer>533</integer>
				<key>offsetX</key>
				<real>-35.5</real>
				<key>offsetY</key>
				<real>-27</real>
			</dict>
			<key>300800_m_r_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>153</integer>
				<key>y</key>
				<integer>671</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>300800_m_r_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>415</integer>
				<key>y</key>
				<integer>410</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>300800_m_r_parts05c.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>83</integer>
				<key>y</key>
				<integer>716</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>300800_m_r_parts15a.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>250</integer>
				<key>y</key>
				<integer>553</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>300800_m_r_parts15b.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>515</integer>
				<key>y</key>
				<integer>316</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>300800_m_r_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>834</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>300800_m_r_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>306</integer>
				<key>y</key>
				<integer>533</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>300800_m_r_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>353</integer>
				<key>y</key>
				<integer>487</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>300800_m_r_parts16a.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>111</integer>
				<key>y</key>
				<integer>720</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>300800_m_r_parts16b.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>845</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>300800_m_r_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>762</integer>
				<key>y</key>
				<integer>89</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>300800_m_r_parts14c.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>183</integer>
				<key>y</key>
				<integer>671</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_300800_m_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_300800_m_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>