<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>600210_l_parts_ef00.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>136</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600210_l_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>138</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>600210_l_parts00e.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>138</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>600210_l_parts00d.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>141</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>600210_l_parts00c.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>138</integer>
				<key>y</key>
				<integer>84</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>600210_l_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>223</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>600210_l_parts00a.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>199</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>293</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>600210_l_parts11.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>85</integer>
				<key>y</key>
				<integer>138</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600210_l_parts12.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>262</integer>
				<key>y</key>
				<integer>201</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600210_l_parts13.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>225</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600210_l_parts10.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>85</integer>
				<key>y</key>
				<integer>199</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>600210_l_parts14.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>63</integer>
				<key>y</key>
				<integer>225</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600210_l_parts15.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>320</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600210_l_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>957</integer>
				<key>height</key>
				<integer>297</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>24</integer>
				<key>y</key>
				<integer>320</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>600210_l_parts01c.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>497</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600210_l_parts01c1.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>225</integer>
				<key>x</key>
				<integer>126</integer>
				<key>y</key>
				<integer>207</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>36</real>
			</dict>
			<key>600210_l_parts01c2.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>225</integer>
				<key>x</key>
				<integer>75</integer>
				<key>y</key>
				<integer>261</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>63.5</real>
			</dict>
			<key>600210_l_parts01c3.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>225</integer>
				<key>x</key>
				<integer>497</integer>
				<key>y</key>
				<integer>71</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600210_l_parts01c4.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>225</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>207</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>52.5</real>
			</dict>
			<key>600210_l_parts01c5.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>225</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>619</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>600210_l_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>959</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>38</integer>
				<key>y</key>
				<integer>619</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-18</real>
			</dict>
			<key>600210_l_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>956</integer>
				<key>height</key>
				<integer>301</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>792</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>600210_l_parts02c5.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>262</integer>
				<key>y</key>
				<integer>69</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>73.5</real>
			</dict>
			<key>600210_l_parts02c4.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>583</integer>
				<key>y</key>
				<integer>71</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>47</real>
			</dict>
			<key>600210_l_parts02c3.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>192</integer>
				<key>y</key>
				<integer>207</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>58.5</real>
			</dict>
			<key>600210_l_parts02c2.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>650</integer>
				<key>y</key>
				<integer>71</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>600210_l_parts02c1.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>695</integer>
				<key>y</key>
				<integer>71</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>41.5</real>
			</dict>
			<key>600210_l_parts02c.png</key>
			<dict>
				<key>width</key>
				<integer>292</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>325</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>913</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>600210_l_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>961</integer>
				<key>height</key>
				<integer>293</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>983</integer>
				<key>y</key>
				<integer>303</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>600210_l_parts08.png</key>
			<dict>
				<key>width</key>
				<integer>214</integer>
				<key>height</key>
				<integer>723</integer>
				<key>originalWidth</key>
				<integer>325</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>987</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>600210_l_parts09.png</key>
			<dict>
				<key>width</key>
				<integer>237</integer>
				<key>height</key>
				<integer>724</integer>
				<key>originalWidth</key>
				<integer>325</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>216</integer>
				<key>y</key>
				<integer>987</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600210_l_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>236</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>455</integer>
				<key>y</key>
				<integer>913</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>600210_l_parts03b.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>219</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>720</integer>
				<key>y</key>
				<integer>71</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>600210_l_parts03c.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>685</integer>
				<key>y</key>
				<integer>913</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-51</real>
			</dict>
			<key>600210_l_parts16b.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>221</integer>
				<key>originalWidth</key>
				<integer>260</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>455</integer>
				<key>y</key>
				<integer>1151</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>21.5</real>
			</dict>
			<key>600210_l_parts04.png</key>
			<dict>
				<key>width</key>
				<integer>438</integer>
				<key>height</key>
				<integer>442</integer>
				<key>originalWidth</key>
				<integer>520</integer>
				<key>originalHeight</key>
				<integer>520</integer>
				<key>x</key>
				<integer>999</integer>
				<key>y</key>
				<integer>598</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600210_l_parts17a.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>318</integer>
				<key>y</key>
				<integer>201</integer>
				<key>offsetX</key>
				<real>-42.5</real>
				<key>offsetY</key>
				<real>-26.5</real>
			</dict>
			<key>600210_l_parts17b.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>369</integer>
				<key>y</key>
				<integer>201</integer>
				<key>offsetX</key>
				<real>-22.5</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>600210_l_parts17c.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1712</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600210_l_parts16a.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>260</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>583</integer>
				<key>y</key>
				<integer>194</integer>
				<key>offsetX</key>
				<real>-47.5</real>
				<key>offsetY</key>
				<real>-75</real>
			</dict>
			<key>600210_l_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>451</integer>
				<key>height</key>
				<integer>451</integer>
				<key>originalWidth</key>
				<integer>451</integer>
				<key>originalHeight</key>
				<integer>451</integer>
				<key>x</key>
				<integer>685</integer>
				<key>y</key>
				<integer>1063</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600210_l_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>253</integer>
				<key>height</key>
				<integer>243</integer>
				<key>originalWidth</key>
				<integer>451</integer>
				<key>originalHeight</key>
				<integer>451</integer>
				<key>x</key>
				<integer>1750</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600210_l_parts07.png</key>
			<dict>
				<key>width</key>
				<integer>696</integer>
				<key>height</key>
				<integer>696</integer>
				<key>originalWidth</key>
				<integer>776</integer>
				<key>originalHeight</key>
				<integer>776</integer>
				<key>x</key>
				<integer>1138</integer>
				<key>y</key>
				<integer>1042</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_600210_l0.png</string>
			<key>realTextureFileName</key>
			<string>mini_600210_l0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>