<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>600700_l_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>600700_l_parts31b.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>76</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>2</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts30b.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>77</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts31c.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>77</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>600700_l_parts31a.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>600700_l_parts30a.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>135</integer>
				<key>y</key>
				<integer>73</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts41a.png</key>
			<dict>
				<key>width</key>
				<integer>214</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>217</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>201</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>600700_l_parts41b.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>186</integer>
				<key>x</key>
				<integer>257</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts41c.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>186</integer>
				<key>x</key>
				<integer>215</integer>
				<key>y</key>
				<integer>194</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts41d.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>186</integer>
				<key>x</key>
				<integer>469</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts41a1.png</key>
			<dict>
				<key>width</key>
				<integer>163</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>163</integer>
				<key>originalHeight</key>
				<integer>144</integer>
				<key>x</key>
				<integer>427</integer>
				<key>y</key>
				<integer>183</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts41a2.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>186</integer>
				<key>x</key>
				<integer>681</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts41b2.png</key>
			<dict>
				<key>width</key>
				<integer>214</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>217</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>591</integer>
				<key>y</key>
				<integer>183</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>600700_l_parts41c2.png</key>
			<dict>
				<key>width</key>
				<integer>214</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>217</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>806</integer>
				<key>y</key>
				<integer>183</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>600700_l_parts41d2.png</key>
			<dict>
				<key>width</key>
				<integer>214</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>217</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>389</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>600700_l_parts42a.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>577</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts42b.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>134</integer>
				<key>x</key>
				<integer>215</integer>
				<key>y</key>
				<integer>377</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts40a.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>109</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>695</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts40b.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>130</integer>
				<key>y</key>
				<integer>577</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>600700_l_parts40c.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>360</integer>
				<key>y</key>
				<integer>377</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts40d.png</key>
			<dict>
				<key>width</key>
				<integer>181</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>181</integer>
				<key>originalHeight</key>
				<integer>158</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>796</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts31d.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>275</integer>
				<key>y</key>
				<integer>553</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts43.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>134</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>552</integer>
				<key>y</key>
				<integer>371</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>600700_l_parts08a.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts18a.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>236</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts28a.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>215</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts08b.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>21</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>231</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts18b.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>427</integer>
				<key>y</key>
				<integer>328</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts28b.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>21</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>253</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts08c.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>21</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>450</integer>
				<key>y</key>
				<integer>328</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts28c.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>275</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts07a.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>110</integer>
				<key>y</key>
				<integer>742</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts17a.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>86</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>893</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts27c.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>893</integer>
				<key>y</key>
				<integer>47</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts07b.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>108</integer>
				<key>originalHeight</key>
				<integer>66</integer>
				<key>x</key>
				<integer>199</integer>
				<key>y</key>
				<integer>742</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>600700_l_parts17b.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>113</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>413</integer>
				<key>y</key>
				<integer>553</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts27b.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>119</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>275</integer>
				<key>y</key>
				<integer>678</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>600700_l_parts07c.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>600700_l_parts17c.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>472</integer>
				<key>y</key>
				<integer>328</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>600700_l_parts00.png</key>
			<dict>
				<key>width</key>
				<integer>378</integer>
				<key>height</key>
				<integer>284</integer>
				<key>originalWidth</key>
				<integer>378</integer>
				<key>originalHeight</key>
				<integer>284</integer>
				<key>x</key>
				<integer>413</integer>
				<key>y</key>
				<integer>626</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>334</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>334</integer>
				<key>originalHeight</key>
				<integer>110</integer>
				<key>x</key>
				<integer>687</integer>
				<key>y</key>
				<integer>371</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts11a.png</key>
			<dict>
				<key>width</key>
				<integer>334</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>334</integer>
				<key>originalHeight</key>
				<integer>110</integer>
				<key>x</key>
				<integer>552</integer>
				<key>y</key>
				<integer>507</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts21a.png</key>
			<dict>
				<key>width</key>
				<integer>334</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>334</integer>
				<key>originalHeight</key>
				<integer>110</integer>
				<key>x</key>
				<integer>182</integer>
				<key>y</key>
				<integer>911</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts02.png</key>
			<dict>
				<key>width</key>
				<integer>383</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>383</integer>
				<key>originalHeight</key>
				<integer>229</integer>
				<key>x</key>
				<integer>1022</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts12.png</key>
			<dict>
				<key>width</key>
				<integer>383</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>383</integer>
				<key>originalHeight</key>
				<integer>229</integer>
				<key>x</key>
				<integer>1022</integer>
				<key>y</key>
				<integer>230</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts22.png</key>
			<dict>
				<key>width</key>
				<integer>383</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>383</integer>
				<key>originalHeight</key>
				<integer>229</integer>
				<key>x</key>
				<integer>887</integer>
				<key>y</key>
				<integer>482</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>893</integer>
				<key>y</key>
				<integer>97</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts04b.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>182</integer>
				<key>y</key>
				<integer>806</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>51</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts04d.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>1406</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts04e.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>104</integer>
				<key>x</key>
				<integer>308</integer>
				<key>y</key>
				<integer>737</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>93</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>792</integer>
				<key>y</key>
				<integer>618</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>92</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>517</integer>
				<key>y</key>
				<integer>911</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts05c.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>93</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>792</integer>
				<key>y</key>
				<integer>712</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts05d.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>92</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>1406</integer>
				<key>y</key>
				<integer>107</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts06.png</key>
			<dict>
				<key>width</key>
				<integer>353</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>353</integer>
				<key>originalHeight</key>
				<integer>198</integer>
				<key>x</key>
				<integer>1513</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>291</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>292</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>610</integer>
				<key>y</key>
				<integer>911</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts11b.png</key>
			<dict>
				<key>width</key>
				<integer>291</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>292</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>792</integer>
				<key>y</key>
				<integer>806</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts21b.png</key>
			<dict>
				<key>width</key>
				<integer>291</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>292</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>886</integer>
				<key>y</key>
				<integer>712</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>378</integer>
				<key>height</key>
				<integer>284</integer>
				<key>originalWidth</key>
				<integer>378</integer>
				<key>originalHeight</key>
				<integer>284</integer>
				<key>x</key>
				<integer>1406</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts13.png</key>
			<dict>
				<key>width</key>
				<integer>378</integer>
				<key>height</key>
				<integer>284</integer>
				<key>originalWidth</key>
				<integer>378</integer>
				<key>originalHeight</key>
				<integer>284</integer>
				<key>x</key>
				<integer>1178</integer>
				<key>y</key>
				<integer>712</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts23.png</key>
			<dict>
				<key>width</key>
				<integer>378</integer>
				<key>height</key>
				<integer>284</integer>
				<key>originalWidth</key>
				<integer>378</integer>
				<key>originalHeight</key>
				<integer>284</integer>
				<key>x</key>
				<integer>1557</integer>
				<key>y</key>
				<integer>485</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts09.png</key>
			<dict>
				<key>width</key>
				<integer>452</integer>
				<key>height</key>
				<integer>355</integer>
				<key>originalWidth</key>
				<integer>452</integer>
				<key>originalHeight</key>
				<integer>355</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1024</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts60a.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>638</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>638</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1380</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts60b.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>633</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>633</integer>
				<key>x</key>
				<integer>55</integer>
				<key>y</key>
				<integer>1380</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts60c.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>624</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>624</integer>
				<key>x</key>
				<integer>453</integer>
				<key>y</key>
				<integer>1022</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts61c.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>655</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>655</integer>
				<key>x</key>
				<integer>110</integer>
				<key>y</key>
				<integer>1380</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts61b.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>624</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>624</integer>
				<key>x</key>
				<integer>517</integer>
				<key>y</key>
				<integer>1004</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts61a.png</key>
			<dict>
				<key>width</key>
				<integer>248</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>258</integer>
				<key>originalHeight</key>
				<integer>169</integer>
				<key>x</key>
				<integer>199</integer>
				<key>y</key>
				<integer>1380</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>600700_l_parts62b.png</key>
			<dict>
				<key>width</key>
				<integer>495</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>502</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>602</integer>
				<key>y</key>
				<integer>1004</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts62a.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>475</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>475</integer>
				<key>x</key>
				<integer>199</integer>
				<key>y</key>
				<integer>1547</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts62c.png</key>
			<dict>
				<key>width</key>
				<integer>553</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>553</integer>
				<key>originalHeight</key>
				<integer>144</integer>
				<key>x</key>
				<integer>602</integer>
				<key>y</key>
				<integer>1165</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts53.png</key>
			<dict>
				<key>width</key>
				<integer>385</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>386</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>602</integer>
				<key>y</key>
				<integer>1310</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts52.png</key>
			<dict>
				<key>width</key>
				<integer>516</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>516</integer>
				<key>originalHeight</key>
				<integer>197</integer>
				<key>x</key>
				<integer>602</integer>
				<key>y</key>
				<integer>1428</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>600700_l_parts57.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>532</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>532</integer>
				<key>x</key>
				<integer>1156</integer>
				<key>y</key>
				<integer>997</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts51.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>406</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>406</integer>
				<key>x</key>
				<integer>504</integer>
				<key>y</key>
				<integer>1629</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts50.png</key>
			<dict>
				<key>width</key>
				<integer>257</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>257</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>902</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts56.png</key>
			<dict>
				<key>width</key>
				<integer>316</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>316</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>1557</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts54.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>514</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>514</integer>
				<key>x</key>
				<integer>1349</integer>
				<key>y</key>
				<integer>997</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>600700_l_parts55.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>335</integer>
				<key>originalWidth</key>
				<integer>39</integer>
				<key>originalHeight</key>
				<integer>335</integer>
				<key>x</key>
				<integer>1867</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_600700_l0.png</string>
			<key>realTextureFileName</key>
			<string>mini_600700_l0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>