<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>405100dr_parts96_Es_base.png</key>
			<dict>
				<key>width</key>
				<integer>1113</integer>
				<key>height</key>
				<integer>573</integer>
				<key>originalWidth</key>
				<integer>1176</integer>
				<key>originalHeight</key>
				<integer>606</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>405100dr_parts97_Es_base.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>727</integer>
				<key>originalWidth</key>
				<integer>207</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>1115</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>405100dr_parts_bg_sky00.png</key>
			<dict>
				<key>width</key>
				<integer>827</integer>
				<key>height</key>
				<integer>747</integer>
				<key>originalWidth</key>
				<integer>827</integer>
				<key>originalHeight</key>
				<integer>747</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>575</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>405100dr_parts_bg_ground00.png</key>
			<dict>
				<key>width</key>
				<integer>1232</integer>
				<key>height</key>
				<integer>385</integer>
				<key>originalWidth</key>
				<integer>1232</integer>
				<key>originalHeight</key>
				<integer>580</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-97.5</real>
			</dict>
			<key>405100dr_parts_bg_sky01.png</key>
			<dict>
				<key>width</key>
				<integer>616</integer>
				<key>height</key>
				<integer>688</integer>
				<key>originalWidth</key>
				<integer>616</integer>
				<key>originalHeight</key>
				<integer>688</integer>
				<key>x</key>
				<integer>1271</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_405100_d_r1.png</string>
			<key>realTextureFileName</key>
			<string>mini_405100_d_r1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>