<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>640500l_parts08.png</key>
			<dict>
				<key>width</key>
				<integer>451</integer>
				<key>height</key>
				<integer>692</integer>
				<key>originalWidth</key>
				<integer>1401</integer>
				<key>originalHeight</key>
				<integer>948</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-457</real>
				<key>offsetY</key>
				<real>95</real>
			</dict>
			<key>640500l_parts13.png</key>
			<dict>
				<key>width</key>
				<integer>1022</integer>
				<key>height</key>
				<integer>520</integer>
				<key>originalWidth</key>
				<integer>1092</integer>
				<key>originalHeight</key>
				<integer>651</integer>
				<key>x</key>
				<integer>453</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-27.5</real>
			</dict>
			<key>640500l_parts13b.png</key>
			<dict>
				<key>width</key>
				<integer>907</integer>
				<key>height</key>
				<integer>438</integer>
				<key>originalWidth</key>
				<integer>1092</integer>
				<key>originalHeight</key>
				<integer>651</integer>
				<key>x</key>
				<integer>453</integer>
				<key>y</key>
				<integer>522</integer>
				<key>offsetX</key>
				<real>62.5</real>
				<key>offsetY</key>
				<real>-68.5</real>
			</dict>
			<key>640500l_parts14b.png</key>
			<dict>
				<key>width</key>
				<integer>355</integer>
				<key>height</key>
				<integer>332</integer>
				<key>originalWidth</key>
				<integer>381</integer>
				<key>originalHeight</key>
				<integer>354</integer>
				<key>x</key>
				<integer>1477</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>640500l_parts15a.png</key>
			<dict>
				<key>width</key>
				<integer>1155</integer>
				<key>height</key>
				<integer>661</integer>
				<key>originalWidth</key>
				<integer>1229</integer>
				<key>originalHeight</key>
				<integer>738</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>962</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>640500l_parts31b.png</key>
			<dict>
				<key>width</key>
				<integer>410</integer>
				<key>height</key>
				<integer>314</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>495</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1625</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-24.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_640500_l1.png</string>
			<key>realTextureFileName</key>
			<string>mini_640500_l1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>