<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>301800dr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>301800dr_parts_bg2.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>86</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800dr_parts07a.png</key>
			<dict>
				<key>width</key>
				<integer>1477</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>1518</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>57</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>301800dr_parts07c.png</key>
			<dict>
				<key>width</key>
				<integer>1477</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>1498</integer>
				<key>originalHeight</key>
				<integer>94</integer>
				<key>x</key>
				<integer>88</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>301800dr_parts07b.png</key>
			<dict>
				<key>width</key>
				<integer>1489</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>1516</integer>
				<key>originalHeight</key>
				<integer>121</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>93</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>301800dr_parts01bC.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>293</integer>
				<key>originalHeight</key>
				<integer>309</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>27.5</real>
			</dict>
			<key>301800dr_parts07e.png</key>
			<dict>
				<key>width</key>
				<integer>1506</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>1514</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>119</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>301800dr_parts07d.png</key>
			<dict>
				<key>width</key>
				<integer>1476</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>1510</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>426</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>301800dr_parts06L.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>142</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>518</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>301800dr_parts01bL.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>210</integer>
				<key>originalWidth</key>
				<integer>293</integer>
				<key>originalHeight</key>
				<integer>309</integer>
				<key>x</key>
				<integer>62</integer>
				<key>y</key>
				<integer>518</integer>
				<key>offsetX</key>
				<real>73.5</real>
				<key>offsetY</key>
				<real>32.5</real>
			</dict>
			<key>301800dr_parts06R.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>83</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>188</integer>
				<key>y</key>
				<integer>518</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>301800dr_parts01bR.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>293</integer>
				<key>originalHeight</key>
				<integer>309</integer>
				<key>x</key>
				<integer>253</integer>
				<key>y</key>
				<integer>518</integer>
				<key>offsetX</key>
				<real>-70.5</real>
				<key>offsetY</key>
				<real>27</real>
			</dict>
			<key>301800dr_parts13R1.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>82</integer>
				<key>x</key>
				<integer>119</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>301800dr_parts13R2.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>159</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>301800dr_parts13R3.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>66</integer>
				<key>x</key>
				<integer>245</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>301800dr_parts13R4.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>620</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>301800dr_parts10f2.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>119</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>297</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>301800dr_parts10f1.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>72</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>678</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>301800dr_parts11a.png</key>
			<dict>
				<key>width</key>
				<integer>313</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>323</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>381</integer>
				<key>y</key>
				<integer>518</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>301800dr_parts10bL.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>158</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>705</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>301800dr_parts10cL.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>61</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>53</integer>
				<key>y</key>
				<integer>730</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>301800dr_parts10a2.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>345</integer>
				<key>originalHeight</key>
				<integer>287</integer>
				<key>x</key>
				<integer>405</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>-24.5</real>
				<key>offsetY</key>
				<real>-30.5</real>
			</dict>
			<key>301800dr_parts10a1.png</key>
			<dict>
				<key>width</key>
				<integer>238</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>345</integer>
				<key>originalHeight</key>
				<integer>287</integer>
				<key>x</key>
				<integer>103</integer>
				<key>y</key>
				<integer>743</integer>
				<key>offsetX</key>
				<real>29.5</real>
				<key>offsetY</key>
				<real>-16</real>
			</dict>
			<key>301800dr_parts10bR.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>52</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>855</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>301800dr_parts10cR.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>188</integer>
				<key>y</key>
				<integer>624</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>301800dr_parts10d.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>204</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>381</integer>
				<key>y</key>
				<integer>635</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>301800dr_parts10f3.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>245</integer>
				<key>y</key>
				<integer>401</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>301800dr_parts12a.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>468</integer>
				<key>y</key>
				<integer>635</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800dr_parts12b.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>509</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>301800dr_parts12cL.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>186</integer>
				<key>originalWidth</key>
				<integer>92</integer>
				<key>originalHeight</key>
				<integer>208</integer>
				<key>x</key>
				<integer>557</integer>
				<key>y</key>
				<integer>635</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>301800dr_parts14L1.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>59</integer>
				<key>originalHeight</key>
				<integer>142</integer>
				<key>x</key>
				<integer>44</integer>
				<key>y</key>
				<integer>857</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>301800dr_parts14L2.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>131</integer>
				<key>x</key>
				<integer>696</integer>
				<key>y</key>
				<integer>518</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>301800dr_parts14R1.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>343</integer>
				<key>y</key>
				<integer>841</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>301800dr_parts14R2.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>391</integer>
				<key>y</key>
				<integer>841</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>301800dr_parts12cR.png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>185</integer>
				<key>x</key>
				<integer>738</integer>
				<key>y</key>
				<integer>518</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>301800dr_parts13L1a.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>301800dr_parts13L2.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>678</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>301800dr_parts13L1b.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>94</integer>
				<key>y</key>
				<integer>968</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-15.5</real>
			</dict>
			<key>301800dr_parts13L3.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>130</integer>
				<key>y</key>
				<integer>968</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>301800dr_parts12d.png</key>
			<dict>
				<key>width</key>
				<integer>273</integer>
				<key>height</key>
				<integer>281</integer>
				<key>originalWidth</key>
				<integer>292</integer>
				<key>originalHeight</key>
				<integer>294</integer>
				<key>x</key>
				<integer>901</integer>
				<key>y</key>
				<integer>518</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>301800dr_parts10e.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>174</integer>
				<key>originalHeight</key>
				<integer>186</integer>
				<key>x</key>
				<integer>433</integer>
				<key>y</key>
				<integer>841</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800dr_parts11b.png</key>
			<dict>
				<key>width</key>
				<integer>309</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>323</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>766</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>301800dr_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>331</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>595</integer>
				<key>y</key>
				<integer>823</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>301800dr_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>261</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>319</integer>
				<key>originalHeight</key>
				<integer>248</integer>
				<key>x</key>
				<integer>1176</integer>
				<key>y</key>
				<integer>518</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>301800dr_parts03aR1.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>185</integer>
				<key>originalWidth</key>
				<integer>123</integer>
				<key>originalHeight</key>
				<integer>221</integer>
				<key>x</key>
				<integer>635</integer>
				<key>y</key>
				<integer>635</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>301800dr_parts03aL1.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>247</integer>
				<key>originalWidth</key>
				<integer>95</integer>
				<key>originalHeight</key>
				<integer>298</integer>
				<key>x</key>
				<integer>1627</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>301800dr_parts02c.png</key>
			<dict>
				<key>width</key>
				<integer>231</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>252</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>1688</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>301800dr_parts03bL1.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>441</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>492</integer>
				<key>x</key>
				<integer>1627</integer>
				<key>y</key>
				<integer>249</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>301800dr_parts03bL2.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>431</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>474</integer>
				<key>x</key>
				<integer>1478</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>301800dr_parts03bL3.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>221</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>1077</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>301800dr_parts05L3e.png</key>
			<dict>
				<key>width</key>
				<integer>182</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>1244</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>301800dr_parts05L3d.png</key>
			<dict>
				<key>width</key>
				<integer>268</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>323</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>887</integer>
				<key>y</key>
				<integer>801</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>301800dr_parts05L3c.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>377</integer>
				<key>originalHeight</key>
				<integer>111</integer>
				<key>x</key>
				<integer>887</integer>
				<key>y</key>
				<integer>884</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>301800dr_parts05L3b.png</key>
			<dict>
				<key>width</key>
				<integer>414</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>427</integer>
				<key>originalHeight</key>
				<integer>113</integer>
				<key>x</key>
				<integer>1249</integer>
				<key>y</key>
				<integer>775</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>301800dr_parts05L3.png</key>
			<dict>
				<key>width</key>
				<integer>311</integer>
				<key>height</key>
				<integer>195</integer>
				<key>originalWidth</key>
				<integer>344</integer>
				<key>originalHeight</key>
				<integer>233</integer>
				<key>x</key>
				<integer>1697</integer>
				<key>y</key>
				<integer>210</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>301800dr_parts05L3a.png</key>
			<dict>
				<key>width</key>
				<integer>344</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>362</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>1697</integer>
				<key>y</key>
				<integer>407</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>301800dr_parts05L2.png</key>
			<dict>
				<key>width</key>
				<integer>430</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>476</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>1249</integer>
				<key>y</key>
				<integer>871</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>301800dr_parts05L1.png</key>
			<dict>
				<key>width</key>
				<integer>163</integer>
				<key>height</key>
				<integer>381</integer>
				<key>originalWidth</key>
				<integer>194</integer>
				<key>originalHeight</key>
				<integer>417</integer>
				<key>x</key>
				<integer>1697</integer>
				<key>y</key>
				<integer>511</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>301800dr_parts03aR3.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>57</integer>
				<key>x</key>
				<integer>171</integer>
				<key>y</key>
				<integer>968</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>301800dr_parts03aR2.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>612</integer>
				<key>originalWidth</key>
				<integer>142</integer>
				<key>originalHeight</key>
				<integer>680</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1024</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>301800dr_parts03aL2.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>580</integer>
				<key>originalWidth</key>
				<integer>147</integer>
				<key>originalHeight</key>
				<integer>624</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>1024</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>301800dr_parts03aL3.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>239</integer>
				<key>originalHeight</key>
				<integer>110</integer>
				<key>x</key>
				<integer>186</integer>
				<key>y</key>
				<integer>1010</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>301800dr_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>146</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>186</integer>
				<key>y</key>
				<integer>1090</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>301800dr_parts01aL.png</key>
			<dict>
				<key>width</key>
				<integer>372</integer>
				<key>height</key>
				<integer>236</integer>
				<key>originalWidth</key>
				<integer>398</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>323</integer>
				<key>y</key>
				<integer>1090</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>301800dr_parts01aR.png</key>
			<dict>
				<key>width</key>
				<integer>371</integer>
				<key>height</key>
				<integer>225</integer>
				<key>originalWidth</key>
				<integer>417</integer>
				<key>originalHeight</key>
				<integer>244</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1638</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>301800dr_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>272</integer>
				<key>height</key>
				<integer>421</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>440</integer>
				<key>x</key>
				<integer>697</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>301800dr_parts04bL.png</key>
			<dict>
				<key>width</key>
				<integer>566</integer>
				<key>height</key>
				<integer>396</integer>
				<key>originalWidth</key>
				<integer>582</integer>
				<key>originalHeight</key>
				<integer>407</integer>
				<key>x</key>
				<integer>373</integer>
				<key>y</key>
				<integer>1396</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>301800dr_parts04bR.png</key>
			<dict>
				<key>width</key>
				<integer>445</integer>
				<key>height</key>
				<integer>396</integer>
				<key>originalWidth</key>
				<integer>486</integer>
				<key>originalHeight</key>
				<integer>426</integer>
				<key>x</key>
				<integer>971</integer>
				<key>y</key>
				<integer>990</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>301800dr_parts04bC.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>248</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>257</integer>
				<key>x</key>
				<integer>373</integer>
				<key>y</key>
				<integer>1794</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>301800dr_parts05R2a.png</key>
			<dict>
				<key>width</key>
				<integer>295</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>331</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1865</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>301800dr_parts05R2b.png</key>
			<dict>
				<key>width</key>
				<integer>291</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>319</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1948</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>301800dr_parts05R2c.png</key>
			<dict>
				<key>width</key>
				<integer>325</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>338</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>941</integer>
				<key>y</key>
				<integer>1396</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>301800dr_parts05R2d.png</key>
			<dict>
				<key>width</key>
				<integer>320</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>352</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>603</integer>
				<key>y</key>
				<integer>1794</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>301800dr_parts05R2e.png</key>
			<dict>
				<key>width</key>
				<integer>232</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>251</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>1418</integer>
				<key>y</key>
				<integer>990</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>301800dr_parts05R2.png</key>
			<dict>
				<key>width</key>
				<integer>466</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>509</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>941</integer>
				<key>y</key>
				<integer>1480</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>301800dr_parts05R1.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>544</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>587</integer>
				<key>x</key>
				<integer>1862</integer>
				<key>y</key>
				<integer>511</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>301800dr_parts03bR1.png</key>
			<dict>
				<key>width</key>
				<integer>447</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>470</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>1418</integer>
				<key>y</key>
				<integer>1063</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>301800dr_parts03bR2.png</key>
			<dict>
				<key>width</key>
				<integer>402</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>440</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>603</integer>
				<key>y</key>
				<integer>1894</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>301800dr_parts03bR3.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>86</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>254</integer>
				<key>y</key>
				<integer>968</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>301800dr_parts03cL1.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>330</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>391</integer>
				<key>x</key>
				<integer>186</integer>
				<key>y</key>
				<integer>1235</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>301800dr_parts03cL2.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>290</integer>
				<key>originalWidth</key>
				<integer>117</integer>
				<key>originalHeight</key>
				<integer>358</integer>
				<key>x</key>
				<integer>227</integer>
				<key>y</key>
				<integer>1235</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>301800dr_parts03cL3.png</key>
			<dict>
				<key>width</key>
				<integer>503</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>561</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>1418</integer>
				<key>y</key>
				<integer>1127</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>301800dr_parts99a.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>687</integer>
				<key>y</key>
				<integer>690</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>301800dr_parts99b.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>775</integer>
				<key>y</key>
				<integer>690</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>301800dr_parts99c.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>595</integer>
				<key>y</key>
				<integer>968</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>301800dr_parts99d.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>1491</integer>
				<key>y</key>
				<integer>54</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>301800dr_parts99e.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>227</integer>
				<key>y</key>
				<integer>1527</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>301800dr_parts99f.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>1921</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>301800dr_parts99g.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>297</integer>
				<key>y</key>
				<integer>1865</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>301800dr_parts99h.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>1681</integer>
				<key>y</key>
				<integer>894</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>301800dr_parts99i.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>941</integer>
				<key>y</key>
				<integer>1661</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>301800dr_parts_bg1.png</key>
			<dict>
				<key>width</key>
				<integer>525</integer>
				<key>height</key>
				<integer>700</integer>
				<key>originalWidth</key>
				<integer>525</integer>
				<key>originalHeight</key>
				<integer>700</integer>
				<key>x</key>
				<integer>1418</integer>
				<key>y</key>
				<integer>1251</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_301800_d_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_301800_d_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>