<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>402600dr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>402600dr_parts_bg2.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>86</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>402600dr_parts11b.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>57</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>402600dr_parts11a.png</key>
			<dict>
				<key>width</key>
				<integer>289</integer>
				<key>height</key>
				<integer>254</integer>
				<key>originalWidth</key>
				<integer>422</integer>
				<key>originalHeight</key>
				<integer>286</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>62.5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>402600dr_parts11L.png</key>
			<dict>
				<key>width</key>
				<integer>375</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>406</integer>
				<key>x</key>
				<integer>291</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>402600dr_parts10c4.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>76</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>402600dr_parts10a.png</key>
			<dict>
				<key>width</key>
				<integer>651</integer>
				<key>height</key>
				<integer>614</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>656</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>400</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>402600dr_parts03L.png</key>
			<dict>
				<key>width</key>
				<integer>1210</integer>
				<key>height</key>
				<integer>546</integer>
				<key>originalWidth</key>
				<integer>1260</integer>
				<key>originalHeight</key>
				<integer>580</integer>
				<key>x</key>
				<integer>668</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-20</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>402600dr_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>247</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>247</integer>
				<key>originalHeight</key>
				<integer>172</integer>
				<key>x</key>
				<integer>653</integer>
				<key>y</key>
				<integer>548</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>402600dr_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>147</integer>
				<key>x</key>
				<integer>653</integer>
				<key>y</key>
				<integer>719</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>402600dr_parts01c.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>93</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>902</integer>
				<key>y</key>
				<integer>548</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>402600dr_parts23bL.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>88</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>402600dr_parts23cL.png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>214</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>40</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>402600dr_parts21hL.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>191</integer>
				<key>originalWidth</key>
				<integer>117</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>757</integer>
				<key>y</key>
				<integer>719</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>402600dr_parts22b.png</key>
			<dict>
				<key>width</key>
				<integer>344</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>374</integer>
				<key>originalHeight</key>
				<integer>221</integer>
				<key>x</key>
				<integer>994</integer>
				<key>y</key>
				<integer>548</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>402600dr_parts22a.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>61</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>146</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>402600dr_parts25L2.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>95</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>653</integer>
				<key>y</key>
				<integer>868</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>402600dr_parts25L1.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>402600dr_parts25L3.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>61</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>114</integer>
				<key>y</key>
				<integer>49</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>402600dr_parts21e.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>206</integer>
				<key>originalHeight</key>
				<integer>216</integer>
				<key>x</key>
				<integer>858</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>-20</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>402600dr_parts21g.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>53</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>402600dr_parts21fL.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>53</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>858</integer>
				<key>y</key>
				<integer>893</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>402600dr_parts21b.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>206</integer>
				<key>originalHeight</key>
				<integer>216</integer>
				<key>x</key>
				<integer>902</integer>
				<key>y</key>
				<integer>644</integer>
				<key>offsetX</key>
				<real>-31.5</real>
				<key>offsetY</key>
				<real>-47.5</real>
			</dict>
			<key>402600dr_parts21c.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>206</integer>
				<key>originalHeight</key>
				<integer>216</integer>
				<key>x</key>
				<integer>939</integer>
				<key>y</key>
				<integer>644</integer>
				<key>offsetX</key>
				<real>-31.5</real>
				<key>offsetY</key>
				<real>-48</real>
			</dict>
			<key>402600dr_parts21d.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>206</integer>
				<key>originalHeight</key>
				<integer>216</integer>
				<key>x</key>
				<integer>741</integer>
				<key>y</key>
				<integer>912</integer>
				<key>offsetX</key>
				<real>-31.5</real>
				<key>offsetY</key>
				<real>-49.5</real>
			</dict>
			<key>402600dr_parts21a.png</key>
			<dict>
				<key>width</key>
				<integer>167</integer>
				<key>height</key>
				<integer>186</integer>
				<key>originalWidth</key>
				<integer>206</integer>
				<key>originalHeight</key>
				<integer>216</integer>
				<key>x</key>
				<integer>1008</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>402600dr_parts23a.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>14</integer>
				<key>originalWidth</key>
				<integer>39</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>167</integer>
				<key>y</key>
				<integer>49</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>402600dr_parts24a.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>1880</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>402600dr_parts24bL.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>905</integer>
				<key>y</key>
				<integer>893</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>402600dr_parts24bR.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>14</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>243</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>402600dr_parts24c.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>1340</integer>
				<key>y</key>
				<integer>548</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>402600dr_parts21fR.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>1177</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>402600dr_parts21hR.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>188</integer>
				<key>originalWidth</key>
				<integer>102</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>1224</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>402600dr_parts23bR.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>39</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>45</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>402600dr_parts23cR.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>1984</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>402600dr_parts03La.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>176</integer>
				<key>originalHeight</key>
				<integer>104</integer>
				<key>x</key>
				<integer>905</integer>
				<key>y</key>
				<integer>952</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>402600dr_parts09a.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>1880</integer>
				<key>y</key>
				<integer>121</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>402600dr_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>207</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>1340</integer>
				<key>y</key>
				<integer>662</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>402600dr_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>1321</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>402600dr_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1425</integer>
				<key>y</key>
				<integer>746</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>402600dr_parts02c.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>1880</integer>
				<key>y</key>
				<integer>313</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>402600dr_parts02d.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>103</integer>
				<key>originalHeight</key>
				<integer>147</integer>
				<key>x</key>
				<integer>1543</integer>
				<key>y</key>
				<integer>548</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>402600dr_parts02e.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>1642</integer>
				<key>y</key>
				<integer>548</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>402600dr_parts02f.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>1543</integer>
				<key>y</key>
				<integer>691</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>402600dr_parts25R3.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>858</integer>
				<key>y</key>
				<integer>719</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>402600dr_parts20a.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>513</integer>
				<key>originalWidth</key>
				<integer>123</integer>
				<key>originalHeight</key>
				<integer>559</integer>
				<key>x</key>
				<integer>1880</integer>
				<key>y</key>
				<integer>457</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>402600dr_parts25R1.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>778</integer>
				<key>y</key>
				<integer>912</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>402600dr_parts25R2.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>87</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>1321</integer>
				<key>y</key>
				<integer>919</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>402600dr_parts05L4.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>115</integer>
				<key>originalHeight</key>
				<integer>113</integer>
				<key>x</key>
				<integer>1729</integer>
				<key>y</key>
				<integer>548</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>402600dr_parts05L1.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>236</integer>
				<key>originalWidth</key>
				<integer>133</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>1690</integer>
				<key>y</key>
				<integer>666</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>402600dr_parts05L2.png</key>
			<dict>
				<key>width</key>
				<integer>295</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>304</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>1405</integer>
				<key>y</key>
				<integer>919</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>402600dr_parts05L3.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>191</integer>
				<key>originalWidth</key>
				<integer>53</integer>
				<key>originalHeight</key>
				<integer>202</integer>
				<key>x</key>
				<integer>1971</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>402600dr_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>414</integer>
				<key>height</key>
				<integer>233</integer>
				<key>originalWidth</key>
				<integer>418</integer>
				<key>originalHeight</key>
				<integer>242</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1016</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>402600dr_parts04b.png</key>
			<dict>
				<key>width</key>
				<integer>266</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1251</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>402600dr_parts09b.png</key>
			<dict>
				<key>width</key>
				<integer>216</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1389</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>402600dr_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>245</integer>
				<key>originalHeight</key>
				<integer>86</integer>
				<key>x</key>
				<integer>416</integer>
				<key>y</key>
				<integer>1016</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>402600dr_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>183</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>202</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1481</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>402600dr_parts06d.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>416</integer>
				<key>y</key>
				<integer>1094</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>402600dr_parts06g1.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>268</integer>
				<key>y</key>
				<integer>1251</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>402600dr_parts06g2.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>76</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>77</integer>
				<key>y</key>
				<integer>1481</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>402600dr_parts06g3.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>469</integer>
				<key>y</key>
				<integer>1094</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>402600dr_parts06e.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>268</integer>
				<key>y</key>
				<integer>1331</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>402600dr_parts06f.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>142</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>218</integer>
				<key>y</key>
				<integer>1389</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>402600dr_parts06g4.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>196</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>469</integer>
				<key>y</key>
				<integer>1140</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>402600dr_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>221</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>469</integer>
				<key>y</key>
				<integer>1179</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>402600dr_parts07c.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>184</integer>
				<key>originalWidth</key>
				<integer>93</integer>
				<key>originalHeight</key>
				<integer>206</integer>
				<key>x</key>
				<integer>653</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>402600dr_parts07d.png</key>
			<dict>
				<key>width</key>
				<integer>158</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>199</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>77</integer>
				<key>y</key>
				<integer>1581</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>402600dr_parts07e.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1666</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>402600dr_parts05R4.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1707</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>402600dr_parts05R1.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>230</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>235</integer>
				<key>x</key>
				<integer>716</integer>
				<key>y</key>
				<integer>987</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>402600dr_parts05R2.png</key>
			<dict>
				<key>width</key>
				<integer>258</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>259</integer>
				<key>originalHeight</key>
				<integer>86</integer>
				<key>x</key>
				<integer>350</integer>
				<key>y</key>
				<integer>1369</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>402600dr_parts05R3.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1798</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>402600dr_parts03R.png</key>
			<dict>
				<key>width</key>
				<integer>1121</integer>
				<key>height</key>
				<integer>587</integer>
				<key>originalWidth</key>
				<integer>1156</integer>
				<key>originalHeight</key>
				<integer>636</integer>
				<key>x</key>
				<integer>350</integer>
				<key>y</key>
				<integer>1453</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>402600dr_parts10c1.png</key>
			<dict>
				<key>width</key>
				<integer>196</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>230</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>106</integer>
				<key>y</key>
				<integer>1707</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>402600dr_parts12e.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>356</integer>
				<key>y</key>
				<integer>1251</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>402600dr_parts12d.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>56</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>140</integer>
				<key>y</key>
				<integer>1481</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>402600dr_parts12c.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>183</integer>
				<key>y</key>
				<integer>1481</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>402600dr_parts12b.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>92</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>530</integer>
				<key>y</key>
				<integer>1094</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>402600dr_parts12a.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>83</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>906</integer>
				<key>y</key>
				<integer>716</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>402600dr_parts12i.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>76</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>213</integer>
				<key>y</key>
				<integer>1520</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>402600dr_parts10c2.png</key>
			<dict>
				<key>width</key>
				<integer>196</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>831</integer>
				<key>y</key>
				<integer>1020</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>402600dr_parts10c3.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>216</integer>
				<key>originalHeight</key>
				<integer>144</integer>
				<key>x</key>
				<integer>692</integer>
				<key>y</key>
				<integer>1219</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>402600dr_parts10b.png</key>
			<dict>
				<key>width</key>
				<integer>315</integer>
				<key>height</key>
				<integer>420</integer>
				<key>originalWidth</key>
				<integer>352</integer>
				<key>originalHeight</key>
				<integer>443</integer>
				<key>x</key>
				<integer>1029</integer>
				<key>y</key>
				<integer>1020</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>402600dr_parts11R.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>363</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>404</integer>
				<key>x</key>
				<integer>1346</integer>
				<key>y</key>
				<integer>1007</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>402600dr_parts97a.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>449</integer>
				<key>y</key>
				<integer>1271</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>402600dr_parts97b.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>275</integer>
				<key>y</key>
				<integer>1520</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>402600dr_parts97c.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>533</integer>
				<key>y</key>
				<integer>1271</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>402600dr_parts98a.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>237</integer>
				<key>y</key>
				<integer>1597</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>402600dr_parts98b.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>35</integer>
				<key>y</key>
				<integer>1830</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>402600dr_parts98c.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>609</integer>
				<key>y</key>
				<integer>1271</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>402600dr_parts98d.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>109</integer>
				<key>y</key>
				<integer>1830</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>402600dr_parts98e.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>35</integer>
				<key>y</key>
				<integer>1930</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>402600dr_parts99a.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>610</integer>
				<key>y</key>
				<integer>1363</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>402600dr_parts99b.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>193</integer>
				<key>y</key>
				<integer>1830</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>402600dr_parts99c.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>1930</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>402600dr_parts99d.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>695</integer>
				<key>y</key>
				<integer>1328</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>402600dr_parts99e.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>870</integer>
				<key>y</key>
				<integer>1156</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>402600dr_parts99f.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>266</integer>
				<key>y</key>
				<integer>1830</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>402600dr_parts_bg1.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>86</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>1039</integer>
				<key>y</key>
				<integer>952</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_402600_d_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_402600_d_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>