<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>402300dr_parts101.png</key>
			<dict>
				<key>width</key>
				<integer>786</integer>
				<key>height</key>
				<integer>1072</integer>
				<key>originalWidth</key>
				<integer>810</integer>
				<key>originalHeight</key>
				<integer>1100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>402300dr_parts100.png</key>
			<dict>
				<key>width</key>
				<integer>744</integer>
				<key>height</key>
				<integer>1136</integer>
				<key>originalWidth</key>
				<integer>798</integer>
				<key>originalHeight</key>
				<integer>1200</integer>
				<key>x</key>
				<integer>788</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>15</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_402300_d_r1.png</string>
			<key>realTextureFileName</key>
			<string>mini_402300_d_r1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>