<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>610200l_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>997</integer>
				<key>height</key>
				<integer>1229</integer>
				<key>originalWidth</key>
				<integer>1124</integer>
				<key>originalHeight</key>
				<integer>1325</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>27.5</real>
				<key>offsetY</key>
				<real>20</real>
			</dict>
			<key>610200l_parts04R.png</key>
			<dict>
				<key>width</key>
				<integer>878</integer>
				<key>height</key>
				<integer>846</integer>
				<key>originalWidth</key>
				<integer>928</integer>
				<key>originalHeight</key>
				<integer>886</integer>
				<key>x</key>
				<integer>999</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>610200l_parts08R1.png</key>
			<dict>
				<key>width</key>
				<integer>269</integer>
				<key>height</key>
				<integer>711</integer>
				<key>originalWidth</key>
				<integer>289</integer>
				<key>originalHeight</key>
				<integer>732</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1231</integer>
				<key>offsetX</key>
				<real>-10</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>610200l_parts08L2.png</key>
			<dict>
				<key>width</key>
				<integer>239</integer>
				<key>height</key>
				<integer>488</integer>
				<key>originalWidth</key>
				<integer>293</integer>
				<key>originalHeight</key>
				<integer>515</integer>
				<key>x</key>
				<integer>271</integer>
				<key>y</key>
				<integer>1231</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>610200l_parts08L1.png</key>
			<dict>
				<key>width</key>
				<integer>219</integer>
				<key>height</key>
				<integer>948</integer>
				<key>originalWidth</key>
				<integer>243</integer>
				<key>originalHeight</key>
				<integer>948</integer>
				<key>x</key>
				<integer>999</integer>
				<key>y</key>
				<integer>848</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>610200l_parts10c.png</key>
			<dict>
				<key>width</key>
				<integer>303</integer>
				<key>height</key>
				<integer>291</integer>
				<key>originalWidth</key>
				<integer>328</integer>
				<key>originalHeight</key>
				<integer>321</integer>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>1231</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>610200l_parts11L.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>296</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>329</integer>
				<key>x</key>
				<integer>1879</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>10.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>610200l_parts11R.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>305</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>317</integer>
				<key>x</key>
				<integer>271</integer>
				<key>y</key>
				<integer>1721</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>610200l_parts13b.png</key>
			<dict>
				<key>width</key>
				<integer>347</integer>
				<key>height</key>
				<integer>721</integer>
				<key>originalWidth</key>
				<integer>402</integer>
				<key>originalHeight</key>
				<integer>793</integer>
				<key>x</key>
				<integer>1220</integer>
				<key>y</key>
				<integer>848</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>610200l_parts23Rb.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>322</integer>
				<key>originalWidth</key>
				<integer>201</integer>
				<key>originalHeight</key>
				<integer>396</integer>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>1524</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>16</real>
			</dict>
			<key>610200l_parts23La.png</key>
			<dict>
				<key>width</key>
				<integer>275</integer>
				<key>height</key>
				<integer>332</integer>
				<key>originalWidth</key>
				<integer>332</integer>
				<key>originalHeight</key>
				<integer>743</integer>
				<key>x</key>
				<integer>688</integer>
				<key>y</key>
				<integer>1524</integer>
				<key>offsetX</key>
				<real>20.5</real>
				<key>offsetY</key>
				<real>180.5</real>
			</dict>
			<key>610200l_parts23Ra.png</key>
			<dict>
				<key>width</key>
				<integer>311</integer>
				<key>height</key>
				<integer>647</integer>
				<key>originalWidth</key>
				<integer>332</integer>
				<key>originalHeight</key>
				<integer>743</integer>
				<key>x</key>
				<integer>1569</integer>
				<key>y</key>
				<integer>848</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>23</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_610200_l1.png</string>
			<key>realTextureFileName</key>
			<string>mini_610200_l1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>