<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>303200_m_r_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>303200_m_r_parts_name_303200.png</key>
			<dict>
				<key>width</key>
				<integer>711</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>738</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>303200_m_r_parts99a.png</key>
			<dict>
				<key>width</key>
				<integer>219</integer>
				<key>height</key>
				<integer>608</integer>
				<key>originalWidth</key>
				<integer>267</integer>
				<key>originalHeight</key>
				<integer>657</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>303200_m_r_parts99c.png</key>
			<dict>
				<key>width</key>
				<integer>219</integer>
				<key>height</key>
				<integer>209</integer>
				<key>originalWidth</key>
				<integer>267</integer>
				<key>originalHeight</key>
				<integer>657</integer>
				<key>x</key>
				<integer>221</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>204</real>
			</dict>
			<key>303200_m_r_parts99e.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>267</integer>
				<key>originalHeight</key>
				<integer>657</integer>
				<key>x</key>
				<integer>221</integer>
				<key>y</key>
				<integer>327</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-172</real>
			</dict>
			<key>303200_m_r_parts99h.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>267</integer>
				<key>originalHeight</key>
				<integer>657</integer>
				<key>x</key>
				<integer>442</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-109</real>
			</dict>
			<key>303200_m_r_parts99i.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>267</integer>
				<key>originalHeight</key>
				<integer>657</integer>
				<key>x</key>
				<integer>254</integer>
				<key>y</key>
				<integer>327</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-234</real>
			</dict>
			<key>303200_m_r_parts99b.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>402</integer>
				<key>originalWidth</key>
				<integer>267</integer>
				<key>originalHeight</key>
				<integer>657</integer>
				<key>x</key>
				<integer>472</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-98.5</real>
			</dict>
			<key>303200_m_r_parts99d.png</key>
			<dict>
				<key>width</key>
				<integer>219</integer>
				<key>height</key>
				<integer>355</integer>
				<key>originalWidth</key>
				<integer>267</integer>
				<key>originalHeight</key>
				<integer>657</integer>
				<key>x</key>
				<integer>505</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>131</real>
			</dict>
			<key>303200_m_r_parts99g.png</key>
			<dict>
				<key>width</key>
				<integer>11</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>267</integer>
				<key>originalHeight</key>
				<integer>657</integer>
				<key>x</key>
				<integer>287</integer>
				<key>y</key>
				<integer>327</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>28</real>
			</dict>
			<key>303200_m_r_parts00a.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>327</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>303200_m_r_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>331</integer>
				<key>y</key>
				<integer>327</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>303200_m_r_parts00c.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>361</integer>
				<key>y</key>
				<integer>327</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>303200_m_r_parts00d.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>442</integer>
				<key>y</key>
				<integer>247</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>303200_m_r_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>303200_m_r_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>254</integer>
				<key>y</key>
				<integer>460</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>303200_m_r_parts02e.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>713</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>303200_m_r_parts02f.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>391</integer>
				<key>y</key>
				<integer>327</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>303200_m_r_parts02i.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>726</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>21</real>
			</dict>
			<key>303200_m_r_parts02j.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>334</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>303200_m_r_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>747</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>303200_m_r_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>422</integer>
				<key>y</key>
				<integer>327</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>303200_m_r_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>453</integer>
				<key>offsetX</key>
				<real>-24</real>
				<key>offsetY</key>
				<real>-40</real>
			</dict>
			<key>303200_m_r_parts03b.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>761</integer>
				<key>offsetX</key>
				<real>-23</real>
				<key>offsetY</key>
				<real>-41.5</real>
			</dict>
			<key>303200_m_r_parts03c.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>789</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-23</real>
				<key>offsetY</key>
				<real>-46.5</real>
			</dict>
			<key>303200_m_r_parts03d.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>221</integer>
				<key>y</key>
				<integer>584</integer>
				<key>offsetX</key>
				<real>-27.5</real>
				<key>offsetY</key>
				<real>-48</real>
			</dict>
			<key>303200_m_r_parts13a.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>404</integer>
				<key>y</key>
				<integer>412</integer>
				<key>offsetX</key>
				<real>-53</real>
				<key>offsetY</key>
				<real>-40</real>
			</dict>
			<key>303200_m_r_parts13b.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>726</integer>
				<key>y</key>
				<integer>92</integer>
				<key>offsetX</key>
				<real>-53.5</real>
				<key>offsetY</key>
				<real>-41.5</real>
			</dict>
			<key>303200_m_r_parts13c.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>840</integer>
				<key>offsetX</key>
				<real>-54.5</real>
				<key>offsetY</key>
				<real>-43</real>
			</dict>
			<key>303200_m_r_parts03e.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>765</integer>
				<key>y</key>
				<integer>92</integer>
				<key>offsetX</key>
				<real>-27</real>
				<key>offsetY</key>
				<real>-40</real>
			</dict>
			<key>303200_m_r_parts03f.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>726</integer>
				<key>offsetX</key>
				<real>-25.5</real>
				<key>offsetY</key>
				<real>-40</real>
			</dict>
			<key>303200_m_r_parts03g.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>39</integer>
				<key>y</key>
				<integer>840</integer>
				<key>offsetX</key>
				<real>-24</real>
				<key>offsetY</key>
				<real>-40.5</real>
			</dict>
			<key>303200_m_r_parts13d.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>221</integer>
				<key>y</key>
				<integer>660</integer>
				<key>offsetX</key>
				<real>-53.5</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>303200_m_r_parts13e.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>885</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-54.5</real>
				<key>offsetY</key>
				<real>-41.5</real>
			</dict>
			<key>303200_m_r_parts13f.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>404</integer>
				<key>y</key>
				<integer>492</integer>
				<key>offsetX</key>
				<real>-53.5</real>
				<key>offsetY</key>
				<real>-42.5</real>
			</dict>
			<key>303200_m_r_parts03_hair6.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>318</integer>
				<key>y</key>
				<integer>535</integer>
				<key>offsetX</key>
				<real>29</real>
				<key>offsetY</key>
				<real>37</real>
			</dict>
			<key>303200_m_r_parts13_hair6.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>260</integer>
				<key>y</key>
				<integer>660</integer>
				<key>offsetX</key>
				<real>-18.5</real>
				<key>offsetY</key>
				<real>37.5</real>
			</dict>
			<key>303200_m_r_parts03_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>318</integer>
				<key>y</key>
				<integer>605</integer>
				<key>offsetX</key>
				<real>-28.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>303200_m_r_parts13_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>726</integer>
				<key>y</key>
				<integer>174</integer>
				<key>offsetX</key>
				<real>-52.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>303200_m_r_parts03_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>255</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>505</integer>
				<key>y</key>
				<integer>473</integer>
				<key>offsetX</key>
				<real>34.5</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>303200_m_r_parts13_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>210</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>143</integer>
				<key>y</key>
				<integer>808</integer>
				<key>offsetX</key>
				<real>16</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>303200_m_r_parts03_ex0.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>254</integer>
				<key>y</key>
				<integer>520</integer>
				<key>offsetX</key>
				<real>49</real>
				<key>offsetY</key>
				<real>-44.5</real>
			</dict>
			<key>303200_m_r_parts13_ex0.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>373</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-44</real>
			</dict>
			<key>303200_m_r_parts03_hair2.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>245</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>863</integer>
				<key>y</key>
				<integer>77</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>303200_m_r_parts13_hair2.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>244</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>471</integer>
				<key>y</key>
				<integer>641</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>15.5</real>
			</dict>
			<key>303200_m_r_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>762</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>303200_m_r_parts13.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>762</integer>
				<key>y</key>
				<integer>503</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>303200_m_r_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>355</integer>
				<key>y</key>
				<integer>742</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>32</real>
			</dict>
			<key>303200_m_r_parts14a.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>923</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>33.5</real>
			</dict>
			<key>303200_m_r_parts04_ex0.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>355</integer>
				<key>y</key>
				<integer>844</integer>
				<key>offsetX</key>
				<real>37.5</real>
				<key>offsetY</key>
				<real>-30.5</real>
			</dict>
			<key>303200_m_r_parts14_ex0.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>80</integer>
				<key>y</key>
				<integer>923</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>-22</real>
			</dict>
			<key>303200_m_r_parts04_ex1.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>442</integer>
				<key>y</key>
				<integer>412</integer>
				<key>offsetX</key>
				<real>-31.5</real>
				<key>offsetY</key>
				<real>-31</real>
			</dict>
			<key>303200_m_r_parts04_ex2.png</key>
			<dict>
				<key>width</key>
				<integer>235</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>252</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>652</integer>
				<key>y</key>
				<integer>679</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>303200_m_r_parts14_ex2.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>289</integer>
				<key>originalHeight</key>
				<integer>289</integer>
				<key>x</key>
				<integer>652</integer>
				<key>y</key>
				<integer>818</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>303200_m_r_parts04_ex3.png</key>
			<dict>
				<key>width</key>
				<integer>181</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>203</integer>
				<key>x</key>
				<integer>355</integer>
				<key>y</key>
				<integer>923</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>303200_m_r_parts14_ex3.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>203</integer>
				<key>x</key>
				<integer>997</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>303200_m_r_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>997</integer>
				<key>y</key>
				<integer>82</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>303200_m_r_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>1052</integer>
				<key>y</key>
				<integer>82</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>303200_m_r_parts05c.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>1102</integer>
				<key>y</key>
				<integer>82</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>303200_m_r_parts15a.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>1189</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>303200_m_r_parts15b.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>997</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>303200_m_r_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1240</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>303200_m_r_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>926</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>303200_m_r_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1050</integer>
				<key>y</key>
				<integer>211</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>303200_m_r_parts16a.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1285</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>303200_m_r_parts16b.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1095</integer>
				<key>y</key>
				<integer>211</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>303200_m_r_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>3</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>31</real>
				<key>offsetY</key>
				<real>-31</real>
			</dict>
			<key>303200_m_r_parts14c.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>6</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>31</real>
				<key>offsetY</key>
				<real>-31</real>
			</dict>
			<key>303200_m_r_parts99f.png</key>
			<dict>
				<key>width</key>
				<integer>304</integer>
				<key>height</key>
				<integer>308</integer>
				<key>originalWidth</key>
				<integer>401</integer>
				<key>originalHeight</key>
				<integer>328</integer>
				<key>x</key>
				<integer>1159</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>303200_m_r_parts03_hair3.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>971</integer>
				<key>y</key>
				<integer>335</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>303200_m_r_parts13_hair3.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>924</integer>
				<key>y</key>
				<integer>569</integer>
				<key>offsetX</key>
				<real>-27.5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>303200_m_r_parts03_hair5.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>1330</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-90.5</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>303200_m_r_parts03_hair4.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>270</integer>
				<key>originalWidth</key>
				<integer>291</integer>
				<key>originalHeight</key>
				<integer>291</integer>
				<key>x</key>
				<integer>1004</integer>
				<key>y</key>
				<integer>569</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>303200_m_r_parts13_hair4.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>245</integer>
				<key>originalWidth</key>
				<integer>291</integer>
				<key>originalHeight</key>
				<integer>291</integer>
				<key>x</key>
				<integer>1465</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>303200_m_r_parts_bg00.png</key>
			<dict>
				<key>width</key>
				<integer>612</integer>
				<key>height</key>
				<integer>484</integer>
				<key>originalWidth</key>
				<integer>612</integer>
				<key>originalHeight</key>
				<integer>484</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1024</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_303200_m_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_303200_m_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>