<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>101850_d_r_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>101850_d_r_parts20.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>632</integer>
				<key>originalWidth</key>
				<integer>440</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>-75</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101850_d_r_parts22.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>266</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>282</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101850_d_r_parts24.png</key>
			<dict>
				<key>width</key>
				<integer>513</integer>
				<key>height</key>
				<integer>466</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>396</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101850_d_r_parts05.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>282</integer>
				<key>y</key>
				<integer>268</integer>
				<key>offsetX</key>
				<real>26</real>
				<key>offsetY</key>
				<real>32.5</real>
			</dict>
			<key>101850_d_r_parts25c.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>170</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>316</integer>
				<key>y</key>
				<integer>268</integer>
				<key>offsetX</key>
				<real>51.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>101850_d_r_parts04.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>637</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>101850_d_r_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>341</integer>
				<key>y</key>
				<integer>268</integer>
				<key>offsetX</key>
				<real>-28</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>101850_d_r_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>78</integer>
				<key>y</key>
				<integer>637</integer>
				<key>offsetX</key>
				<real>19</real>
				<key>offsetY</key>
				<real>51.5</real>
			</dict>
			<key>101850_d_r_parts02_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>341</integer>
				<key>y</key>
				<integer>332</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101850_d_r_parts01.png</key>
			<dict>
				<key>width</key>
				<integer>223</integer>
				<key>height</key>
				<integer>199</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>732</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>101850_d_r_parts02_hair2.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>282</integer>
				<key>y</key>
				<integer>498</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101850_d_r_parts10.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>282</integer>
				<key>y</key>
				<integer>307</integer>
				<key>offsetX</key>
				<real>-38</real>
				<key>offsetY</key>
				<real>28.5</real>
			</dict>
			<key>101850_d_r_parts06.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>322</integer>
				<key>y</key>
				<integer>498</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>101850_d_r_parts07.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>383</integer>
				<key>y</key>
				<integer>468</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>101850_d_r_parts00.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>270</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>280</integer>
				<key>x</key>
				<integer>433</integer>
				<key>y</key>
				<integer>468</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101850_d_r_parts25a.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>170</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>78</integer>
				<key>y</key>
				<integer>672</integer>
				<key>offsetX</key>
				<real>27.5</real>
				<key>offsetY</key>
				<real>-93</real>
			</dict>
			<key>101850_d_r_parts25b.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>170</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>911</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-46.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>101850_d_r_parts09.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>204</integer>
				<key>y</key>
				<integer>637</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>101850_d_r_parts08.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>933</integer>
				<key>offsetX</key>
				<real>29</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>101850_d_r_parts02.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>390</integer>
				<key>originalWidth</key>
				<integer>260</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>621</integer>
				<key>y</key>
				<integer>468</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101850_d_r_parts26.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>466</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>980</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-59</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101850_d_r_parts23.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>267</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>225</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>101850_d_r_parts27a.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>285</integer>
				<key>y</key>
				<integer>657</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101850_d_r_parts27a2.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>52</integer>
				<key>y</key>
				<integer>933</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>101850_d_r_parts27b.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>285</integer>
				<key>y</key>
				<integer>731</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101850_d_r_parts27b2.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>110</integer>
				<key>x</key>
				<integer>285</integer>
				<key>y</key>
				<integer>831</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>101850_d_r_parts27c.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>373</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>101850_d_r_parts27c2.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>359</integer>
				<key>y</key>
				<integer>667</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>101850_d_r_parts27d.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>123</integer>
				<key>y</key>
				<integer>933</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101850_d_r_parts27d2.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>385</integer>
				<key>y</key>
				<integer>740</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>101850_d_r_parts27e.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>911</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101850_d_r_parts27e2.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>911</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>101850_d_r_parts28b.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>459</integer>
				<key>y</key>
				<integer>740</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101850_d_r_parts28a.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>285</integer>
				<key>y</key>
				<integer>930</integer>
				<key>offsetX</key>
				<real>78</real>
				<key>offsetY</key>
				<real>-40.5</real>
			</dict>
			<key>101850_d_r_parts28c.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>387</integer>
				<key>y</key>
				<integer>866</integer>
				<key>offsetX</key>
				<real>-89.5</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>101850_d_r_parts29.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>387</integer>
				<key>y</key>
				<integer>924</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101850_d_r_parts30b.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>874</integer>
				<key>y</key>
				<integer>468</integer>
				<key>offsetX</key>
				<real>-43.5</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>101850_d_r_parts30a.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>1376</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>66.5</real>
				<key>offsetY</key>
				<real>25</real>
			</dict>
			<key>101850_d_r_parts31b.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>874</integer>
				<key>y</key>
				<integer>562</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>101850_d_r_parts31a.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>911</integer>
				<key>y</key>
				<integer>317</integer>
				<key>offsetX</key>
				<real>46</real>
				<key>offsetY</key>
				<real>56.5</real>
			</dict>
			<key>101850_d_r_parts31c.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>495</integer>
				<key>y</key>
				<integer>866</integer>
				<key>offsetX</key>
				<real>-37</real>
				<key>offsetY</key>
				<real>-38.5</real>
			</dict>
			<key>101850_d_r_parts21.png</key>
			<dict>
				<key>width</key>
				<integer>248</integer>
				<key>height</key>
				<integer>583</integer>
				<key>originalWidth</key>
				<integer>440</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>1376</integer>
				<key>y</key>
				<integer>64</integer>
				<key>offsetX</key>
				<real>91</real>
				<key>offsetY</key>
				<real>-24.5</real>
			</dict>
			<key>101850_d_r_parts32a.png</key>
			<dict>
				<key>width</key>
				<integer>448</integer>
				<key>height</key>
				<integer>350</integer>
				<key>originalWidth</key>
				<integer>460</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>972</integer>
				<key>y</key>
				<integer>649</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101850_d_r_parts36.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>577</integer>
				<key>y</key>
				<integer>866</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101850_d_r_parts33b.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>385</integer>
				<key>y</key>
				<integer>815</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>-65</real>
			</dict>
			<key>101850_d_r_parts34b.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>285</integer>
				<key>y</key>
				<integer>971</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-66</real>
			</dict>
			<key>101850_d_r_parts35a.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>1035</integer>
				<key>y</key>
				<integer>468</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>101850_d_r_parts35b.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>911</integer>
				<key>y</key>
				<integer>380</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-23</real>
			</dict>
			<key>101850_d_r_parts34a.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>1626</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>101850_d_r_parts33d.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>495</integer>
				<key>y</key>
				<integer>965</integer>
				<key>offsetX</key>
				<real>-52.5</real>
				<key>offsetY</key>
				<real>-55</real>
			</dict>
			<key>101850_d_r_parts33a.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>1109</integer>
				<key>y</key>
				<integer>468</integer>
				<key>offsetX</key>
				<real>-23.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>101850_d_r_parts33c.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>665</integer>
				<key>y</key>
				<integer>860</integer>
				<key>offsetX</key>
				<real>47</real>
				<key>offsetY</key>
				<real>-49.5</real>
			</dict>
			<key>101850_d_r_parts32b.png</key>
			<dict>
				<key>width</key>
				<integer>448</integer>
				<key>height</key>
				<integer>340</integer>
				<key>originalWidth</key>
				<integer>460</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>1422</integer>
				<key>y</key>
				<integer>649</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>101850_d_r_parts_txt03.png</key>
			<dict>
				<key>width</key>
				<integer>182</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1764</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101850_d_r_parts_txt02.png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1626</integer>
				<key>y</key>
				<integer>209</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101850_d_r_parts_txt01.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1626</integer>
				<key>y</key>
				<integer>401</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>101850_d_r_parts_bg00.png</key>
			<dict>
				<key>width</key>
				<integer>770</integer>
				<key>height</key>
				<integer>578</integer>
				<key>originalWidth</key>
				<integer>770</integer>
				<key>originalHeight</key>
				<integer>578</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1023</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101850_d_r_parts_bg01.png</key>
			<dict>
				<key>width</key>
				<integer>770</integer>
				<key>height</key>
				<integer>578</integer>
				<key>originalWidth</key>
				<integer>770</integer>
				<key>originalHeight</key>
				<integer>578</integer>
				<key>x</key>
				<integer>772</integer>
				<key>y</key>
				<integer>1001</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101850_d_r_parts_bg1a.png</key>
			<dict>
				<key>width</key>
				<integer>520</integer>
				<key>height</key>
				<integer>440</integer>
				<key>originalWidth</key>
				<integer>520</integer>
				<key>originalHeight</key>
				<integer>440</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1603</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101850_d_r_parts_bg1b.png</key>
			<dict>
				<key>width</key>
				<integer>520</integer>
				<key>height</key>
				<integer>440</integer>
				<key>originalWidth</key>
				<integer>520</integer>
				<key>originalHeight</key>
				<integer>440</integer>
				<key>x</key>
				<integer>522</integer>
				<key>y</key>
				<integer>1603</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>101850_d_r_parts_bg1c.png</key>
			<dict>
				<key>width</key>
				<integer>520</integer>
				<key>height</key>
				<integer>440</integer>
				<key>originalWidth</key>
				<integer>520</integer>
				<key>originalHeight</key>
				<integer>440</integer>
				<key>x</key>
				<integer>1044</integer>
				<key>y</key>
				<integer>1581</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_101850_d_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_101850_d_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>