<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>405200dr_parts97_dummy_ef.png</key>
			<dict>
				<key>width</key>
				<integer>214</integer>
				<key>height</key>
				<integer>764</integer>
				<key>originalWidth</key>
				<integer>752</integer>
				<key>originalHeight</key>
				<integer>1504</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>28</real>
				<key>offsetY</key>
				<real>-356</real>
			</dict>
			<key>405200dr_parts97_Handle2.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>1051</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>3000</integer>
				<key>x</key>
				<integer>215</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>-909.5</real>
			</dict>
			<key>405200dr_parts96_dummy_ef.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>571</integer>
				<key>originalWidth</key>
				<integer>752</integer>
				<key>originalHeight</key>
				<integer>1504</integer>
				<key>x</key>
				<integer>375</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-453.5</real>
			</dict>
			<key>405200dr_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>548</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>405200dr_parts15b.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>596</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>405200dr_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>646</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>405200dr_parts16a.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>548</integer>
				<key>y</key>
				<integer>128</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>405200dr_parts16b.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>687</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>405200dr_parts06d.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>597</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>405200dr_parts16c.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>736</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>405200dr_parts03_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>207</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>331</integer>
				<key>originalHeight</key>
				<integer>331</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>765</integer>
				<key>offsetX</key>
				<real>-22</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>405200dr_parts13_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>199</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>331</integer>
				<key>originalHeight</key>
				<integer>331</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>-16</real>
				<key>offsetY</key>
				<real>-12</real>
			</dict>
			<key>405200dr_parts03_ribbonLUn.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>110</integer>
				<key>x</key>
				<integer>784</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>405200dr_parts13_ribbonLUn.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>110</integer>
				<key>x</key>
				<integer>878</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>405200dr_parts03_ribbonRUn.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>922</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>405200dr_parts99_BruEF00.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>504</integer>
				<key>originalWidth</key>
				<integer>1002</integer>
				<key>originalHeight</key>
				<integer>1002</integer>
				<key>x</key>
				<integer>548</integer>
				<key>y</key>
				<integer>305</integer>
				<key>offsetX</key>
				<real>134</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>405200dr_parts04a_LMant.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>286</integer>
				<key>originalWidth</key>
				<integer>331</integer>
				<key>originalHeight</key>
				<integer>331</integer>
				<key>x</key>
				<integer>964</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>16.5</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>405200dr_parts14a_LMant.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>288</integer>
				<key>originalWidth</key>
				<integer>331</integer>
				<key>originalHeight</key>
				<integer>331</integer>
				<key>x</key>
				<integer>375</integer>
				<key>y</key>
				<integer>572</integer>
				<key>offsetX</key>
				<real>28</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>405200dr_parts04a_RMant.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>285</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>301</integer>
				<key>x</key>
				<integer>75</integer>
				<key>y</key>
				<integer>922</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>405200dr_parts14a_RMant.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>276</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>301</integer>
				<key>x</key>
				<integer>1139</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>405200dr_parts03_hair_LOsage.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>275</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>301</integer>
				<key>x</key>
				<integer>881</integer>
				<key>y</key>
				<integer>287</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>405200dr_parts13_hair_LOsage.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>276</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>301</integer>
				<key>x</key>
				<integer>375</integer>
				<key>y</key>
				<integer>861</integer>
				<key>offsetX</key>
				<real>-16.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>405200dr_parts03_hair_ROsage.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>270</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>301</integer>
				<key>x</key>
				<integer>197</integer>
				<key>y</key>
				<integer>1052</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>405200dr_parts13_hair_ROsage.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>277</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>301</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1208</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>405200dr_parts_SM_BG02.png</key>
			<dict>
				<key>width</key>
				<integer>1002</integer>
				<key>height</key>
				<integer>234</integer>
				<key>originalWidth</key>
				<integer>1002</integer>
				<key>originalHeight</key>
				<integer>234</integer>
				<key>x</key>
				<integer>1000</integer>
				<key>y</key>
				<integer>287</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>405200dr_parts_SM_BG01.png</key>
			<dict>
				<key>width</key>
				<integer>1002</integer>
				<key>height</key>
				<integer>663</integer>
				<key>originalWidth</key>
				<integer>1002</integer>
				<key>originalHeight</key>
				<integer>663</integer>
				<key>x</key>
				<integer>475</integer>
				<key>y</key>
				<integer>861</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_405200_d_r1.png</string>
			<key>realTextureFileName</key>
			<string>mini_405200_d_r1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>