<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>601200l_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>601200l_parts36.png</key>
			<dict>
				<key>width</key>
				<integer>316</integer>
				<key>height</key>
				<integer>348</integer>
				<key>originalWidth</key>
				<integer>439</integer>
				<key>originalHeight</key>
				<integer>781</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>-26.5</real>
				<key>offsetY</key>
				<real>-167.5</real>
			</dict>
			<key>601200l_parts34.png</key>
			<dict>
				<key>width</key>
				<integer>181</integer>
				<key>height</key>
				<integer>282</integer>
				<key>originalWidth</key>
				<integer>485</integer>
				<key>originalHeight</key>
				<integer>532</integer>
				<key>x</key>
				<integer>318</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>103</real>
				<key>offsetY</key>
				<real>19</real>
			</dict>
			<key>601200l_parts49.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>191</integer>
				<key>originalWidth</key>
				<integer>348</integer>
				<key>originalHeight</key>
				<integer>459</integer>
				<key>x</key>
				<integer>318</integer>
				<key>y</key>
				<integer>284</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>91</real>
			</dict>
			<key>601200l_parts48.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>348</integer>
				<key>originalHeight</key>
				<integer>459</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>353</integer>
				<key>offsetX</key>
				<real>58</real>
				<key>offsetY</key>
				<real>-48.5</real>
			</dict>
			<key>601200l_parts40.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>439</integer>
				<key>originalHeight</key>
				<integer>781</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>415</integer>
				<key>offsetX</key>
				<real>131</real>
				<key>offsetY</key>
				<real>158.5</real>
			</dict>
			<key>601200l_parts44.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>609</integer>
				<key>originalHeight</key>
				<integer>534</integer>
				<key>x</key>
				<integer>194</integer>
				<key>y</key>
				<integer>353</integer>
				<key>offsetX</key>
				<real>171.5</real>
				<key>offsetY</key>
				<real>172</real>
			</dict>
			<key>601200l_parts51.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>348</integer>
				<key>originalHeight</key>
				<integer>459</integer>
				<key>x</key>
				<integer>73</integer>
				<key>y</key>
				<integer>415</integer>
				<key>offsetX</key>
				<real>-72.5</real>
				<key>offsetY</key>
				<real>91.5</real>
			</dict>
			<key>601200l_parts52.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>348</integer>
				<key>originalHeight</key>
				<integer>459</integer>
				<key>x</key>
				<integer>264</integer>
				<key>y</key>
				<integer>353</integer>
				<key>offsetX</key>
				<real>-30</real>
				<key>offsetY</key>
				<real>-146</real>
			</dict>
			<key>601200l_parts21b.png</key>
			<dict>
				<key>width</key>
				<integer>214</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>893</integer>
				<key>originalHeight</key>
				<integer>423</integer>
				<key>x</key>
				<integer>501</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-307.5</real>
				<key>offsetY</key>
				<real>-43</real>
			</dict>
			<key>601200l_parts22.png</key>
			<dict>
				<key>width</key>
				<integer>297</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>893</integer>
				<key>originalHeight</key>
				<integer>423</integer>
				<key>x</key>
				<integer>501</integer>
				<key>y</key>
				<integer>153</integer>
				<key>offsetX</key>
				<real>-82</real>
				<key>offsetY</key>
				<real>-44.5</real>
			</dict>
			<key>601200l_parts23.png</key>
			<dict>
				<key>width</key>
				<integer>195</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>893</integer>
				<key>originalHeight</key>
				<integer>423</integer>
				<key>x</key>
				<integer>717</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>131</real>
				<key>offsetY</key>
				<real>-57</real>
			</dict>
			<key>601200l_parts24.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>893</integer>
				<key>originalHeight</key>
				<integer>423</integer>
				<key>x</key>
				<integer>439</integer>
				<key>y</key>
				<integer>297</integer>
				<key>offsetX</key>
				<real>311.5</real>
				<key>offsetY</key>
				<real>-52</real>
			</dict>
			<key>601200l_parts39.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>302</integer>
				<key>originalWidth</key>
				<integer>439</integer>
				<key>originalHeight</key>
				<integer>781</integer>
				<key>x</key>
				<integer>800</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>85.5</real>
				<key>offsetY</key>
				<real>128.5</real>
			</dict>
			<key>601200l_parts42.png</key>
			<dict>
				<key>width</key>
				<integer>450</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>609</integer>
				<key>originalHeight</key>
				<integer>534</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>495</integer>
				<key>offsetX</key>
				<real>-28.5</real>
				<key>offsetY</key>
				<real>121</real>
			</dict>
			<key>601200l_parts45.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>299</integer>
				<key>originalWidth</key>
				<integer>609</integer>
				<key>originalHeight</key>
				<integer>534</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>693</integer>
				<key>offsetX</key>
				<real>188.5</real>
				<key>offsetY</key>
				<real>-68.5</real>
			</dict>
			<key>601200l_parts50.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>348</integer>
				<key>originalHeight</key>
				<integer>459</integer>
				<key>x</key>
				<integer>134</integer>
				<key>y</key>
				<integer>693</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-90.5</real>
			</dict>
			<key>601200l_parts24a.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>893</integer>
				<key>originalHeight</key>
				<integer>423</integer>
				<key>x</key>
				<integer>914</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>267</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>601200l_parts47.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>348</integer>
				<key>originalHeight</key>
				<integer>459</integer>
				<key>x</key>
				<integer>264</integer>
				<key>y</key>
				<integer>390</integer>
				<key>offsetX</key>
				<real>80.5</real>
				<key>offsetY</key>
				<real>143.5</real>
			</dict>
			<key>601200l_parts46.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>609</integer>
				<key>originalHeight</key>
				<integer>534</integer>
				<key>x</key>
				<integer>439</integer>
				<key>y</key>
				<integer>420</integer>
				<key>offsetX</key>
				<real>155.5</real>
				<key>offsetY</key>
				<real>-106.5</real>
			</dict>
			<key>601200l_parts43.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>609</integer>
				<key>originalHeight</key>
				<integer>534</integer>
				<key>x</key>
				<integer>246</integer>
				<key>y</key>
				<integer>693</integer>
				<key>offsetX</key>
				<real>-27.5</real>
				<key>offsetY</key>
				<real>117.5</real>
			</dict>
			<key>601200l_parts41.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>439</integer>
				<key>originalHeight</key>
				<integer>781</integer>
				<key>x</key>
				<integer>643</integer>
				<key>y</key>
				<integer>297</integer>
				<key>offsetX</key>
				<real>83.5</real>
				<key>offsetY</key>
				<real>302.5</real>
			</dict>
			<key>601200l_parts38.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>439</integer>
				<key>originalHeight</key>
				<integer>781</integer>
				<key>x</key>
				<integer>525</integer>
				<key>y</key>
				<integer>420</integer>
				<key>offsetX</key>
				<real>24.5</real>
				<key>offsetY</key>
				<real>-125.5</real>
			</dict>
			<key>601200l_parts37.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>439</integer>
				<key>originalHeight</key>
				<integer>781</integer>
				<key>x</key>
				<integer>452</integer>
				<key>y</key>
				<integer>483</integer>
				<key>offsetX</key>
				<real>75</real>
				<key>offsetY</key>
				<real>-308.5</real>
			</dict>
			<key>601200l_parts35.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>485</integer>
				<key>originalHeight</key>
				<integer>532</integer>
				<key>x</key>
				<integer>681</integer>
				<key>y</key>
				<integer>297</integer>
				<key>offsetX</key>
				<real>151.5</real>
				<key>offsetY</key>
				<real>32</real>
			</dict>
			<key>601200l_parts33.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>485</integer>
				<key>originalHeight</key>
				<integer>532</integer>
				<key>x</key>
				<integer>971</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>150</real>
				<key>offsetY</key>
				<real>185.5</real>
			</dict>
			<key>601200l_parts31.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>485</integer>
				<key>originalHeight</key>
				<integer>532</integer>
				<key>x</key>
				<integer>452</integer>
				<key>y</key>
				<integer>531</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>-57</real>
			</dict>
			<key>601200l_parts23a.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>893</integer>
				<key>originalHeight</key>
				<integer>423</integer>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>693</integer>
				<key>offsetX</key>
				<real>134.5</real>
				<key>offsetY</key>
				<real>-130</real>
			</dict>
			<key>601200l_parts22b.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>893</integer>
				<key>originalHeight</key>
				<integer>423</integer>
				<key>x</key>
				<integer>246</integer>
				<key>y</key>
				<integer>790</integer>
				<key>offsetX</key>
				<real>-38.5</real>
				<key>offsetY</key>
				<real>-75</real>
			</dict>
			<key>601200l_parts22a.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>893</integer>
				<key>originalHeight</key>
				<integer>423</integer>
				<key>x</key>
				<integer>134</integer>
				<key>y</key>
				<integer>903</integer>
				<key>offsetX</key>
				<real>75</real>
				<key>offsetY</key>
				<real>20</real>
			</dict>
			<key>601200l_parts21a.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>893</integer>
				<key>originalHeight</key>
				<integer>423</integer>
				<key>x</key>
				<integer>643</integer>
				<key>y</key>
				<integer>399</integer>
				<key>offsetX</key>
				<real>-226.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>601200l_parts24b.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>893</integer>
				<key>originalHeight</key>
				<integer>423</integer>
				<key>x</key>
				<integer>176</integer>
				<key>y</key>
				<integer>451</integer>
				<key>offsetX</key>
				<real>369</real>
				<key>offsetY</key>
				<real>-72.5</real>
			</dict>
			<key>601200l_parts00.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>290</integer>
				<key>originalWidth</key>
				<integer>384</integer>
				<key>originalHeight</key>
				<integer>505</integer>
				<key>x</key>
				<integer>535</integer>
				<key>y</key>
				<integer>531</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>601200l_parts_black.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>215</integer>
				<key>y</key>
				<integer>451</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>601200l_parts01.png</key>
			<dict>
				<key>width</key>
				<integer>606</integer>
				<key>height</key>
				<integer>1237</integer>
				<key>originalWidth</key>
				<integer>798</integer>
				<key>originalHeight</key>
				<integer>1419</integer>
				<key>x</key>
				<integer>1022</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>22</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>601200l_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>325</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>765</integer>
				<key>originalHeight</key>
				<integer>820</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>994</integer>
				<key>offsetX</key>
				<real>83</real>
				<key>offsetY</key>
				<real>-167</real>
			</dict>
			<key>601200l_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>289</integer>
				<key>originalWidth</key>
				<integer>765</integer>
				<key>originalHeight</key>
				<integer>820</integer>
				<key>x</key>
				<integer>670</integer>
				<key>y</key>
				<integer>503</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>601200l_parts02c.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>188</integer>
				<key>originalWidth</key>
				<integer>765</integer>
				<key>originalHeight</key>
				<integer>820</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1246</integer>
				<key>offsetX</key>
				<real>-116</real>
				<key>offsetY</key>
				<real>197</real>
			</dict>
			<key>601200l_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>384</integer>
				<key>originalHeight</key>
				<integer>585</integer>
				<key>x</key>
				<integer>452</integer>
				<key>y</key>
				<integer>625</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>126.5</real>
			</dict>
			<key>601200l_parts03b.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>384</integer>
				<key>originalHeight</key>
				<integer>585</integer>
				<key>x</key>
				<integer>306</integer>
				<key>y</key>
				<integer>825</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-136</real>
			</dict>
			<key>601200l_parts03c.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>384</integer>
				<key>originalHeight</key>
				<integer>585</integer>
				<key>x</key>
				<integer>459</integer>
				<key>y</key>
				<integer>825</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>-23.5</real>
			</dict>
			<key>601200l_parts04b.png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>576</integer>
				<key>originalHeight</key>
				<integer>790</integer>
				<key>x</key>
				<integer>832</integer>
				<key>y</key>
				<integer>417</integer>
				<key>offsetX</key>
				<real>46</real>
				<key>offsetY</key>
				<real>216.5</real>
			</dict>
			<key>601200l_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>312</integer>
				<key>originalWidth</key>
				<integer>576</integer>
				<key>originalHeight</key>
				<integer>790</integer>
				<key>x</key>
				<integer>571</integer>
				<key>y</key>
				<integer>823</integer>
				<key>offsetX</key>
				<real>-37</real>
				<key>offsetY</key>
				<real>-147</real>
			</dict>
			<key>601200l_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>576</integer>
				<key>originalHeight</key>
				<integer>790</integer>
				<key>x</key>
				<integer>832</integer>
				<key>y</key>
				<integer>566</integer>
				<key>offsetX</key>
				<real>30.5</real>
				<key>offsetY</key>
				<real>70</real>
			</dict>
			<key>601200l_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>196</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>513</integer>
				<key>originalHeight</key>
				<integer>573</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1436</integer>
				<key>offsetX</key>
				<real>62.5</real>
				<key>offsetY</key>
				<real>101.5</real>
			</dict>
			<key>601200l_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>513</integer>
				<key>originalHeight</key>
				<integer>573</integer>
				<key>x</key>
				<integer>229</integer>
				<key>y</key>
				<integer>1246</integer>
				<key>offsetX</key>
				<real>-63</real>
				<key>offsetY</key>
				<real>57.5</real>
			</dict>
			<key>601200l_parts05d.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>513</integer>
				<key>originalHeight</key>
				<integer>573</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1594</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-104.5</real>
			</dict>
			<key>601200l_parts05c.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>202</integer>
				<key>originalWidth</key>
				<integer>513</integer>
				<key>originalHeight</key>
				<integer>573</integer>
				<key>x</key>
				<integer>327</integer>
				<key>y</key>
				<integer>954</integer>
				<key>offsetX</key>
				<real>-93.5</real>
				<key>offsetY</key>
				<real>-69.5</real>
			</dict>
			<key>601200l_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>183</integer>
				<key>originalWidth</key>
				<integer>447</integer>
				<key>originalHeight</key>
				<integer>381</integer>
				<key>x</key>
				<integer>1630</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-54.5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>601200l_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>447</integer>
				<key>originalHeight</key>
				<integer>381</integer>
				<key>x</key>
				<integer>198</integer>
				<key>y</key>
				<integer>1436</integer>
				<key>offsetX</key>
				<real>63</real>
				<key>offsetY</key>
				<real>-60.5</real>
			</dict>
			<key>601200l_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>447</integer>
				<key>originalHeight</key>
				<integer>381</integer>
				<key>x</key>
				<integer>914</integer>
				<key>y</key>
				<integer>194</integer>
				<key>offsetX</key>
				<real>109.5</real>
				<key>offsetY</key>
				<real>17.5</real>
			</dict>
			<key>601200l_parts07a.png</key>
			<dict>
				<key>width</key>
				<integer>437</integer>
				<key>height</key>
				<integer>394</integer>
				<key>originalWidth</key>
				<integer>834</integer>
				<key>originalHeight</key>
				<integer>642</integer>
				<key>x</key>
				<integer>392</integer>
				<key>y</key>
				<integer>1158</integer>
				<key>offsetX</key>
				<real>118.5</real>
				<key>offsetY</key>
				<real>-16</real>
			</dict>
			<key>601200l_parts07c.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>834</integer>
				<key>originalHeight</key>
				<integer>642</integer>
				<key>x</key>
				<integer>863</integer>
				<key>y</key>
				<integer>788</integer>
				<key>offsetX</key>
				<real>-237</real>
				<key>offsetY</key>
				<real>-84</real>
			</dict>
			<key>601200l_parts07d.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>834</integer>
				<key>originalHeight</key>
				<integer>642</integer>
				<key>x</key>
				<integer>134</integer>
				<key>y</key>
				<integer>1594</integer>
				<key>offsetX</key>
				<real>-324.5</real>
				<key>offsetY</key>
				<real>-68.5</real>
			</dict>
			<key>601200l_parts07b.png</key>
			<dict>
				<key>width</key>
				<integer>352</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>834</integer>
				<key>originalHeight</key>
				<integer>642</integer>
				<key>x</key>
				<integer>1630</integer>
				<key>y</key>
				<integer>185</integer>
				<key>offsetX</key>
				<real>-169</real>
				<key>offsetY</key>
				<real>135</real>
			</dict>
			<key>601200l_parts07e.png</key>
			<dict>
				<key>width</key>
				<integer>262</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>834</integer>
				<key>originalHeight</key>
				<integer>642</integer>
				<key>x</key>
				<integer>227</integer>
				<key>y</key>
				<integer>1554</integer>
				<key>offsetX</key>
				<real>-233</real>
				<key>offsetY</key>
				<real>75</real>
			</dict>
			<key>601200l_parts08a.png</key>
			<dict>
				<key>width</key>
				<integer>254</integer>
				<key>height</key>
				<integer>316</integer>
				<key>originalWidth</key>
				<integer>624</integer>
				<key>originalHeight</key>
				<integer>604</integer>
				<key>x</key>
				<integer>1630</integer>
				<key>y</key>
				<integer>311</integer>
				<key>offsetX</key>
				<real>-109</real>
				<key>offsetY</key>
				<real>-49</real>
			</dict>
			<key>601200l_parts08c.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>624</integer>
				<key>originalHeight</key>
				<integer>604</integer>
				<key>x</key>
				<integer>1808</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>95</real>
				<key>offsetY</key>
				<real>-36.5</real>
			</dict>
			<key>601200l_parts08d.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>624</integer>
				<key>originalHeight</key>
				<integer>604</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1738</integer>
				<key>offsetX</key>
				<real>116.5</real>
				<key>offsetY</key>
				<real>43</real>
			</dict>
			<key>601200l_parts08b.png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>624</integer>
				<key>originalHeight</key>
				<integer>604</integer>
				<key>x</key>
				<integer>123</integer>
				<key>y</key>
				<integer>1769</integer>
				<key>offsetX</key>
				<real>24.5</real>
				<key>offsetY</key>
				<real>111.5</real>
			</dict>
			<key>601200l_parts08e.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>624</integer>
				<key>originalHeight</key>
				<integer>604</integer>
				<key>x</key>
				<integer>863</integer>
				<key>y</key>
				<integer>964</integer>
				<key>offsetX</key>
				<real>85</real>
				<key>offsetY</key>
				<real>115</real>
			</dict>
			<key>601200l_parts09a.png</key>
			<dict>
				<key>width</key>
				<integer>320</integer>
				<key>height</key>
				<integer>270</integer>
				<key>originalWidth</key>
				<integer>711</integer>
				<key>originalHeight</key>
				<integer>549</integer>
				<key>x</key>
				<integer>491</integer>
				<key>y</key>
				<integer>1554</integer>
				<key>offsetX</key>
				<real>-143.5</real>
				<key>offsetY</key>
				<real>-21.5</real>
			</dict>
			<key>601200l_parts09c.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>711</integer>
				<key>originalHeight</key>
				<integer>549</integer>
				<key>x</key>
				<integer>863</integer>
				<key>y</key>
				<integer>1072</integer>
				<key>offsetX</key>
				<real>107.5</real>
				<key>offsetY</key>
				<real>-93.5</real>
			</dict>
			<key>601200l_parts09d.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>711</integer>
				<key>originalHeight</key>
				<integer>549</integer>
				<key>x</key>
				<integer>831</integer>
				<key>y</key>
				<integer>1182</integer>
				<key>offsetX</key>
				<real>193</real>
				<key>offsetY</key>
				<real>-47</real>
			</dict>
			<key>601200l_parts09b.png</key>
			<dict>
				<key>width</key>
				<integer>338</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>711</integer>
				<key>originalHeight</key>
				<integer>549</integer>
				<key>x</key>
				<integer>831</integer>
				<key>y</key>
				<integer>1359</integer>
				<key>offsetX</key>
				<real>74.5</real>
				<key>offsetY</key>
				<real>88.5</real>
			</dict>
			<key>601200l_parts09e.png</key>
			<dict>
				<key>width</key>
				<integer>262</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>711</integer>
				<key>originalHeight</key>
				<integer>549</integer>
				<key>x</key>
				<integer>1630</integer>
				<key>y</key>
				<integer>629</integer>
				<key>offsetX</key>
				<real>112.5</real>
				<key>offsetY</key>
				<real>68.5</real>
			</dict>
			<key>601200l_parts10a.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>723</integer>
				<key>originalHeight</key>
				<integer>669</integer>
				<key>x</key>
				<integer>1886</integer>
				<key>y</key>
				<integer>311</integer>
				<key>offsetX</key>
				<real>-68.5</real>
				<key>offsetY</key>
				<real>137</real>
			</dict>
			<key>601200l_parts10b.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>230</integer>
				<key>originalWidth</key>
				<integer>723</integer>
				<key>originalHeight</key>
				<integer>669</integer>
				<key>x</key>
				<integer>831</integer>
				<key>y</key>
				<integer>1515</integer>
				<key>offsetX</key>
				<real>-173.5</real>
				<key>offsetY</key>
				<real>108.5</real>
			</dict>
			<key>601200l_parts10c.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>723</integer>
				<key>originalHeight</key>
				<integer>669</integer>
				<key>x</key>
				<integer>366</integer>
				<key>y</key>
				<integer>1826</integer>
				<key>offsetX</key>
				<real>-79.5</real>
				<key>offsetY</key>
				<real>-45.5</real>
			</dict>
			<key>601200l_parts10d.png</key>
			<dict>
				<key>width</key>
				<integer>296</integer>
				<key>height</key>
				<integer>233</integer>
				<key>originalWidth</key>
				<integer>723</integer>
				<key>originalHeight</key>
				<integer>669</integer>
				<key>x</key>
				<integer>1630</integer>
				<key>y</key>
				<integer>771</integer>
				<key>offsetX</key>
				<real>132.5</real>
				<key>offsetY</key>
				<real>-127</real>
			</dict>
			<key>601200l_parts11a.png</key>
			<dict>
				<key>width</key>
				<integer>199</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>471</integer>
				<key>x</key>
				<integer>598</integer>
				<key>y</key>
				<integer>1826</integer>
				<key>offsetX</key>
				<real>-104.5</real>
				<key>offsetY</key>
				<real>16.5</real>
			</dict>
			<key>601200l_parts11b.png</key>
			<dict>
				<key>width</key>
				<integer>223</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>471</integer>
				<key>x</key>
				<integer>959</integer>
				<key>y</key>
				<integer>1515</integer>
				<key>offsetX</key>
				<real>57.5</real>
				<key>offsetY</key>
				<real>71</real>
			</dict>
			<key>601200l_parts11c.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>471</integer>
				<key>x</key>
				<integer>813</integer>
				<key>y</key>
				<integer>1747</integer>
				<key>offsetX</key>
				<real>133.5</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>601200l_parts11d.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>471</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1890</integer>
				<key>offsetX</key>
				<real>57</real>
				<key>offsetY</key>
				<real>-75.5</real>
			</dict>
			<key>601200l_parts12a.png</key>
			<dict>
				<key>width</key>
				<integer>297</integer>
				<key>height</key>
				<integer>225</integer>
				<key>originalWidth</key>
				<integer>780</integer>
				<key>originalHeight</key>
				<integer>535</integer>
				<key>x</key>
				<integer>959</integer>
				<key>y</key>
				<integer>1648</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>52</real>
			</dict>
			<key>601200l_parts12b.png</key>
			<dict>
				<key>width</key>
				<integer>262</integer>
				<key>height</key>
				<integer>195</integer>
				<key>originalWidth</key>
				<integer>780</integer>
				<key>originalHeight</key>
				<integer>535</integer>
				<key>x</key>
				<integer>1630</integer>
				<key>y</key>
				<integer>1006</integer>
				<key>offsetX</key>
				<real>171</real>
				<key>offsetY</key>
				<real>-12</real>
			</dict>
			<key>601200l_parts12c.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>324</integer>
				<key>originalWidth</key>
				<integer>780</integer>
				<key>originalHeight</key>
				<integer>535</integer>
				<key>x</key>
				<integer>1630</integer>
				<key>y</key>
				<integer>1203</integer>
				<key>offsetX</key>
				<real>-183.5</real>
				<key>offsetY</key>
				<real>-15.5</real>
			</dict>
			<key>601200l_parts12d.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>197</integer>
				<key>originalWidth</key>
				<integer>780</integer>
				<key>originalHeight</key>
				<integer>535</integer>
				<key>x</key>
				<integer>1258</integer>
				<key>y</key>
				<integer>1239</integer>
				<key>offsetX</key>
				<real>-79.5</real>
				<key>offsetY</key>
				<real>-81</real>
			</dict>
			<key>601200l_parts13a.png</key>
			<dict>
				<key>width</key>
				<integer>236</integer>
				<key>height</key>
				<integer>211</integer>
				<key>originalWidth</key>
				<integer>585</integer>
				<key>originalHeight</key>
				<integer>703</integer>
				<key>x</key>
				<integer>1258</integer>
				<key>y</key>
				<integer>1438</integer>
				<key>offsetX</key>
				<real>73.5</real>
				<key>offsetY</key>
				<real>143</real>
			</dict>
			<key>601200l_parts13b.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>243</integer>
				<key>originalWidth</key>
				<integer>585</integer>
				<key>originalHeight</key>
				<integer>703</integer>
				<key>x</key>
				<integer>1258</integer>
				<key>y</key>
				<integer>1651</integer>
				<key>offsetX</key>
				<real>-58.5</real>
				<key>offsetY</key>
				<real>39</real>
			</dict>
			<key>601200l_parts13c.png</key>
			<dict>
				<key>width</key>
				<integer>247</integer>
				<key>height</key>
				<integer>209</integer>
				<key>originalWidth</key>
				<integer>585</integer>
				<key>originalHeight</key>
				<integer>703</integer>
				<key>x</key>
				<integer>1797</integer>
				<key>y</key>
				<integer>1203</integer>
				<key>offsetX</key>
				<real>-59</real>
				<key>offsetY</key>
				<real>-144</real>
			</dict>
			<key>601200l_parts21.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>893</integer>
				<key>originalHeight</key>
				<integer>423</integer>
				<key>x</key>
				<integer>443</integer>
				<key>y</key>
				<integer>1025</integer>
				<key>offsetX</key>
				<real>-361</real>
				<key>offsetY</key>
				<real>42.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_601200_l0.png</string>
			<key>realTextureFileName</key>
			<string>mini_601200_l0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>