<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>da_dammy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{1287,565},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_battle_bk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1501,1862},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_battle_boss .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1501,1898},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_battle_niji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1642,701},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_battle_tx01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,360}</string>
                <key>textureRect</key>
                <string>{{1,1263},{500,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_battle_tx02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,360}</string>
                <key>textureRect</key>
                <string>{{1,1627},{500,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_battle_tx03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,360}</string>
                <key>textureRect</key>
                <string>{{505,1263},{500,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_battle_tx04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,360}</string>
                <key>textureRect</key>
                <string>{{505,1627},{500,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_battle_wt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1800,1034},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_battle_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,214}</string>
                <key>spriteSourceSize</key>
                <string>{1024,216}</string>
                <key>textureRect</key>
                <string>{{1,1045},{1024,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_battle_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,138}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1597,1458},{144,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_battle_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{298,70}</string>
                <key>spriteSourceSize</key>
                <string>{494,72}</string>
                <key>textureRect</key>
                <string>{{1317,523},{298,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_battle_txt_yaji_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,66}</string>
                <key>spriteSourceSize</key>
                <string>{98,66}</string>
                <key>textureRect</key>
                <string>{{1673,995},{86,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_boss_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,270}</string>
                <key>spriteSourceSize</key>
                <string>{1024,274}</string>
                <key>textureRect</key>
                <string>{{1,291},{1024,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_boss_symbol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{210,220}</string>
                <key>spriteSourceSize</key>
                <string>{218,220}</string>
                <key>textureRect</key>
                <string>{{1029,1049},{210,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_boss_symbol_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{210,220}</string>
                <key>spriteSourceSize</key>
                <string>{218,220}</string>
                <key>textureRect</key>
                <string>{{1009,1273},{210,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_boss_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,77}</string>
                <key>spriteSourceSize</key>
                <string>{494,77}</string>
                <key>textureRect</key>
                <string>{{1028,141},{476,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_boss_txt_yaji_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{96,66}</string>
                <key>spriteSourceSize</key>
                <string>{98,66}</string>
                <key>textureRect</key>
                <string>{{1741,407},{96,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_chest_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,286}</string>
                <key>spriteSourceSize</key>
                <string>{1023,286}</string>
                <key>textureRect</key>
                <string>{{1,1},{1023,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_chest_ef01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1317,311},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_chest_ef02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1696,1},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_chest_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-15}</string>
                <key>spriteSize</key>
                <string>{152,136}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1686,163},{152,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_chest_icon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{154,160}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1629,1116},{154,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_chest_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{390,60}</string>
                <key>spriteSourceSize</key>
                <string>{494,72}</string>
                <key>textureRect</key>
                <string>{{1287,817},{390,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_recovery_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,236}</string>
                <key>spriteSourceSize</key>
                <string>{1024,236}</string>
                <key>textureRect</key>
                <string>{{1,565},{1024,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_recovery_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{156,154}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1701,515},{156,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_recovery_textbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,39}</string>
                <key>spriteSourceSize</key>
                <string>{260,39}</string>
                <key>textureRect</key>
                <string>{{1009,1945},{260,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_recovery_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{410,70}</string>
                <key>spriteSourceSize</key>
                <string>{494,72}</string>
                <key>textureRect</key>
                <string>{{1287,743},{410,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_trap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,236}</string>
                <key>spriteSourceSize</key>
                <string>{1024,236}</string>
                <key>textureRect</key>
                <string>{{1,805},{1024,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_trap_ef02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1529,303},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_trap_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{186,186}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1223,1687},{186,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_trap_textbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,39}</string>
                <key>spriteSourceSize</key>
                <string>{260,39}</string>
                <key>textureRect</key>
                <string>{{1273,1945},{260,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_cutin_trap_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{274,64}</string>
                <key>spriteSourceSize</key>
                <string>{494,72}</string>
                <key>textureRect</key>
                <string>{{1223,1877},{274,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_effect00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{254,254}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1029,565},{254,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_effect01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,201}</string>
                <key>textureRect</key>
                <string>{{1223,1294},{194,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_effect02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,197}</string>
                <key>spriteSourceSize</key>
                <string>{200,201}</string>
                <key>textureRect</key>
                <string>{{1243,1093},{200,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_icon_battle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,138}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1569,1600},{144,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_icon_boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{210,220}</string>
                <key>spriteSourceSize</key>
                <string>{218,220}</string>
                <key>textureRect</key>
                <string>{{1009,1497},{210,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_icon_chest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-15}</string>
                <key>spriteSize</key>
                <string>{152,136}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1413,1600},{152,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_icon_recovery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{156,154}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1701,673},{156,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_icon_trap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{172,174}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1421,1296},{172,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_line_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{259,21}</string>
                <key>spriteSourceSize</key>
                <string>{263,21}</string>
                <key>textureRect</key>
                <string>{{1467,1091},{259,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_message_chest_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,85}</string>
                <key>spriteSourceSize</key>
                <string>{463,85}</string>
                <key>textureRect</key>
                <string>{{1029,222},{463,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_move_ef01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1597,1296},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_move_ef02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1255,881},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_move_ef03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{202,206}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1467,881},{202,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_next_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,122}</string>
                <key>spriteSourceSize</key>
                <string>{154,122}</string>
                <key>textureRect</key>
                <string>{{1421,1474},{154,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_next_point_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,100}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1741,303},{110,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_next_tx04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,142}</string>
                <key>spriteSourceSize</key>
                <string>{314,142}</string>
                <key>textureRect</key>
                <string>{{1287,597},{314,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_next_tx05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{284,250}</string>
                <key>spriteSourceSize</key>
                <string>{314,314}</string>
                <key>textureRect</key>
                <string>{{1029,311},{284,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_open_icon_battle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{168,160}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1681,831},{168,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_open_icon_boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{210,220}</string>
                <key>spriteSourceSize</key>
                <string>{218,220}</string>
                <key>textureRect</key>
                <string>{{1009,1721},{210,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_open_icon_chest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-15}</string>
                <key>spriteSize</key>
                <string>{174,158}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1508,141},{174,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_open_icon_recovery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{178,176}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1447,1116},{178,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_open_icon_trap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{186,190}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1223,1493},{186,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_point_message.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{664,136}</string>
                <key>spriteSourceSize</key>
                <string>{664,136}</string>
                <key>textureRect</key>
                <string>{{1028,1},{664,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_point_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{142,118}</string>
                <key>spriteSourceSize</key>
                <string>{162,150}</string>
                <key>textureRect</key>
                <string>{{1413,1740},{142,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_point_on_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{142,118}</string>
                <key>spriteSourceSize</key>
                <string>{162,150}</string>
                <key>textureRect</key>
                <string>{{1559,1742},{142,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_point_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{142,118}</string>
                <key>spriteSourceSize</key>
                <string>{162,150}</string>
                <key>textureRect</key>
                <string>{{1537,1864},{142,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_point_out_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{142,118}</string>
                <key>spriteSourceSize</key>
                <string>{162,150}</string>
                <key>textureRect</key>
                <string>{{1683,1864},{142,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_recect_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,222}</string>
                <key>spriteSourceSize</key>
                <string>{222,222}</string>
                <key>textureRect</key>
                <string>{{1029,823},{222,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_damage_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,35}</string>
                <key>spriteSourceSize</key>
                <string>{42,35}</string>
                <key>textureRect</key>
                <string>{{1763,995},{42,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_damage_nm_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1741,477},{33,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_damage_nm_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1255,823},{27,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_damage_nm_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1778,477},{33,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_damage_nm_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1717,1696},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_damage_nm_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1705,1742},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_damage_nm_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1705,1788},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_damage_nm_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{33,44}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1619,515},{33,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_damage_nm_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1619,563},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_damage_nm_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{33,44}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1656,515},{33,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_damage_nm_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1656,563},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_damage_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,19.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{99,42}</string>
                <key>textureRect</key>
                <string>{{1009,1263},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_recovery_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,35}</string>
                <key>spriteSourceSize</key>
                <string>{42,35}</string>
                <key>textureRect</key>
                <string>{{1809,995},{42,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_recovery_nm_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1815,477},{33,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_recovery_nm_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1745,1458},{27,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_recovery_nm_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1605,701},{33,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_recovery_nm_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1605,609},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_recovery_nm_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1605,655},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_recovery_nm_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1642,609},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_recovery_nm_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{33,44}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1717,1600},{33,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_recovery_nm_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1642,655},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_recovery_nm_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{33,44}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1717,1648},{33,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_recovery_nm_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1763,1034},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_dn_um_recovery_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29.5,19.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{62,42}</string>
                <key>textureRect</key>
                <string>{{1496,222},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>evt_dungeon_anime0.png</string>
            <key>size</key>
            <string>{1858,1988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73d0cbd44fcf24c17019128758ae840f:1df93fe4c62bd4c24475c53e251eeed8:64e884f88b872659c58cbb37c9f5c4e3$</string>
            <key>textureFileName</key>
            <string>evt_dungeon_anime0.png</string>
        </dict>
    </dict>
</plist>
