<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>evt_raid_anime_effect00.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_effect01.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>258</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_effect02.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>460</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_next_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>662</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_next_tx02.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>1064</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_next_tx03.png</key>
			<dict>
				<key>width</key>
				<integer>353</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>353</integer>
				<key>originalHeight</key>
				<integer>18</integer>
				<key>x</key>
				<integer>1151</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_anime_next_tx04.png</key>
			<dict>
				<key>width</key>
				<integer>314</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>314</integer>
				<key>originalHeight</key>
				<integer>142</integer>
				<key>x</key>
				<integer>1506</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_area_mission_clear.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>1822</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_area_mission_notclear.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>1870</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_area_mission_notclear_gray.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>1918</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_boss.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_boss_gray.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_boss_out.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>204</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_icon_clear.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>306</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_icon_complete.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>340</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_icon_new.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>374</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_icon_notclear.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>440</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_line.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>474</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_0.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>732</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_0_c.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>756</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_0_gray.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>780</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_1.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>804</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_1_c.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>822</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_1_gray.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>840</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_2.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>858</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_2_c.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>882</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_2_gray.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>906</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_3.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>930</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_3_c.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>954</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_3_gray.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>978</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_4.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1002</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_4_c.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_4_gray.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1050</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_5.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1074</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_5_c.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1098</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_5_gray.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1122</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_6.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1146</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_6_c.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1170</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_6_gray.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1194</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_7.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1218</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_7_c.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1242</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_7_gray.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1266</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_8.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1290</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_8_c.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1314</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_8_gray.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1338</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_9.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1362</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_9_c.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1386</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_9_gray.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1410</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_c.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1434</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_num_c_gray.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1458</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_point_boss.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>1482</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_point_boss_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>146</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>1614</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_point_boss_gray.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>1762</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_point_boss_out.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>1894</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_point_boss_recent.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>397</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_point_challenge.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>86</integer>
				<key>x</key>
				<integer>182</integer>
				<key>y</key>
				<integer>397</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_point_challenge_gray.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>86</integer>
				<key>x</key>
				<integer>288</integer>
				<key>y</key>
				<integer>397</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_point_last.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>184</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>394</integer>
				<key>y</key>
				<integer>397</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_point_last._ef01.png</key>
			<dict>
				<key>width</key>
				<integer>210</integer>
				<key>height</key>
				<integer>210</integer>
				<key>originalWidth</key>
				<integer>210</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>580</integer>
				<key>y</key>
				<integer>397</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_point_last_gray.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>184</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>792</integer>
				<key>y</key>
				<integer>397</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_point_last_out.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>184</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>978</integer>
				<key>y</key>
				<integer>397</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_point_last_recent.png</key>
			<dict>
				<key>width</key>
				<integer>199</integer>
				<key>height</key>
				<integer>210</integer>
				<key>originalWidth</key>
				<integer>199</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>1164</integer>
				<key>y</key>
				<integer>397</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_point_normal.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>1365</integer>
				<key>y</key>
				<integer>397</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_point_normal_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>92</integer>
				<key>originalHeight</key>
				<integer>91</integer>
				<key>x</key>
				<integer>1441</integer>
				<key>y</key>
				<integer>397</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_point_normal_gray.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>1535</integer>
				<key>y</key>
				<integer>397</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_point_normal_recent.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>113</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>1611</integer>
				<key>y</key>
				<integer>397</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_point_story.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>86</integer>
				<key>x</key>
				<integer>1726</integer>
				<key>y</key>
				<integer>397</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_point_story_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>1832</integer>
				<key>y</key>
				<integer>397</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_point_story_gray.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>86</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>609</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_raid_point_story_recent.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>142</integer>
				<key>originalHeight</key>
				<integer>144</integer>
				<key>x</key>
				<integer>106</integer>
				<key>y</key>
				<integer>609</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>evt_raid_anime1.png</string>
			<key>realTextureFileName</key>
			<string>evt_raid_anime1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>