<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>be_title_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,1}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{63,34}</string>
                <key>textureRect</key>
                <string>{{850,467},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>be_title_00_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,1}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{63,34}</string>
                <key>textureRect</key>
                <string>{{879,467},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>be_title_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{63,34}</string>
                <key>textureRect</key>
                <string>{{755,449},{35,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>be_title_01_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{21,34}</string>
                <key>spriteSourceSize</key>
                <string>{63,34}</string>
                <key>textureRect</key>
                <string>{{850,397},{21,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>be_title_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{51,34}</string>
                <key>spriteSourceSize</key>
                <string>{63,34}</string>
                <key>textureRect</key>
                <string>{{490,463},{51,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>be_title_02_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{51,34}</string>
                <key>spriteSourceSize</key>
                <string>{63,34}</string>
                <key>textureRect</key>
                <string>{{543,463},{51,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>be_title_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{51,34}</string>
                <key>spriteSourceSize</key>
                <string>{63,34}</string>
                <key>textureRect</key>
                <string>{{596,463},{51,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>be_title_03_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{51,32}</string>
                <key>spriteSourceSize</key>
                <string>{63,34}</string>
                <key>textureRect</key>
                <string>{{850,433},{51,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>be_title_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{51,34}</string>
                <key>spriteSourceSize</key>
                <string>{63,34}</string>
                <key>textureRect</key>
                <string>{{649,458},{51,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>be_title_04_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{51,34}</string>
                <key>spriteSourceSize</key>
                <string>{63,34}</string>
                <key>textureRect</key>
                <string>{{702,458},{51,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>be_title_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{51,34}</string>
                <key>spriteSourceSize</key>
                <string>{63,34}</string>
                <key>textureRect</key>
                <string>{{971,217},{51,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>be_title_05_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{51,34}</string>
                <key>spriteSourceSize</key>
                <string>{63,34}</string>
                <key>textureRect</key>
                <string>{{971,253},{51,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>be_title_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{51,34}</string>
                <key>spriteSourceSize</key>
                <string>{63,34}</string>
                <key>textureRect</key>
                <string>{{971,289},{51,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>be_title_06_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{51,34}</string>
                <key>spriteSourceSize</key>
                <string>{63,34}</string>
                <key>textureRect</key>
                <string>{{971,325},{51,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>be_title_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{63,34}</string>
                <key>textureRect</key>
                <string>{{490,418},{27,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>be_title_07_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{63,34}</string>
                <key>textureRect</key>
                <string>{{792,449},{27,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>be_title_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{63,34}</string>
                <key>textureRect</key>
                <string>{{821,361},{27,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>be_title_08_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{63,34}</string>
                <key>textureRect</key>
                <string>{{821,397},{27,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>be_title_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{63,34}</string>
                <key>textureRect</key>
                <string>{{821,433},{27,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>be_title_09_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{63,34}</string>
                <key>textureRect</key>
                <string>{{850,361},{27,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>be_title_wa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-5}</string>
                <key>spriteSize</key>
                <string>{5,8}</string>
                <key>spriteSourceSize</key>
                <string>{37,28}</string>
                <key>textureRect</key>
                <string>{{257,418},{5,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>be_title_wa_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16.5,12.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{264,418},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_raid_anime_effect00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{254,254}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,173},{254,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_raid_anime_effect01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,201}</string>
                <key>textureRect</key>
                <string>{{459,173},{194,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_raid_anime_effect02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,197}</string>
                <key>spriteSourceSize</key>
                <string>{200,201}</string>
                <key>textureRect</key>
                <string>{{257,173},{200,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_raid_anime_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1021,170}</string>
                <key>spriteSourceSize</key>
                <string>{1021,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{1021,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_raid_anime_next_tx01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,70}</string>
                <key>spriteSourceSize</key>
                <string>{400,70}</string>
                <key>textureRect</key>
                <string>{{1,429},{400,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_raid_anime_next_tx02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,70}</string>
                <key>spriteSourceSize</key>
                <string>{85,70}</string>
                <key>textureRect</key>
                <string>{{403,418},{85,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_raid_anime_next_tx03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,18}</string>
                <key>spriteSourceSize</key>
                <string>{353,18}</string>
                <key>textureRect</key>
                <string>{{655,173},{353,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_raid_anime_next_tx04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,142}</string>
                <key>spriteSourceSize</key>
                <string>{314,142}</string>
                <key>textureRect</key>
                <string>{{655,217},{314,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_raid_icon_clear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{92,22}</string>
                <key>spriteSourceSize</key>
                <string>{140,44}</string>
                <key>textureRect</key>
                <string>{{655,193},{92,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_raid_icon_complete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,44}</string>
                <key>spriteSourceSize</key>
                <string>{140,44}</string>
                <key>textureRect</key>
                <string>{{257,372},{140,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_raid_icon_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,44}</string>
                <key>spriteSourceSize</key>
                <string>{140,44}</string>
                <key>textureRect</key>
                <string>{{399,372},{122,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_raid_icon_notclear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14.5,14.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{264,418},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_raid_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,22}</string>
                <key>spriteSourceSize</key>
                <string>{256,22}</string>
                <key>textureRect</key>
                <string>{{755,193},{256,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_raid_point_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,86}</string>
                <key>textureRect</key>
                <string>{{617,370},{100,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_raid_point_normal_ef01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{523,370},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evt_raid_point_normal_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,86}</string>
                <key>textureRect</key>
                <string>{{719,361},{100,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>evt_raid_anime170.png</string>
            <key>size</key>
            <string>{1023,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa6cc668617bdce87d28f08a1b146218:c5a8d0505b72041c589b382433d0e14c:f88c668dd00e13f7d143319b58ff4b96$</string>
            <key>textureFileName</key>
            <string>evt_raid_anime170.png</string>
        </dict>
    </dict>
</plist>
