<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qb_help_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,74}</string>
                <key>spriteSourceSize</key>
                <string>{185,74}</string>
                <key>textureRect</key>
                <string>{{381,381},{185,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_help_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,74}</string>
                <key>spriteSourceSize</key>
                <string>{185,74}</string>
                <key>textureRect</key>
                <string>{{381,459},{185,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_help_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,74}</string>
                <key>spriteSourceSize</key>
                <string>{185,74}</string>
                <key>textureRect</key>
                <string>{{777,985},{185,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_help_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,62}</string>
                <key>spriteSourceSize</key>
                <string>{190,64}</string>
                <key>textureRect</key>
                <string>{{381,537},{190,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_help_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,62}</string>
                <key>spriteSourceSize</key>
                <string>{190,64}</string>
                <key>textureRect</key>
                <string>{{1,985},{190,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_help_03_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,62}</string>
                <key>spriteSourceSize</key>
                <string>{190,64}</string>
                <key>textureRect</key>
                <string>{{195,985},{190,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_help_03_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,62}</string>
                <key>spriteSourceSize</key>
                <string>{190,64}</string>
                <key>textureRect</key>
                <string>{{389,985},{190,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_help_04_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,62}</string>
                <key>spriteSourceSize</key>
                <string>{190,64}</string>
                <key>textureRect</key>
                <string>{{583,985},{190,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_help_04_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,62}</string>
                <key>spriteSourceSize</key>
                <string>{190,64}</string>
                <key>textureRect</key>
                <string>{{1,1051},{190,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_help_05_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,62}</string>
                <key>spriteSourceSize</key>
                <string>{190,64}</string>
                <key>textureRect</key>
                <string>{{195,1051},{190,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_help_05_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,62}</string>
                <key>spriteSourceSize</key>
                <string>{190,64}</string>
                <key>textureRect</key>
                <string>{{389,1051},{190,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_help_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,376}</string>
                <key>spriteSourceSize</key>
                <string>{600,376}</string>
                <key>textureRect</key>
                <string>{{1,1},{600,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qb_help_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,376}</string>
                <key>spriteSourceSize</key>
                <string>{600,376}</string>
                <key>textureRect</key>
                <string>{{1,605},{600,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_help_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,376}</string>
                <key>spriteSourceSize</key>
                <string>{600,376}</string>
                <key>textureRect</key>
                <string>{{381,1},{600,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_help_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,376}</string>
                <key>spriteSourceSize</key>
                <string>{600,376}</string>
                <key>textureRect</key>
                <string>{{605,381},{600,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qb_help.png</string>
            <key>size</key>
            <string>{982,1114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0441be62d266cee9ee7c384f32cd0675:fc5cd476a1be8f16a63d2b0e77980e2c:1a36eadf3ebaeb7f0fb48db0b1070033$</string>
            <key>textureFileName</key>
            <string>qb_help.png</string>
        </dict>
    </dict>
</plist>
