<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mp_arrow_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,68}</string>
                <key>spriteSourceSize</key>
                <string>{53,68}</string>
                <key>textureRect</key>
                <string>{{301,211},{53,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_mp_ef_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1,1},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_mp_ef_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{200,206}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{213,1},{200,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qb_mp_tx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{296,61}</string>
                <key>spriteSourceSize</key>
                <string>{300,79}</string>
                <key>textureRect</key>
                <string>{{1,213},{296,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ef_qb_mpup0.png</string>
            <key>size</key>
            <string>{414,280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9b12aa0bc099a18cbae5d37252125ad:17db4e58d070ad2337d765503c80266e:5cabce7fc7db5293c6c2230d1a016bd8$</string>
            <key>textureFileName</key>
            <string>ef_qb_mpup0.png</string>
        </dict>
    </dict>
</plist>
