<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_start02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,55}</string>
                <key>spriteSourceSize</key>
                <string>{85,55}</string>
                <key>textureRect</key>
                <string>{{517,940},{85,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_start03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,193}</string>
                <key>spriteSourceSize</key>
                <string>{70,193}</string>
                <key>textureRect</key>
                <string>{{1226,405},{70,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_tx01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,63}</string>
                <key>spriteSourceSize</key>
                <string>{152,63}</string>
                <key>textureRect</key>
                <string>{{517,873},{152,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_bl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{606,940},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,652}</string>
                <key>spriteSourceSize</key>
                <string>{620,652}</string>
                <key>textureRect</key>
                <string>{{1,1},{620,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,400}</string>
                <key>spriteSourceSize</key>
                <string>{403,400}</string>
                <key>textureRect</key>
                <string>{{1116,1},{403,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_circle01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{462,462}</string>
                <key>spriteSourceSize</key>
                <string>{462,462}</string>
                <key>textureRect</key>
                <string>{{760,539},{462,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_circle02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,534}</string>
                <key>spriteSourceSize</key>
                <string>{487,534}</string>
                <key>textureRect</key>
                <string>{{625,1},{487,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_circle05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1,962},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{755,151}</string>
                <key>spriteSourceSize</key>
                <string>{755,151}</string>
                <key>textureRect</key>
                <string>{{1,657},{755,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flame_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,146}</string>
                <key>textureRect</key>
                <string>{{1,812},{512,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flame_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,57}</string>
                <key>spriteSourceSize</key>
                <string>{213,57}</string>
                <key>textureRect</key>
                <string>{{517,812},{213,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle_clear_arena0.png</string>
            <key>size</key>
            <string>{1520,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a03fd80cb34986446c787d5e7613160:81678c53a46b4ae4e87d91bb12cb672a:ab5752fb467f855df95b79083f14b9b3$</string>
            <key>textureFileName</key>
            <string>battle_clear_arena0.png</string>
        </dict>
    </dict>
</plist>
